[2018-01-26 22:48] natalieworth commented on #256
@kristinashu oo kk I can work on Mon while you're out. :) Is it just updating the type/ spacing/ css stuff and adding possible images?

[2018-01-26 23:01] kristinashu commented on #256
I haven't had much luck at editing the type and spacing but feel free to take a stab at it. I think it's mostly about making the images. I'm also looking for some possible icons now.

[2018-01-26 23:18] kristinashu commented on #254
Here's the brief: https://docs.google.com/document/d/144BpwxDh0oCwDAI1SrbWmtZyEoBuj11vivjhW5Z8_m4/edit

[2018-01-29 21:08] beccaklam commented on #256
Hi @kristinashu, is there a CMS I should be working with here? Or a sketch file?

[2018-01-30 01:55] kristinashu commented on #256
@beccaklam you might be able to login to the [CMS admin here](https://foundation.mozilla.org/admin/). If not then ping @alanmoo, he can give you access. [Here are the CMS guidelines](https://mzl.la/cms-guide).

The CMS is quite restrictive so I'm not sure you need to mock it up. But if you want to, [all Sketch files for the foundation site are here](https://drive.google.com/open?id=0B3b1KWRwjxtoMD

[2018-01-30 21:18] xmatthewx opened #258 "Fundraising 1-pager"
Design 1 or 2 templates for 1-pagers used to engage with major funders. Design and build in gdocs for easy edits and remixing.

Brief: https://docs.google.com/document/d/1DTn4ceC-DzvWCG_fFcCOPb3R5kYHd9yIRiLsWaFgWjk/edit#

[2018-01-30 21:22] beccaklam commented on #256
@kristinashu Okay, yeah agree there's not much that can be done with type. Do we have an icon library, or do we usually custom make them? Nat is working on images. CC: @natalieworth

[2018-01-30 21:28] kristinashu commented on #256
No icon library. You can make custom ones or try and find some, whateves! I think the page is fairly temporary so maybe don't send too much time on them.

[2018-01-30 21:55] beccaklam commented on #256
@kristinashu ah ok, thanks!

[2018-01-31 00:35] xmatthewx commented on #256
We have the icons for mozfest on each issue area if that helps. I agree, let's grab low hanging fruit with quick and easy things. An image or two would go a long way.

[2018-01-31 00:42] natalieworth commented on #256
I've got 3 image options here: https://redpen.io/p/nc84222607fb6340d9
I left the "Take Action" and "Blogs and Press" sections image free for now. I think icons maybe could be good to use their as they are more subtle/ content should stand out more on those pages.

cc @xmatthewx @kristinashu @beccaklam

p.s. who would implement these? I don't know how to use the CMS—but if someone show's me I can d

[2018-01-31 15:09] beccaklam commented on #256
@natalieworth I can implement if you like, I got access to the CMS yesterday.

[2018-01-31 18:10] xmatthewx commented on #256
👍 👍 👍 @beccaklam - do a quick test of the images on staging or as a new draft page if possible. make sure that they work okay on various screen sizes. you can ping me or Alan or grab an engineer in the office.

[2018-01-31 18:20] kristinashu commented on #256
Holy smokes @natalieworth! Those images are awesome.

[2018-02-02 23:11] sabrinang opened #259 "Chattanooga Event Graphic"
### Description
Create a graphic for a Chattanooga event that can be on promotional materials such as flyers. More details to be determined from @xmatthewx
_____________
### Links
Brief: ?

[2018-02-03 00:20] kristinashu commented on #249
I turned the brief into a [google form]( https://docs.google.com/forms/d/e/1FAIpQLSd5HPxYeeXK6wog7YBP9qKM-pE7ntnEid54Ikw0CAkdDZxO5Q/viewform).

If everyone is happy with this then I will add everyone as collaborators.

[2018-02-05 19:11] xmatthewx opened #260 "Chattanooga IoT graphic"
Create a single simple graphic that can be used for an upcoming event.

This project must be kept short and simple given other critical things on our plate. The event team will need repurpose image for flyer and other materials.

https://drive.google.com/open?id=1nJjMXZb0pvYsGbTvyXZ8n-QEjhxD8j4gmXkyyMNme1I

[2018-02-05 19:19] xmatthewx commented on #260
As I mentioned at the top of the brief: We can design an image (background + title) that you can use for various marketing efforts. We can’t, unfortunately, put together materials with all the content.

[2018-02-05 19:20] sabrinang commented on #259
see #260

[2018-02-05 19:20] #259 closed

[2018-02-05 19:26] xmatthewx commented on #249
Looks great. Thanks so much for setting this up!!

[2018-02-05 22:25] kristinashu commented on #254
@zee-moz @xmatthewx we'll be chatting tomorrow but in the meantime I will start to:
- move content from https://mozilla.github.io/global-sprint/ over to a Foundation site CMS page
- create images and icons for the CMS pages, tito, teachable, and social media

[2018-02-05 22:27] kristinashu commented on #254
I've also created an overview of where content could live https://redpen.io/zd25149b8c0dab27bf

[2018-02-06 21:52] kristinashu commented on #254
Notes from our meeting:
- Roughly copied and pasted content from https://mozilla.github.io/global-sprint/ https://foundation.mozilla.org/opportunity/global-sprint/
- [Kristina] Style the content and add images
- [Kristina] Create images and icons for the CMS pages, tito, teachable, and social media
- [Matthew] Test map embed
- [Zannah] Update 2017 content
  - reduce amount of copy
  - minor tweeks

[2018-02-07 18:50] kristinashu commented on #249
Excellent, closing!

[2018-02-07 18:50] #249 closed

[2018-02-07 19:07] taisdesouzalessa commented on #247
Thanks for all the help here!
We got the pictures, all [stored here](https://drive.google.com/open?id=11Tr-49LVoZrzPkFhrMQQEfgWskIRrpiI)

Closing the ticket

[2018-02-07 19:07] #247 closed

[2018-02-07 22:33] xmatthewx opened #261 "Prep global sprint logo"

[2018-02-08 00:28] stephwright commented on #261
I concur with @kristinashu's analysis of keeping logo black & white and going forward with color in the background.  However we can do this simply and quickly now would be best for this year as we really need to get a logo to our partner orgs ASAP as they are running a joint event and need to do their own planning & marketing.

Thanks so much to @kristinashu and @xmatthewx for your help!

[2018-02-08 17:58] kristinashu commented on #261
@stephwright let me know if this will work!

Here is a quick screen cap of the logo on white and then on a background (just a placeholder background for now).
<img width="618" alt="screen shot 2018-02-08 at 9 54 34 am" src="https://user-images.githubusercontent.com/1068783/35989508-26c6ac1e-0cb6-11e8-94d0-cac2ef6560af.png">

[Here's a zip file](https://github.com/MozillaFoundation/Design/files/170

[2018-02-08 18:32] stephwright commented on #261
LOVE IT, @kristinashu !!!! @zee-moz ... what do you think?

[2018-02-08 18:41] zee-moz commented on #261
@kristinashu love the colored background. is the g and p lower edge touching the black frame a reference to highlighting that happens in digital use of type? it feels a bit visually weird, but if it's part of that design idea, that makes sense. :)

[2018-02-08 18:54] kristinashu commented on #261
@zee-moz yes, having the descenders touching is part of the typeface design https://fonts.google.com/specimen/Zilla+Slab+Highlight

[2018-02-08 20:06] stephwright commented on #261
Sending to our partner for use then... thanks all!

[2018-02-08 22:15] #261 closed

[2018-02-09 18:26] sabrinang commented on #260
@xmatthewx Design review for these IoT graphics? https://redpen.io/p/qc83a04082341bd103

It wasn't clear from the brief what copy is required but kept it minimal with a title, date and location. I also want to reach out to Katie for her review. Do I do this over slack if she isn't on github?

[2018-02-09 18:51] xmatthewx commented on #260
These look great. Thanks! (I had suggested putting the title on there only so that they could be reused for other cities and dates. But these are great and we can revise later _IF_ another even pops up .... so no need to do that now).

Ping Katie on slack. I feel like I've seen her on github before, but her name doesn't pop up.

[2018-02-09 19:20] stephwright commented on #254
Hey all... loving what the site looks like so far!  Even got a comment from one of our partners that "the site looks slick!" 👍

Couple thoughts/suggestions/requests:
1) We have one associated partner with this event already and are looking at options for sponsorships.  Part of our "benefit package" is display of their logo on the GS site.  Can we have a "partners" or "supporters" page for that?

2

[2018-02-09 20:24] xmatthewx commented on #254
We won't be able to change this now, though it is something we can consider as we iterate on some other site things this spring.

[2018-02-09 20:41] kristinashu commented on #254
Good points @stephwright! Here are a few thoughts:
1. Roughly how many sponsors are you thinking? I would prefer to add them at the bottom on the home page rather than add a new dedicated page.
2. We could add a prominent "Register now" button CTA on the landing page to try and guide users there.
3. We're explore ideas for that. Maybe adding a banner to office projects or having a specific #global

[2018-02-09 21:36] KatieMitch commented on #260
@sabrinang These are great! Could we add the word workshop to the title? Or actually, a better question is, am I able to edit these as needed? I really like the look of them! Thank you so much!

[2018-02-10 01:12] sabrinang commented on #260
@KatieMitch These are updated with **Workshop** in the title: https://redpen.io/p/qc83a04082341bd103
Graphics are exported in the folder along with an editable .ai design file that you can download and edit: https://drive.google.com/drive/folders/13mY9mdRezPJbvY43r-QU338mpQye1neC?usp=sharing

[2018-02-12 14:47] KatieMitch commented on #260
@sabrinang These are awesome! Thank you so much! If it's okay, I might ping you on slack to see how to download the editable .ai file? When I download it, it goes into preview mode, so I bet I missed a step. Thank you!

[2018-02-12 19:16] xmatthewx commented on #260
@KatieMitch - Sabrina is out most of this week. When you go [this folder](https://drive.google.com/drive/u/2/folders/1aeJG10LI5uqowvi4_y8VXrFZfQcP6Fdx), look for the one file `.ai` with a different icon. You can right-click or control-click to see the option to download (or highlight and find the triple dot menu toward the top). Ping me on slack if you have trouble.

[2018-02-12 19:16] #260 closed

[2018-02-13 17:24] kristinashu commented on #254
Here's the design direction I'm thinking of. I'm going with a fun, DIY and maker style approach.

![global-sprint-02](https://user-images.githubusercontent.com/1068783/36163859-85d4030e-109f-11e8-9ff9-d6da94dbe837.jpg)

[2018-02-13 17:36] kristinashu commented on #254
@zee-moz do you have access to the CMS now? Are you ok updating the copy on [the site](https://foundation.mozilla.org/opportunity/global-sprint/) based on @tlasadea [feedback](https://docs.google.com/document/d/1hQFYKynOhPv1wFDNUaATZT1M_wFeXAIZKnlmkUN6lk0/edit?usp=sharing)?

I will continue to make graphics for the site and social media.

[2018-02-13 18:14] zee-moz commented on #254
@kristinashu thanks for making graphics, yay! @acabunoc @Saallen  and @stephwright (who is out sick today) pls take a look at this design direction!

[2018-02-14 00:41] kristinashu commented on #254
@zee-moz has updated all the copy on the site and I've started styling it https://foundation.mozilla.org/opportunity/global-sprint/

@tlasadea please make any additional copy edits in the CMS. Note, styling in the CMS is finicky and bullet lists aren't working but there's a ticket to fix it.

[2018-02-14 14:44] alanmoo commented on #254
PR has been submitted for the bullet issue, so style them as bullets in the WYSIWYG field and they'll show up properly on the published page once the fix lands.

[2018-02-14 14:54] zee-moz commented on #254
@kristinashu some feedback from me on the graphics, now that I've got that content up on the CMS...  I love the sketchy work-in-process look and the retro colors. The one thing that I think is missing is some stronger indication that code or data is involved-- right now I think it's leaning heavily towards craft/by hand/physical stuff. Which does happen at the sprint, but I think most of the work

[2018-02-14 15:36] xmatthewx opened #262 "Refine 2-column petition page style"
As we prep to launch Equifax campaign today with the new 2-column petition layout, there are a few style improvements we can make.

In the interest of time, I've made recommendations. cc @kristinashu for sanity check and follow up if needed. At some point, our default form styles would benefit from an engineer and designer tightening things side-by-side to make things click.

# Recommendations

 -

[2018-02-14 16:20] kristinashu commented on #262
Your suggestions look good!

[2018-02-14 19:09] ScottDowne commented on #262
List items 2 and 4 can be done in the admin interface, which I've applied to staging here: https://foundation.mofostaging.net/campaigns/equifax-campaign-test/

1 and 3 I'm making a patch for now.

[2018-02-14 19:17] ScottDowne commented on #262
Fixes for 1 and 3 here: https://github.com/mozilla/foundation.mozilla.org/pull/1060

[2018-02-14 21:30] kristinashu opened #263 "Image Assets for Global Sprint"
### Running list of possible assets we will need:
- **Social Media**: several different image for Twitter + FB
  - call for projects
  - call for hosts
  - call for participants
- **ti.to:** large background image
- **Pulse:** default image and possibly and overlay for sprint projects
- **Blog posts:** resize photos
-

I've started a [folder for photos](https://drive.google.com/open?id=1GVXBThqetq

[2018-02-14 22:01] kristinashu commented on #254
@zee-moz sure, I can add some hints of code and data.

I've also opened a separate ticket for image assets external to the site https://github.com/MozillaFoundation/Design/issues/263

@zee-moz can you please confirm what we need to launch the initial phase of the site?
- [Landing page](https://foundation.mozilla.org/opportunity/global-sprint/):
  - Update Registration link to a 'Signup for Email N

[2018-02-14 23:23] xmatthewx commented on #263
@kristinashu - I wonder if the image on the site should use Zilla for the name of the event. If external assets use that in a moz global sprint logo, it could be confusing to then arrive on the site with a different script style. Maybe worth discussing at crit.

https://github.com/MozillaFoundation/Design/issues/254#issuecomment-365339807

[2018-02-15 18:36] taisdesouzalessa commented on #246
Hey @jenntbeard I am working on an image for @KevZawacki  related to this project and I was wondering if you could send me a screenshot of the image that was chosen, so I can keep the communication consistent visually. Thanks!!

[2018-02-15 18:42] jenntbeard commented on #246
Just to clarify - these were created for the final events in August. The current comms work around the WINS announcement should stay consistent with the regular WINS graphics found on the website - https://wirelesschallenge.mozilla.org/. I have those somewhere if that's what you were looking for. Otherwise, info on the final event graphics is as follows:

Hi, so far, we are using this version for

[2018-02-15 21:31] taisdesouzalessa commented on #246
Thanks for the clarity here, @jenntbeard. I'll connect with Kevin but I feel it is most likely we stay closer to the site, as you pointed out. Thanks for your help!

[2018-02-15 21:31] #246 closed

[2018-02-15 23:02] zee-moz commented on #254
@kristinashu this looks about right.
- I imagine we could just create a generic form to sign up for interest-- rather than creating a Ti.To site for general interest
- I should have final 2017 stories by midday tomorrow! Profiles were created, getting participant reviews and images now.
- I am in the process of updating and transferring the guides.
- There are a few small things to do to the Proje

[2018-02-16 01:07] kristinashu commented on #256
I've styles the headings as much as I can.

@beccaklam if you have made icons then please add them in. But if you haven't done any yet, we can do without!

[2018-02-16 01:07] #256 closed

[2018-02-16 12:16] Saallen commented on #254
@ Zannah- I think for generic sign up for interest would be better through ti-ti as you then have one home of all emails, and can access them as one bulk group.
Think Tuesday for first announcements is great

[2018-02-16 13:49] KevZawacki commented on #254
@zee-moz Wednesday, 2/21 would be best. We're announcing the WINS winners on Tuesday, 2/20, so the Sprint post might be lost in the shuffle.

[2018-02-16 19:22] stephwright commented on #254
Sorry folks... finally back among the land of the living.  @kristinashu all your suggestions sound great to me.  Not sure on the number of sponsors yet.  I can't imagine we'll have a ton... 3-5?

[2018-02-16 21:21] zee-moz commented on #254
@KevZawacki  @tlasadea
here the 2017 "sprint stories." I took interview notes and crafted short narratives. @KevZawacki  @tlasadea Pls review. @kristinashu will the profile photos included here work? We might need a better profile photo of Arliss (also need more TOR  sprint photos).

- [Geraldo, Participant & Site Host](https://docs.google.com/document/d/1XzHdZ1vdyS-uXUt5a2kfEigVYy7z_iJ7-weJIBpMUq

[2018-02-16 21:40] KevZawacki commented on #254
Hi @zee-moz. Let's publish on medium.com/read-write-participate. Just let me know when you'd like me to post.

[2018-02-16 21:49] kristinashu commented on #254
@zee-moz can you put the photos in the [drive folder](https://drive.google.com/open?id=1GVXBThqetqucquNaQ6Yb5U0q32LvldXM)? I think google docs might compresses the images.

[2018-02-16 21:51] alanmoo commented on #262
This has landed.

[2018-02-16 21:51] #262 closed

[2018-02-19 23:22] kristinashu commented on #263
Here are comps for all the assets https://redpen.io/p/nfa717fa94ea34e63a

@zee-moz @tlasadea let me know if you have any specific text or asset needs.

[2018-02-20 11:05] tlasadea commented on #263
Left feedback @kristina. Looks ace.

*Temi Lasade-Anderson*
Mozilla Foundation
Slack: @tlasade | Twitter: @temilasade <http://www.twitter.com/temilasade>

On 19 February 2018 at 23:22, Kristina <notifications@github.com> wrote:

[2018-02-20 22:24] kristinashu opened #264 "Add partner logos to Global Sprint site"
Based on https://github.com/MozillaFoundation/Design/issues/254#issuecomment-364533652

@stephwright when you have them, just add any partner/supporter logos to this ticket and then I will resize them and add them to the site.

[2018-02-20 22:26] kristinashu opened #265 "Add banner tag to all Global Sprint 2018 projects in Pulse"
Based on comments is https://github.com/MozillaFoundation/Design/issues/254 and design work https://redpen.io/p/nfa717fa94ea34e63a

As projects are added to Pulse we will need to add a banner to the image. I will do this manually as projects are added.

[2018-02-20 22:29] kristinashu commented on #263
Thanks @tlasadea!

All the images for social media are here https://drive.google.com/open?id=1B3FRBv6Xt_uZAEPqaEsJWoib5Rl3pOwc

[2018-02-21 16:32] zee-moz commented on #254
@KevZawacki these stories are ready to post on RWP

- [Geraldo, Participant & Site Host](https://docs.google.com/document/d/1XzHdZ1vdyS-uXUt5a2kfEigVYy7z_iJ7-weJIBpMUqs/edit)
- [Daniela & Samantha, Project Co-Leads](https://docs.google.com/document/d/16oUrEeIqapyLLCEpNE5SlahCXVNWSy7KBg1YC2cwbI4/edit)
- [Arliss, Site Host](https://docs.google.com/document/d/1Echk27MGrLNi-4bBMa9gMEFRQkiD6_bHB4ZxPKdJ

[2018-02-21 16:40] xmatthewx commented on #265
This is great. Thanks @kristinashu for the excellent design.

@stephwright @zee-moz @kristinashu - Should we attempt having participants add this on their own? We could give them a transparent png and a photoshop template. If most can't do it easily, we can help, but I'd like to have a clear process to maximize speed and participation, reduce extra work: 1) they post their own project with plain i

[2018-02-21 17:19] KevZawacki commented on #254
Thanks, @zee-moz.

@kristinashu mentioned she'd be publishing. @kristinashu, do you need a hand?

[2018-02-21 17:23] kristinashu commented on #254
I got it Kevin! I'd like to resize some of the images as I do it and then update the link on the site.

For the site: we will be adding/updating a few links then it should be ready to go! https://foundation.mozilla.org/opportunity/global-sprint/

Note: Register and 2018 Projects menu items are hidden until we have Hosts and Projects.

All images for social media and ti.to are here https://drive.go

[2018-02-21 17:34] KevZawacki commented on #254
Thanks, @kristinashu.

@zee-moz, just send me a note when I should publish the blog. Thanks!

[2018-02-22 17:59] #254 closed

[2018-02-22 18:14] stephwright commented on #265
That's a good question @xmatthewx ... Your plan sounds good to me.  @zee-moz @kristinashu ?

[2018-02-22 18:45] xmatthewx opened #266 "Design share icons for campaign pages"
On our campaign pages, after a person signs a petition, they are given the option to share with their peeps. Currently, we have single button that sends them elsewhere. We want instead to give them options for facebook, twitter, email.

@ScottDowne is already building this. We just need some icons that mesh with the site.

Note this will be big CTA buttons, not small share icons on an article.

@s

[2018-02-22 18:46] xmatthewx commented on #266
Here is @ScottDowne's work in progress...

![image](https://user-images.githubusercontent.com/53411/36557602-bb8e2676-17d6-11e8-930f-14f12a54886c.png)

[2018-02-22 19:45] zee-moz commented on #265
I love the banner! So great. Thanks for working on this 😸
The process sounds OK; I'm not familiar enough with Django for Pulse to do the updating without some instruction, and we have far fewer on-staff wranglers than last year. I'm assuming we don't want non-staff doing this!
But if it's a quick process, it should be OK.
@acabunoc should weigh in as well.

[2018-02-22 20:08] xmatthewx commented on #265
It's pretty simple. And we could hop on vidyo to all do it together side-by-side to crunch through it.

[2018-02-22 20:20] zee-moz commented on #265
projects tend to trickle in, and people browse and select projects for collaboration well before the sprint, so we might want to do this in a few sessions, in the lead up to the event.

[2018-02-22 22:38] sabrinang commented on #266
Here are some options of social share CTA buttons that come after the area for a thank you message. I'm using font awesome icons so they align with the footer beneath as well I believe but if they are svgs I can just swap them out.

Buttons below a heading in the body of the content:
![share 1 2x](https://user-images.githubusercontent.com/2492510/36568090-94678db0-17dd-11e8-90ec-76b6a50bfc73.jpg)

[2018-02-22 22:42] sabrinang commented on #266
The language could also be iterated. The heading could say "Share on" and it can say facebook, twitter, email if we want to mention the platform itself of the action for the label on the button.

[2018-02-22 22:51] xmatthewx commented on #266
These all look great. I prefer the first option: strong and bold. Though I like the text text you have on the second option.

Maybe 1st design with heading: `Share and spread the word`

[2018-02-22 22:57] sabrinang commented on #266
![share 1 revise 2x](https://user-images.githubusercontent.com/2492510/36568926-a6178454-17e0-11e8-96d4-4217e10022af.jpg)

[2018-02-23 04:13] stephwright commented on #264
Just requested logo for one confirmed partner ... hopefully will have for you this week or next.  Got a couple more in the pipeline as possibles.  Will add here as confirmed.  Thanks @kristinashu !!!

[2018-02-23 16:29] stephwright commented on #264
![elife-full-color-horizontal 3](https://user-images.githubusercontent.com/14626242/36604790-941ef604-1873-11e8-8ef1-355e6b01ca80.jpg)
 Needs to link to: https://elifesciences.org/events/c40798c3/elife-innovation-sprint-2018

[2018-02-26 20:21] ScottDowne commented on #266
@sabrinang and @xmatthewx I'm going to go with the buttons alone, and I'll need the icons in svg before I can move forward on this, however, I see a bunch of other requested changes, which we should move those into new tickets so they can be better scoped and resourced. Those changes can be built around the new buttons.

[2018-02-27 19:44] sabrinang commented on #266
@ScottDowne the .svgs are exported here: https://drive.google.com/drive/folders/16MdN0qBbdtSWZyLHRhqRl0QNkqc60XgO?usp=sharing

[2018-03-02 21:05] xmatthewx opened #267 "Design system for foundation graphics"
Initiate library of patterns/textures for quick campaign page headers and social graphics. Initiate library of icons. Approach as a living tool, start small.

[2018-03-02 22:55] stephwright commented on #264
Hi @kristinashu ... just checking in to see if you've got a spot figured out for these and when you think they might be available on the site?

[2018-03-03 00:20] kristinashu commented on #264
@stephwright oh sorry, I didn't realize you wanted it up now, I was waiting for more logos.

I've just added it at the bottom of the landing page https://foundation.mozilla.org/opportunity/global-sprint/

Let me know if that works and if there's any specific copy it should say.

[2018-03-05 20:20] xmatthewx opened #268 "Design for Annotated Privacy Policy"
Description: While reviewing the latest streaming TV devices for the buyer’s guide, Janice discovered that one privacy policy is particularly bad. We want to do an annotated version, that lives on its own page on the Foundation site, so we can drive people to it online, via a Twitter campaign targeting Roku, and asking them to update and improve it.

## DARCI

 - Driver: @tlasadea
 - Accountable:

[2018-03-05 20:22] xmatthewx commented on #268
@tlasadea – This sounds very cool. Could this be set up as page authored via the CMS on the foundation site? Design could support by establishing styles within those constraints. Is there any specific engineering support you see as needed for this?

[2018-03-05 20:28] xmatthewx opened #269 "Net Neutrality Polling Graphic"
Description: We just got polling back around NN and want to create sharable content around it.

Proposed start date: 3/5/2018 (not feasible)
Proposed launch date: 3/15/2018

Note: launch date is dependent on getting the content soon, and quick reviews of draft designs.

## DARCI

 - Driver: @shaghdoosti
 - Accountable: Ashley
 - Responsible:
 - Consulted: Kevin
 - Informed: Heather, EJ, everyone o

[2018-03-05 23:00] #241 closed

[2018-03-06 15:19] tlasadea commented on #268
Hey@xmatthewx I *think* so. I'd love to understand design/engineering constraints. Re functionality, we're going to need design for the privacy policy itself. Currently thinking it could be a pdf that has the red pen annotations all over it. Or pehaps the page design itself could be so that the page is the policy with the annotations. I've pulled together a quasi-creative brief, [here](https://doc

[2018-03-06 17:03] xmatthewx commented on #268
How long is the policy? Do you plan to annotate the whole thing or just excerpts? It'd be great to avoid a PDF altogether, unless your primary audience is a technical/lawyer audience that will want to download and take it for offline reading. PDFs are pain to download and while there are 3rd party PDF readers, it'll be a task to make this mobile friendly.

If we can do excerpts, we could do a seri

[2018-03-06 17:23] tlasadea commented on #268
I'm totally down to take the lead from your team's @xmatthewx. The mobile
question did come to mind this arvo, too.

The policy's pretty fricking long. It's here  Perhaps a series of images?
I'm imagining something akin to those SaaS landing pages (think Stripe)
which are pretty long, but maybe a gallery could work too.

@caltrider ^ see above.

[2018-03-06 17:47] tlasadea commented on #268
apparently I don’t know how to finish sentences.

The privacy policy is here:
https://docs.google.com/document/d/1O4xrKn2HtsBPPPoRPR4vTNNV-gPvlsuadM9t3ZMONKs.
The annotations are in draft stage; going through legal review early next
week.

On Tuesday, 6 March 2018, Temi Lasade-Anderson <temi@mozillafoundation.org>
wrote:

--
*Temi Lasade-Anderson*
Mozilla Foundation
Slack: @tlasade | Twitter: @tem

[2018-03-06 19:14] kristinashu commented on #263
I think so!

[2018-03-06 19:14] #263 closed

[2018-03-06 23:27] sabrinang commented on #269
@shaghdoosti I have a few questions that will help me get started on this polling graphic:

Can you describe the format/dimensions of this sharable content or where it will be shared on? _(twitter, facebook etc.)_

Do you have the finalized copy or content of the NN polling that you want on the graphic or have the accompanying posts/copy it will be seen with?

Also, are there any existing NN asset

[2018-03-06 23:55] shaghdoosti commented on #269
Hey -

We'll want to share it on social, twitter and potentially in emails too.

Almost, working on get that finalized!

Two things:

1. Old blog post re polling: https://blog.mozilla.org/blog/2017/06/06/new-mozilla-poll-americans-political-parties-overwhelmingly-support-net-neutrality/

2. Graphics about polling:
[Net Neutrality The Hill Screenshots(1).pptx](https://github.com/MozillaFoundation/D

[2018-03-07 00:24] natalieworth commented on #241
Assigning myself in this tic for reference.

[2018-03-08 14:35] tlasadea commented on #268
Hey @natalieworth - I don't have that answer yet re all of the copy.
@caltrider and Janice Tsai and Bram (Fellow) have been working on the
annotations. Let's discuss in the kick owff meeting on Monday!

*Temi Lasade-Anderson*
Mozilla Foundation
Slack: @tlasade | Twitter: @temilasade <http://www.twitter.com/temilasade>

On 8 March 2018 at 00:44, Natalie Worth <notifications@github.com> wrote:

[2018-03-08 20:47] xmatthewx commented on #268
@tlasadea - will there be a petition for visitors? or another call to action?

[2018-03-09 10:20] tlasadea commented on #268
@xmatthewx, we're using Twitter as the mechanic to get people to share, so
the CTA is to have people tweet @Roku that their privacy policy is 💩

On 8 March 2018 at 20:47, matthew w <notifications@github.com> wrote:

[2018-03-12 15:28] xmatthewx commented on #268
from kickoff conversation today. what i heard mixed with some opinions:

 - start with tl;dr. include strong cta tweet this at the top
 - below that, show policy. length is part of the absurdity.
 - go for real web text, if possible, annotated inline with css style
   - avoid pdf embed. not mobile friendly. harder to get to content for audience.
   - fall back to images of annotated text if inline

[2018-03-12 15:29] tlasadea commented on #268
Thanks for the time everyone (except you @ScottDowne, you ditched us).

So next steps were: @caltrider is sending annotations to legal/compliance by Wednesday EOP.
@natalieworth @ScottDowne to experiement what the best way to display the privacy policy, keeping in mind the following:
1) Objective is to drive conversation around privacy policies + how un-consumer friendly they are. they're difficul

[2018-03-12 19:55] xmatthewx commented on #250
This is done and shared. Closing.

[2018-03-12 19:55] #250 closed

[2018-03-12 19:56] xmatthewx commented on #251
A friendly reminder to the team ... try to populate this throughout the year.

[2018-03-12 21:34] natalieworth commented on #251
self assigning so i can find the deck/ ticket in future

[2018-03-13 23:32] natalieworth commented on #268
@tlasadea @caltrider Got a start on some rough iterations for the Roku page: https://redpen.io/p/ycc262f5cd69c6bc07
cc @beccaklam @xmatthewx if you want to take a look too. I'm going to revise design in morning again based on the feedback from Tais, Sabs, and Kristina—but feel free to add comments still!
cc @ScottDowne

[2018-03-14 23:33] natalieworth commented on #268
Made some updates based on the redpen comments and added an additional option with pdf after discussing purpose of the page with @caltrider
Let me know what you think in here https://redpen.io/p/ycc262f5cd69c6bc07
cc @xmatthewx @tlasadea @caltrider @ScottDowne
and design feedback would be awesome too @sabrinang @taisdesouzalessa @beccaklam @kristinashu
thanks!

[2018-03-15 10:55] tlasadea commented on #268
Thanks Nat.

We need to not go down the PDF version - it may be easiest to implement in
terms of annotation, but it adds additional barriers for people to view the
content + engage with it.

*Temi Lasade-Anderson*
Mozilla Foundation
Slack: @tlasade | Twitter: @temilasade <http://www.twitter.com/temilasade>

On 14 March 2018 at 23:33, Natalie Worth <notifications@github.com> wrote:

[2018-03-15 14:37] caltrider commented on #268
I do think we need to talk through the presentation @tlasadea, @natalieworth , @xmatthewx  . The main goal is to get people to have an emotional response to this and I feel like that is more likely to happen with the red pen, hand-written style of annotation than the scroll over, wall of text style of annotation. After reviewing all the annotations, I think we can pare them down enough to make som

[2018-03-16 16:53] shaghdoosti commented on #269
Hey, we have approved copy. This is ready for design!

https://docs.google.com/document/d/1h65AA8pyL3DeO67eHJTj-5y4gK7nkvmcUPAZO9wU1Bg/edit?ts=5aa2fad0

[2018-03-19 16:44] tlasadea commented on #268
@alanmoo when do you think we'll have a designated developer on this project? I think the only questions re functionality are around Share Progress, and using/linking the main CTA button to share progress as the action - we want people to tweet @ Roku.

@natalieworth thinks design could be done by end of this week.

[2018-03-19 21:03] natalieworth commented on #268
Most recent design for this is here (without images as still awaiting finalized content): https://redpen.io/ct6732ac8db46650f2

Since there are limitations with the navigation on this page, I'd suggest that the content is parsed down to the top 5 points (given my time left to do the illustrations). I feel like people are not going to read the entire policy—Temi suggested in the meeting this mornin

[2018-03-19 21:07] natalieworth commented on #268
Also, just a note that the next step before I take designs further is to get the copy finalized as I feel like it is definitely affecting the design and build.

[2018-03-20 21:15] sabrinang commented on #269
Iterations on graphics for "Dear Ajit Pai:": https://redpen.io/p/tabbd9c6655a2e41b6

[2018-03-22 12:51] tlasadea commented on #268
Hi @natalieworth love this design approach re 5 points. We're still waiting for approval from legal etc. @caltrider once we have content approved - will it fit this 5 point design? Need to ensure it will as I think this is the best approach we have for design, and if not then @natalieworth will have to go back to the drawing board.

[2018-03-22 15:09] caltrider commented on #268
@natalieworth @tlasadea Still waiting to hear from the legal/compliance folks. I think they might have had a few other things going on this week with all the Facebook stuff.  Here's how we make this work. There are 7 sections to the policy. Let's break this down by section and do 7 points rather than 5. That will enable us to get all this in so it makes sense yet still break it down to smaller bit

[2018-03-26 16:05] xmatthewx opened #270 "Design Facebook banner for top of campaign pages"
@natalieworth & @sabrinang - we have another facebook campaign page going up soon. Can we do a quick banner for the top of that page? Simple and quick like aadhaar and global sprint.

We can take this as a chance to figure out those texture templates, brand alignment, and workflows a bit more.

## DARCI

 - Driver: @sabrinang or @natalieworth
 - Accountable: @xmatthewx
 - Responsible: @sabrinang o

[2018-03-26 16:10] xmatthewx opened #271 "Design campaign landing"
After we settle on new site header and nav design, let's take a look at a minified header and nav for /campaign/ pages. The're a bit different than /opportunity/ pages with huge streams of focused incoming traffic.

I'm thinking:
 - logo + hamburger menu at top (hiding site items)
 - subnav above page content like fellowship pages so we can have sidebar petition (too risky with long page titles?)

[2018-03-26 16:41] sabrinang commented on #270
@xmatthewx Is there a brief to this specific facebook campaign or link to the page content?

[2018-03-26 17:03] xmatthewx commented on #270
We don't have an extended brief. Campaign is already live here: https://foundation.mozilla.org/campaigns/facebook/. There will additional pages and petitions coming soon, similar topics, similar tone. One graphic can help tie them all together.

Note:
 - the misalignment between header and left column is fixed, going to production soon.
 - campaign pages with a petition on the right can't have a g

[2018-03-26 17:04] xmatthewx commented on #271
This work should also address layout and columns for petition forms, campaign graphic, etc.

[2018-03-26 17:14] xmatthewx opened #272 "Design Fundraising Debrief Slides"
Summary: [Ashley has] a meeting with Beard, Jascha and Surman to review our asks for 2018 fundraising campaign.  We have a 5 slide deck that looks forward with some stats about 2017 which needs some serious design help!

## Results
 - OKR 6 - Be Sustainable
 - Raise 4.4 million!

## DARCI
 - Driver: Ashley
 - Accountable: Ashley
 - Responsible: TBD
 - Consulted: n/a
 - Informed: n/a

## Dates
 - P

[2018-03-26 17:16] xmatthewx commented on #270
I've added a DARCI above for clarity on this.

[2018-03-26 17:34] xmatthewx commented on #272
Becca recently developed a slide for major donor conversations. It's could be nice (not essential) to follow style and patterns in [that](https://docs.google.com/presentation/d/1DDBRJUdAkUFFwrlh4hMud92SLA9I7IcQrIyPwy90-8s/edit#slide=id.g34d60b9f3c_0_122).

[2018-03-26 21:52] kristinashu commented on #271
It would also be nice to show some of our other related campaigns at the bottom of the page.

[2018-03-26 22:17] kristinashu commented on #272
I've cleaned up the slide design https://docs.google.com/presentation/d/1xo2etUnsROJH14xwiAxjUYiZ1ZwIsi3BsvBWLRybQHY/edit#slide=id.g2ed559ea01_0_4

Just waiting for one more slide and maybe some feedback.

[2018-03-27 01:30] sabrinang commented on #269
@shaghdoosti Updated more iterations for NN polling graphics. Do I need to add mozilla logo on these? Please leave any feedback on redpen here: https://redpen.io/p/tabbd9c6655a2e41b6

[2018-03-27 16:11] xmatthewx commented on #265
Given the effort to wrangle the community and/or apply banner to a bunch of uploaded images, we have decided to skip this. We can look to do it for future sprints, perhaps an automatic overlay based on tag. I love the design!

[2018-03-27 16:11] #265 closed

[2018-03-28 02:56] #272 closed

[2018-03-28 14:44] tlasadea commented on #268
Hello @xmatthewx @natalieworth, @caltrider can provide more details on this if necessary, but sadly we're not going to be moving forward with this campaign. Legal's feedback/required framing of this policy and our annotations means that the impact becomes very very weak and it wouldn't be a great ROI. So sorry (and sad) to have to end this work. Apologies for the time wasted; we did bring legal in

[2018-03-28 16:55] sabrinang commented on #270
Ideas for facebook campaign banner here: https://redpen.io/p/de31732beb124711d6
@xmatthewx feedback for this graphic?

[2018-03-28 17:36] shaghdoosti commented on #269
Done! @WillatMozFdn  or Jon will be able to help with email dimensions and ideally we'd put this in the blog post as well.

Thank you so much for this!

[2018-03-28 19:44] xmatthewx commented on #268
cc @ScottDowne

[2018-03-28 19:48] xmatthewx commented on #268
It was gonna be great. Hopefully there's a different chance for something similar down the line. I'm sure we'll find a use for the image share pattern you all developed.

[2018-03-28 20:41] sabrinang commented on #270
@xmatthewx I updated two more ideas to include full wordmarks so it is less abstract we are referencing CA + FB : https://redpen.io/p/de31732beb124711d6

[2018-03-28 20:58] WillatMozFdn commented on #269
I'm assuming this graphic will be full-width of the email, @shaghdoosti ?  If so, specs would be 640 wide by however many tall, BUT we also need to account for 2x for retina displays, so ... I think that means 1280 wide at 72 dpi?  (@natalieworth can confirm.)  recent example is here:  https://image.e.mozilla.org/lib/fe9915707361037e75/m/3/V6_pieday-2018.jpg

[2018-03-28 21:13] kristinashu commented on #264
@stephwright do you have anymore logos to add? I might close this ticket and then you can just open a new one when you have more.

[2018-03-29 01:41] stephwright commented on #264
Hi @kristinashu ... I'll go ahead and close.  The potential funders and other partners have not yet committed.  I'll open a new one if necessary.  Thanks!!!!

[2018-03-29 01:41] #264 closed

[2018-03-29 21:09] sabrinang commented on #270
@xmatthewx Good feedback after crit today and I adjusted option 5 to have larger wordmarks so it is more legible on mobile: https://redpen.io/ve1c5dc777abbc19b4
I also tried an emoji background version (I prefer the other option though): https://redpen.io/gkddbefaeeb7fdab95
(I also exported this version https://redpen.io/cqddc73fdbd8bb4606 for Jen's fb survey)

Files on gdrive: https://drive.googl

[2018-03-29 21:31] xmatthewx commented on #270
This doesn't feel quite there yet. Maybe huge reaction emoji's to fill the space? The containing boxes,  sidebar lines, and background gray feel extraneous. Maybe a plus sign between logos? Or emojis between logos. I'm just spit balling, so no need to execute what I'm saying. I think we can go more loose and editorial on this.

<img width="1015" alt="image" src="https://user-images.githubuserconte

[2018-03-29 22:11] sabrinang commented on #269
@shaghdoosti I adjusted some of the graphics from the feedback: https://redpen.io/p/tabbd9c6655a2e41b6

The first two graphics are to be used with any of the 3 copy options that start with "Dear Ajit Pai". Example in context with copy post:
<img width="581" alt="example 2x" src="https://user-images.githubusercontent.com/2492510/38115602-783e0b88-3361-11e8-9607-ef0d32c19ff1.png">

For the millennia

[2018-03-29 22:19] shaghdoosti commented on #269
This is great, thank you! We're going to wait to release these once we have information about next steps of the campaign. It's so great that we're ready to go!

[2018-04-04 17:39] sabrinang commented on #270
@natalieworth Is iterating on this work here: https://redpen.io/p/xfaf84d05582ee00db

[2018-04-05 21:13] natalieworth commented on #270
Finished these and we've uploaded them to the foundation site. Assets are here https://drive.google.com/drive/u/0/folders/1pZ_4u-aYoROUy7lSXx_dkw06SWsdiFJg

[2018-04-05 21:13] #270 closed

[2018-04-06 21:03] kristinashu commented on #271
@beccaklam and Scott did some work here https://redpen.io/p/gz26fa3bd26ec0cb81

[2018-04-10 20:19] kristinashu commented on #268
I'm going to close this ticket now 😕

[2018-04-10 20:19] #268 closed

[2018-04-10 20:23] beccaklam opened #273 "Implement Campaign Landing Page"
### Overview
Implement the UX of the 'Regular Campaign Template' as drawn up here:
https://redpen.io/gf9574a99f7765a29a

### UX Checklist:
- [ ] Form on right is sticky and present always
- [ ] Include error states
- [ ] Include hover states for each form field
- [ ] Include form submission confirmation (not drawn up yet)
- [ ] Form is approximately 1/3 of the nav width, the explainer content on t

[2018-04-10 20:35] #273 closed

[2018-04-10 23:35] kristinashu opened #274 "Sketch Library fixes"
Library is coming along but there are a couple problems when using more complex components.

### Issue 1
Is that the black background isn't scalable

<img width="535" alt="image" src="https://user-images.githubusercontent.com/1068783/38588819-a67dc8c4-3cdc-11e8-92aa-7b0ebf139e04.png">

### Issue 2
Is how text boxes don't vertically adjust depending on the length of title and paragraph text. (Altho

[2018-04-11 15:33] beccaklam commented on #274
@kristinashu @taisdesouzalessa Couldn't find any solutions this morning ... but two possible workarounds?
Workaround for Issue 2: Create a one line title component and a two line title component
Workaround for Issue 1: Detach from Symbol after placing and edit. Not ideal but the spacing would already be built in.

[2018-04-11 17:45] kristinashu commented on #274
Looks like FF uses different symbols for different numbers of lines.

<img width="995" alt="image" src="https://user-images.githubusercontent.com/1068783/38633663-35c5d1b4-3d75-11e8-8041-1ef926ad5f29.png">

[2018-04-11 17:52] beccaklam commented on #274
@kristinashu Nice. Yeah I think that's the only solution we have so far.

[2018-04-13 19:44] kristinashu commented on #271
Old benchmarking deck @natalieworth and @beccaklam made https://docs.google.com/presentation/d/1X31GHF9SclchaMY-K4Lo2XvUEAmmGrUjGHht-IHt0Q4/edit#slide=id.g15c71e0009_0_139

[2018-04-16 20:47] acabunoc commented on #265
Hi @kristinashu! I'd love to add this banner tag to the projects in the interview series. I'm happy to do this manually -- do you have the files?

[2018-04-16 22:42] kristinashu commented on #271
I'm going to close this ticket.

Scott is implementing this initial page https://redpen.io/gf9574a99f7765a29a

Becca will wireframe new possible features and flows in https://github.com/mozilla/foundation.mozilla.org/issues/1366

[2018-04-16 22:42] #271 closed

[2018-04-17 00:53] taisdesouzalessa commented on #274
@kristinashu @beccaklam for the issue 1 we could use a hack, a plugin called [Dynamic Button Plugin](https://github.com/ddwht/sketch-dynamic-button) - the downside is that everybody will have to install this plugin (but it is only 5 of us anyways). The good part is that it makes the process faster! If you like this option let me know and I can apply the change to the library + create some sort of

[2018-04-17 16:04] kristinashu commented on #265
@acabunoc here you go!

![pulse-banner-gs 2x](https://user-images.githubusercontent.com/1068783/38882126-44c40d86-421e-11e8-8af8-6a2b365377d6.png)

[2018-04-19 20:18] KevZawacki opened #275 "IHR graphic for consumer press"
Hi all,

(Also submitted a Project Brief for this issue)

Phase II of IHR press pitching focuses on consumer press: USA Today, Mashable, Teen Vogue, etc. I'm hoping for a simple graphic highlighting the ways the IHR empowers readers. Text would be something like:

_Three ways to make your personal internet experience healthier:_

_Protect yourself and your devices with strong passwords and two-fac

[2018-04-24 16:30] xmatthewx commented on #275
Proposed launch date: 5/1/2018
 - Driver, Accountable: Kevin Zawacki
 - Responsible: TBD
 - Consulted: PKPR (PR agency)

OKRs: 1.2, 1.3, and 4.2

[2018-04-24 19:52] natalieworth commented on #275
@KevZawacki Cool! Do you know the resolution I should create for? Or is it open?

[2018-04-24 19:55] KevZawacki commented on #275
Hi @natalieworth,

Is there a general resolution we use for social & blog content? That should work just fine.

[2018-04-24 21:47] natalieworth commented on #275
@KevZawacki So I'm thinking we could do either a large infographic style image or 3 images for social size. I'm thinking something like this, but let me know what you think:

Option 1:
![artboard 9 copy 3](https://user-images.githubusercontent.com/14876567/39215854-4a7d881e-47ce-11e8-9b6a-4c4d5c8e3474.jpg)

Option 2 (this is pretty rough, but thinking we could do 3 cards for each tip):
![artboard

[2018-04-24 21:47] natalieworth commented on #275
cc @xmatthewx

[2018-04-25 19:53] KevZawacki commented on #275
Hi @natalieworth,

These are excellent 😎 Not a single change from me.

If it's possible to do both, that'd be great. If you only have the bandwidth for one, let's do the larger infographic. Many thanks!

[2018-04-25 21:41] natalieworth commented on #275
Hey @KevZawacki Yep! Had time to do both. The smaller 3 images are in social size. I've added them to Redpen if you need to leave any comments https://redpen.io/p/drac47d9b65a7fd574
If they're all good, I can export!

[2018-04-26 12:53] KevZawacki commented on #275
@natalieworth Legendary!

Good to go :-) Many thanks!

[2018-04-26 17:29] natalieworth commented on #275
@KevZawacki Sweet! Files are in google drive here :D
https://drive.google.com/drive/folders/1IXXyUgHYnrxR39c60v5E9QHgQqFG3v6x?usp=sharing

[2018-04-26 18:49] KevZawacki commented on #275
😁

[2018-04-26 18:49] #275 closed

[2018-05-02 16:26] sabrinang opened #276 "Design items for the MoFo All Hands"
### Description

The request is design help for event materials:
- a color palette and font options
- signage
- a slide template for the plenary presentations
- maybe a sticker design?

___________________________
Driver: Erik Westra
cc: @xmatthewx

[2018-05-02 17:34] sabrinang commented on #276
Chatted with Erik and we would need:

- Toronto themed all-hands brand to inform all design materials

Some other event materials include:

- Email header for all-hands emails
- Default screen image for 4 giant TV screens in main room
- sticker or small notebook

Erik will update us with dimensions and deadlines

[2018-05-09 17:22] xmatthewx opened #277 "Design banner ad for Equifax campaign"
Design a banner ad. Copy and dimensions in [this doc](https://docs.google.com/document/d/14SLkFI5QFw4A6sHnMRD7qqh_mcrUVpP-1s3_1QXvMHg/edit#heading=h.h5gtc7jne0nv)

Driver: Jon L
Accountable: Sara ?
Responsible: Designer TBD
Consulted: n/a?
Informed: Ashley, ?

@kristinashu -  after you have all the info, let's file a quick brief to capture this. primary metadata is fine, details aren't essential t

[2018-05-09 22:16] kristinashu commented on #277
I've submitted a brief and asked a few questions in [the doc](https://docs.google.com/document/d/14SLkFI5QFw4A6sHnMRD7qqh_mcrUVpP-1s3_1QXvMHg/edit#heading=h.h5gtc7jne0nv). @beccaklam are you able to work this and is this enough info for you to get started?

They need an image for ads on [Politico](https://www.politico.com/) and an image for our site. There is a lot of text so maybe texture but pro

[2018-05-10 14:31] beccaklam commented on #277
@kristinashu Yes I can work on this and it's enough to get started!

[2018-05-10 17:15] westraco commented on #276
Email header size: MoCo uses a 1600x214 png, I think it'd be fine to follow that sizing.
Email header deadline: May 18

Default Screen image for main TVs: These are widescreen 16:9 HD format, so I'd say 2560×1440px would be a safe size for this.
Screen image deadline: June 1

Slide template: 16x9, based off existing MoFo templates
Slide template deadline: Kevin is hoping to have this by May 28th

[2018-05-10 21:04] beccaklam commented on #277
@kristinashu https://redpen.io/p/xq93f9c1597c029458 First draft, who should I ping to give feedback? Sara?

[2018-05-10 21:14] kristinashu commented on #277
Nice! Yeah Sara for feedback/approval.

[2018-05-14 13:45] beccaklam commented on #277
Hi @shaghdoosti, can you take a look at these designs for the Equifax campaign? https://redpen.io/p/xq93f9c1597c029458 Let us know if you need any changes. We shortened the copy for one of the ads for legibility reasons.

[2018-05-24 18:49] sabrinang commented on #276
@westraco Sorry for the late response on getting to these assets.

Here are some various colour iterations for the email header and screen background designs: https://redpen.io/p/ry1a841020891ef900

Let me know what palette that is preferred and it can inform the items below.

Slide template (replaced some backgrounds on mozilla template): https://docs.google.com/presentation/d/1COumx-7NoW8sSLwHVu

[2018-05-29 13:02] westraco commented on #276
Hi! Official word: the light blue iteration is the one.
Can we update to be Foundation specific?

I'll send to Kevin and others once they're final.

Excited to see stickers!

[2018-05-30 22:28] sabrinang commented on #276
@westraco I've exported the email headers, tv screen background, slide deck template and sign template here: https://drive.google.com/open?id=1o_oJh-TlT-BscnQ2yJvJzH3S6SnHV2Wq
Can you review these assets and that the foundation specific wordmark is ok?

/cc @KevZawacki

[2018-05-31 15:51] westraco commented on #276
So, the team here (so, Lainie and I) both think these look great! I guess the foundation specific wordmark decision is one we can't specifically make, though. It seems confusing to have two different 2018 All Hands designs for different cities without the differentiation, which is how this came up.

Angela has basically told us she trusts our judgement on All Hands decisions (aka don't ask unless

[2018-05-31 15:58] xmatthewx commented on #276
I looked at a few of the assets. I see the word foundation, but not a Mozilla Foundation logo.

We should _not_ create a Foundation logo just for all hands. Someone at the top of the food chain decided that the foundation site should just use the regular mozilla logo. There might be two all hands, but we are one mozilla fo'eva!

[2018-05-31 15:58] xmatthewx commented on #276
(the designs look awesome btw! nicely done.)

[2018-05-31 16:16] westraco commented on #276
Ok cool... so I just clarified with Matthew that this means these are GREAT AND YAY. Excited to see the sticker.

Re: Swag, just an fyi, I just hopped on the MoCo order for the waterbottles they are doing as swag in SF, so if you wonder where those came from, that's how/why/where.

[2018-05-31 16:17] westraco commented on #276
Can I share these assets directly from the google link you gave me, Sabrina?
https://drive.google.com/open?id=1o_oJh-TlT-BscnQ2yJvJzH3S6SnHV2Wq

[2018-05-31 18:30] sabrinang commented on #276
Thank you both for the feedback! @westraco Yes, you can share that gdrive folder directly since it sounds like they are good to go 👍 Good to hear that we will get some swag that they get in SF!

[2018-06-05 23:49] sabrinang commented on #276
@westraco If it isn't too late for a sticker, I have exported a design on a [die-cut stickermule template](https://www.stickermule.com/template/die-cut-stickers) here: https://drive.google.com/drive/folders/1rzKyeH-da4PlEgcr9bWZ7FDcS31Bpkmj?usp=sharing

The dimensions are 75mm x 50mm.

[2018-06-06 14:51] westraco commented on #276
These are great. I ordered them yesterday, they'll be delivered by Wed next week, so we'll just give them out midweek. Thank you!

[2018-06-06 15:36] KevZawacki commented on #276
Hi Sabrina,

Plenary speakers are sending over their slides today/tomorrow, and I'll be porting them into the [master document](https://docs.google.com/presentation/d/1iUQZHLMkx18u4g7AhWampEGxel6Lx-p8AfsrFhPXiLc/edit#slide=id.g3adbfdef93_0_2) you created.

Once everyone's are in, can I ping you for a design review / tweak?

[2018-06-08 13:20] KevZawacki commented on #276
Hi @sabrinang,

The **[master slide deck](https://docs.google.com/presentation/d/1iUQZHLMkx18u4g7AhWampEGxel6Lx-p8AfsrFhPXiLc/edit#slide=id.g3adbfdef93_0_2)** is ready for your review. Thank you again for your help!

One specific question: For the speaker intro slides (4, 5, 13, 28, 38), I'm having trouble getting headshots to fit in the right-third. What could we do instead? Perhaps we simply use

[2018-06-08 18:19] sabrinang commented on #276
@KevZawacki Do you have these headshots somewhere I can access? I can try to put them in the layout or design something that works for the headshots

[2018-06-08 20:45] sabrinang commented on #276
I put the headshots in slides 4 (Renee), 14 (Melissa), 29 (Jon) & 40 (Kasia).
I fixed text alignment on 22-26.

You can delete slide 5 (but you have an assigned comment on it though) and if Linet is not speaking you can delete 6 or 6-12 if that is her entire section? Other than removing these mentioned slides it looks good to me @KevZawacki

[2018-06-08 20:49] KevZawacki commented on #276
@sabrinang Heroic! Thank you for your help. I'll make those final changes momentarily.

[2018-06-08 20:49] #276 closed

[2018-07-03 16:40] #277 closed

[2018-07-03 16:40] beccaklam commented on #277
This was finished and final jpgs were sent to Jon L.

[2018-07-03 16:41] #232 closed

[2018-07-03 16:42] beccaklam commented on #232
Closing this as this journey doesn't seem applicable anymore with the new foundation site.

[2018-07-03 16:44] beccaklam commented on #258
This is done with Jessie's approval.

[2018-07-03 16:44] #258 closed

[2018-07-03 19:08] xmatthewx commented on #258
yay! well done.

[2018-07-09 16:52] kristinashu commented on #266
@ScottDowne do you know what happened with this?

Is it this?
<img width="1433" alt="image" src="https://user-images.githubusercontent.com/1068783/42464396-bd2de3ca-835d-11e8-9d3e-f6494f04bf26.png">

[2018-08-08 22:43] taisdesouzalessa opened #278 "Button and link states: Foundation site"
### Intro

Let's do a benchmark and discuss button and link states for our Foundation site. The goal is to make it consistent and more accessible.

For instance: the default `:focus` work great in most of the site, except on our blue ghost buttons
<img width="214" alt="image" src="https://user-images.githubusercontent.com/22157921/43868045-92cd775a-9b20-11e8-8603-a17c316174c2.png">
It looks very f

[2018-08-16 23:38] taisdesouzalessa opened #279 "[Personas] Round 2 - step 1: slide deck and presentation to directors"
### Intro
Now that we have a draft set of personas, it's time to get some input from directors and see how they could be used in different teams. After meeting with Jesse, Lotta and Becca on August 16, here
are the next steps. I added some rough plan with deadlines, let me know if the make sense to you and feel free to move them around if needed.

- [x] 1. draft the content for the slide deck to b

[2018-08-27 23:57] taisdesouzalessa commented on #279
Feedback form Becca implemented, slide deck draft built. Messaged Jesse and Lotta for feedback. Slide here: https://docs.google.com/presentation/d/1BofVkXa8RhN26P6TED3BK1QEArfJCXBs4TRLk1Yg0R8/edit?usp=sharing

TO DO: Taís/Becca to improve slides visuals. Jesse/Lotta to review and give feedback.

[2018-09-07 20:10] xmatthewx opened #280 "Design for Fellowship & Awards at MozFest"
### Intro

MoFo has merged Fellowships and Awards into a single team for a more aligned suite of programs. While MoFo has done a good job of promoting fellows, we haven't previously promoted the programs themselves as a strategic change-making entity. That's all gonna change at MozFest.

@Melechuga is driving the presence at MozFest. To support that, we need to prepare a few assets.

@kristinashu

[2018-09-07 20:12] xmatthewx commented on #280
@sabrinang - we're going to print a few things for MoFo programs at MozFest. Can you give us deadlines for a fest guide insert and in-house poster printing? Thanks!

[2018-09-12 19:09] xmatthewx commented on #280
Thanks @sabrinang. Ravensbourne printing is probably fine. But we'll see when plan and design take shape. Cost should be covered by the fellows & award team and not taken from MozFest.

[2018-09-12 19:47] xmatthewx commented on #280
@taisdesouzalessa - let's chat about this when your other projects slow down....

[2018-09-14 17:20] xmatthewx opened #281 "Buyers Guide: Promo at MozFest"
[Link to Buyers Guide Promo at MozFest Working Doc](https://docs.google.com/document/d/1u5ptsXqT1ZVU6O9hocSPaB11NongNYxkiCkCHBEHYUE/edit?usp=sharing)

Buyer's Guide is going to show up in a big way at MozFest. There are pieces that we designers need to support beyond the guide itself.

### 1) Pre-requisites
 - [x] logo lockup #286
    - Privacy Not Included as title? With Mozilla Buyer's Guide as

[2018-09-14 20:35] caltrider commented on #281
Thanks for starting this @xmatthewx . I added a couple. I think the physical presence design, the postcards/stickers, and the scavenger hunt materials will be the biggest priorities. I don't think we'll need web ads for MozFest, but for the later full launch of the guide in mid-November.

[2018-09-14 20:52] xmatthewx commented on #281
Nice. I sorted the list into 3 phases.

[2018-09-21 13:18] beccaklam commented on #281
### Physical space at MozFest:

- [ ] Ask jlin to see if we can get some iPads for MozFestt

[2018-09-21 14:06] caltrider commented on #281
**Prizes and Swag:**

Candy
Stickers (*privacynotincluded.org)
Camera slider
Prizes from the buyer's guide
       Nintendo Switch
       Harry Potter Kano Coding Kit
       Bose Headphones
       Apple Watch
       Fitbit (or similar)
       Tile Tracker
       Mini Sphero
       Drone
       Mycroft

[2018-09-25 17:30] taisdesouzalessa commented on #280
Hey @Melechuga, could we meet tomorrow (Sept 26) to discuss this? My schedule is up to date so feel free to book a time that works for you. @xmatthewx @sabrinang would you like to be in the meeting as well?

[2018-09-27 18:25] kristinashu opened #282 "MozFest: Epic for our initiates at MozFest"
We have a few different initiatives that need representation at MozFest. Let's try to streamline this as much as possible (use similar templates, 'foundation' style, print and trim together...).

@sabrinang @natalieworth @xmatthewx @taisdesouzalessa @beccaklam let's still work out of the main tickets but use this to check-in on high level stuff with each other and share resources. Please edit this

[2018-09-28 21:13] gideonthomas commented on #280
Just a quick update about the deadline: this needs to go out for print by October 11.

[2018-10-01 22:19] taisdesouzalessa commented on #280
@Melechuga and @annmarie123 here is the concept for the banner. As we spoke in our meeting, the banner will be made in vinyl and have a structure to stand by itself so it can be reused by your and other teams in the future:
https://mozilla.invisionapp.com/share/2MOBFXGYJ7R#/322680397_ROUND2-Prop1

This is the paper material to hang at MozFest (not vinyl, it has to be printed on paper at Ravensbour

[2018-10-01 23:14] gideonthomas commented on #280
quick copy nitpick about the poster - we're using the term "level" instead of "floor" for everything else, so might want to be consistent - "...Awards booth on Level ? to learn more"

[2018-10-02 14:51] Melechuga commented on #280
@taisdesouzalessa Looks great! Will this be in black and white? Would it be possible to use some of the colors that are on the fellowship site, like these:
![screen shot 2018-10-02 at 7 49 55 am](https://user-images.githubusercontent.com/5815317/46356579-e1d23f80-c617-11e8-9fc9-770c26c135aa.png)

Thanks!

[2018-10-02 17:47] xmatthewx opened #283 "Design Impact Statement posters for feedback"
At MozFest, we will hang a series of posters to gather feedback on MoFo's draft impact statements.

**Process**
 - [x] create a template based on [sample content](https://docs.google.com/document/d/1TtDwtFRh472n8xprmFKjc9SsfLYNbQRKiFYfSS_yLfM/edit)
 - [x] wait for final statements
 - [ ] plan for mounting and gathering feedback (self service, and in sesssion)
 - [ ] finish in time to print and mou

[2018-10-02 21:42] taisdesouzalessa commented on #280
Hey @Melechuga our brand is evolving for the direction of this page here: https://foundation.mozilla.org/en/initiatives/ and we will gradually abandon the gradients (like from the example you posted) - that's why we have this banner in black and white. Plus, MozFest is such a colorful event that being black and white makes the artwork stand out. That being said, I can add some accent color (like t

[2018-10-02 22:56] taisdesouzalessa commented on #280
@Melechuga I did a quick mockup of what I meant by adding the accent color while still staying true to our future brand guidelines. The placement of the color elements is not final yet, I'll do a refined version but I wanted to give you a quick idea of what I meant:
https://mozilla.invisionapp.com/share/WHODAN6UKGB#/323255330_ROUND2-Prop1-With-Color
Let me know what you think?

[2018-10-03 17:46] xmatthewx commented on #283
@taisdesouzalessa might work on this depending on things wrap up with Awards/Fellowship stuff.

[2018-10-03 17:49] xmatthewx commented on #280
@Saallen said that she and @marcwalsh will look into options for printing outside of Ravensbourne. To simplify. cc @gideonthomas for awareness.

[2018-10-03 18:05] xmatthewx commented on #281
@beccaklam - let's find time to check in about this when you're ready to switch gears toward promo stuff.

[2018-10-03 21:49] beccaklam commented on #281
@xmatthewx Happy to chat this week, I'm already switching gears as the homepage design is wrapped up and we've found most of the product images.

[2018-10-09 18:08] xmatthewx opened #284 "Design slides for board committee meeting"
This just needs a Mozilla branded template integrated. 4 slides. Contact Ashley with questions about content.

https://docs.google.com/presentation/d/10uNpetbyC7khr2zGeHk9RG7V99fon76v3ntD3N1khzw/edit#slide=id.g33914562bf_0_621

[2018-10-09 19:14] xmatthewx opened #285 "MoFo print jobs for MozFest"
This ticket aims to collect all things that need to be printed for MoFo Programs that aren't core MozFest things.  Let's keep project discussion elsewhere, but gather print shop questions and finalized assets here.

### Initiatives
 - Buyer's guide #281
 - Impact statements #283
 - Awards/fellowship #290

### Job types for print shops
 - Postcard
 - Vinyl banner
 - Posters
 - Other?

### Notes
 -

[2018-10-09 20:45] beccaklam commented on #284
Applied a Mozilla branded template and pinged Ashley. She is conferring with Mark and will get back to me if they need changes.

[2018-10-09 21:05] beccaklam opened #286 "Logo Lockup for Buyer's Guide"
Create a logo lockup consisting of '*privacy not included* and the Mozilla logo for the Buyer's Guide to be used on all promotional assets.

[2018-10-09 21:11] beccaklam opened #287 "Physical Promo for Buyer's Guide"
- [x] signage
- [x] postcards
- [x] stickers

[2018-10-09 21:12] beccaklam opened #288 "Digital Promo for Buyer's Guide"
- [ ] screens
- [ ] mozfest schedule (list as an all day session. check w/ gideon)
- [ ] social images (variation on splash image w/ Nat)
- [ ] banner ad for use on mozfest site (play with it as an ad, not as explained content)

[2018-10-09 21:14] beccaklam opened #289 "Casual User Testing for Buyer's Guide at MozFest"
Reference Tais' learnings: https://docs.google.com/presentation/d/1IONuHaOQPjJJ2HsyGm6Kp5NzxJiZ5x-9gVj3yVgjNLE/edit

[2018-10-09 21:17] #289 closed

[2018-10-09 22:21] xmatthewx commented on #287
They've been good. Just keep in mind that it could shorten timeline by about a week, depending on when Jen is traveling.

[2018-10-10 01:48] taisdesouzalessa commented on #280
@Melechuga and @annmarie123 after conversation with designers and with Ann Marie, we now have a new iteration of this artwork, with more colors while still staying true to our brand guidelines.

Here are the posters (size A1)
[Fellows Poster](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/324677559_Poster-Fellowships_A1)
[Awards Poster](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/324677

[2018-10-10 15:49] beccaklam commented on #286
Hi @kristinashu @xmatthewx I mocked up some logo lockups based on the site's UI, you can find them here: https://redpen.io/p/qz6bdb2811e058ffb1 I did a variation with 'a buyers guide' tagline for instances where the logo needs context. Let me know what you think?

[2018-10-10 16:12] kristinashu commented on #286
I've added last year's version as well. I like how it gives a different option for hierarchy.

[2018-10-10 17:18] gideonthomas commented on #280
Regarding printing these: Marc suggests we use [Pixart Printing](https://www.pixartprinting.co.uk/). He's willing to share his account for this if it makes it easier. Otherwise, we can also use [SoloPress](https://www.solopress.com) for next day turnarounds if needed, but it's way more expensive. Let me know how you would like to proceed.

[2018-10-10 17:18] gideonthomas commented on #285
Regarding printing these: Marc suggests we use [Pixart Printing](https://www.pixartprinting.co.uk/). He's willing to share his account for this if it makes it easier. Otherwise, we can also use [SoloPress](https://www.solopress.com) for next day turnarounds if needed, but it's way more expensive.

[2018-10-10 22:24] taisdesouzalessa opened #290 "Design for Fellows & Awards at MozFest - master ticket with status of projects"
Follow up on this ticket:  #280. This is a clean ticket with status of each project.

## Intro

MoFo has merged Fellowships and Awards into a single team for a more aligned suite of programs. While MoFo has done a good job of promoting fellows, we haven't previously promoted the programs themselves as a strategic change-making entity. That's all gonna change at MozFest.

### Deadline for all print

[2018-10-10 22:30] taisdesouzalessa opened #291 "[Design for Fellows & Awards at MozFest] Posters"
### For Stakeholder Approval
[Fellows Poster](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/324677559_Poster-Fellowships_A1)
[Awards Poster](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/324677557_Poster-Awards_A1)

### Specs
 - **2 posters**
 - **Sizes:** A1 and A2 (same artwork, 2 sizes)
- **Content: [here](https://docs.google.com/document/d/1hh0Nf_-EmIDOT5SG-7Vo0cJZlbKays2CGTv-3robqho

[2018-10-10 22:30] kristinashu commented on #290
Amazing! Thank you for putting this all together. Sooo helpful to see.

It does seem like a lot of pieces to design for, let's all chat after stand tomorrow.

[2018-10-10 22:31] taisdesouzalessa commented on #291
@Melechuga and @annmarie123 after conversation with designers and with Ann Marie, we now have a new iteration of this artwork, with more colors while still staying true to our brand guidelines.

Here are the posters (size A1)
[Fellows Poster](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/324677559_Poster-Fellowships_A1)
[Awards Poster](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/324677

[2018-10-11 14:35] beccaklam commented on #286
Made some changes based on Kristina's suggestion: https://redpen.io/ch768007a402cc4ff4 If we're okay with it we can use this for instances when someone asks for a logo lockup?

[2018-10-11 14:59] #288 closed

[2018-10-11 18:06] beccaklam commented on #287
For signage, some dimensions based on Tais' work for Fellowships and Awards #290

## 1. Promotional Posters
(Purpose: advertise Buyer's Guide Raffle/booth)
- **Sizes:** A2
- **Content:** ??
- **Amount to print:** ??

## 2. Table Poster/Hanging over balcony poster?
(Purpose: Identify Buyer's Guide base)
- **Sizes:** A0
- **Content:** ??
- **Amount to print:** 1

## 3. Festival Guide Insert
(Purpose

[2018-10-11 20:28] beccaklam commented on #284
Ashley approved the designs! This is done.

[2018-10-11 20:28] #284 closed

[2018-10-11 20:29] beccaklam commented on #287
Sticker designs: https://redpen.io/p/yv3237593a82410b77 Hoping to send to stickermule for printer tomorrow.

[2018-10-11 20:30] kristinashu commented on #287
Yea! I love the stickers.

[2018-10-11 22:43] kristinashu commented on #283
Here are the comps https://redpen.io/p/dce6bbbfa46131c548 along with some size references.

[2018-10-11 23:06] taisdesouzalessa opened #292 "[Design for Fellows & Awards at MozFest] Vinyl Banner"
### For Stakeholder Approval
[Banner in Vinyl](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/325176528_Vinyl-Banner)
[Banner in Vinyl in context](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/325128724_Vinyl-Banner-In-Context)

### Specs
 - **Size:**  85 cm (width) x 200 cm (height) - **excluding** bleed. [Template attached here.](https://github.com/MozillaFoundation/mozfest-design-2018/

[2018-10-11 23:08] taisdesouzalessa commented on #292
@Melechuga and @annmarie123 here is the banner in vinyl artwork for your approval:
[Banner Vinyl](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/325176528_Vinyl-Banner)
[Banner Vinyl in context](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/325128724_Vinyl-Banner-In-Context)

[2018-10-11 23:41] taisdesouzalessa opened #293 "[Design for Fellows & Awards at MozFest] Paper Banner A0"
### For Stakeholder Approval
[Paper Banner A0](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/325179049_Hanging-Poster-Fellowships_And_Awards_A0)
[Paper Banner A0 in context](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/325180326_A0-Banner-Proposal-In-Context-2). IMPORTANT: not sure the proportion related to other posters is exactly as represented in the picture. It's a guess.

### Specs

[2018-10-11 23:42] taisdesouzalessa commented on #293
@Melechuga @annmarie123 here is the hanging paper banner for your approval:
[Paper Banner A0](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/325179049_Hanging-Poster-Fellowships_And_Awards_A0)
[Paper Banner A0 in context](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/325180326_A0-Banner-Proposal-In-Context-2). IMPORTANT: not sure the proportion related to other posters is exactly as repre

[2018-10-12 15:30] beccaklam commented on #287
print out creep-o-meter faces

[2018-10-12 15:51] xmatthewx commented on #290
For **4. Fest Guide Insert**, it seems like we'll want either A6 (half letter size), or A5 folded in half to fit in Fest Guide pocket. I'm not sure when they're assembling those, but it looks like if we send to printer next Thursday the 18th, we can have in shipped for arrival Tues or Weds.

https://www.pixartprinting.com/digital-litho-printing/printing-leaflets-flyers/

This would be the same for

[2018-10-12 15:53] xmatthewx commented on #287
For **Fest Guide Insert**, it seems like we'll want either A6 (half letter size), or A5 folded in half to fit in Fest Guide pocket. I'm not sure when they're assembling those, but it looks like if we send to printer next Thursday the 18th, we can have it shipped for arrival Tues or Weds.

Please double check timeline: https://www.pixartprinting.com/digital-litho-printing/printing-leaflets-flyers/

[2018-10-12 16:12] beccaklam commented on #287
Stickers have been ordered and will be shipped to Ravensbourne!

[2018-10-12 16:19] beccaklam commented on #286
Lock up:
![pni-logo-2](https://user-images.githubusercontent.com/20977376/46881255-00ef7f00-ce19-11e8-86e5-b4033fc05a37.png)

Closing ticket!

[2018-10-12 16:19] #286 closed

[2018-10-12 16:22] kristinashu commented on #286
Nice! If you haven't already, can you please add this and the working file to Drive https://drive.google.com/drive/folders/1t8ob7y1myaARQ63Kdr73idxQwKeCocd-

[2018-10-12 16:45] kristinashu commented on #287
Awesome!

Yea postcards sounds good, as long as Fellowship team is ok with that.

[2018-10-12 17:08] beccaklam commented on #287
@xmatthewx @kristinashu Would A6 still be a good size for the postcard?

[2018-10-12 17:20] kristinashu commented on #287
Yeah sounds like A6 is the standard postcard size

[2018-10-12 17:22] kristinashu commented on #290
@xmatthewx I've updated the top comment so the Festival Guide insert is a postcard. Also crossed out the things we won't be able to get to.

[2018-10-12 17:28] annmarie123 commented on #293
We will be on Level 1. Feel free to edit the copy and then print.

[2018-10-12 18:08] kristinashu commented on #293
Excellent, thanks!

[2018-10-12 18:08] #293 closed

[2018-10-12 18:09] kristinashu commented on #292
Excellent, thanks!

[2018-10-12 18:09] #292 closed

[2018-10-12 18:34] kristinashu commented on #291
#### Feedback in InVision is:
- URL should be foundation.mozilla.org/fellowships instead of foundation.mozilla.org
- Update copy from:
  - "**Mozilla Awards support open science.** Like Mozilla Open Science Mini-Grants, which empower projects that make scientific research more open, accessible, and transparent."
  - to "**Mozilla Awards support the next wave of responsible technology builders.** L

[2018-10-12 18:37] xmatthewx commented on #291
Let's do the larger size. We can scale down and print at Rav if they prove to be too large.

[2018-10-12 18:44] annmarie123 commented on #291
@kristinashu Last comment I made in invistion for Awards Poster is that it should read "promising approaches" instead of "diverse approaches." I also agree with Matthew that A1 should be enough.

Also, just to clarify the foundation.mozilla.org/fellowships should ONLY be on the fellowship poster. The URL for all other posters and materials are just the foundation site and perfect as they currently

[2018-10-12 18:46] kristinashu commented on #291
Ok thanks for clarifying! Will do.

[2018-10-12 20:36] kristinashu commented on #291
@annmarie123 here's a pdf of the posters for you to review: [Poster-Fellowships_and_Awards_A1.pdf](https://github.com/MozillaFoundation/Design/files/2474513/Poster-Fellowships_and_Awards_A1.pdf)

I made those two copy updates and then updated the url on the Fellowships poster.

If all looks good then I will export for print!

[2018-10-12 21:00] annmarie123 commented on #291
@kristinashu perfect! Go ahead and export for print!

Out of curiosity, will this print out be double-sided (i.e. front = fellowships, back = awards), or do you have some other branding/ content for the back already in place to be used?

[2018-10-12 21:08] kristinashu commented on #291
I'm assuming these are two single-sided posters. They could be posted on walls or hang from the table. But I'm just jumping in so not completely sure. @xmatthewx would you know?

[2018-10-12 21:44] kristinashu commented on #290
@xmatthewx I've added number of copies the the first comment. Can you please take a look and update as needed?

Also, here's a very quick pass at the postcards: [Postcard A6.pdf](https://github.com/MozillaFoundation/Design/files/2474671/Postcard.A6.pdf)

I think content fits better landscape but might be odd seeing it in the Festival Guide sideways? Might wait and see what we do for the buyers gui

[2018-10-12 22:08] annmarie123 commented on #291
Thank you for checking, @kristinashu. Not worth putting too much concern into, as I do know you are swamped. Was truly just curious. Go ahead and continue pushing the items to production + printing. Thank you again!

[2018-10-12 22:17] kristinashu commented on #291
Ok cool. Stay tuned for the Festival Guide insert!

[2018-10-12 22:17] #291 closed

[2018-10-15 13:59] xmatthewx commented on #290
Thanks @kristinashu. I'm not sure if they plan to use `1. two posters` outside of their space. Probably good to have 2 copies, but might not need 4.

For the `4. fest guide postcard`, do you think the two sides stand okay alone? Or does it need the general content we see on the [vinyl banner](https://mozilla.invisionapp.com/share/JTOARBH7SFP#/screens/325176528_Vinyl-Banner)? Especially since this

[2018-10-15 17:29] kristinashu commented on #290
Oh ok, I thought we were using copy from the posters not the banner + poster. I will check with them to see what they want.

[2018-10-16 00:40] kristinashu opened #294 "[Design for Fellows & Awards at MozFest] Festival Guide Insert"
@annmarie123 @xmatthewx here are two, fairly similar version for the insert:
[Postcard A6 v1.pdf](https://github.com/MozillaFoundation/Design/files/2480964/Postcard.A6.v1.pdf)
[Postcard A6 v2.pdf](https://github.com/MozillaFoundation/Design/files/2480965/Postcard.A6.v2.pdf)

I've made them postcard size A6 so they can be the thicker quality. You can also have some on their own at the booth.

Here'

[2018-10-16 00:54] ldecoursy commented on #283
@kristinashu Just commented on 2-3 minor typos. Other than those design is approved! Thank you :)

[2018-10-16 00:55] ldecoursy commented on #283
Can we get two copies of the A1 printed?

A0 - one copy of each poster
A1 - two copies of each poster

[2018-10-16 18:50] xmatthewx commented on #294
Both look great. I'd advocate for fewer words, but both work.

[2018-10-16 19:23] annmarie123 commented on #294
@kristinashu my team prefers v1. Can we change the copy for Mozilla Fellows to "Mozilla Fellows: A group of technologists, activists, scientists, and policymakers working to create a more secure, inclusive, and decentralized internet."

Also, nit pickiness warning: Mozilla Fellows appears bolder than Mozilla Awards, can we make sure they are equally bolded?

Also, can the text, Level 1, be bolded

[2018-10-16 19:40] beccaklam commented on #287
@kristinashu @caltrider first draft of PNI postcard for MozFest: https://redpen.io/p/yv3237593a82410b77
@caltrider FYI, this needs to go to print Thursday. Trying to solidify with mandy to figure out what the 'thing' users do is at the Privacy and Security space. Are we missing any content?

[2018-10-16 22:52] kristinashu commented on #294
@annmarie123 I've made that copy and boldness updates.

But I've actually changed the layout as well... I think landscape will actually work better here. Let me know what you think!

[Postcard A6 v3.pdf](https://github.com/MozillaFoundation/Design/files/2485217/Postcard.A6.v3.pdf)

[2018-10-16 23:15] kristinashu commented on #281
Some copy for tweeting is [here](https://docs.google.com/document/d/1hRYn2EFAJxGjikeQqsXeeiaPOdJy37dzwi10PJTl_EA/edit#heading=h.j8n12cvme0nu).

[2018-10-17 13:45] ldecoursy commented on #283
Reviewed and approved. 👍 Thank you!

[2018-10-17 18:13] #283 closed

[2018-10-17 18:35] kristinashu commented on #294
Approved!

[2018-10-17 18:35] #294 closed

[2018-10-17 19:09] xmatthewx opened #295 "Photo documentation list for MozFest"
Design people – like last year, we can make requests for photos at mozfest in [this doc](https://docs.google.com/document/d/1psSZrWX5DlnYLvWOVF6x1XTXY-vg4tOY9OBAp1TuX40/edit#heading=h.qw8939e5gkzi). I think this list is copied from last year, so don't hesitate to edit freely. Think of the stuff we struggled to find for various design jobs throughout the year. Close up of hands with phones? Whateve

[2018-10-17 21:29] kristinashu commented on #282
This is represented by other tickets and docs now

[2018-10-17 21:29] #282 closed

[2018-10-17 23:31] beccaklam commented on #287
Print files here: https://drive.google.com/drive/folders/1MdINTSq7WwUzCKIKax7-5snjPfUS57SA?usp=sharing

[2018-10-17 23:31] beccaklam commented on #287
Just waiting on a higher res image for the A0 poster from Nat.

[2018-10-18 13:17] beccaklam commented on #287
Got the updated PNI splash image from Nat and implemented in the A0 poster and updated the google drive. This is all done!

[2018-10-18 13:17] #287 closed

[2018-10-25 14:12] #281 closed

[2018-10-27 08:40] #290 closed

[2018-10-27 09:50] #285 closed

[2018-11-01 18:40] xmatthewx commented on #295
mozfest is over. this is done.

[2018-11-01 18:40] #295 closed

[2018-11-05 15:29] xmatthewx commented on #267
Nicely done.

 - I'd adjust the language slightly so it's less about the site. Useful for email, social, docs, whatever.
 - I wonder if we should link to flickr and a google drive folder of images.

Yep. We'd much rather share a few minutes for higher quality stuff.

[2018-11-05 16:08] KGorr opened #296 "Open Leadership and Event design banner"
Inquiring about an Open Leadership and Event design banner to add to our Ti.To sign up page. It's quite sad in its current state.

The language can simply say "Open Leadership & Events"

https://ti.to/Mozilla/mozilla-foundation-ole

cc: @xmatthewx @Saallen

[2018-11-05 17:01] xmatthewx opened #297 "AMA Video Trimming"
Description: We're doing a virtual AMA and will be recording it. We want to break the video down into bite-size question-answer snippets.

Driver:  Rachita
Accountable: Jon
Consluted: Sara, Jochai, Amba, Jon

[2018-11-05 17:09] xmatthewx opened #298 "Design Donate CTA for mozilla.org"
It's time to plan and prep a Donate CTA for use on mozilla.org.

@WillatMozFdn @jessevondoom - Can you help complete the roles below? And give us some guidance on the specs and requirements? Thanks!

Driver: @WillatMozFdn
Accountable:
Responsible: @kristinashu, Eric Renaud
Consulted:
Informed:

[2018-11-05 21:18] natalieworth commented on #267
Thanks @xmatthewx ! I added the feedback and have now published the page here https://foundation.mozilla.org/en/docs/how-do-i-wagtail/photo-and-image-guidelines/

If there are any other changes, feel free to reopen this ticket! :D

[2018-11-05 21:18] #267 closed

[2018-11-05 21:39] xmatthewx commented on #267
Thanks. I shared a link with Kevin. I'm thinking the Mozillian is a good way to start socializing this.

[2018-11-06 18:53] xmatthewx opened #299 "Prep PR assets for Buyers Guide"
Next week (Tuesday), we have a press event for the Buyers Guide. The PR agency has requested 2 assets. We can reach out to Lotta with questions, but if answers don't come quickly, we might have to make best guesses.

cc: @kristinashu to help triage

1) Side by side comparison of a few popular products
 - They suggest: Google Home vs. Amazon Echo; Apple TV vs. Google Chromecast"
 - Format: letter s

[2018-11-06 22:56] kristinashu commented on #296
I've pulled specs from https://github.com/MozillaFoundation/mozfest-design-2018/issues/104#issuecomment-432013881

@KGorr will one of these images work?

![tito-pattern](https://user-images.githubusercontent.com/1068783/48099341-22ebdf80-e1d4-11e8-86e7-bda4fd38eecb.jpg)
![tito-people](https://user-images.githubusercontent.com/1068783/48099342-22ebdf80-e1d4-11e8-8e3e-26c5e287ec3c.jpg)

[2018-11-06 23:11] kristinashu commented on #299
1. Side by side comparison of a few popular products
- Jen recommends we do either Dot Creativity vs Harry Potter Wand and
Switch vs. Playstation (@caltrider please edit comment if you want to update)
- Is there any particular content/criteria they want to highlight? Knowing why the want to compare products in the first place would help guide us.

2. "Animated gif of the meter moving from Not Cree

[2018-11-06 23:54] natalieworth commented on #299
@xmatthewx @kristinashu For the animated Mockup, is this something that is going to be visually displayed at the PR event? Or is it for social? Just wondering what size or the format it'll be displayed on if it's something other than social media.

[2018-11-06 23:55] natalieworth commented on #299
Also @xmatthewx @kristinashu are the product 'vs.' images going to be printed at the event? How is everything going to be displayed?

[2018-11-07 16:16] KGorr commented on #296
@kristinashu - thank you! I like the one with the people

[2018-11-07 18:03] KGorr commented on #296
@kristinashu - I can grab the image but just realized Marc W is no longer on the team and he is the one who has the keys to the page. I'm going to have to figure out how to update it now...get back with you soon!

[2018-11-07 18:10] KGorr commented on #296
AHA! Figured it out: https://ti.to/Mozilla/mozilla-foundation-ole It seems small...is that OK?

[2018-11-07 18:17] kristinashu commented on #296
Oh weird. I'm not really familiar with tito but thought it would look like the mozfest one https://ti.to/Mozilla/mozilla-festival-2018

[2018-11-07 18:45] KGorr commented on #296
@kristinashu - thank you for sharing that link! I poked around a little more and found a different spot to upload the image. It looks much better now! https://ti.to/Mozilla/mozilla-foundation-ole

Thanks for your help.

[2018-11-07 18:52] kristinashu commented on #296
Ah awesome!

[2018-11-07 18:52] #296 closed

[2018-11-07 21:42] kristinashu commented on #299
Will just use social assets https://github.com/mozilla/foundation.mozilla.org/issues/2090

[2018-11-07 21:42] #299 closed

[2018-11-09 22:59] natalieworth commented on #297
@jonmozilla What's the timeline for this? Is it already recorded? Thanks

[2018-11-13 19:25] xmatthewx commented on #298
We will recycle last year's banner.
 - We have been invited to update the background color and super subtle background image.
 - I think we should also suggest the paragraph on the right have a max width and/or more right margin.

Deadline: Soon. The goal is to get this to MoCo quickly so they can launch this in time for Giving Tuesday, 11/27

After shipping, we might be able to suggest and test o

[2018-11-13 21:01] xmatthewx opened #300 "Add logos to Minimum standards blog post"
Work with Sara to place 3 org logos on [this medium post](https://medium.com/read-write-participate/minimum-standards-for-tackling-iot-security-70f90b37f2d5).

Logos are shared via email with @kristinashu.

After, we should follow up to get this evergreen content onto an initiatives page on the foundation site.

[2018-11-14 03:45] #300 closed

[2018-11-14 12:41] WillatMozFdn commented on #298
Thanks, @xmatthewx !  The copy & layout there look fine to me for a MVP to get it live by Giving Tuesday, Nov. 27.  As we get into December I'm interested in testing some copy variants ... do you know if we could use something like Traffic Cop in order to run some A/B tests?

For the MVP on Giving Tuesday, can we please use parameters ...

utm_source=mozilla.org
utm_medium=referral
utm_content=ban

[2018-11-14 21:03] kristinashu commented on #298
@WillatMozFdn that was last year's design. I'm working on a comp now that will be similar but slightly better!

[2018-11-15 18:41] kristinashu commented on #298
@WillatMozFdn here's what we're thinking https://redpen.io/p/rsd6705d3fe645c9b8

Trying to keep a similar layout as last so it's less for for the developer but fixed up some of the layout and aligned it with our latest branding. Let me know what you think then I can prep the assets for dev.

[2018-11-15 19:02] WillatMozFdn commented on #298
@kristinashu I like these!  Either one would work, generally ... I lean towards the hearts more, it's a constant motif in our fundraising and seems like that would be a good reinforcing thing overall.  One issue, though, the hearts are not very discernable for me; can we make the hearts outlines heavier like the cubes one?  Also -- would prefer, if this is under our control, to present amounts fro

[2018-11-15 19:03] WillatMozFdn commented on #298
One question -- do we localize this for different locales?  Because obvs, a $ sign would not be appropriate for a donor in the UK or EU ....

[2018-11-15 20:55] WillatMozFdn commented on #298
Thanks @kristinashu , that looks better.  I'll find out re: localization.

[2018-11-17 20:59] WillatMozFdn commented on #298
Hey @kristinashu , a couple other random tweaks we should make.  a) one we get design finalized, can you do a version that does not include any buttons with specific money amounts, but just one big(ger) red donate button?  (That'll definitely help with localization for countries with different currencies.) ... and b) verbage-wise, we should use "the Mozilla Foundation asks for donations" (not just

[2018-11-19 18:14] xmatthewx commented on #298
@WillatMozFdn - when this is ready, will you share with Craig or do you want me and Kristina to queue that up? I'm happy to lead or follow.

[2018-11-19 21:00] kristinashu commented on #298
I've updated the comps with your feedback @WillatMozFdn and also added tablet and mobile view https://redpen.io/p/rsd6705d3fe645c9b8

Here's the background pattern ![heart-pattern](https://user-images.githubusercontent.com/1068783/48734672-f768ec00-ebfa-11e8-8d2c-07622a3dd4ce.jpg)

@xmatthewx let me know if Craig needs anything else!

[2018-11-19 21:32] WillatMozFdn commented on #298
OK, this looks great to me -- let's turn it over to MoCo peeps for implementation, with the goal of getting it up for Giving Tuesday.  (I'm unfortunately on PTO for the next couple of days here, but will be checking in occasionally.)  If we can localize, the dollar sign version can be used for US, Canada, Australia and NZ ... would be ideal if we could also make a Euro version for use in the EU ..

[2018-11-20 17:39] xmatthewx opened #301 "Build Donate Banner for mozilla.org"
To foster donations via mozilla.org, we will run a banner on the site similar to what we used last year.

Goal: Launch 11/27 for Giving Tuesday

 - Design: @kristinashu
 - Fundraising: @WillatMozFdn
 - PM: @xmatthewx
 - Consulted: @jessevondoom
 - Build: @craigcook

[2018-11-20 17:39] xmatthewx commented on #301
Parameters for links

[code]

[2018-11-20 17:41] xmatthewx commented on #301
Localization

 - Dollar sign for US, Canada, Australia and NZ
 - Euro version for use in the EU
 - Everyone else gets the no-suggested-amounts version with just the donate button

[2018-11-20 17:48] xmatthewx commented on #301
### Responsive Design Comps

## Mobile

<img width="398" alt="image" src="https://user-images.githubusercontent.com/53411/48792446-4a59a680-ecc2-11e8-8ea2-96c5c177113d.png">

## Desktop

<img width="1366" alt="image" src="https://user-images.githubusercontent.com/53411/48792395-25fdca00-ecc2-11e8-98f3-885047569f3c.png">

## Mid-sized screen

<img width="870" alt="image" src="https://user-images.gi

[2018-11-20 17:49] xmatthewx commented on #301
### Localized Comp

 - No suggested amounts outside US, Canada, Australia, NZ, EU

<img width="1366" alt="image" src="https://user-images.githubusercontent.com/53411/48792363-12526380-ecc2-11e8-876d-93b52888c0a0.png">

[2018-11-20 17:53] xmatthewx commented on #301
### Background image file

![heart-pattern](https://user-images.githubusercontent.com/53411/48792792-2c407600-ecc3-11e8-9bb7-60141f739d2d.jpg)

[2018-11-20 19:01] kristinashu commented on #301
Here's the Sketch for the comps and the Illustrator file for the background pattern: https://drive.google.com/drive/folders/1O96mYtGhCqrQGTUjtGODG9jdzIO2Qngz?usp=sharing

[2018-11-20 22:39] kristinashu commented on #301
Hi @craigcook, Matthew shared your progress with me https://bedrock-demo-craigcook.oregon-b.moz.works/en-US/ It's looking good and I much prefer the square buttons!

Just a few thoughts:

1) The banner text should say with the grid of the main site (for all screen widths).

2) Please reduce the gap between the body copy and the radio buttons (so it has a similar amount of gap above and below the r

[2018-11-21 16:48] xmatthewx opened #302 "Prep for Global Sprint"
Let's prep for Global Sprint! This is a temporary planning ticket based on a conversation with Zannah.

It'll be a bit earlier this year:
 - Sprint: March 29-30
 - Announced: mid-January

Tasks
 - [ ] Design a banner with name and artwork to match current site/brand
    - Let's start this soon so it is ready in December if needed for video title cards
    - Just title. Don't let content be a block

[2018-11-21 16:59] xmatthewx commented on #298
This is done. Tracking build in #301.

[2018-11-21 18:43] xmatthewx opened #303 "Update buyers guide grahpic on medium"
From slack:

Mozilla, when used in a sentence should not be logo style. Should just be written. I think the way you’ve got it is a fine exception and more impactful … but maybe remove the word “by” and move the logo to the bottom? or just type the name out.

https://medium.com/@harraton/how-we-evaluated-the-products-in-mozillas-privacy-not-included-buyer-s-guide-2018-6b122f885de0

[2018-11-21 20:20] kristinashu commented on #303
No rush on this! Just give Jen the image next week and she can update the Medium post.

[2018-11-21 22:33] craigcook commented on #301
I've pushed updates to https://bedrock-demo-craigcook.oregon-b.moz.works

I also wanted to ask about UTM parameters we're passing through to donate.m.o. Here's what I have at the moment:

[code]

Will that work for your purposes? It's identical to last year except for updating "EOYFR2017" to "EOYFR2018".

[2018-11-21 22:34] craigcook commented on #301
Oh and now I see you provided params above... oops! I'll update.

[2018-11-21 22:49] kristinashu commented on #301
Banner is looking sweet! I like how you've put the radio buttons on one line.

[2018-11-21 23:00] kristinashu commented on #303
Nat did it! https://github.com/mozilla/foundation.mozilla.org/issues/2090#issuecomment-440839670

[2018-11-21 23:00] #303 closed

[2018-11-22 16:15] beccaklam commented on #303
Thanks @natalieworth !

[2018-11-22 18:39] natalieworth commented on #303
@caltrider When you're back from turkey times, I've got the image in here to update on the blog:
https://drive.google.com/open?id=15qh86j_OgQN84urpeZef3eJNgZjuACQk&authuser=natalie@mozillafoundation.org

[2018-11-22 18:39] natalieworth commented on #303
![medium-background-pni](https://user-images.githubusercontent.com/14876567/48918653-e1e60300-ee42-11e8-8bee-adb87fd7eeca.jpg)

[2018-11-26 16:41] caltrider commented on #303
Medium blog post updated. Thanks @natalieworth

[2018-11-26 20:51] xmatthewx commented on #301
This _is_ looking sweet. Very slick.

Two tiny things, neither should be a blocker to launch.
  1) At some screen widths, the X-to-close button touches the header text. Text could use a little right margin.
  2) Second row amount buttons are bumped toward the right.

Thanks again for the great speedy work!

<img width="676" alt="image" src="https://user-images.githubusercontent.com/53411/49041043-

[2018-11-27 18:55] kristinashu commented on #301
It's live and looking good!

[2018-11-27 18:55] #301 closed

[2018-11-27 21:08] kristinashu opened #304 "Buyers Guide at All Hands demos"
To do:
- source table wrap
- source bow & ribbon
- candy (maybe holiday themed: candy cane, Happy Potter theme, Reeses trees)
- poster (size?, where to print? behind table or standing on table?, design)

To bring:
- stickers (Jen)
- lights (Theo)
- monitor (already there)
- hdmi + dongle (Rebecca)

Set up:
- Wednesday, Dec 5
- Table #3
- Set up: 9 am - 11 am (we will leave Plenary 30min early)
- D

[2018-11-27 21:15] kristinashu opened #305 "Buyers Guide at All Hands Plenary"
Jen is presenting at our Plenary 🎉 so we will make some slides!

3-5 slides

Some ideas:
- pics of people who worked on it (Jen to provide list)
- clip of [video](https://www.abcactionnews.com/news/science-and-technology/here-s-how-to-make-sure-your-tech-gadgets-are-cyber-safe)
- the guide, creep-o-meter, seal of approval...
-

cc: @natalieworth @beccaklam @caltrider

[2018-11-27 21:34] caltrider commented on #305
Here's the list of people. Let me know if I left anyone out:
People for the People Slide:
Kristina
Rebecca
Natalie
Alan
Matthew
Pomax
Cade
Mavis
(any other devs who worked on it who I’m missing!)
Rebecca Ricks (can probably find a pic of her on the Fellows site)
Janice Tsai
Theo
Jessie VD
Ashley
Sara H
Marshall Erwin
Abigail Phillips
Kevin Z
Stumpy! (jk)

[2018-11-27 23:13] natalieworth commented on #304
I have lights!

[2018-11-27 23:14] natalieworth commented on #304
Wondering if we could also steal the ribbon materials in our office + make a ribbon in orlando?

[2018-11-28 16:49] kristinashu commented on #303
@caltrider can you please ask Janice to update the image in this post? https://medium.com/@harraton/how-we-evaluated-the-products-in-mozillas-privacy-not-included-buyer-s-guide-2018-6b122f885de0

[2018-11-28 16:59] caltrider commented on #303
@kristinashu Done! She said she was at an appointment but would have it done in a couple hours. Is there anywhere else that image needs to be replaced?

[2018-11-28 17:02] kristinashu commented on #303
Looks like there's at the bottom here https://medium.com/read-write-participate/tips-to-avoid-buying-the-creepiest-gifts-this-holiday-season-ab269c3b68df

[2018-11-28 17:07] caltrider commented on #303
Oh, good catch. What a weird place for me to stick that image. I've swapped it out now.

[2018-11-28 17:12] kristinashu commented on #303
Found this one! But I think we can leave it. https://medium.com/@moz2000tw/%E5%B9%B4%E7%B5%82%E8%B3%BC%E7%89%A9%E9%9A%B1%E7%A7%81%E9%98%B2%E8%AD%B7%E6%8C%87%E5%8D%97-1d95c9e81819

[2018-11-28 17:13] caltrider commented on #303
Ha! I would have no idea how to go about getting that one changed. Go Taiwan.

[2018-11-28 22:48] natalieworth commented on #305
@caltrider Stumpy provided moral support! 🤣

[2018-11-29 15:09] caltrider commented on #305
@natalieworth He did indeed (as did my girls too)!

![00100dportrait_00100_burst20180205111648324_cover](https://user-images.githubusercontent.com/22063437/49230940-119a8b00-f3ae-11e8-9433-d5f9a517d1ad.jpg)

[2018-12-11 20:32] xmatthewx opened #306 "Spruce up new Leadership Giving page"
We have a new staff authored page for major donors. It could use a little design TLC.

 - [x] Clean up headers. add bullets. a table or two might be useful. does wagtail let us do tables?
 - [x] Consider a graphic or two (let's talk with stakeholder first). no need to block part 1.

Consulted: Jesse Ward

 - url: https://foundation.mozilla.org/en/initiatives/leadershipgiving/
 - cms: https://found

[2018-12-11 20:44] xmatthewx commented on #306
Jesse W says:

[2018-12-11 20:46] xmatthewx commented on #306
Jesse W prepped [a doc](
https://docs.google.com/document/d/1DTgg1X1AIrfW5lQgiyr-uqSzlbMVvODVzfon4PvKSac/edit) with a bit more layout than we see in the CMS. If we can't yet do tables in wagtail, we should discuss it with Alan.

[2018-12-12 00:06] kristinashu commented on #306
We can't make tables. I think the best way (and only way) to style it is if we add images but it's definitely tough to make it look good. I'm playing around with it here https://foundation.mofostaging.net/en/initiatives/leadership-giving-program-test/ (image are of course FPO).

[2018-12-12 00:37] kristinashu commented on #306
Actually, I've updated spacing and copy formatting on the prod site. I think it's looking better, especially the bottom part that used to be super spaced out. Now I think we could just add images to the Become an Internet Health Leader section:

<img width="787" alt="image" src="https://user-images.githubusercontent.com/1068783/49839218-fabb4780-fd62-11e8-8440-bf02b926fd84.png">

[2018-12-12 20:38] xmatthewx commented on #306
👍

[2018-12-12 21:04] beccaklam opened #307 "Follow up on Personas work"
Work was started by @taisdesouzalessa in July 2017 and debuted at the Dec 2017 All Hands with a call for feedback post All Hands. Creation and process of this work is documented [here](https://github.com/mozilla/foundation.mozilla.org/issues/566) and feedback [here](https://github.com/mozilla/foundation.mozilla.org/issues/945).

Next steps were to show this work to directors to gather input about

[2018-12-12 21:07] beccaklam commented on #279
Closing this ticket for now, opened summary ticket #307, will follow up on this work in 2019.

[2018-12-12 21:07] #279 closed

[2018-12-12 21:13] beccaklam opened #308 "Continue User Testing on Foundation site"
Continue to iterate and do testing on Foundation site. Work started by @taisdesouzalessa and documented [here](https://github.com/mozilla/foundation.mozilla.org/issues/1655). This could align with our Metrics and Reporting OKR goals.

[2018-12-13 17:13] kristinashu commented on #251
What?! It's been a year already!!! Get your stuff in!

[2018-12-13 17:14] #306 closed

[2018-12-13 17:51] xmatthewx commented on #306
Looks great. I love that it's quick and easy to knock out graphics with that style.

[2018-12-18 17:59] xmatthewx opened #309 "Add polish and promote the Trustable Technology Mark page"
Let's add some polish to this page and then promote it on the parent initiatives page.

Page owner: Peter Bihr

 - [ ] add design polish, logo, etc
 - [ ] promote on initiatives page

Links
 - Page: https://foundation.mozilla.org/en/initiatives/trustable-technology-mark/
 - CMS: https://foundation.mozilla.org/cms/pages/242/edit/
 - Site: https://trustabletech.org

cc @kristinashu to triage

[2019-01-04 23:55] sabrinang opened #310 "Brand Standards Outline"
**From one of our [draft team KRs](https://docs.google.com/document/d/1JUZX8DwPHdhlMzI_8t7y75mgJXvadSPcnm6ziHoD4no/edit#), we outlined:**

This issue tracks our progress on how we plan on publishing and presenting Mozilla Foundation brand standards.
_______________

The design team can focus on the design portions of the standards as Natalie has done some site brand work already and reference docs

[2019-01-04 23:58] sabrinang commented on #310
Started a planning draft and notes doc on gdocs: https://docs.google.com/document/d/1lJtLUbW3PRJ7kA8JWWRIgtIP_UTMYbrBwqlPBwNgU_U/edit

[2019-01-08 22:31] sabrinang commented on #310
@natalieworth A working gslides doc is here to capture progress on audits, explorations and ideas: https://docs.google.com/presentation/d/1mQJOwKj1OQkXlhHOVa2uLX0gRPQ-PffW0B3ffXztk5w/edit#slide=id.g4c309f7714_0_37

[2019-01-10 21:38] kristinashu opened #311 "V-Day Donate banner on moz.org"
From @WillatMozFdn: moz.org will feature a donate banner from Feb 13-15!

It will be the same as end-of-year #298 and #301 but we should swap out the background image to keep it fresh and Valentines Day-y ❤️ ❤️ ❤️.

cc: @xmatthewx @gideonthomas

[2019-01-10 22:02] WillatMozFdn commented on #311
Our friends over on the MoCo side also started a ticket for this one yesterday ... that's here ... https://github.com/mozilla/bedrock/issues/6693 ... does it make sense to combine the two, or just work in one of them?

[2019-01-10 22:45] kristinashu commented on #311
This can be the design ticket and https://github.com/mozilla/bedrock/issues/6693 will be the dev implementation ticket. Let's just be sure to add our final design there once it's all approved.

[2019-01-10 23:19] gideonthomas commented on #311
@kristinashu do we have copy for this / do you need copy for the design? If so, let's figure out copy in this ticket instead of the bedrock one.

[2019-01-11 16:31] WillatMozFdn commented on #311
Hey @gideonthomas ... we're actually (for the first time!) going to do some A/B testing with this one.  Copy still a little tbd, but for now, we can assume the length will be very similar to the EOY banner.  Let me know if you want something that's pretty close to final for generating a comp ... but just know that we may tweak it a little bit, and also have a version B ...

[2019-01-11 20:10] gideonthomas commented on #311
Nope. we're good @WillatMozFdn, thanks!

[2019-01-15 04:09] sabrinang opened #312 "Brand Standards: Color"
### Description

Standardize how colours are documented, introduced and used across foundation properties. This process could include an audit, clean-up, feedback and proposal phases.

[2019-01-15 04:20] sabrinang commented on #312
Please refer to working doc in gslides: https://docs.google.com/presentation/d/1mQJOwKj1OQkXlhHOVa2uLX0gRPQ-PffW0B3ffXztk5w/edit#slide=id.g4c6a205038_2_649

**Color Audit**
I documented what is currently live and used by:
- foundation site
- privacy not included site
- mozilla
- mozilla festival (not site as it is subject to be aligned)

![image](https://user-images.githubusercontent.com/2492510/5

[2019-01-15 19:03] kristinashu commented on #311
Hi @WillatMozFdn, here is the updated background design we've been working on https://redpen.io/p/zofc918b58da625a20

Let me know if you have any feedback/concerns or want to see it with new copy.

[2019-01-15 20:19] WillatMozFdn commented on #311
@kristinashu ... this looks great to me, let's go with it.  A question on implementation ... how did we turn it over to the moz.org team for the EOY push?  Did we give them all the code they needed, or did they build substantial chunks of it?  Reason I ask is that we're going to run this A/B test on the verbage this time using traffic cop ... your mockup can be version A (control) ... and version

[2019-01-15 20:32] kristinashu commented on #311
Yeah Craig did all the implementation for the EOY banner. We only provided design (background banner image, font styles, and button colors).

I will ask Craig in the implementation ticket https://github.com/mozilla/bedrock/issues/6693 if it is possible to A/B test the banner copy and background image.

I've also added a quick version of what the "threat-based" version could look like: https://redp

[2019-01-15 23:27] sabrinang opened #313 "Blue Sky Designs for Foundation Site"
### Description

Provide an overview of the iterations of blue sky visual concepts for the foundation site. This issue will track the future vision of the site which will help inform how we update the current site.

### Process
We are planning to slowly test and integrate the blue sky designs by breaking it up into elements and components in 1-2 week sprints. We have divided and prioritized them i

[2019-01-15 23:28] sabrinang opened #314 "Foundation Site: Line System"
### Description

Audit the current line and dividers on the site and examine where we can align (widths, colours) by referring to new blue sky ideas. Mockup new ideas in context of existing site and collect feedback. After successful review, we can prepare for implementation.

**Line system may include:**
- horizontal rules
     - hero or footer dividers, main section dividers, secondary dividers

[2019-01-15 23:36] sabrinang opened #315 "Foundation Site: Image & Text Components"
### Description

Audit the current image/text components on the site and how we can align cut out overlap styles (proportion of cut and ratio of image) by referring to new blue sky ideas. Mockup new ideas in context of existing site and collect feedback. After successful review, we can prepare for implementation.

**Image & text components to consider:**
- various widths
   - full, narrow, mobile

[2019-01-15 23:45] sabrinang opened #316 "Foundation Site: Promotion Components"
### Description

Audit the current promotion components (similar to image/text) and examine where we can evolve this by referring to new blue sky ideas. Mockup new ideas in context of existing site and collect feedback. After successful review, we can prepare for implementation.

**Promotional components may include:**
- full width call to action sections
   - large, small
- imagery or iconography

[2019-01-15 23:46] sabrinang commented on #316
This one is harder to describe but some existing examples are:

<img width="902" alt="image" src="https://user-images.githubusercontent.com/2492510/51217253-34401f00-18dc-11e9-8b15-8c1601dc0863.png">
<img width="718" alt="image" src="https://user-images.githubusercontent.com/2492510/51217270-40c47780-18dc-11e9-920b-5b113753842d.png">
<img width="890" alt="image" src="https://user-images.githubuser

[2019-01-16 00:03] sabrinang opened #317 "Foundation Site: Buttons & Links"
### Description

Audit the current button and link styles on the site and examine what we want to introduce or update by referring to new blue sky ideas. Mockup new ideas in context of existing site and collect feedback. After successful review, we can prepare for implementation.

**Buttons and links may include:**
- call to action buttons
- buttons
   - main, secondary, inverse
- button states

[2019-01-16 00:13] sabrinang opened #318 "Foundation Site: Sign Up Component"
### Description

Audit the sign-up component on the site and examine how this can be updated by referring to new blue sky ideas. Mockup new ideas in context of existing site and collect feedback. After successful review, we can prepare for implementation.

**Sign up component may consider:**
- where it may show up other than home page
- various widths
- how it works with other components near foot

[2019-01-16 00:27] sabrinang opened #319 "Brand Standards: Typography"
### Description

Standardize how typography is documented, introduced and used across foundation properties. This process includes an audit, clean-up, feedback and proposal phases.

[2019-01-16 00:34] sabrinang opened #320 "Brand Standards: Guide Mockup"
### Description

Create a design mockup of how the brand standard guide looks like on the foundation site. This will refer to #310 outline to inform the IA on the guide.

As an MVP and proof of concept, we will use wagtail to build this as it should be staff editable and will upload image placeholders to show our content.

[2019-01-17 18:47] #311 closed

[2019-01-17 23:01] natalieworth commented on #314
Notes on rule styling:
- full width dividers/ rules: grey w/ 1 px weight (e.g. menu border-bottom)
- h2 heading dividers: black, 4px (e.g. latest news)
- anything other than h1 and h2: black w/ 1 px weight
- card shadows : black, 4px (e.g. latest news card)
- less than full width of page/ not a header: black, 2 px (e.g. News section)
- accordian: 1px weight, black (e.g. about page)
- call-out rule

[2019-01-18 18:25] xmatthewx commented on #320
I would definitely lean more toward prototype, build, and iterate on wagtail, and away from mockups.

[2019-01-21 21:42] natalieworth commented on #313
Updated the homepage in Redpen here:
https://redpen.io/zyb1715539e7379499

Added the new blue/ purple color based on Sabrina's work (to the links, buttons, and footer area).

[2019-01-21 23:39] natalieworth commented on #315
Notes:
This page includes examples of updated imagery (photography + illustration):
https://redpen.io/zyb1715539e7379499

Ideally:
- untreated photography (in terms of no color overlays or filters)
- primarily use photography over illustrations (maybe 70% photography, 30% illustration?)
- bright/ high contrast/ high res photos
- I think we should leave it fairly open-ended for illustration interpr

[2019-01-21 23:53] natalieworth commented on #318
Original 'blue sky' iteration for the sign-up/ footer area:
<img width="1041" alt="screen shot 2019-01-21 at 3 52 21 pm" src="https://user-images.githubusercontent.com/14876567/51504211-9f826900-1d94-11e9-9880-26cedc1a63a3.png">

[2019-01-21 23:55] natalieworth commented on #318
I think to scale it back (and avoid it feeling too much like a redesign), we could update the sign-up/ form sections as follows:

<img width="963" alt="screen shot 2019-01-21 at 3 55 05 pm" src="https://user-images.githubusercontent.com/14876567/51504266-f4be7a80-1d94-11e9-957f-457dafcf06e1.png">

[2019-01-22 00:12] natalieworth commented on #318
Simplified the form on the campaign pages: https://redpen.io/tf35889d74f7ce2ff9

[2019-01-22 00:12] natalieworth commented on #318
![multipage copy 2x](https://user-images.githubusercontent.com/14876567/51504723-4d8f1280-1d97-11e9-8947-688dabd94fef.jpg)

[2019-01-22 00:51] sabrinang commented on #312
Continuing the work color in gslides: https://goo.gl/jwnocf  _(slide 12-24)_

After the audit, I looked at cleaning up the colours with some recommended changes and currently coordinating with @natalieworth to test out a new brand link blue color (replaces existing blue and yellow on foundation site). Take a look at the slides and review changes and recommended ideas. I'd like to hear feedback on

[2019-01-24 17:53] kristinashu opened #321 "V-Day Buyers Guide graphics"
Need a few image options for Twitter posts, blog, and press press kit.

### References:
- original social graphics https://redpen.io/p/dud88d7ca8c480714a
- v-day themes for site https://redpen.io/p/mg0194f75b80b2008e
- v-day brief https://docs.google.com/document/d/1wQxWgvsh6dujLxrxDCJgo2WQeD4xmBPDdafoZyQO670/edit
- copy for blog post https://docs.google.com/document/d/1BCABlmxXckvQTAsDwnSY3nFkxcv

[2019-01-25 18:01] natalieworth commented on #321
Got a start on these and added some draft options in here https://redpen.io/p/yg5faa4931a3fe3418

I've also mocked up a quick 'press kit' kind of as a blue-sky option of where to house everything for the site. What do you guys think? I was think if PNI site is something that's frequently updated every year, it'd be easier to have cms access and we can just swap out images/ content?

[2019-01-25 20:42] beccaklam commented on #309
Design polish and logo added: https://foundation.mozilla.org/en/initiatives/trustable-technology-mark/

[2019-01-28 16:58] kristinashu commented on #309
Sweet thanks @beccaklam!

I'll work on adding it to the site.

@xmatthewx when you say Initiatives page, do you mean at the bottom of the page with `Featured Programs and Projects`?

[2019-01-28 20:44] xmatthewx commented on #309
Yes and we should pass this along to Anil and Sydette to decide specifics for curation.

[2019-01-29 23:18] sabrinang commented on #312
## Color
- Shade range with more than 3 are noted with -# suffix.
- Shade range with less than 3 are noted with light and dark prefix.
- Avoid using opacity when not using it for layered effects and establish tint/shade as a swatch (use rgb not rgba to avoid this)
- All UI should be from the Foundation palette only

If you download this sketch plug-in: https://github.com/andrewfiorillo/sketch-pale

[2019-01-29 23:47] sabrinang opened #322 "Update Color in Design (Sketch) Files"
By referring to colors in issue https://github.com/MozillaFoundation/Design/issues/312#issuecomment-458746752 and color audit slides on https://goo.gl/jwnocf, update and clean up our design sketch files to ensure they are using the correct swatch palettes and corresponding symbols. These files include:

- Style Guide.sketch
- Foundation Site.sketch
- Buyers Guide.sketch

If you download this sketc

[2019-01-30 00:17] #312 closed

[2019-01-30 00:19] sabrinang commented on #322
Note: It would be useful too to have an updated adobe CC library of the colours too

[2019-01-30 00:52] sabrinang commented on #322
I created the CC library of Mozilla Foundation brand standard colours here: https://adobe.ly/2UpZPhZ

[2019-01-30 23:15] natalieworth commented on #321
For documentation, the V-day social graphics are being added here: https://drive.google.com/open?id=1KR0zYn1ncQAhDKY9BQGadsGD9LvBBaI_&authuser=natalie@mozillafoundation.org

The gifs are still to come!

[2019-01-31 23:55] natalieworth commented on #321
All social files are [here](https://drive.google.com/drive/folders/1KR0zYn1ncQAhDKY9BQGadsGD9LvBBaI_?usp=sharing)!

Let me know if there are any additional/ last changes 👍

[2019-02-01 19:16] sabrinang opened #323 "Guideline & Template for Donor Letters"
Provide style guidelines and a template for our payment process vendor so they can produce cohesive branded thank you, rejection or thunderbird letters.

Style guidelines may include:
- page margins
- font style and size
- logo placement and footer
- signature

Template will be create as a google doc template.

Consider including various footers/headers for confidential letters as a template optio

[2019-02-04 19:10] kristinashu commented on #321
Awesome, Kevin and Jen approved! And the have your files.

❤️ ❤️ ❤️

[2019-02-04 19:10] #321 closed

[2019-02-05 00:46] sabrinang commented on #323
working on template on gdoc here: https://docs.google.com/document/d/1Z9yVc5unkva3Y1axCZ5j3CmwISBIFDBbcbTqYaxkNoM/edit

[2019-02-05 19:38] beccaklam opened #324 "Facebook Open Letter (Full Page Ad) in Politico"
Brandi Geurkink from the Campaigns team reached out with a request for an open letter they're hoping to publish in Politico early next week as a full page ad.
Still need to gather:

- Exact due date: Feb 8 COB UK
- Dimensions of the ad, file format: Adobe PDF (PDFX-1a)
- Content is [here ](https://docs.google.com/document/d/13c1MMx8uPGldbNSAsh1J8G0xwjMjeKaQbxmSgKAFlDU/edit?usp=sharing)

CC: @krist

[2019-02-05 20:07] stephaniemcv commented on #323
My sincerest apologies @sabrinang, I gave you the old version of the acknowledgement. The most up to date version is here: https://drive.google.com/file/d/0B-3ObAUfqddcMmJhVWR2T2J2OEhuSnp4WGUwSFA1NjNvZmRZ/view?usp=sharing

[2019-02-06 22:54] stephaniemcv commented on #323
Here is also the reject letter: https://drive.google.com/file/d/0B-3ObAUfqddcSm85TElnOG4tZkUxQjcxVENOdXpxV1BaYUY0/view?usp=sharing

[2019-02-06 23:44] kristinashu opened #325 "Assets for Fellowship recruitment - March 12"
Fellowship recruitment opens March 12 so we will need graphics for social media and blog posts.

@annmarie123 is compiling a list in [this doc](https://docs.google.com/document/d/1i4p-_dSY1MHyCkI1OLt3r9di0bmmz-uruzvYVDj1_7Y/edit?ts=5c5b70b5) that will include dimensions and content.

[2019-02-08 17:34] beccaklam commented on #324
Latest iteration of letter, waiting on final list of signatories:
[Facebook - Open Letter.pdf](https://github.com/MozillaFoundation/Design/files/2846169/Facebook.-.Open.Letter.pdf)

[2019-02-12 01:08] stephaniemcv commented on #323
Just checking in on this. I have a standing meeting with the vendor every Tuesday and wanted to know if there where any updates I can pass along. Thanks!

[2019-02-12 21:53] beccaklam opened #326 "Design Template for Misinfo Campaign Resources"
The Misinfo Campaign will have resources for partners to use on how to campaign on the topic of misinformation. These resources will be google docs that are mostly text. The design team has been tasked with coming up with simple styling for headings and body type. This is also a good opportunity to use the letterhead work @sabrinang has started with mozfest.

[2019-02-12 21:54] beccaklam commented on #326
@sabrinang Can you send me links (google docs) to the work you've already started?

[2019-02-13 01:26] sabrinang commented on #326
**GDoc Examples**
Donor Letters: https://docs.google.com/document/d/1Z9yVc5unkva3Y1axCZ5j3CmwISBIFDBbcbTqYaxkNoM/edit

MozFest Sponsorship Package: https://docs.google.com/document/d/1qHA73B_1idkAfldOk-wb3ftNfR3Xmg2TTuQhnHLkoOk/edit#heading=h.9dtxhg3nt1qp

[2019-02-13 13:51] beccaklam commented on #326
Thanks Sabrina! These are awesome 💯

[2019-02-13 17:10] sabrinang commented on #323
@stephaniemcv Do we need Will's signature for the reject letter? (I made Mark's a vector) and will these be printed on printers that can print to the edge of the page?

[2019-02-13 18:25] beccaklam commented on #324
This is the final iteration that was sent to Politico:
[Facebook - Open Letter.pdf](https://github.com/MozillaFoundation/Design/files/2861615/Facebook.-.Open.Letter.pdf)

[2019-02-13 18:25] #324 closed

[2019-02-13 18:59] beccaklam commented on #326
Starting mocking up the resource template based on Sabrina's work and the Foundation Site style guide: https://docs.google.com/document/d/1eQNvNPFoAhOpUf9oCK8vCAqi0At_uXzFWml9vI-e2MQ/edit?usp=sharing

[2019-02-19 17:43] stephaniemcv commented on #323
No signature needed for Will. I assume yes, but here are the [Fulfillment Machine Specs](https://docs.google.com/document/d/1ViSOa4Je_1eLSfjs5Vl6mML-3tZD60x3oA_X7B_r4EI/edit?usp=sharing)

[2019-02-19 22:14] sabrinang commented on #323
Ok sounds good. I did some test prints with the office printer and even if the printer has a non printable region around the edge it looks fine. I tried looking at the specs and they definitely can print larger than letter size but I don't know if would need a specific bleeds or if they can set to print with 0 margins.

Letter with non-printable area margins vs. without
<img width="1172" alt="imag

[2019-02-19 22:16] sabrinang commented on #323
If you need a specific file export @stephaniemcv  please let me know as there were 5 printers listed in the specs doc

[2019-02-19 23:32] kristinashu opened #327 "Buyers Guide evergreen banner"
No rush but we will need an evergreen banner that will be on the site for the rest of the year.

Dimensions 2480 × 606px

<img width="1072" alt="image" src="https://user-images.githubusercontent.com/1068783/53055033-30fbfe00-345b-11e9-852f-3c8dec4aa763.png">

[2019-02-19 23:42] sabrinang commented on #319
Previous type work documentation that may be useful for reference: https://docs.google.com/spreadsheets/d/1Z1oScv_5NfhGGkFg6nH-_16dKWSyPcNhrKdA5E_QwIk/edit#gid=0

[2019-02-20 18:26] beccaklam commented on #326
Sabrina gave some awesome feedback and now I've shared the above doc with Brandi and Jon to get their thoughts/they can start using it if nothing needs to be changed.

[2019-02-20 21:47] kristinashu opened #328 "New icons for fellowship types"
Soft deadline of Feb 28.

Fellowships team are adding two new tracks so will need to create icons for the [Get Involved page](https://foundation.mozilla.org/en/fellowships/get-involved/) that will match the existing style.

### New icons
- **Open internet engineers:** focused on building internet connectivity in low penetration environments
- **Fellows in residence:** more senior level fellows

##

[2019-02-20 21:50] kristinashu opened #329 "Generic MoFo google form style"
Fellowships team is using [this google form](https://docs.google.com/forms/d/e/1FAIpQLSdTUqJ9Z4xdcVr4IMzd9UESqm7XwcpVdrIXDeeFNIHUc_vhvQ/viewform) which is very out of date looking. Perhaps we could create a generic style for all MoFo staff to use. @sabrinang what do you think, this seems to fit into your brand work?

[2019-02-20 22:16] kristinashu commented on #233
🎉 It's finally happening https://redpen.io/sgdf6291a6c77baaa4 & https://github.com/mozilla/foundation.mozilla.org/issues/2546

[2019-02-20 22:16] #233 closed

[2019-02-20 22:17] kristinashu commented on #278
This type of work is happening here https://github.com/MozillaFoundation/Design/issues/317

[2019-02-20 22:17] #278 closed

[2019-02-20 22:18] kristinashu commented on #317
Note https://github.com/MozillaFoundation/Design/issues/278

[2019-02-20 22:19] kristinashu commented on #255
I think this is happening here https://github.com/mozilla/foundation.mozilla.org/issues/2542

[2019-02-20 22:19] #255 closed

[2019-02-20 22:19] #269 closed

[2019-02-20 22:21] #274 closed

[2019-02-20 22:21] #204 closed

[2019-02-20 22:22] kristinashu commented on #191
This no longer feels needed but please reopen if you disagree!

[2019-02-20 22:22] #191 closed

[2019-02-20 22:27] kristinashu commented on #325
Hi @annmarie123 will you be able to get this sepc list done this week?

[2019-02-21 17:19] sabrinang commented on #319
related to #317

[2019-02-21 17:23] sabrinang commented on #329
@kristinashu Good call to make a generic one for google forms, I'll work on this. Let me know if there are any examples or other use cases coming up that are needed.

[2019-02-21 18:48] kristinashu commented on #329
Hmm I can't think of any right now but I'm sure some will come up!

[2019-02-21 23:39] sabrinang commented on #329
<img width="1370" alt="image" src="https://user-images.githubusercontent.com/2492510/53209125-4f463300-35ee-11e9-96ce-0e599e5b512a.png">

https://docs.google.com/forms/d/1EJirDSgi0IztPW4ozPT9GoYpkPNbvV6Dw1hCYtwzYLw/edit
https://docs.google.com/forms/d/1qtXC2XGrZDffzjqpC-oIMBb7jyZqQIITbzyFBXX5epg/edit

Any preferences if we want the mozilla logo in the banner itself or as an image inserted in the f

[2019-02-22 00:07] kristinashu commented on #329
Sooo much better! I like the look of the logo in the header for desktop but it doesn't quite work at narrower widths so we might have to put it within the form.

<img width="331" alt="image" src="https://user-images.githubusercontent.com/1068783/53210435-a4844380-35f2-11e9-9ebd-409920d39ae1.png">

[2019-02-22 01:20] natalieworth commented on #327
![pni-evergreen-v2](https://user-images.githubusercontent.com/14876567/53213222-efa35400-35fc-11e9-95f5-147b4d9ba8a1.jpg)

Have mockup up an option for this here:
https://redpen.io/p/pecf13a6495b04d79e

[2019-02-22 04:45] natalieworth commented on #327
Assets are also here for documentation:
https://drive.google.com/drive/folders/1MSmi1zoCYQhsR3HMFdbz6qCD32ibgvfA?usp=sharing

[2019-02-22 16:01] stephaniemcv commented on #323
Hey Sabrina, they are asking for the Light Footer template in a .docx file. I tried to export from GDoc and the header margin went wonky, so I'll leave it to the pros. And can't you point me to image file for Mark's signature? They need that separate in jpg or png.

[2019-02-22 17:00] kristinashu commented on #327
Lovely! Thank you Nat! Implementation ticket has been opened.

[2019-02-22 17:00] #327 closed

[2019-02-22 17:57] sabrinang commented on #329
<img width="336" alt="image" src="https://user-images.githubusercontent.com/2492510/53261059-ef9c6600-3687-11e9-89f5-5cb2b3ee90b8.png">
Yeah, on preview it's less obscured but I can make it sit higher so I'll play around with the placement but focus on in form logo placement so it is more visible all the time.

[2019-02-22 18:22] xmatthewx commented on #329
this is great. when it's ready, let's release it to mofo in the staff channel.

[2019-02-22 19:00] kristinashu commented on #329
Ah nice! Logo in the banner it is!

[2019-02-22 23:22] sabrinang commented on #329
Tested a better placement of the logo:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/2492510/53276746-56844400-36b5-11e9-9eee-2394e58cb747.gif)

Template 1 (Logo only transparent png): https://docs.google.com/forms/d/1EJirDSgi0IztPW4ozPT9GoYpkPNbvV6Dw1hCYtwzYLw/edit
![screen shot 2019-02-22 at 3 05 06 pm](https://user-images.githubusercontent.com/2492510/53276395-ac57ec80-36b

[2019-02-23 00:04] sabrinang commented on #329
![image](https://user-images.githubusercontent.com/2492510/53277845-00b29a80-36bb-11e9-9c92-fecccda9eb42.png)

It got approved AV admin now so you should be able to see it under the Mozilla tab now. I think we only need one template as everything else is the same so users just need to switch out heading image if they want something different from our drive folder https://drive.google.com/open?id=1

[2019-02-25 17:14] sabrinang commented on #323
@stephaniemcv .docx file (I exported from pages to fix the margins as it also changed when I exported it from gdocs) and .png of Mark's signature are exported here: https://drive.google.com/open?id=1-df51ugjmMkGQGWiKM8ANPK5iH-tPU1C

[2019-02-25 19:05] kristinashu commented on #329
Awesome, I see it! I've shared it with Fellowships team to use.

[2019-02-26 16:54] kristinashu commented on #328
Going with photos instead.

[2019-02-26 16:54] #328 closed

[2019-02-27 17:24] kristinashu commented on #329
Fellowships team have updated [their form](https://docs.google.com/forms/d/e/1FAIpQLSdTUqJ9Z4xdcVr4IMzd9UESqm7XwcpVdrIXDeeFNIHUc_vhvQ/viewform)!

[2019-02-27 21:21] sabrinang opened #330 "Generic Mozilla Print Ad"
### Description

We are sponsoring an event so let's make an advertising for us that will go in a program.
Page size: 8.5” x 5.5”,
Margins: 0.25”
Trim: 0.125”
Full color

It can contain a logo and web address. This is for a small event.

[2019-02-27 23:19] sabrinang commented on #330
@xmatthewx  @anilkanji Here is a redpen of some ideas: https://redpen.io/p/ape3cf0e358aa1c96f

![image](https://user-images.githubusercontent.com/2492510/53529913-1224e980-3aa3-11e9-8cec-05f25e7394a8.png)
By looking at the specs, it looks like we have half of letter size page of program so I iterated and assumed a horizontal ad for now (I can easily make it vertical). These include the logo and fo

[2019-02-28 19:25] sabrinang commented on #330
This was the selected design:
<img width="250" alt="image" src="https://user-images.githubusercontent.com/2492510/53592516-4eac2000-3b4b-11e9-99d7-de91583c00c8.png">

I exported the it as PDFs (with and without bleeds) here: https://drive.google.com/open?id=1QHF8DJHJgb0ndQ8KRxyvO6J1BascdeXo

[2019-03-01 19:06] sabrinang commented on #330
<img width="682" alt="image" src="https://user-images.githubusercontent.com/2492510/53660157-0f94d200-3c12-11e9-93cc-0ea01a3e7def.png">

I updated the gdrive folder with vertical versions:
https://drive.google.com/open?id=1QHF8DJHJgb0ndQ8KRxyvO6J1BascdeXo

[2019-03-04 17:58] gideonthomas commented on #323
@sabrinang can this be closed now?

[2019-03-04 20:09] kristinashu commented on #325
Summary:

Need one image (likely group photo of fellows) with the text Mozilla Fellows over it similar to this made last year. This should reflect our new brand style.

Example of old image:
<img width="625" alt="image" src="https://user-images.githubusercontent.com/1068783/53759704-d2c91500-3e75-11e9-828e-d78a4950454e.png">

High res version of new photo:
![springmorrisphoto_mozilla_fellow_32a975

[2019-03-04 20:15] kristinashu commented on #302
Err what's happening with this? Do we still need to do anything for Global Sprint?

[2019-03-04 20:16] kristinashu commented on #252
@sabrinang as part of your documenting our new styles, can you please incorporate this content and then delete that opportunity page?

[2019-03-04 20:21] kristinashu commented on #330
Nice! Is this good to close?

[2019-03-04 20:28] kristinashu commented on #330
Lotta says this is done!

[2019-03-04 20:28] #330 closed

[2019-03-04 21:12] xmatthewx commented on #302
Gideon has been primary facilitator. Last I asked he said we didn't need any design things. We can discuss at design huddle.

[2019-03-04 22:27] kristinashu commented on #314
@sabrinang is this done, if not then what are the next steps?

[2019-03-04 22:28] kristinashu commented on #313
Is all this work done or accounted for in other tickets?

[2019-03-04 22:29] kristinashu commented on #322
How is this coming along? What is left to do?

[2019-03-04 22:44] sabrinang commented on #323
Checked in with Steph and it is good to close 👍

I also made generic templates (placeholder copy and no signatures) and submitted to google docs mozilla templates and pending approval from AV so I captured in on https://foundation.mozilla.org/en/docs/brand/design/templates/ for reference in the meantime

[2019-03-04 22:44] #323 closed

[2019-03-04 22:49] sabrinang commented on #329
I removed the form doc links since it can be found as a template to be used on forms:
[Google Forms](https://docs.google.com/forms) > Template Gallery > Mozilla > Mozilla Form Template - Logo Only

Additional google form theme headers can be found on gdrive here for variation: https://drive.google.com/open?id=10Qs8u-55IH5Ih89igzNBG0yFysxrpqzb

Documented for reference on https://foundation.mozilla

[2019-03-04 22:49] #329 closed

[2019-03-04 23:40] sabrinang commented on #320
The live prototype build is on https://foundation.mozilla.org/en/docs/brand/design/ and we are iterating and updating it on wagtail.

The content categories are mocked up in our working doc (subject to change as we iterate) and the navigation is a accordion concept but not actually how it is currently in wagtail: https://docs.google.com/presentation/d/1mQJOwKj1OQkXlhHOVa2uLX0gRPQ-PffW0B3ffXztk5w/e

[2019-03-04 23:40] #320 closed

[2019-03-05 17:38] kristinashu commented on #302
Going to close this and we can open a new ticket if Global Sprint team opens a brief for some work.

[2019-03-05 17:38] #302 closed

[2019-03-05 19:27] gideonthomas opened #331 "Welcome series emails"
### Intro

We will be sending out a series of 2-3 emails when someone new subscribes to foundation emails using the Foundation website (ties in with https://github.com/mozilla/foundation.mozilla.org/issues/2757).

The template used will be one that already exists in SalesForce (@stephaniemcv to share) so a designer just needs to choose one. There might be graphics needed to complement the text (@k

[2019-03-05 19:37] gideonthomas opened #332 "Bi-weekly engagement newsletter template design"
### Intro

We will be launching a bi-weekly newsletter that will go out to everyone (within the English locale), that will talk about the work we do and how people can participate with us through different opportunities.

We need to design a template that will contain this content and be used in Salesforce. @Sydette will be responsible for content and getting it approved by legal, compliance, etc.

[2019-03-05 21:54] kristinashu commented on #326
Sounds like @xmatthewx isn't seeing the header so will need to do some troubleshooting...
<img width="853" alt="image" src="https://user-images.githubusercontent.com/1068783/53840121-29a21d80-3f4e-11e9-8091-a03276c6cafc.png">

[2019-03-06 01:17] sabrinang commented on #319
Refer to working doc in gslides: https://docs.google.com/presentation/d/1mQJOwKj1OQkXlhHOVa2uLX0gRPQ-PffW0B3ffXztk5w/edit#slide=id.g4c6a205038_2_649

**Type Audit**
Our audit was focused on the Foundation's site uses with inspect element tool on the site (we did not audit PNI etc.)

## Type Clean up and Proposed Changes
### Headings
![image](https://user-images.githubusercontent.com/2492510/538479

[2019-03-06 01:20] sabrinang commented on #319
**Type styles to test**
Most recommendations are stylistically the same mainly name changes and shuffling but there are a few to mockup up the existing state and proposed changes to compare:
- new .h1-heading on other pages that is not the home page
- which heading style to use for home page “latest news””happening now” and initiative’s “Featured Programs and Projects” (replaces old .h2-heading)
-

[2019-03-06 02:11] sabrinang commented on #310
The outline for brand standards will be a living doc and I continue to update and refer to https://docs.google.com/document/d/1lJtLUbW3PRJ7kA8JWWRIgtIP_UTMYbrBwqlPBwNgU_U/edit as I build out the live brand standards prototype at https://foundation.mozilla.org/en/docs/brand/

Closing this issue as the two links above will be the main references.

[2019-03-06 02:11] #310 closed

[2019-03-06 23:14] sabrinang commented on #319
Testing new type updates in context: https://redpen.io/p/tab7564100aa4ba265
- Heading 1 becomes smaller from 56px to 48px (same as current `#view-home .h1-heading`)
- Heading 2 can remain the same size without highlight (to new heading 4) or it can use the new heading 2 (same size as existing heading 3)

I like the larger hierarchy for home page's _“latest news””happening now”_ and initiative’s _“

[2019-03-07 17:31] xmatthewx commented on #326
For some reason, I had to click in the header area to see the header image. Now, it appears in other docs that use the header. So, so weird. I wonder if other staff will have this issue. Hopefully it's just me. But I think we're good to close this issue. Yay. Nice work.

[2019-03-07 17:31] #326 closed

[2019-03-07 18:49] sabrinang opened #333 "Mozilla Branded Notebooks"
### Description
Create Mozilla Foundation notebooks and leave an area for programs/initiatives to customize with typography etc.

Size: TBD
Vendor/Print Specs: TBD

cc: @kristinashu @natalieworth @xmatthewx @beccaklam

[2019-03-07 18:54] sabrinang commented on #333
Hi @jenntbeard if there are any specific file type and size deliverables you'll need, please let us know. If you can provide any vendor specifications or templates for the notebooks you are looking to produce that would be great as well.

[2019-03-07 18:55] xmatthewx commented on #333
Excellent! I'd suggest that we actually have one standard way for program name to show up. And maybe one alternative for a more expressive phrase.

[2019-03-07 19:05] jenntbeard commented on #333
All I know is that the guy at Social Imprints asked for a vectorized PDF of the image. I am looking at light grey Moleskine notebooks for production, something like this: https://www.amazon.com/Moleskine-Cover-Notebook-Professional-Large/dp/B079ZS9PCN/ref=asc_df_B079ZS9PCN/

[2019-03-07 19:12] sabrinang commented on #333
Oh nice moleskines! Would vector files of the logo do?
Black and white: https://drive.google.com/open?id=1S6WbnsWpE63ZQs8ehsrtxO2-7e6xMBP9
If it is a grey color, the one colour black logo would be great: https://drive.google.com/open?id=1SCyIAztasPOrdjnuUf1UXgPrNWQ3ww5N

I didn't receive any attached images in my email since I was added so I don't know which image you are referring to but feel fre

[2019-03-07 19:13] jenntbeard commented on #333
Oh sorry - I was actually asking for the Responsible Computer Science Challenge banner itself.
![hero-cs-challenge](https://user-images.githubusercontent.com/17835013/53982539-c8f41b80-40da-11e9-8062-6159528675f9.jpg)

[2019-03-07 20:58] sabrinang commented on #333
@jenntbeard I exported the responsible computer science challenge text here: https://drive.google.com/open?id=1_OMCtLvvFM4NWR8ISmk4DjY9HpsjWjnI

I only have the background as a raster file sorry but if you need it i exported here as a jpg: https://drive.google.com/file/d/1ZABLFSHdyOebg6YLOIWu9lutE9shULSw/view?usp=sharing

[2019-03-07 21:04] jenntbeard commented on #333
Great - I will pass these along to see what he says. Thank you!

[2019-03-07 21:47] xmatthewx commented on #325
As @kristinashu mentioned on slack, Fellowships at MozFest [stuff](https://drive.google.com/drive/folders/1-I-wXcO8V_H3H35mQ80c8ZjchqY7aHMv?usp=sharing) is more recent. So... design should fall somewhere between that and the aesthetic we see on [/initiatives](https://foundation.mozilla.org/initiatives/).

<img width="1045" alt="image" src="https://user-images.githubusercontent.com/53411/53991373-6

[2019-03-07 22:52] xmatthewx commented on #325
If we're in a pinch on time, I think it's reasonable to keep it simple, using a rad texture we have on hand with nice and punchy text. Note: I just made up this content. If there's another plan in place, ignore me. If there isn't, we should run this by the fellows team.

[code]

[2019-03-08 01:55] sabrinang opened #334 "Brand Standards: Text and Logo Lockups"
### Description

Standardize margins/alignment for lockup applications used across foundation properties and document a template. Creating a template with guides and placeholder for type weight, colour and size so we can cohesively set type for programs/initiatives.

**Reference**
https://mozilla.design/expression/
https://assets.mofoprod.net/network/images/MoFe-2019_Brand-Overview.format-jpeg.jpg

[2019-03-09 00:37] sabrinang commented on #326
FYI: I made this into a generic long template (any name suggestions?) and documented it in our brand home: https://foundation.mozilla.org/en/docs/brand/design/templates/

I made a some adjustments: I made the header to appear only on the first page only, Heading 1 to be in medium weight and body copy to have space after built in afterwards. Please comment on the template docs if you have feedback

[2019-03-11 21:27] sabrinang commented on #334
We should examine lockup hierarchy and use as things across the org have a wide variety of styles:

mozilla above: https://internethealthreport.org/2018/
mozilla below: https://voice.mozilla.org/en
mozilla side by side: https://www.mozillapulse.org, https://foundation.mozilla.org/en/privacynotincluded/, https://mixedreality.mozilla.org
mozilla typed out: https://foundation.mozilla.org/en/awards/,

[2019-03-11 22:17] kristinashu commented on #325
We have settled on this version and Fellowships now as an official lockup!
https://redpen.io/de6c08efaafef543ea

![mozilla-foundation-fellows@2x](https://user-images.githubusercontent.com/1068783/54161841-c19d7c80-4410-11e9-952b-092116840949.jpg)

[2019-03-11 22:17] #325 closed

[2019-03-13 20:52] kristinashu commented on #332
Rebecca and I have been visualizing the newsletter prep work in [this deck](https://docs.google.com/presentation/d/1JclSarFbhlPbkbDTlojphdvBR-VBViMHug4aSuA_os4/edit?usp=sharing).

Rebecca is mocking up (WIP) potential layouts and working with Steph to understand the restrictions.
<img width="771" alt="image" src="https://user-images.githubusercontent.com/1068783/54311749-79a66300-4592-11e9-9045-b5

[2019-03-13 20:58] kristinashu commented on #331
Rebecca and I have been visualizing the newsletter prep work in [this deck](https://docs.google.com/presentation/d/1JclSarFbhlPbkbDTlojphdvBR-VBViMHug4aSuA_os4/edit?usp=sharing).

Rebecca will start on designs soon.

@caltrider please let us know here or in Slack when you have initial copy (no rush)! Then we can put it into the mockups and share designs for some feedback.

[2019-03-13 21:48] sabrinang commented on #319
From the feedback, Heading 1 will be 48px and we will use new Heading 4 on “latest news””happening now” and initiative’s “Featured Programs and Projects”.

I've caught up with Mavis and we'll will adjust any class names if needed on implementation issue that has been filed: https://github.com/mozilla/foundation.mozilla.org/issues/2806

@natalieworth I'm aware we will need to test the dark theme st

[2019-03-13 21:48] #319 closed

[2019-03-13 22:07] sabrinang opened #335 "Update Type in Design (Sketch) Files"
By referring to type in issue #319, update and clean up our design sketch files to ensure they are using the correct type and corresponding symbols. These files include:

    Style Guide.sketch
    Foundation Site.sketch

cc: @kristinashu @natalieworth @xmatthewx @beccaklam

[2019-03-13 23:49] sabrinang commented on #314
Note: @sabrinang to review

[2019-03-15 20:58] beccaklam commented on #331
Designs (UX and preliminary UI) can be found here: https://redpen.io/p/uvd561910fde4f4bc9

[2019-03-15 20:59] beccaklam commented on #332
Designs (UX and preliminary UI) can be found here: https://redpen.io/p/uvd561910fde4f4bc9
Plus initial copy from Sydette: https://docs.google.com/document/d/1DqEGThW7efdDa-20Qo4qVRdH4piHXhgDIT4uXobzzfU/edit?usp=sharing

[2019-03-17 23:49] kristinashu commented on #332
I love these! Possible next steps are: mockup mobile version, share with design team, share with Steph for feasibility, share Sydette and Anil.

[2019-03-18 05:41] natalieworth commented on #332
This looks beautiful Becs! Really nice with the images in context.

[2019-03-18 15:20] beccaklam commented on #332
Mobile here and on redpen: https://redpen.io/rd93a2e3a104759f57
![Small and Extra Small (≥576px) - using 320px for mobile Copy](https://user-images.githubusercontent.com/20977376/54541187-d11c4880-496f-11e9-847f-c4c1ca3f5e9b.jpg)

[2019-03-18 17:54] sabrinang commented on #317
Note: audit buttons on mobile views (margin, button alignment and button width)
example: current pages & new footer mockups have a few styles on one page
<img width="322" alt="image" src="https://user-images.githubusercontent.com/2492510/54551599-a3350500-496b-11e9-9211-91f570ece38c.png">
<img width="321" alt="image" src="https://user-images.githubusercontent.com/2492510/54551637-b051f400-496b-11e

[2019-03-18 20:29] sabrinang commented on #317
@natalieworth I did an audit on existing buttons on brand working slides _(slides 41-47)_: https://docs.google.com/presentation/d/1mQJOwKj1OQkXlhHOVa2uLX0gRPQ-PffW0B3ffXztk5w/edit?usp=sharing and I put some notes that'll guide our decision/documentation convo

[2019-03-19 05:26] natalieworth commented on #317
Noting button progress (before speaking with Sabrina today):
<img width="466" alt="Screen Shot 2019-03-18 at 1 29 56 PM" src="https://user-images.githubusercontent.com/14876567/54582027-6c430b80-49cc-11e9-9552-32cf9b6fdc8b.png">

Notes from meeting:
- fix/ check margins and alignment of buttons on the foundation site
- make all primary buttons full-width
- secondary buttons and ghost will be align

[2019-03-19 05:34] natalieworth commented on #318
Updates to the footer and donation ask feel like they cover this ticket @sabrinang ? Wondering if we could reference #2564 and close this ticket? And I think Becca has been working on updating the petition UI too, which also feels relevant and inline with the new brand work (but we'll still have to update link and highlight colors on the form):

<img width="977" alt="Screen Shot 2019-03-18 at 10 3

[2019-03-19 05:50] natalieworth commented on #322
So far I've added the Foundation Site Color palette in the Style Guide and Foundation Site Sketch files:
<img width="772" alt="Screen Shot 2019-03-18 at 10 42 30 PM" src="https://user-images.githubusercontent.com/14876567/54582793-4834f980-49cf-11e9-9c9e-2dc64d4322f2.png">
<img width="235" alt="Screen Shot 2019-03-18 at 10 42 55 PM" src="https://user-images.githubusercontent.com/14876567/54582795-

[2019-03-20 20:23] kristinashu opened #336 "Graphics for newsletter/emails"
Content and layout are still wip and I will update once they are final, but we will need a banner graphic of the newsletter and the 2nd email as well as a "floating" graphic for the 1st welcome email.

https://redpen.io/p/uvd561910fde4f4bc9

![Welcome Series Pt 1 @2x](https://user-images.githubusercontent.com/1068783/54716589-4d02c600-4b13-11e9-85b9-77ae4cd8007c.jpg)
![Welcome Series Pt 2 @2x](htt

[2019-03-20 23:48] sabrinang commented on #317
@natalieworth
Testing some of the hover states and what you have so far on invision to see them in an interactive context: https://invis.io/8QR4EO1E5TG#/353450240_Button_Test

**A few hover states to confirm:**
- for popped button, does the button pushes back or shadow disappers? (I mocked up it pushing back)
- testing out primary button hover for dark theme (light blue in mockup)

[2019-03-23 00:39] kristinashu commented on #332
Feedback from Anil was that there was too much content so we now have two options.
3 sections with 2 articles each vs 2 sections with 3 articles (the decision will be up to Sydette):
<img width="576" alt="image" src="https://user-images.githubusercontent.com/1068783/54859325-1c648d00-4cc9-11e9-8947-11c3387b8cca.png">

### Next steps:
- Design needs to make the banner graphic https://github.com/Moz

[2019-03-23 00:42] kristinashu commented on #331
Designs are coming along:
<img width="861" alt="image" src="https://user-images.githubusercontent.com/1068783/54859373-95fc7b00-4cc9-11e9-8c01-4a10095f7c97.png">

### Next steps:
- Design needs to create welcome and banner graphic https://github.com/MozillaFoundation/Design/issues/336
- Jen, Anil, Rebecca, and I need to meet early next week to make final decisions on
  - What content/links should

[2019-03-25 15:25] beccaklam commented on #336
I can help with this if needed? @kristinashu not sure if it's already been assigned

[2019-03-25 15:50] kristinashu commented on #336
Would be amazing if you worked on this!

[2019-03-25 16:15] kristinashu commented on #313
Big blue sky direction inspired our baby steps to get there! I believe all the work is represented in separate tickets so I'm going to close this one, but please reopen if you think it's needed!

[2019-03-25 16:15] #313 closed

[2019-03-25 16:20] kristinashu commented on #252
@sabrinang if you're ok with it I will delete this page from our cms https://foundation.mozilla.org/opportunity/design/ and then close this ticket. That page is very out of date and your new https://foundation.mozilla.org/en/docs/brand/ is way better!

[2019-03-25 19:01] beccaklam commented on #336
@kristinashu do we know when we need these by?

[2019-03-25 20:05] kristinashu commented on #336
Let's say by this Thursday. Content for both emails and newsletters aren't finalized yet and they still need to go through the moco RACII so we have some time but it would also be nice to get them out of the way.

[2019-03-26 02:23] natalieworth commented on #319
Update: I've added the regular and dark-theme typestyles/ cleaned and removed old styles in the Sketch file. It's updated in Abstract.
Notes/ future P2's we could create:
- Possibly create a type style for the Menu? I feel like the 15px size and weight works well right now
- trending projects on mobile may need another header option (18px and thinner weight)

[2019-03-26 03:43] kristinashu commented on #189
Closing this since we don't really have more than one language pickers anymore.

[2019-03-26 03:43] #189 closed

[2019-03-26 03:46] kristinashu commented on #318
Forms are feeling pretty aligned! I think we can close this but please reopen if needed.

Here's a list of some for the signup work being done https://github.com/mozilla/foundation.mozilla.org/issues/1436#issuecomment-476461293

[2019-03-26 03:46] #318 closed

[2019-03-26 03:53] kristinashu commented on #316
I've opened a ticket to align the IH callout with the Image Text Mini component https://github.com/mozilla/foundation.mozilla.org/issues/2900 and the fellowships example no longer exists.

@sabrinang do you think there's anything else to be done here?

[2019-03-26 15:37] xmatthewx opened #337 "Prepare graphic for Platform Transparency"
We need to produce/update a graphic for MisInfo. Let's aim to recycle existing design rather than creating something from scratch if possible. The campaign is focused less on misinfo and more on platform transparency (misinfo is symptom, transparency is the solution). The graphic doesn't need say that, but it should be less about the scary crisis.

Once we have the design, graphic should be prepar

[2019-03-26 16:01] kristinashu commented on #337
Went through redpen and found a few things...

IHR graphic https://redpen.io/p/gka6009d0942feb584
<img width="897" alt="image" src="https://user-images.githubusercontent.com/1068783/55011668-73a57e80-4fa3-11e9-9f65-3843959717b8.png">

Blue-sky hero image https://redpen.io/hm62232a96e5871599
<img width="848" alt="image" src="https://user-images.githubusercontent.com/1068783/55011886-d0a13480-4fa3-1

[2019-03-26 16:56] sabrinang commented on #319
@natalieworth Yup, I noted above we will address navigation (so the menus) as separate ticket (not yet filed but if we are working on it next I can file this week)

For trending projects, on my mobile it looks similar to the other h4s on mobile? If not can you file a QA/enhancement issue on site repo https://github.com/mozilla/foundation.mozilla.org/issues
<img width="320" alt="image" src="https:/

[2019-03-26 17:52] xmatthewx commented on #337
Also maybe this works? Kinda hints at idea of transparency behind the platforms.

<img width="619" alt="image" src="https://user-images.githubusercontent.com/53411/55020927-415d4680-4fce-11e9-944e-40807e097c95.png">

[2019-03-26 18:37] sabrinang commented on #316
👍 with the updated image text & image text mini components in wagtail they don't have the buttons and black icons moving forward sounds good to me and if we won't have large gray cta as a component it's good to close @kristinashu

[2019-03-26 18:46] kristinashu commented on #316
w00t!

[2019-03-26 18:46] #316 closed

[2019-03-26 21:32] kristinashu commented on #317
This ticket is currently blocking Mavis' work on:
- Add a donation ask above the footer of the foundation site #2833
- Footer: remove existing email section, update footer, and add new 'email' signup to footer #2834

@sabrinang @natalieworth can one of you please summarize the decisions in an implementation ticket?

[2019-03-26 21:36] kristinashu opened #338 "Update Sketch library components to reflect design changes from brand work"
Moving @natalieworth's lovely ticket https://github.com/mozilla/foundation.mozilla.org/issues/2548 from Foundation site repo to the Design repo since it seems more design-y.

This ticket is to document the 2019 changes based on the brand work our team has been doing. For design, we can keep the Sketch updates in this master file—then create new implementation tickets based on changes that have bee

[2019-03-26 21:49] kristinashu commented on #252
I'm deleted the out of date https://foundation.mozilla.org/en/opportunity/design/ page but here is all the content if needed.

### Resources
## Principles
The [principles](https://github.com/MozillaFoundation/Design/issues/39) we care about building into our products, our process and our team. This work is ongoing – get involved!
[DESIGN PRINCIPLES](https://github.com/MozillaFoundation/Design/issu

[2019-03-26 21:49] #252 closed

[2019-03-26 22:10] natalieworth commented on #317
So for notes for @sabrinang  comment:
- for popped button, the button will push back (like in the mockups)
- I have added the primary and secondary buttons in the Style Guide/ Sketch file too for reference:
<img width="1132" alt="Screen Shot 2019-03-26 at 3 09 37 PM" src="https://user-images.githubusercontent.com/14876567/55036936-57243900-4fd9-11e9-9d60-b5dffb3f76f6.png">

[2019-03-27 01:46] sabrinang commented on #317
## Button Clean up and Proposed Changes
### Button class names
`.btn-normal` to `.button-primary`
`.btn-ghost` to `.button-secondary`
`.btn-pop` to `.button-pop`

### Button Labels
text-transform: remove uppercase (we can't enforce sentence case in code and there will be exceptions like capitalizing names etc.)
letter-spacing: 0px (remove)

### Button Styles
![](https://assets.mofoprod.net/network

[2019-03-27 01:48] sabrinang commented on #317
Buttons are also documented in UI components in wagtail: https://foundation.mozilla.org/en/docs/brand/design/ui-components/

Work in progress button elements:

    Disabled Button State: to be determined
    In-line Icon Button: to be determined
    Grouped Buttons: to be determined
    Social Buttons: to be determined

[2019-03-27 15:44] kristinashu commented on #317
Thank you @sabrinang @natalieworth! This is sooo good!

I'll go ahead and open an implementation ticket for Mavis, I'll just copy what you wrote above. And then I'll close this and open a follow up design ticket for the remaining button work.

That sound okay?

[2019-03-27 16:05] kristinashu opened #339 "Foundation Site: Buttons & Links con't"
Follow up from - Foundation Site: Buttons & Links #317.

Summary of the buttons UI components are in wagtail: https://foundation.mozilla.org/en/docs/brand/design/ui-components/

This ticket is to finish off the still work in progress button elements:
- [x] Disabled Button State
- [x] In-line Icon Button
- [x] Grouped Buttons
- [x] Social Buttons

[2019-03-27 16:07] kristinashu commented on #317
Tickets:
- Design follow-up - Foundation Site: Buttons & Links con't #339
- Implementation - Unify button styles https://github.com/mozilla/foundation.mozilla.org/issues/2905

[2019-03-27 16:07] #317 closed

[2019-03-27 21:14] beccaklam commented on #336
Graphics in situ in the redpen: https://redpen.io/p/uvd561910fde4f4bc9
Came up with some options ... not happy yet with the Welcomes Series: Pt. 2 graphic so could use some feedback there @kristinashu Still working on a graphic for the Newsletter, hopefully will have something by my lunchtime tomorrow!

## Welcome Series: Part 1
![Welcome Series Pt 1](https://user-images.githubusercontent.com/2097

[2019-03-27 22:14] kristinashu commented on #337
Rebecca's link to working files for this graphic are [here](https://drive.google.com/drive/folders/1LwqNseUG6-cWIDBnMTF8mlQ3Cy1IDyDy).

@xmatthewx please confirm but I believe next steps are:
- Remove +/- from graphic above
- Crop it for
  - email (need dimensions)
  - twitter
  - landing page banner
  - fo'mo homepage feature
- Advocacy team will add content to the cms page
- Create 3 graphics fo

[2019-03-28 14:40] xmatthewx commented on #337
Your list looks good. One small edit: I think we'll post content for resource page as it'll need some design thinking for best presentation.

I'm looking to confirm right now if this will be a new page or an update on existing page at [/campaigns/eu-misinformation/](https://foundation.mozilla.org/en/campaigns/eu-misinformation/).

Deadline: we will post stuff as soon as it's ready this week, impro

[2019-03-28 15:21] beccaklam commented on #336
## Newsletter Grahpic Options:
![Newsletter 3 sections Copy 3@2x](https://user-images.githubusercontent.com/20977376/55169676-95da0080-514b-11e9-888e-a3b5e1300d2d.jpg)
![Newsletter 3 sections Copy 2@2x](https://user-images.githubusercontent.com/20977376/55169677-95da0080-514b-11e9-8ccd-e8c35117018b.jpg)
![Newsletter 3 sections Copy@2x](https://user-images.githubusercontent.com/20977376/55169679-95

[2019-03-28 15:49] #333 closed

[2019-03-28 19:20] kristinashu commented on #337
Ok I've update the comment above and some links, please let me know if anything changes!

[2019-03-28 20:12] kristinashu commented on #337
All graphics are here https://drive.google.com/drive/folders/1XbzAhP1QmJL0Z4_FPeHYu_BmRvNbG_Zd?usp=sharing

For social, OG, and fo'mo page:
![social](https://user-images.githubusercontent.com/1068783/55188749-51edf800-5159-11e9-8c45-702ca488a83f.jpg)

Banner (already uploaded):
![website banner](https://user-images.githubusercontent.com/1068783/55188750-52868e80-5159-11e9-9d99-c7ee759752a3.jpg)

R

[2019-03-28 22:42] kristinashu commented on #331
_Final_ next steps based on Anil's decisions:

### P1:

- Go with the four image version as mocked up here: https://redpen.io/jk055e12c47577a191
  - Mozilla Foundation: The heart of Mozilla. We work for a better internet for all.
  - *Privacy Not Included: A buyer’s guide to help you shop safe for connected products
  - Advocacy: We bring people together from around the world to fight for a better

[2019-03-28 22:46] kristinashu commented on #332
_Final_ next steps:

- Sydette has prefers the 2 sections with 3 articles each version so let's run with that one
- Team the black/white zig-zag banner so choose that one

Otherwise, this is on hold while Anil talked with moco about their newsletter.

[2019-03-29 12:42] xmatthewx commented on #337
Thanks for the speedy work @kristinashu and @beccaklam. I think we can close this and open new tickets if anything pops up.

[2019-03-29 12:42] #337 closed

[2019-03-29 21:22] beccaklam commented on #331
Updates to the designs in this red pen:
https://redpen.io/p/uvd561910fde4f4bc9

Still need to work on finding better images for the four graphics.

## Part 1
![Welcome Series Pt 1 Copy 5](https://user-images.githubusercontent.com/20977376/55263338-00239b80-5247-11e9-8463-5de0cea157f7.jpg)

## Part 2
![Welcome Series Pt 2 Copy 11](https://user-images.githubusercontent.com/20977376/55263337-00239b80

[2019-04-01 19:43] kristinashu opened #340 "IHR promo material - Deadline April 17"
Update designs for IHR promo material based on 2019 site design and content. You can see the site design at https://internethealthreport.org/2019/

@beccaklam to kick-off this project with Jarius later this week or early next week.

## Need to get from Jairus
- [x] high res version of these assets, if needed
- [x] finalize list based on last year's assets https://wiki.mozilla.org/Internet_Health_R

[2019-04-02 14:29] beccaklam commented on #336
Ok! So I _think_ designs for these graphics are done: https://redpen.io/p/uvd561910fde4f4bc9

## Welcome Series Pt 1
![Welcome Series Pt 1 Copy 5](https://user-images.githubusercontent.com/20977376/55410406-cb0e9600-5531-11e9-9be1-e4f7c20fb82e.jpg)

## Welcome Series Pt 2 (We have two options to test)
With Images in the body:
![Welcome Series Pt 2 Copy 11](https://user-images.githubusercontent.com

[2019-04-02 14:29] #336 closed

[2019-04-02 14:33] beccaklam commented on #331
Part 1 is remaining the same. Pt 2 options here (with updated images, graphics, and layout):
https://redpen.io/p/uvd561910fde4f4bc9

## With Images in Body
![Welcome Series Pt 2 Copy 11](https://user-images.githubusercontent.com/20977376/55410843-8cc5a680-5532-11e9-8c5b-f2a18a5e40e8.jpg)

## With No Images in Body
![Welcome Series Pt 2 Copy 14](https://user-images.githubusercontent.com/20977376/55

[2019-04-02 14:33] #331 closed

[2019-04-02 14:34] beccaklam commented on #332
Final design:
![Newsletter 2 sections@2x](https://user-images.githubusercontent.com/20977376/55411015-dc0bd700-5532-11e9-8883-1bdefa2d2c19.jpg)

[2019-04-02 17:42] kristinashu commented on #332
This is good to close too! We can open a new ticket if something comes up.

[2019-04-02 17:42] #332 closed

[2019-04-02 18:26] sabrinang commented on #312
`$light-blue`
`#b7b9fa`

- has been added on https://foundation.mozilla.org/en/docs/brand/design/color/
- sketch palettes and adobe cc library links on that page updated too

[2019-04-04 18:14] xmatthewx opened #341 "Prep novelty sized thank you card"
Advocacy campaign wants to thank the Guardian for its work to combat fake news. To do this, they plan to hand deliver an enormous thank you card.

Deliverable: PDF
Size: A0 open
Content:
 - Classic scripty `Thank You` on front of card
 - Mozilla logo and foundation web address on bottom of the back
 - Inside: note handwritten by campaign staff

Printing: TBD by local staff or Marc

cc: @kristinash

[2019-04-04 20:14] kristinashu commented on #341
I think @natalieworth volunteered for this, thank you!

@xmatthewx when do they need this by?

[2019-04-05 14:53] xmatthewx commented on #341
Cc @geurkinkl to help coordinate

[2019-04-05 17:31] xmatthewx commented on #341
cc @geurkink to help coordinate

Brandi - when you identify your copyshop or printer, ask them about turn around times before you schedule your action.

[2019-04-05 17:57] xmatthewx commented on #341
Quick thought: a simple, classic thank you card will show up better in a photo op than anything too unique.

[2019-04-06 00:29] natalieworth commented on #341
Dropping 2 rough ideas from this morning for this here:
1. I tried script, but didn't love script! Felt kind of boring:
<img width="1162" alt="Screen Shot 2019-04-05 at 5 21 47 PM" src="https://user-images.githubusercontent.com/14876567/55662410-b51a0300-57c7-11e9-8fa4-12d6224ad454.png">

2. Tried another direction too that I prefer/ feels more advocacy:
<img width="1168" alt="Screen Shot 2019-04-

[2019-04-08 16:06] xmatthewx commented on #341
Nothing has been determined outside of what you've seen here or in slack thread with @geurkink. I was thinking A0 sheet then folded in half.

[2019-04-08 16:07] xmatthewx commented on #341
Whatever direction you go, keep readability in mind for photo op.

[2019-04-08 19:35] natalieworth commented on #341
1
<img width="939" alt="Screen Shot 2019-04-08 at 12 24 46 PM" src="https://user-images.githubusercontent.com/14876567/55751462-92236500-59fa-11e9-895e-3d02fb76ee61.png">

2
<img width="803" alt="Screen Shot 2019-04-08 at 12 30 08 PM" src="https://user-images.githubusercontent.com/14876567/55751470-96e81900-59fa-11e9-9529-ffbfa66ab22e.png">

3
<img width="939" alt="Screen Shot 2019-04-08 at 12 25

[2019-04-08 19:35] natalieworth commented on #341
I still like and prefer black and white. It's our primary brand colors and I think it'll also be most readable for photos.

[2019-04-08 20:44] beccaklam commented on #340
Kick off doc notes: https://docs.google.com/document/d/1bHDM_Qeo7vdn7H7covga9xTkUfGdC1gm8-UdeMt4a3E/edit?usp=sharing

[2019-04-08 21:37] kristinashu opened #342 "Design pass of IHR intro page"
@annmarie123 is moving content from an [infogram](https://infogram.com/1pyxjevv5rxqpdf39lmxmr0zresyw35zjxp?live) to a cms page. Once she has done that it will need a design pass to make sure it's on brand.

This needs to be done by EOD Wednesday April 10 for an email going out the next morning.

cc @xmatthewx

[2019-04-08 21:54] kristinashu opened #343 "OLE newsletter and wagtail pages"
Kristina G and the OLE team are looking to launch a newsletter to OLE past participants, and invite new folks interested in that work to sign up. They need (in order of priority):

### Newsletter
A newsletter template they can add content to.
- [Strategy doc](https://docs.google.com/document/d/1zaYrSNTKRxWYExJwuhRQPQokvk-A1Pdq7AF61GViyac/edit#heading=h.6pxbvixzqyu6)
- design should follow our gene

[2019-04-09 00:39] annmarie123 commented on #342
@kristinashu Here is the site for review: https://foundation.mozilla.org/en/opportunity/what-is-the-internet-health-report/

How do I add a snippet for the sign up for IHR newsletter? I would like it to be on the bottom of the page.

[2019-04-09 02:43] natalieworth commented on #341
Also, just dropping in these quick outlines for what I'm thinking for card options as we wait for info/ names and confirmation of the upcoming petition page/ form. For each, I think it would be nice to have the "Thanks for stepping up..." part to be in zilla and then a signed note underneath. It feels nice to have some written element to make it feel personal (which I included underneath), but I f

[2019-04-09 10:46] geurkink commented on #341
Hey team, sorry I'm still not able to respond via GitHub, hopefully this
makes its way to you regardless and I'll also drop comments into the
mofo-design Slack channel. Good news is that I've found a printer, we're
getting a quote/timeline/print specs today and I'll send those over to you
ASAP and put together a timeline for our team internally so that we can
align better across time zones. Here i

[2019-04-09 16:28] kristinashu commented on #342
Thanks @annmarie123 I'll work on the page later today.

We are in the middle of updating all our newsletter signups so we can't actually add that snippet right now. We can work on it but doubt it will be ready for Thursday morning. Is it something you would like to have added long-term?

[2019-04-09 17:19] kristinashu commented on #342
After talking to Matthew and Anil about this page I have a little more context... since users are coming to the page via email and this page will be short lived it sounds like adding the signup should not be a priority.

[2019-04-09 17:56] annmarie123 commented on #342
Understood. As long as there is someway to track engagement on the page then I believe it meets the criteria for fundraising.

[2019-04-09 18:43] kristinashu commented on #342
Are analytics on how many people visited the page enough? Do you still want the link to https://internethealthreport.org/ like you have in the infogram?

One more question... which sections are the more important?
- What's in the report?
- Why we produce the report?
- How is it used?
- How to use the report?
- Who reads the report?

[2019-04-09 21:29] kristinashu commented on #342
Here's the first pass at design https://foundation.mozilla.org/en/opportunity/what-is-the-internet-health-report/
I've updated the graphics to use ones from the report. I would still like to update the map to one the report uses but that shouldn't change things too much.

[2019-04-09 21:56] annmarie123 commented on #342
If there is already a map, lets definitely use it. :) This looks great. Thanks, Kristina!

[2019-04-10 11:51] geurkink commented on #341
Hi team, just checking that this was all received since I didn't see
anything come through on it yesterday. Below is the timeline that I think
we should work to as the printer will need final artwork by Friday at 15.00
in order for us to receive the card on Tuesday. As of now we have about 12k
people who have added their name to the card, so the best bet is probably
to print some directly on the c

[2019-04-10 16:29] kristinashu commented on #342
w00t! I updated the map to one used in the IHR and I think we are all done! But let me know if you need anything else.

[2019-04-10 16:29] #342 closed

[2019-04-10 16:48] xmatthewx commented on #341
If you already have enough names to fill the card, please pass those along now @geurkink. No need to wait. It's going to be a pain the booty to get that formatted.

[2019-04-10 19:37] beccaklam commented on #340
WIP First draft:
Google docs: https://drive.google.com/drive/folders/1fxxCRf7aN-vsKaOub_xOJCSQFu0AnqlO?usp=sharing
redpen with sticker templates and postcards: https://redpen.io/p/uk8c2dc004a57c7153

[2019-04-10 20:24] xmatthewx commented on #341
@geurkink - Did you send a list of names today? I don't think we have that. Please share with both me and Nat  so I can review and prep EST before you go home for the day.

 - Weds PST
    - Nat will share updated design
 - Thurs GMT
    - send us names for card
    - review and approve design
    - please create insert on your end
    - last chance for edits on card thank you text
 - Thurs PST -

[2019-04-10 20:38] natalieworth commented on #341
Hey @geurkink , I've added color to the card and prepped it with bleeds/ size for the printing. Just need to add the final names. I should be able to fit about 3,000 comfortably on the card. Is it possible to export that amount?

Another alternative, depending on how the exporting of the names works with Salesforce, is to just print all of the names in an insert on your end (depending on timing an

[2019-04-10 21:19] sabrinang opened #344 "Foundation Site: Forms"
### Description

Audit our forms and examine where we can align styles. Mockup refined ideas in context of existing site (or upcoming projects like Join Us page or MozFest CFP) and collect feedback. After successful review, we can prepare to clean up our forms for implementation and document them.

### Form system may include:

- form field container (filled text, empty text, validated text)
- for

[2019-04-10 22:31] kristinashu commented on #339
@beccaklam your blog design introduces some new button styles. Since those buttons are so lovely looking we should incorporate them into our existing styles and guidelines and retire some of our older styles.

New style:

<img width="109" alt="image" src="https://user-images.githubusercontent.com/1068783/55917565-99867200-5ba4-11e9-813b-a161eb2dc496.png">

<img width="628" alt="image" src="https:/

[2019-04-10 22:36] sabrinang commented on #339
social button audit examples on slide 48-49 for reference: https://docs.google.com/presentation/d/1mQJOwKj1OQkXlhHOVa2uLX0gRPQ-PffW0B3ffXztk5w/edit?usp=sharing

[2019-04-11 10:47] geurkink commented on #341
Hi both,

We need someone from your team to pull the names from Salesforce—I've
started a conversation with Steph to see if she can help with this since
Arliss and Alan are both out on PTO I believe, so please follow up with her
in case they don't come through by the time I leave today.

On the design, the colour looks good but the design here is the wrong
one—we would like a vertical version of t

[2019-04-11 14:42] beccaklam commented on #339
@kristinashu @sabrinang sorry about that! i just copied the style from what we did for PNI since it was similar to our current foundation site button styles. @mmmavis would we be able to incorporate this style into the foundation site's style guide?
![image](https://user-images.githubusercontent.com/20977376/55966468-77453080-5c46-11e9-9c2b-b0e33733322f.png)

[2019-04-11 17:53] natalieworth commented on #341
Hey all! So I've updated the front of the card design and added just under 5,000 names in the card.
<img width="1076" alt="Screen Shot 2019-04-11 at 10 49 10 AM" src="https://user-images.githubusercontent.com/14876567/55979825-ebcc9f00-5c47-11e9-923e-5fb62eccbd18.png">
<img width="1078" alt="Screen Shot 2019-04-11 at 10 49 22 AM" src="https://user-images.githubusercontent.com/14876567/55979826-ebc

[2019-04-11 18:01] mmmavis commented on #344
Thanks for creating this helpful list, @sabrinang . Can we add dark theme design to this ticket as well? Two things I ran into when I implemented the footer sign up form (on black background) are border color for fields and colour/behaviour for links appear in field label.

[2019-04-11 20:12] natalieworth commented on #341
Hey @geurkink I've added a bit more of the exclamation mark in. It's still slightly cropped, as the vertical orientation caused the 'thanks' to be  a bit smaller (and I didn't want it to get too small):
<img width="902" alt="Screen Shot 2019-04-11 at 1 10 44 PM" src="https://user-images.githubusercontent.com/14876567/55989991-6c48cb00-5c5b-11e9-9c16-9ec1c120482d.png">

[2019-04-11 20:26] natalieworth commented on #341
actually, it seems to be okay size-wise still if I don't crop the word at all. This may also be better and safer for folding (as I'm not 100% sure how the printer will be foldering the card and the cropped version could look bad if the fold is off a little bit):
<img width="989" alt="Screen Shot 2019-04-11 at 1 25 30 PM" src="https://user-images.githubusercontent.com/14876567/55990779-74a20580-5c5

[2019-04-11 20:37] natalieworth commented on #341
I've exported the card as .ai and .pdf file (with outlined type) for documentation here:
[Guardian Thank you card.zip](https://github.com/MozillaFoundation/Design/files/3070492/Guardian.Thank.you.card.zip)

Final files have to be sent to claudio.castiello@servicepointuk.com

Once the remainder of the names come in, I'll design and add those here too.

[2019-04-11 20:59] shaghdoosti commented on #341
I just sent you the names. Thanks!

On Thu, Apr 11, 2019 at 3:37 PM Natalie Worth <notifications@github.com>
wrote:

--
Sara Haghdoosti
Director, Advocacy Campaigns and Networks
P: +16465494810
S: sara.haghdoosti
*She, her, hers*

[2019-04-11 21:16] natalieworth commented on #341
[mozilla-thankyou-card-inserts-2019.pdf.zip](https://github.com/MozillaFoundation/Design/files/3070629/mozilla-thankyou-card-inserts-2019.pdf.zip)

[2019-04-11 21:17] natalieworth commented on #341
Final files for the card and inserts are all [in the google drive here](https://drive.google.com/drive/folders/1MdjidVz7c9q7YMjLoW_kdz1gQHLFIw-i?usp=sharing).

[2019-04-12 00:01] mmmavis commented on #339
@beccaklam so far only three types of buttons have been cleaned up, and yes, we can add more styles to the set.

### Implemented
1. .btn-primary (the old .btn-normal)
2. .btn-secondary (the old .btn-ghost)
3. .btn-pop

---

By "style", did you mean a button group where

- buttons are equal width
- individual button is styled as `btn-primary`
- individual button has a social icon before the button

[2019-04-12 17:54] kristinashu opened #345 "Graphic for iPhone campaign - deadline EOD today 😭"
Image that plays on the look and feel of Apple's campaign to help make the campaign point.

Their concept comp:
<img width="622" alt="image" src="https://user-images.githubusercontent.com/1068783/56056304-9f00cb00-5d10-11e9-93c2-5f03886dcec4.png">

Here's what Abigail said from Legal about the image:

^^So those criteria are key to making sure it works from a legal perspective.

Copy: `Privacy. Is

[2019-04-12 18:25] TheoChevalier commented on #345
Alright, here’s the French slogan: `Respect de la vie privée. C’est (presque) ça l’iPhone.`

[2019-04-12 18:50] TheoChevalier commented on #345
And here’s German copy: `iPhone. Das ist (halbwegs) Privatsphäre.`

[2019-04-12 20:20] kristinashu commented on #345
Thanks @TheoChevalier. Not sure which graphic we will be using but here is an example of the translations https://redpen.io/p/hjb61198b1121dce13

[2019-04-12 20:31] TheoChevalier commented on #345
Great work @kristinashu! Translations look great :)

(Looks like there was a small capitalization mistake in the English copy above, the P in iPhone should be capitalized)

[2019-04-12 20:37] kristinashu commented on #345
Nice catch, thank you!

[2019-04-15 14:40] xmatthewx commented on #341
Thanks @natalieworth!! Closing this issue as it seems all done.

[2019-04-15 14:40] #341 closed

[2019-04-15 14:57] beccaklam commented on #340
@kristinashu Did Jairus ask for How To Run An Internet Health Report Discussion Group (content doc)? He didn't mention it in our meeting and I just looked at the doc and it doesn't look like it needs any design?

[2019-04-15 15:40] kristinashu commented on #340
I haven't hear or seen anything about that!

[2019-04-15 16:05] beccaklam commented on #340
Ok, I'm going to remove it from the checklist then!

[2019-04-15 20:27] sabrinang opened #346 "Foundation Site: Iconography"
### Description

Audit our icons and examine where we can align styles. Mockup ideas and recommendations and collect feedback. After successful review, we can prepare to clean up our icons or make new ones for implementation and document them.

### Icon system may include:
- in-line icons glyphs for text and buttons (before, after)
- small icons for image text mini component
- large icons for imag

[2019-04-15 23:32] sabrinang commented on #314
Note: align shadow styles too

[2019-04-16 18:42] kristinashu opened #347 "IHR sneak peak fundraising page - Deadline this Thurs"
Set up a page similar to https://foundation.mozilla.org/en/opportunity/what-is-the-internet-health-report/

- [Copy](https://docs.google.com/document/d/1E0n9xX9vWokx6jV9SfclvRG20rPXuCuPWrioSvji_3U/edit?usp=sharing) (almost final)
- Email _should_ go out this Friday
- Use images from last year's report

[2019-04-16 20:52] sabrinang commented on #346
Iconography audit in [google slides](https://docs.google.com/presentation/d/1mQJOwKj1OQkXlhHOVa2uLX0gRPQ-PffW0B3ffXztk5w/edit?usp=sharing) _(slide 63-70)_

[2019-04-16 21:00] sabrinang commented on #346
@natalieworth I think in some of your new pulse and donation footer UI work you are experimenting with some iconography? let's coordinate

[2019-04-16 22:21] kristinashu commented on #343
Comps are here https://redpen.io/p/hpd125097a02f591fb

[2019-04-16 22:50] kristinashu commented on #343
Note Kristina has also asked for:

Global Sprint: https://foundation.mozilla.org/en/opportunity/global-sprint/

- We would like to redirect this page to push people here: https://foundation.mozilla.org/en/initiatives/mozilla-open-leadership--events/collaborate-with-us/sprint-for-internet-health/
- The old page's content can be archived.

Open Leaders: https://foundation.mozilla.org/en/opportunity/

[2019-04-16 23:32] #345 closed

[2019-04-16 23:55] kristinashu opened #348 "Fellowship Alumni newsletter & signup page"
Similar to #343

~Deadline: May 2 launch~

From Ann Marie:

[Strategy & content doc](https://docs.google.com/document/d/1z6uGaYKGJSgVeUO8zUElwtBvqAin4n5pFLQY1_rwwP4/edit?ts=5cb62902)

### Newsletter
- Welcome email (copy in doc)
- Newsletter template (need example copy)
- Design should follow our general newsletter layout https://redpen.io/ks8bc539b21350e632

### Newsletter signup on site
- Design

[2019-04-17 20:54] sabrinang commented on #314
@beccaklam @natalieworth feedback for https://redpen.io/p/ys4594fedace293c98

Some thoughts about when we use grey 4px lines and when we use black 4px lines. I think when it is grey it acts like an underline shadow for elements, previously the homepage overlaps cards were gray and I would like to update that so it is again so it doesn't look like a section divider. If we distinguish this, then we

[2019-04-18 16:01] beccaklam commented on #340
Final folder with assets: https://drive.google.com/drive/folders/1cxqF3Z9eMz_TlQ1VtLuPM6eL_fGu9U-a?usp=sharing

Going to call this work finished for now ... will reopen if Jairus needs changes? cc: @kristinashu

[2019-04-18 16:01] #340 closed

[2019-04-18 17:30] kristinashu commented on #347
Here's the page https://foundation.mozilla.org/en/opportunity/sneak-preview/

[2019-04-18 17:32] kristinashu commented on #340
Looks good!

[2019-04-18 20:31] beccaklam commented on #314
Updated line for Primary/Bannered Campaign Page based on crit: https://redpen.io/p/ys4594fedace293c98

[2019-04-18 22:07] kristinashu opened #349 "Graphic for YouTube campaign"
Quick graphic for petition going on this Tuesday.

[Copy](https://docs.google.com/document/d/1UmdggPwM6kLk6QWjkIewCkUjEA6DNRrqVOChDBSqukc/edit?ts=5cb74427) and [Petition page](https://foundation.mozilla.org/en/campaigns/youtube-heres-our-recommendation-to-you/).

[2019-04-18 22:08] kristinashu commented on #349
I've made a very quick graphic.

JPG and Illustrator file and [in Drive](https://drive.google.com/drive/folders/1e-cJr1Jp1DQ8uTsQhJdYfyjLFJkNkGG4?usp=sharing).

![YouTube](https://user-images.githubusercontent.com/1068783/56394270-9e25d880-61eb-11e9-9753-41d20f66b806.jpg)

[2019-04-18 22:16] kristinashu commented on #349
@beccaklam assigned to you in case anything comes up on Monday but hopefully nothing left to do!

[2019-04-22 20:17] sabrinang opened #350 "Foundation Site: Navigation"
### Description

Examine where we can align navigation styles. Mockup ideas and recommendations and collect feedback. After successful review, we can prepare to clean up typography, lines and class names for implementation and document them.

### Navigation system may include
**Nav design**
- primary navigation
- secondary horizontal navigation
- secondary vertical navigation
- tertiary filter (an

[2019-04-22 20:37] mmmavis commented on #350
Let's also talk about how we can tidy up styling for special links/buttons that are on nav (e.g., the Donate button etc).

[2019-04-23 16:12] kristinashu commented on #349
Campaign is on hold so closing  👎

[2019-04-23 16:12] #349 closed

[2019-04-23 16:12] #347 closed

[2019-04-24 22:34] kristinashu opened #351 "CS Challenge Winners CMS page"
Deadline: 8am EDT on Tuesday, April 30

Jenn have populated it with the winners and links to the schools' websites but would like some design TLC to it.

https://foundation.mozilla.org/en/initiatives/responsible-cs/winners/

[2019-04-25 17:07] kristinashu commented on #343
Kristina G says she will have feedback on Monday.

@alanmoo if they go with [this template style](https://foundation.mozilla.org/en/campaigns/open-leadership--events/) will we be able to put it at /initiative instead of /campaign? If not then I guess it could be a parent like https://foundation.mozilla.org/en/mozfest/

[2019-04-25 17:22] kristinashu opened #352 "Apple flowchart graphic"
We will follow up on the Apple campaign with two emails and one of them will need a flowchart/shareable image.

The aim is to get this out next week. Copy _should_ be approved by noon EST Friday.

[Here is the copy](https://docs.google.com/document/d/1BhDQhjFPAVujACOtrnAgBlEoXwmHj1go5wGEk2L-D_U/edit).

@beccaklam please don't start on this until copy is approved.

[2019-04-25 19:26] alanmoo commented on #343
We should be able to. I filed https://github.com/mozilla/foundation.mozilla.org/issues/3061

[2019-04-25 21:20] kristinashu commented on #348
Comps are coming along here https://redpen.io/p/xg01340660ab6e67f8

[2019-04-25 23:48] sabrinang commented on #351
I revised the draft page with school logos and title banner: https://foundation.mozilla.org/cms/pages/183/edit/preview/

<img width="500" alt="image" src="https://user-images.githubusercontent.com/2492510/56774805-10ad3000-6779-11e9-9094-6bf44ad9d1a6.png">

@jenntbeard I left your original text untouched at the bottom (we can delete if the revised sections look good)

[2019-04-26 01:39] jenntbeard commented on #351
Hi! Is it possible to not have 'Winners' listed twice (so maybe lose the text version but keep the graphic)? Also, we don't have approvals to use the school's logos, so I didn't add those - that additional round of approvals wasn't possible given the slow processing time on the agreements. Sorry, I should have mentioned sooner. Thank you for all your help!

[2019-04-26 19:33] sabrinang commented on #351
We can’t remove the title (required field) and it is also best to have it present from an accessibility standpoint too. I can remove the banner if it is redundant or we can keep it if you have alternative copy? Okay, I removed the school logos.

There's not much more design adjustments for me to do but let me know if you have feedback, I’ll revisit this on Monday

[2019-04-26 19:46] sabrinang opened #353 "Typography: Bold for Copy Styles"
Currently, @mmmavis has mentioned `<b>` is one font weight heavier than the parent element (among the available weights of the font).

- determine what font weight bold should be and are we consistently doing this in sketch
- create system that works for .body-small, .body, .body-large, .quote to not have overrides

cc: @kristinashu @sabrinang @natalieworth @beccaklam

[2019-04-26 19:53] sabrinang commented on #353
@beccaklam This might be related to some of the typography in your blog work. Is one font weight heavier than the original bold enough for your use cases or do we need heavier weights than that?

[2019-04-28 14:45] jenntbeard commented on #351
Okay, no problem - sorry about the school logos (that does look nicer). Thanks for your help! I plan to publish once I've seen Kevin's blog post go live on Tuesday morning.

[2019-04-29 15:11] beccaklam commented on #353
@sabrinang I think so? .body-large is Nunito Light, and the next heavier weight is Nunito SemiBold, and it looks good. The contrast isn't as stark but I think maybe that works better? You can still scan but it doesn't look as abrupt.

**SemiBold in action:**

![Screen Shot 2019-04-29 at 11 06 53 AM](https://user-images.githubusercontent.com/20977376/56905978-5ca8ef00-6a6f-11e9-9cc0-1aa110881d1d.pn

[2019-04-29 18:00] #351 closed

[2019-04-29 23:22] sabrinang commented on #346
I've made an update to abstract with updated icon progress so far.
I created an icon grid for:
- X-Small (12px)
- Small (24px)
- Medium (48px)
- Large (96px)

**Icon Style**
Border: center
 Width: 2  (0.5 for x-small icons)
Ends: round cap
Joins: round
Corner radius: 2 or 0
<img width="1128" alt="image" src="https://user-images.githubusercontent.com/2492510/56932452-c093dd80-6a98-11e9-88d4-0d643be

[2019-04-30 19:49] kristinashu opened #354 "Thunderbird Offline Donation Acknowledgement"
From @stephaniemcv

[2019-04-30 20:02] sabrinang commented on #354
I'll be building off this donor letter template: https://docs.google.com/document/d/1Z9yVc5unkva3Y1axCZ5j3CmwISBIFDBbcbTqYaxkNoM/edit?usp=sharing

Will this just be the thunderbird logo (without mozilla or with both)?

[2019-04-30 20:30] stephaniemcv commented on #354
Just the Thunderbird logo, no mozilla logo.

[2019-05-01 04:12] natalieworth opened #355 "Establish process for future Brand updates/changes"
### Intro

Creating a ticket to track brand updates/ changes and how we can create a good process for this between designers and developers.

### Links

[2019-05-01 04:17] natalieworth commented on #355
https://redpen.io/p/da7fb982eedd9ba047

[2019-05-01 14:52] sabrinang commented on #353
@beccaklam Nice, yes +1 that `.body-large` should be Nunito Sans Light 300 for normal weight and Nunito Sans Semibold 600 for bold weight so it has good contrast for scanning and obvious emphasis.

As for `.body` and `.body-small` their normal weight are Nunito Sans Regular 400 so their bold should be Nunito Sans Bold 700 if it isn't already.

For the CMS, body copy is currently also Nunito Sans R

[2019-05-01 15:33] sabrinang commented on #355
Thanks for this issue Nat, I have some process ideas to consider:

- create brand standard update, change or override issue (with label brand standards)
    - include annotated redpen or screenshots, notes on use cases or impact etc.
    - request design review
    - get dev feedback
    - comment, approve or request changes
- update https://foundation.mozilla.org/en/docs/brand/ and https://founda

[2019-05-01 20:17] sabrinang commented on #354
@stephaniemcv
Here is the thuderbird letter template: https://docs.google.com/document/d/1nsdgTkZGNOREe-lN6ucUWM2dsa1u3EzqziLSd9kjhH8/edit?usp=sharing

- For the about page link, I have it linked to https://foundation.mozilla.org/about/ instead of http://www.mozilla.org/about since everything written is about Foundation
- In the footer, I’m using the template footer to include fax 650 396 4541 and

[2019-05-01 21:28] sabrinang commented on #346
Reference: Some small icons were adapted from https://feathericons.com/

[2019-05-01 21:54] kristinashu commented on #343
Thank you Alan!

### Newsletter
I've updated the newsletter comps with the latest copy https://redpen.io/p/hpd125097a02f591fb.
Next steps:
- [ ] get approval from Kristina G
- [ ] meet with Alex for him to build it

### Website
Webpages are here https://foundation.mozilla.org/en/initiatives/open-leadership--events/.
Next steps:
- [ ] get approval from Kristina G
- [ ] get confirmation from @stepha

[2019-05-01 22:27] kristinashu opened #356 "Graphic for Amazon campaign"
#### Deadline
In editorial calendar for May 9 (before Mothers Day on May 12)

#### Copy
Aiming for approval on Monday 6
https://docs.google.com/document/d/1FDqHf-EPexLUES6owrWS-3HUlS6acGyhV0-eahcdLVk/edit
They will test two different version of the copy but let's try to make one graphic that will work for both so the only variable is copy.

#### From Kaili in Slack

Might be a chance to revive som

[2019-05-02 00:21] mmmavis commented on #353
Sorry, forgot to specify. By "one font weight bolder" it does not always mean `100` font weight more.

This is the **default browser behaviour** for bold text (aka without special CSS style reinforcement):
https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#Meaning_of_relative_weights

<img width="300" alt="image" src="https://user-images.githubusercontent.com/2896608/57050962-ebfeff80-6c

[2019-05-02 22:13] kristinashu commented on #356
Designers will brainstorm a few ideas on Monday, narrow it down to 3 concepts, share ideas (maybe sketches) with advocacy team and legal for feedback, then create the one graphic.

[2019-05-03 19:41] kristinashu commented on #353
To limit our overrides let's stick to the defaults, even if they aren't as bold as we would like then to be.

How does this sound for next steps?
- open a dev ticket to add examples of bold text to the [style guide ](https://foundation.mozilla.org/en/style-guide/)
- update abstract file with default bold weights

[2019-05-03 20:04] kristinashu commented on #315
I _think_ the only things left to do here would be the provide guidelines on how much the white cutout box overlaps an images and when (and then update sketch file and production site to match this).

[2019-05-03 20:23] kristinashu commented on #314
Based on our chats the rules have been updated and simplified to:

- **subtle divider**
  - 1px
  - grey
  - full width/wide/narrow
  - e.g. menu border-bottom, between news items, accordions...

- **cta divider**
  - 1px black
  - narrow
  - e.g. Image Text & Image Text Mini component, IH CTA... (these could be grey for simplicity but would need to mock up to make sure it looked good)

- **large

[2019-05-06 18:42] natalieworth commented on #355
Redpen and GitHub ticket proposal (with review)
Developer/ design review
update brand guidelines and Sketch file
update pages in Sketch
Implementation ticket

[2019-05-06 18:44] natalieworth commented on #355
Github template to update the style guide w/ checklist

[2019-05-06 18:45] natalieworth commented on #355
More formal approval for small/ big things R+ review from designers

[2019-05-06 18:47] natalieworth commented on #355
Comb through Sketch document to update symbols (and unlinked symbols)

[2019-05-06 20:58] kristinashu commented on #356
Matthew and I chatted and we agree that we would like this campaign to have an image to help it stand out.

Here are a few ideas we had for upcycling some graphics:
- a version of the white iot banner image from http://privacynotincluded.org/
- a version using assets from misinfo campaign but with the amazon logo https://foundation.mozilla.org/en/campaigns/eu-misinformation/ (something in the fami

[2019-05-06 21:26] beccaklam commented on #356
Very rough mock ups here: https://redpen.io/p/fq3038f60c920958f6 I'll reach out to Kaili and Abigail tomorrow!

[2019-05-06 21:28] beccaklam commented on #356
@kristinashu let me know if you have any feedback! ☝️

[2019-05-06 21:31] kristinashu commented on #356
These look great @beccaklam!

@kaili09 do you have any preferences or feedback?

[2019-05-06 21:36] kaili09 commented on #356
I think I prefer the first one, and like the second one a lot too, but I also wonder about using Amazon's logo without risk of copyright issues?

[2019-05-06 21:50] kristinashu commented on #356
Ok excellent! So tomorrow morning, @beccaklam could you please delete the CloudPets direction from redpen and share the other two with Abigail to see if she has concerns about either of them?

[2019-05-06 22:10] stephaniemcv commented on #354
Awesome! Can you make a png of the signature without vectorizing?

[2019-05-06 23:17] sabrinang commented on #354
@stephaniemcv I saved it from the goodle doc you provided and uploaded the png signature separately here: https://drive.google.com/file/d/1ptitvDywYJblMJqSOYRcAr_p25WjSfjK/view?usp=sharing

[2019-05-06 23:18] kristinashu commented on #314
Ok so I'm going to use this a case study for our process... next steps I will do are:
- update sketch file with the above recommendations
- update our brand [doc](https://foundation.mozilla.org/en/docs/brand/) _(not sure this is needed?)_
- get R+ from another design to have them confirm (might open a new ticket for this):
  - new rules look good in situ
  - all instances of this component have be

[2019-05-07 04:40] natalieworth commented on #355
Using Mavis' awesome design to dev handoff for inspiration to create a future brand standard changes in our ticket. I'm thinking based on [Sabrina's notes and meeting ](https://docs.google.com/document/d/14jCcjRCqVlFXMSwhGuw-xKpZoQWbJlbxu11S5u-sEZg/edit#heading=h.a9fvyh5rdcla)that we could create an issue template in the Design Ops repo for each type of update (e.g. Override, Updating an Existing

[2019-05-07 04:56] natalieworth opened #357 "Update to an existing style: H4 line height"
Using this ticket to test the '**Updating an existing style**' template proposal for Design repo issues regarding the brand standards.

Style to change: The **line height of H4** in our brand standards for the Foundation site.

[Redpen link is here with the original and proposed change.](https://redpen.io/p/gk2682339c5647f381)

The current H4 leading feels quite large and difficult to read. The CS

[2019-05-07 05:12] natalieworth commented on #322
All the main Foundation site colours are available in the Sketch file, with the full palette available on https://foundation.mozilla.org/en/style-guide/

I have only included the site-wide colours in the brand documents to maintain consistency and help us streamline everything (so we don't diverge into using infrequently used colours).

<img width="232" alt="Screen Shot 2019-05-06 at 10 08 58 PM"

[2019-05-07 05:12] #322 closed

[2019-05-07 05:24] natalieworth commented on #335
Cleaned up type Style Guide and the Text Styles:
<img width="931" alt="Screen Shot 2019-05-06 at 10 18 07 PM" src="https://user-images.githubusercontent.com/14876567/57273684-9cfb0500-704d-11e9-8603-b70f75014084.png">
<img width="895" alt="Screen Shot 2019-05-06 at 10 22 05 PM" src="https://user-images.githubusercontent.com/14876567/57273690-a1bfb900-704d-11e9-9919-5ed57edeabc1.png">
<img width="8

[2019-05-07 05:24] #335 closed

[2019-05-07 05:48] natalieworth commented on #346
Hey @sabrinang I used your icons for the Pulse page here https://redpen.io/p/pwa30a89c875d0d841

I think it looks nice!!

Just making a note too that we may need 'small' sizes for the social icons within the footer in order to streamline and make sure everything is the same size. I think currently they only exist in extra small, but I can update when I get time. :)

[2019-05-07 06:26] natalieworth commented on #344
I've created a forms WIP page in Foundation sketch and have added notes/ examples [to redpen here.](https://redpen.io/p/bv7967653dd95106e0)

<img width="1000" alt="Screen Shot 2019-05-06 at 11 26 34 PM" src="https://user-images.githubusercontent.com/14876567/57276421-6d042f80-7056-11e9-8752-5ae93b81cc19.png">

[2019-05-07 14:35] beccaklam commented on #356
Hi @kristinashu @kaili09, so I chatted with Abigail and she says even with the context of the petition text she would avoid using the amazon logo here for legal reasons. She also said we can set up a time to talk more about how to use logos with less legal risk for future cases.

[2019-05-07 17:27] kristinashu commented on #356
Sounds good! Let's roll with the first graphic. Can you add a high res version here?

@kaili09 do you need any help creating the petition page in wagtail?

[2019-05-07 17:32] kristinashu commented on #339
@beccaklam assigning this one to you so you can also test out our processes around adding/updating the style guide.

[2019-05-07 18:00] kristinashu commented on #357
Nice @natalieworth! Is there an example of H4 line height on the live site? I'm having trouble finding a real example...

[2019-05-07 19:08] gideonthomas opened #358 "MozFest: Welcome email design template"
### Intro

When people sign up to MozFest, they (are supposed to) get a welcome email. Asking for a design for the template.

### Links

Copy: https://docs.google.com/document/d/1Soo-lCbjQ1Ty5ruK27NiDeHRbYK4F5msKNSGwiLSjq0/edit

cc: @sabrinang and @stephaniemcv

[2019-05-07 19:35] beccaklam commented on #356
I've attached the file size export of the first graphic [here]([https://drive.google.com/open?id=1Rx9HnyUfoqTyQD6Xmq5lqrultYjowJ_y]). @kaili09 please let me know if you need anything else!

[2019-05-07 21:22] natalieworth commented on #357
@kristinashu I don't think there is one on the foundation.mozilla.org site right now actually? I can't find one either. But wondering if we should also update the 'Trending project' cards so they match the Pulse style?

[2019-05-07 21:46] sabrinang commented on #358
Closing - continuing this work on https://github.com/MozillaFoundation/mozfest-design-2019/issues/18

[2019-05-07 21:46] #358 closed

[2019-05-07 22:11] kristinashu commented on #357
R+ for line height update, it definitely looks much better in the comp!

It would be nice to align the Pulse cards on Foundation site and Pulse but I think that should be a new ticket and would need to be mocked up 😊.