[2014-12-18 16:12] cassiemc opened #1 "Write the Introduction: Values & principles"

[2014-12-18 16:14] cassiemc opened #2 "Write chapter on Our Users"
Includes:
* Audience
* Personas
* Locales

[2014-12-18 16:17] cassiemc opened #3 "Write chapter on Brand"
Brand
* Voice & Tone
* Logomark/s
* Wordmark/s
* Parent and sub-brands
* Messaging

[2014-12-18 16:19] cassiemc opened #4 "Write chapter on Style"
Style
* Color
* Icons
* Photography
* Illustration
* Iconography
* Typography

Makerstrap is worth a mention here. http://mozilla.github.io/makerstrap/demo/#/

[2014-12-18 16:22] cassiemc opened #5 "Write chapter on Layout and Interactions"
Layout
* Principles
* Structure (grid)
* UI Patterns

(would love some more input on this chapter's content). Reference: http://www.google.com/design/spec/layout/principles.html

[2014-12-18 16:23] cassiemc opened #6 "Write chapter on Usability"
Usability
* Accessibility
* Localization
* Responsiveness
* Performance

[2014-12-18 16:24] cassiemc opened #7 "Write chapter on Resources"
Resources
* Colour palettes
* Layout templates
* UI Elements (icons)
* Fonts

(It's possible that this doesn't need to be an extensive chapter and should just point to build.webmaker.org)

[2014-12-18 16:25] cassiemc opened #8 "Write chapter on Process"
Process
* Design review
* Hand-off
* File sharing & organization
* Prototypes
* User testing
* Quality assurance
* Data and design

These are a work-in-progress as we test optimal solutions. Some ideas floated over here: MozillaFoundation/plan#108

[2014-12-18 16:31] cassiemc opened #9 "Figure out how this handbook will be presented"
We have a lot of inspiration, though practically, the bar should not be this high to start:

* http://www.ibm.com/design/language/
* http://www.google.com/design/spec/material-design/introduction.html
* http://voiceandtone.com/

[2014-12-18 16:52] cassiemc opened #10 "Finalize Handbook outline & chapter ordering"
Some work was done to prep the content of this handbook: https://docs.google.com/a/mozillafoundation.org/document/d/1OfO1FD-o2uTRpDzsBPg_cAjtFTRwFMAsb60DTJvOcHs/edit

We should refer to the individual issues for the most up-to-date contents, but this list will be handy for determining chapter order.

---
#### Introduction – #1
- Values & principles
#### Our users – #2
- Audience
- Personas
- Local

[2014-12-18 17:00] toolness opened #11 "Write shared chapter on working w/ engineers"
So there's also a [MoFo-Engineering-Handbook](https://github.com/MozillaFoundation/MoFo-Engineering-Handbook), and I thought it might be cool to have a chapter that's *shared* between both handbooks on how designers and engineers can successfully collaborate.

Alternatively, the design handbook could have a chapter on working with engineers, and the engineering handbook could have a chapter on wor

[2014-12-18 17:51] cassiemc opened #12 "Write chapter on Collaboration"
Depending on what happens in #11 we could have a whole chapter on Collaboration, with sections on:

* Working with engineers – #11
* Working with other designers
* Working with contributors

[2014-12-22 23:31] xmatthewx opened #13 "Retire or update wm.org/style-guide"
Note to self: As we develop the design handbook and move fwd with branding, we should retire or update and extend https://webmaker.org/style-guide

[2014-12-23 21:29] #10 closed, assigned to cassiemc

[2015-01-05 19:52] vazquez commented on #4
## Colour
Webmaker offers a colour palette ready for immediate use in the Webmaker suite. This colour palette features similar saturation colours for added visual cohesion.

![screenshot 2015-01-05 10 10 08](https://cloud.githubusercontent.com/assets/1119821/5618788/5d6d5a84-94ea-11e4-887e-6c2ff562e7cd.png)

For use, the Bootstrap theme already has established LESS variables for each colour in the

[2015-01-05 19:52] vazquez commented on #4
Webmaker uses the open-source font toolkit [Font Awesome](http://fortawesome.github.io/Font-Awesome/) to source most of our iconography. Icons in Webmaker are used monochromatically in all-white or all-black versions. Font Awesome makes it easy to implement scalable vector icons that can be customized in size, colour, etc. Should you need to use custom iconography, create an SVG asset in order to

[2015-01-07 20:25] xmatthewx commented on #7
I've collected a few things in google drive. note: it's viewable by the public, editable by staff. https://drive.google.com/folderview?id=0B_rbDAen9prkS0N4MXRqaGo4bEE&usp=sharing

[2015-01-10 02:23] sabrinang commented on #7
## Colour Palettes
#### Current Overview
* Upcoming extended [Mozilla & Mozilla ID Palette](http://blog.seanmartell.com/wp-content/uploads/2014/09/colors-and-shapes.png) _(still in the works and not fully locked down yet)_ being explored by Mozilla's [Creative team] (https://blog.mozilla.org/creative/) - used by various Mozilla campaigns (i.e. [End of Year](http://fundraising.mozilla.org/))
* [Moz

[2015-01-15 15:40] vazquez commented on #4
## Photography

Webmaker uses photography to showcase our diverse and growing community. Mozilla has curated thousands of photos throughout the years accessible on its [Flickr](https://www.flickr.com/photos/mozilladrumbeat/favorites/) page. When using photography, you are free to use any of the photographs on the Mozilla Flickr profile. You are also free to use any royalty free and publicly access

[2015-02-04 19:11] iamjessklein commented on #12
I took a first stab [here](https://github.com/MozillaFoundation/Mofo-Design-Handbook/wiki/Collaboration)
It incorporates issue #11 - but might take some more editing.

[2015-03-04 19:29] cassiemc opened #15 "Write Design QA rubric / checklist"
Discussed this with Ricardo. He is going to create a checklist by Friday, which we will be able to document in issue #8 .

I know @iamjessklein had the start of this at one point but we were unable to dig it out from the depths of Github...

[2015-03-05 13:08] iamjessklein commented on #15
Sounds good.  @vazquez  [This blogpost on Design QA might be helpful](http://jessicaklein.blogspot.com/2015/01/quality-assurance-reviews-for-design_27.html) - I wrote it after we did the QA a few heartbeats back.

[2015-03-05 18:38] vazquez commented on #15
#### UI QA Checklist

###### Cross-Browser
- Displays & functions correctly in IE10
- Displays & functions correctly in Firefox (latest 2)
- Displays & functions correctly in Chrome (latest 2)
- Displays & functions correctly in Safari (7+)
- Displays & functions correctly on Mobile Safari (7+)
- Displays & functions correctly on Mobile Chrome (latest)
- Displays & functions correctly on Mobile Fi

[2015-05-05 21:58] xmatthewx opened #16 "Welcome Jordan"
@lovegushwa - Welcome to the team. Reply here with questions or to try things out. I bet @vazquez has some tips for using github issues that he could add here.

[2015-05-05 22:05] xmatthewx commented on #16
You can edit this comment with the pencil in the top right to see the `markdown` that made it. :boom:

 - lists!
  - sub lists
 - w00t

Here's a link to the [draft process chapter](https://github.com/xmatthewx/Mofo-Design-Handbook/tree/master/Process)

You can link to a different issue with just hashtag + issue number. Ex: #16

You can link to a specific comment. Click the time in the comment  com

[2015-06-12 15:10] xmatthewx opened #17 "'First time use' at Whistler"
@secretrobotron suggested that FTU for Webmaker would be a great topic to tackle at Whistler. I agree and think we designers could look at this across MoFo products.

FTU would be fun to think while we're together. It's useful and good to coordinate org-wide. Can we add this to the plan for Wednesday Cassie?

Related - during the science fair, we should watch for FTU pain and opportunities. This e

[2015-06-12 15:14] xmatthewx opened #18 "Discuss design team here"
Let's use this repo (or create a new one) to discuss design team topics. Even suggested articles could be posted here, labelled and make a nice archive.

**What do you think?** R?

Related: Let's try to include @LauraReynal as often as possible. I'm going to try and tighten the loop between design, tests, and research in Q3 and Q4.

cc @cassiemc @lovegushwa @flukeout @vazquez @sabrinang

[2015-06-12 15:16] xmatthewx opened #19 "Elevate the team's privileges in this repo"
@cassiemc - can you give us admin access to this repo? See the settings icon on the right. That will allow us all to create labels and milestones etc.

[2015-06-12 15:32] xmatthewx opened #20 "Project Design Brief"
Here is a checklist you can copy-paste into your planning tickets. Use it to ensure a thorough kickoff conversation and to prep formal briefs for large projects and consulting gigs.

Drop feedback and iterations on this list in the comments below.

[code]

cc: @hannahkane @flukeout @edrushka @HPaulJohnson @OpenMatt @cassiemc @secretrobotron @vazquez @sabrinang @lovegushwa

We can move this to a wi

[2015-06-12 15:33] xmatthewx commented on #17
cc @sabrinang woops

[2015-06-12 17:31] hannahkane commented on #20
yay! excited to use this. would be great to have this on a wiki somewhere.

[2015-06-12 17:45] cassiemc commented on #19
Confirmed this is resolved

[2015-06-12 17:45] #19 closed

[2015-06-12 17:45] secretrobotron commented on #20
:+1: put in wiki!

[2015-06-12 18:46] xmatthewx commented on #20
- [ ] Add a link from http://build.webmaker.org/design to here. [PR pending](https://github.com/mozilla/build.webmaker.org/pull/78)
 - [ ] Test this list for a few heartbeats
 - [ ] Find a suitable home if it proves useful (wiki on this repo?)
 - [ ] Update link FTW

[2015-06-12 19:34] cassiemc commented on #20
I'm not sure what wiki we would use, and I thought we were moving away from wikis into build.webmaker.org, no? This handbook IS the wiki. :) @hannahkane @secretrobotron

[2015-06-12 19:38] cassiemc commented on #18
Wfm. Open FTW!

[2015-06-12 19:55] hannahkane commented on #20
Link from build is fine. Just wanted a way to find this easily.

[2015-06-16 20:22] cassiemc commented on #16
Closing this since @lovegushwa is rockin' github now.

[2015-06-16 20:22] #16 closed

[2015-06-24 20:16] xmatthewx opened #21 "Update Design on Build dot Webmaker dot org"
All issues filed under the milestone ```mozwww```

#### Project Brief

Summary: improve the design page on build dot webmaker dot org

 - [x] What problem are you trying to solve?
   - increase effectiveness and efficiency of design team by creating a shared living document
    - easy access to assets
    - speed up
      - kickoff ramp up
      - handoff
    - enable non-designers
    - improve s

[2015-06-24 21:21] xmatthewx commented on #21
Next steps:
 - improving brief
 - whiteboard ideation
 - gather benchmarks

file issue:
 - identify design values
 -  improve the brief

[2015-06-24 21:23] xmatthewx commented on #20
some ideas on how to improve the brief:
 - [ ] identify & link to dependencies
 - [ ] specify internal / external for audience
 - [ ] Project destination (URL, repo, print)
 - [ ] Can questions be reframed so they're more flexible
 - [ ] What problem are ~~you~~ _we_ trying to solve?
 - [ ] Project summery (1-2 sentences)

assigning to @lovegushwa to review and improve the language

[2015-06-24 21:44] cassiemc commented on #21
Documenting some feedback from @k88hudson: "From this brief, I know what the problem is that you're trying to solve but I can't actually tell what you're building."

Response: That's okay. This is not a functional spec, it's a creative brief so meant to meant to be a little bit open.

[2015-06-24 22:21] sabrinang commented on #21
![dsc01558](https://cloud.githubusercontent.com/assets/2492510/8342884/98446704-1a84-11e5-956a-b36ae8a21325.JPG)

[2015-06-24 22:24] xmatthewx commented on #21
Next steps:
 - @lovegushwa @cassiemc
  - share document benchmarks
 - @sabrinang @flukeout
  - list all content
  - wireframe
 - @vazquez
  - UI

[2015-06-24 22:29] xmatthewx opened #22 "Identify design values"
Let's dump ideas here and then refine...
cc @lovegushwa @sabrinang @flukeout @vazquez

[2015-06-24 22:36] cassiemc commented on #21
Our benchmark thoughts:
- **twitter bootstrap** Seemed like a different kind of context than the overarching container problem we are trying to solve. Also, a very straightforward sandwich site layout.
- **Mozilla assets site** Seems unfinished. Not enough information about each type of asset or how to plug to a process or design ethos. Has the start of the visual appeal of a grid layout but isn't

[2015-06-24 22:56] vazquez opened #23 "Document File Naming Convention on build.wmo/design"
As discussed during our workweek, this is the file name structure we should follow:

**Project-Platform-Discipline-Year-Month-Day.filename**

An example looks like this:

`Webmaker-Mobile-UX-2015-05-31.sketch`

[2015-06-24 23:03] cassiemc opened #24 "Clean up file structure on Drive"
Let's follow the ```_Sample Folder``` structure in Drive and clean up the stuff that is already there.

[2015-06-24 23:19] cassiemc opened #25 "Capture benchmarking process"
* Reusable benchmarks

[2015-06-24 23:37] xmatthewx opened #26 "Meta list of guidelines"
Develop design guidelines or visual center for...
 - [ ] Webmaker brand
 - [ ] Mozilla Learning Networks
* Teach site
* Hives
* Clubs
* Thimble
 - [ ] Advocacy campaigns
 - [ ] Cross site promotion (https://github.com/mozilla/webmaker-desktop/issues/79)
- [ ] Engagement work
* Fundraising
* Partner content
* Emails
* Social
 - [ ] ... ??

Step one: add missing items to list
Step two: file issue to

[2015-06-25 06:16] cassiemc commented on #25
We currently have two benchmarking processes (possibly more?) – @lovegushwa uses Pinterest, @flukeout @xmatthewx have enjoyed working in Google slides. We should weigh up the consequences of both processes and see if we can reach consensus on a tool, or at least clarity about how we explain this part of the process externally.

We should show an example and link to said tool/s.

Note: Benchmarking

[2015-06-25 06:18] cassiemc opened #27 "Write user stories for new build.wmo/design"
As a <type of user>, I want <some goal> so that <some reason>.

[2015-06-25 06:23] cassiemc opened #28 "Identify design values"
This should be at least a ten min team conversation and list of attributes we can agree on. The harder ones we can work on post-whistler, but we should be able to come up with a list of 5-10 adjectives.

[2015-06-25 06:26] cassiemc opened #29 "Improve the design brief"
@xmatthewx where is the feedback we documented today?

If possible (maybe a separate issue), it'd be great to look at examples where this is already being used and incorporate that into our feedback. @hannahkane and @HPaulJohnson have both been willing guinea pigs.

[2015-06-25 06:27] cassiemc commented on #29
"From this brief, I know what the problem is that you're trying to solve but I can't actually tell what you're building."

Response: That's okay. This is not a functional spec, it's a creative brief so meant to meant to be a little bit open.

[2015-06-25 06:30] cassiemc commented on #21
Next steps:
- [ ] UI for our design page
- [ ] illustration for our design page
- [ ] Gather links for existing resources
- [ ] Prioritize content that we need to add to round out the design process docs

[2015-06-25 06:31] cassiemc opened #30 "UI for our build.wmo/design"
Design: @vazquez
QA: @cassiemc

Based on the wireframe here: https://cloud.githubusercontent.com/assets/2492510/8342884/98446704-1a84-11e5-956a-b36ae8a21325.JPG

User stories here: https://github.com/MozillaFoundation/Mofo-Design/issues/27#issuecomment-119279919

[2015-06-25 06:32] cassiemc opened #31 "Illustration (animation?!) for our build.wmo/design"
In tandem with https://github.com/MozillaFoundation/Mofo-Design-Handbook/issues/30

Bonus: Make it mooooooovvvveeeee!

[2015-06-25 06:34] cassiemc opened #32 "Write content and gather links for build.wmo/design"
We probably need some introductory content to describe what aim this documentation serves. Should be an improvement to what's there. The bulk of this work will be link gathering. Let's list out the assets we want to include here.

[2015-06-25 06:39] cassiemc opened #33 "Design currency for Ministry of Fun"

[2015-06-25 06:40] cassiemc opened #34 "Figure out how "Design Buddies" work"
- [ ] Come up with a better name
- [ ] How does this work with our team
- [ ] Could this work with contributors
- [ ] Assign the first cohort

[2015-06-25 06:43] cassiemc opened #35 "Set up a Screenshot tumblr"
- [x] Set up tumblr: http://desktopdailies.tumblr.com/
- [x] Create IFTTT recipe to collect screenshots in a dropbox (@xmatthewx I can't remember the value of this, or why not Drive?)
- [x] ~~Cancel Dribbble account (???)~~ – Filed as new issue https://github.com/MozillaFoundation/Mofo-Design-Handbook/issues/41
- [x] Walk-through with designers to make sure everyone understands and has a good work

[2015-06-25 06:45] cassiemc commented on #22
Duplicate of https://github.com/MozillaFoundation/Mofo-Design-Handbook/issues/28

[2015-06-25 06:45] #22 closed

[2015-06-25 06:51] cassiemc opened #36 "Document ideal file structure for Drive"

[2015-06-25 06:51] cassiemc commented on #24
Related: https://github.com/MozillaFoundation/Mofo-Design-Handbook/issues/36

[2015-06-25 06:53] cassiemc commented on #23
To close this bug we need to document it somewhere on build.wmo so I'll update the title to reflect that.

[2015-06-25 06:55] cassiemc opened #37 "Github Labels for design & build handshake"
@xmatthewx mentioned something today about our issue labels reflecting where we are at in the design process. Let's document what that looks like.

[2015-06-25 06:57] cassiemc opened #38 "Gather user feedback on build.wmo/design"
Based on who we identified in the design brief, we should be getting feedback from the designers of course, but let's also reach out to PMs, engineers and other designers who are potential contributors to see if what we're doing here is effective.

[2015-06-25 06:57] #18 closed

[2015-06-25 20:21] hannahkane commented on #29
I took a crack at design briefs for Thimble (http://bit.ly/1fGKViX) and Badges (http://bit.ly/1GuBFFh). Happy to talk through what worked and what didn't.

[2015-06-25 22:00] sabrinang commented on #21
list of content: https://docs.google.com/a/mozilla.com/document/d/1aby1ntPPbIqhZLBd7MLDz3gAT83v3TYFOFh1ZnrV_pw/edit?usp=sharing

[2015-06-25 22:15] flukeout opened #39 "Document our Design Principles"
We made some good headway on defining what values and principles we want embodied in our design process and experiences we design.

**Strategic**
* How can our work meet the goals of mozilla and open up new opportunities

**Ambitious**
* We are willing to tackle hard problems and come up with unexpected solutions

**Meaningful & Effective**
* Users will care about using our products and it’ll have

[2015-06-25 23:48] xmatthewx opened #40 "Design-build "handshake" process"
Clarity in ~~handoff~~ handshake process, gh labels, ...

Designers should:
 - redline the specs
 - improve annotations on responsive behavior, gestures, interactions, animations
 - create a states checklist (hover, active, loading, error, ...)
 - proactively link to assets
 - flag designs for tech review

Devs should:
 - flag staged builds for design review
 - flag designers when tech limitations

[2015-06-26 17:36] cassiemc commented on #21
@vazquez Have you submitted a pull request for the updates to build yet?

[2015-06-26 17:38] cassiemc commented on #40
I would reverse the order of those to-do's. Let's link here from build asap so that it is shared, can update it later once we've had time to practice it. cc @xmatthewx @vazquez

[2015-06-26 17:43] vazquez commented on #21
Do you mean if I've coded the page yet? No, I only got to the design
yesterday. I was hoping to iterate with the team on the design today.

On Friday, June 26, 2015, Cassie McDaniel <notifications@github.com> wrote:

--
Ricardo Vazquez
UI Designer, Webmaker
Mozilla Foundation
@iamrvazquez <http://twitter.com/iamrvazquez>
IRC: ricardo

[2015-06-26 18:02] cassiemc commented on #34
Notes beginning to percolate here: https://etherpad.mozilla.org/Nqu0FLMbSL

[2015-06-26 18:03] cassiemc commented on #28
@flukeout You documented these somewhere from our discussion yesterday, no?

[2015-06-26 18:10] cassiemc commented on #28
Nm, found it @flukeout. This is now a duplicate of https://github.com/MozillaFoundation/Mofo-Design-Handbook/issues/39 so closing.

[2015-06-26 18:10] #28 closed

[2015-06-26 18:16] vazquez commented on #30
File: https://drive.google.com/a/mozilla.com/file/d/0ByIoeeW0a3R_Tm94VWthaWxkamM/view?usp=sharing

Current progress and iterations:

![r copy 2](https://cloud.githubusercontent.com/assets/1119821/8384242/922b1cca-1bf4-11e5-82ba-89516e3689f7.png)
---
![r copy 3](https://cloud.githubusercontent.com/assets/1119821/8384243/922c61de-1bf4-11e5-8763-143204f27a1f.png)
---
![r copy 4](https://cloud.githubu

[2015-06-29 16:02] xmatthewx commented on #37
- `needs design`
 - `design`
  - `needs design review`
   - `in design review`
  - `needs tech review`
   - `in tech review`
 - `PR needs design review`

Tech reviews will help us catch a pile of problems for better designs and better builds, particularly with responsive views and interaction design.

cc: @vazquez @flukeout @k88hudson @sabrinang @gvn @simonwex

[2015-06-29 21:20] xmatthewx commented on #35
@cassiemc - I just followed the blog. Can you add me as a member? Note: I believe that you can only add members to a secondary blog, not your primary.

[2015-06-29 21:57] xmatthewx commented on #25
We had success using slides for the [app icon](https://docs.google.com/presentation/d/17GIntGX--znIaTOj--F5JKNH70LvhaaAF1QtEGfB-z0/edit?usp=sharing) and [landing page](https://docs.google.com/presentation/d/1YkUNcI-Qx3Z_BOBubPf6iRaRNGfvM6EK7gtwcx1F_tI/edit?usp=sharing). I tried pinterest with the group before, but didn't get any traction. It seemed a bit inflexible. I'm glad to try it again, but f

[2015-06-30 02:23] cassiemc commented on #25
Maybe we don't need to dictate one or the other (like adobe suite vs. sketch) but rather describe how the process works and why it's important. Both @xmatthewx and @lovegushwa have good examples of how diff tools have worked well in their different contexts.

[2015-06-30 02:24] cassiemc commented on #35
I added mw@mozillafoundation.org, is there another address I should've used? @xmatthewx

[2015-06-30 22:39] cassiemc commented on #35
I've invited @xmatthewx and @flukeout by request. If anyone else wants to join I believe you can do taht here: https://www.tumblr.com/join/01YajuFEoK cc @lovegushwa @vazquez @sabrinang

[2015-07-02 16:22] xmatthewx commented on #35
success! :boom:

[2015-07-02 16:32] vazquez commented on #35
I clicked on the link but nothing quite happens. I'm a Tumblr noobie, so I may not be seeing something.

[2015-07-02 22:52] flukeout commented on #35
Let's include our twitter handles or something in front of our posts so people know who's posting.

[2015-07-03 14:34] cassiemc commented on #35
I've added @sabrinang and @lovegushwa to the tumblr now as well (let me know if you guys want me to use a different email than your mofo addresses).
And I've created an IFTTT recipe – going to use it today to see how it works! https://ifttt.com/recipes/304718-desktop-dailies-dropbox-to-tumblr

[2015-07-03 14:36] cassiemc opened #41 "Decide if we want to cancel our Dribbble account"
cc @vazquez @flukeout @xmatthewx @sabrinang and @lovegushwa (who I'm not sure is on dribbble?)

Please leave your thoughts here.

[2015-07-03 15:19] vazquez commented on #41
I still think it's an avenue for us to be open.

As an example, during one of my Hour of Design sessions I designed a vector HTC Device. I then decided to open source the device design. I posted it to Dribbble, where the maintainer of [sketchapp.tv](http://sketchapp.tv/) spotted it and asked for permission to post it in [their website](http://browse.sketchapp.tv/post/121507356570/htc-one-mockup).

[2015-07-03 18:25] cassiemc commented on #41
Awesome thoughts and use case @vazquez thanks :) I'm willing to commit to one shot a week.

[2015-07-03 20:15] cassiemc opened #42 "Standardize Mofo site footers designs"
Luke is going to tackle this with the new Thimble homepage in https://github.com/mozilla/thimble.webmaker.org/issues/655

[2015-07-03 21:54] cassiemc commented on #35
I tried setting up an IFTTT recipe but it didn't work. Will need to troubleshoot this next week. cc @xmatthewx maybe you can help.

[2015-07-06 13:48] cassiemc commented on #17
We didn't get to this and I'm assuming it's filed elsewhere in the webmaker plan, so closing. cc @xmatthewx

[2015-07-06 13:48] #17 closed

[2015-07-06 13:53] cassiemc commented on #42
We'll need a separate ticket for the tech side of this.

[2015-07-06 13:54] cassiemc opened #43 "Diagram our overarching design process"
Should include:
* Design brief
* User research
* User testing
* Design QA
* Handshake process
* where to design reviews take place

[2015-07-06 13:59] cassiemc commented on #13
@xmatthewx This page seems wildly out of date already. Any reason why we cannot just remove it now?

[2015-07-06 14:00] cassiemc commented on #1
Blocked by https://github.com/MozillaFoundation/Mofo-Design-Handbook/issues/39

[2015-07-06 14:04] cassiemc commented on #35
I'm not loving that we can't comment on individual tumblr posts. This came to light when @vazquez asked for feedback on his daily desktop but there was no way to easily leave a comment.

Wondering if there is specific to the default theme, and could another theme make this easier, or perhaps there's a way to post on separate tumblrs but aggregate them together in one stream. I don't want to overco

[2015-07-06 14:35] cassiemc commented on #27
@xmatthewx Can you knock these out today?

[2015-07-06 14:43] cassiemc opened #44 "Ensure metrics are in place for build.webmaker.org/design"
This is really super simple, but needs to happen in order to do more complex measuring down the road. We are aiming to achieve:
* 100% increase in traffic
* 7+ unique visitors, return visits

[2015-07-06 14:45] cassiemc commented on #21
This ticket is getting unwieldy. Many other tickets have been filed as follow-up work, so I am going to rename this to reflect what it really accomplished – documenting the design brief and the benchmarks - and close. Moving forward we can use the [```July 17 milestone````](https://github.com/MozillaFoundation/Mofo-Design-Handbook/milestones/July-17) to check on our to-do list. Thanks all!

[2015-07-06 14:45] #21 closed

[2015-07-06 14:45] xmatthewx commented on #13
Everything on wm.org will be retired in the next few weeks. Should be soon enough that we don't need to make a task just for this, but I'll keep an eye on it.

[2015-07-06 14:50] xmatthewx commented on #35
You can turn replies on/off.  https://www.tumblr.com/settings/blog/twothickthumbs/desktopdailies

[2015-07-06 14:50] cassiemc commented on #30
From the benchmarking exercise @lovegushwa and I did, it seems like the blocks design is A) too similar to material design, B) doesn't grow very well and C) isn't very scannable. Let's also make the colors less googley. :) cc @vazquez

[2015-07-06 14:51] cassiemc commented on #30
@vazquez is away this week so I will take over the UI.

[2015-07-06 14:52] cassiemc commented on #43
@xmatthewx you interested in this one? feel free to take it if you have the bandwidth.

[2015-07-06 14:53] cassiemc commented on #31
@sabrinang Thought you might like this one if you have the bandwidth this heartbeat! I'll be taking on the UI in issue https://github.com/MozillaFoundation/Mofo-Design-Handbook/issues/30 so we can collaborate. Maybe with @flukeout too. If you think you'll be able to to it, feel free to assign it to yourself.

[2015-07-06 17:56] xmatthewx commented on #43
Yes. I'll take a stab at this.

[2015-07-06 21:36] cassiemc opened #45 "Design UX templates"
Would love to keep a set of templates on build.webmaker.org/design for us and contributors to grab as needed, so that when anyone sees a piece of UX work it screams "I am UX!" Off the top of my head, I see a limited text and color palette with a set grid. Similar to architectural drawings.

@xmatthewx Can you own this? We can adjust the milestone for this as needed but for now, because we have a U

[2015-07-06 21:44] cassiemc commented on #41
I think we have decided. @vazquez had some very good points and I agree we can give it a better shot. Our current subscription expires  2015-09-18 so I will check in on periodically before that point to reassess.

[2015-07-06 21:44] #41 closed

[2015-07-07 01:29] cassiemc commented on #31
Here's a cute little guy from We Transfer. I like the way the computer becomes him. :)
![redmons_1680x1050](https://cloud.githubusercontent.com/assets/1186326/8536954/1f82c6ac-2426-11e5-888d-7fd8733596ae.jpg)

[2015-07-07 17:36] cassiemc commented on #29
I've yet to review @hannahkane's briefs, but one thing I'd really find helpful to explicitly include in the brief is, "What are your user stories? (As a ____, I want ____ so that I can _____.)"

[2015-07-07 17:42] cassiemc commented on #27
I'll take these on since I need them to work on the UI.

### Designers
* As a **designer**, I want to know what assets already exist so that I don't have to start from scratch every time I begin a project.
* As a **new design employee or contributor**, I'd like to know what the design process is like at Mozilla so that I can make meaningful contributions and hit the ground running.
* As a **potent

[2015-07-07 17:43] cassiemc commented on #42
@flukeout anything you can share here from the teach gallery designs?

[2015-07-07 19:29] flukeout commented on #42
For sure, here's what we've got so far for the Thimble homepage designs, which are in progress here:
https://redpen.io/or0f6e3e18912fc780

![image](https://cloud.githubusercontent.com/assets/25212/8555253/a6a0515e-24a3-11e5-8d83-d75eca3b135a.png)

I'll update this ticket with the current footers from:
* Teach
* Webmaker Beta
* Advocacy
* ... others?

Then we can get started on the unification.

[2015-07-07 20:21] cassiemc commented on #35
The replies option is only to allow replies from someone following the blog for more than two weeks. So I guess we have to wait two weeks to see if it worked. (I also updated the settings to show the user avatar of the person who posted)

[2015-07-07 21:45] xmatthewx opened #46 "UX/UI annotation practices"
Draft UX annotation practices. To discuss with @flukeout.

[2015-07-07 21:46] xmatthewx commented on #46
# Webmaker project viewer

Notes for consistent build across Android and browser, touch device and desktop.

![project-viewer](https://cloud.githubusercontent.com/assets/53411/8558099/fd89f0f2-24cf-11e5-80c5-6c180ee7c941.png)

[2015-07-07 21:47] xmatthewx commented on #46
# Webmaker page viewer

Notes for consistent build across Android and browser, touch device and desktop.

![page-viewer](https://cloud.githubusercontent.com/assets/53411/8558129/2e7f495a-24d0-11e5-9f9d-da406beb221d.png)

[2015-07-07 23:19] xmatthewx commented on #46
Notes on images updated above:
 - posting multiple comments to organize material & for easy linking
 - posting as image, including date on header
 - #ff00ff for annotations
 - using [gesture symbols](http://www.google.com/design/spec/patterns/gestures.html) to reduce copy
 - placing comments inline
 - referencing minimal notes only when necessary
 - fira sans everywhere

[2015-07-08 00:13] flukeout commented on #46
Here's my attempt at FTU, but it feels like a different type of document.
https://dl.dropboxusercontent.com/u/109902/tiles/ftu-editing.pdf

I suggest we lower the opacity to 40% on the lines.

[2015-07-08 00:49] flukeout commented on #35
That two-week wait period is pretty funny.

[2015-07-08 15:15] cassiemc commented on #39
Related: the [Firefox design values](https://blog.mozilla.org/ux/2014/04/firefox-design-values/) linked from issue #1 I'll copy and paste them here:

![ff-design-values](https://cloud.githubusercontent.com/assets/1186326/8573949/43a5eba8-2562-11e5-905c-8cf11c037344.png)

**Takes care of you** – Firefox champions you – your security, privacy, and the quality of your online life.

**You help make it

[2015-07-08 15:21] xmatthewx commented on #39
It'd be nice to include a few of these and maybe visually extend this. These resonate: You help make it, Finely crafted, Global, Makes sense of the web. The phrasing on some of this is a bit awkward.

[2015-07-08 17:26] cassiemc opened #47 "Rename this repo to 'Mofo-Design'"
Seems to make more sense to me. Any objections? @flukeout @xmatthewx @vazquez @sabrinang @lovegushwa

[2015-07-08 17:31] xmatthewx commented on #47
:+1:

[2015-07-08 17:34] cassiemc commented on #46
This doesn't feel like a UX design, rather it feels like documentation guidelines. Have I mistaken this issue @xmatthewx? Not sure how it relates to #45.

I think the header can be improved – H1, H2, H3s. I prefer inline notes rather than having to visually connect labels with footnotes.

I liked the style @flukeout has been working with in Thimble notes: https://redpen.io/wo889e2e3abea83b34 and a

[2015-07-08 17:35] cassiemc commented on #32
Feel free to update this comment as you find stuff.

* [Promo guidelines for Webmaker.org](https://github.com/mozilla/webmaker-browser/issues/79)

[2015-07-08 17:36] cassiemc commented on #13
Ok, I'll add this to a later milestone.

[2015-07-08 17:44] cassiemc commented on #32
Oh! Just discovered this: https://docs.google.com/document/d/1aby1ntPPbIqhZLBd7MLDz3gAT83v3TYFOFh1ZnrV_pw/edit Now we need links for everything that currently exists.

[2015-07-08 18:10] cassiemc commented on #27
@flukeout R? please? I'd like to close today if possible!

[2015-07-08 18:24] xmatthewx commented on #46
I changed the title of this issue. Twice! It's about how we annotate things for the build.

I like the Thimble notes and promo guidelines as well. I think they are too stylized for our effort to generalize things.

Here are some goals for our annotations:
 - standardized - for easier reading by others
 - flexible - so they can adapt to particular projects
 - lightweight - so they can be made quick

[2015-07-08 18:30] xmatthewx commented on #46
A couple more goals for our annotations:
 - brevity - brief, inline notes are best whenever possible
 - comprehensive - anything unspecified is a debt we will repay with interest:
  - responsive
  - interactions
  - transitions
  - loading
  - error states
  - edge cases

cc @lovegushwa @sabrinang @vazquez

[2015-07-08 18:36] xmatthewx commented on #46
Agreed.

What if you divided your doc into a few pages (or gh comments). Use the white on black header to replace your pink headers (such as FTU: User edits a page). Lengthier notes are probably better in dark gray, saving fuscia for inline notes.

[2015-07-08 19:02] flukeout commented on #46
Here's an attempt at the quicker add-a-photo flow for Webmaker.
Full PDF - https://dl.dropboxusercontent.com/u/109902/tiles/camera-flow-simplified.pdf

![image](https://cloud.githubusercontent.com/assets/25212/8579374/0db17970-2569-11e5-85a0-6aabf8bac3f3.png)

[2015-07-08 21:51] xmatthewx commented on #46
A little cleaner?

![project-viewer](https://cloud.githubusercontent.com/assets/53411/8583173/92cf1d62-2599-11e5-9f3f-5335b406b970.png)

[2015-07-08 22:09] xmatthewx commented on #37
- `help wanted`
 - `good first design issue`

[2015-07-08 22:15] flukeout commented on #46
@xmatthewx Yeah, def!

[2015-07-09 16:13] xmatthewx commented on #46
You could add arrows as needed. Although, the icon is for the gesture swipe/drag. Panning is the result.

Noted

It's a pain in Sketch too. Might be worth it for visibility. Might not.

Here's a nicer header and simplified reference:

![annotations](https://cloud.githubusercontent.com/assets/53411/8600409/d6f8be4a-2633-11e5-899b-c7d1378a69b7.png)

[2015-07-09 17:32] flukeout opened #48 "*WIP* - Contributor Task - Usertesting Video Review -"
![task-force](https://cloud.githubusercontent.com/assets/25212/8605547/e4c5ca84-263a-11e5-98b9-31b3dd787fca.png)

## Welcome, UX Recruit
Thank you for volunteering for the UX Video Task Force! We've recently got our hands on some top-secret, classified video of someone using the new code editor we're working on, [Thimble](http://bramble.mofostaging.net). This video was hard to obtain, and we belie

[2015-07-09 18:52] lovegushwa commented on #39
When I met Tim Murray at Whistler he said the marketing team was working on a list of brand attributes. The way he expressed it, it's something similar to  Firefox design values. External facing attributes that are flexed depending on the intended communication (you don't need to express all the attributes, all the time.)

It would be great to see what they come up with (Cassie do you want to reac

[2015-07-09 20:34] cassiemc commented on #47
Aaaand done.

[2015-07-09 20:34] #47 closed

[2015-07-09 20:36] cassiemc commented on #30
Here's an update, redpen here: https://redpen.io/yv6e5118d61a8af297 (Background illustration TBD, perhaps we could make it seasonal)
Feedback? @lovegushwa @flukeout @xmatthewx @vazquez @sabrinang

![build-design-v2](https://cloud.githubusercontent.com/assets/1186326/8606302/adfa4a66-2658-11e5-8359-49da0774dfc1.png)

[2015-07-09 21:00] xmatthewx commented on #48
This is excellent. Very excited to test this out.

 - It'd be helpful to have an example review, or a few sample notes.
 - Might suggest they include timestamp as they take notes.
 - "Keep the notes objective. You can add a summary of your perspective at the end."

Ideally two volunteers view each video so that we can validate the observations easily. In fact, we should launch a site called userte

[2015-07-09 21:06] flukeout commented on #27
Looks great, a few additions listed below for your considerations.

* As a **designer**, I'd like to know where to find design resources like logos and fonts so that I don't have to keep bugging the other designers (same as engineer point).
* As a **designer**, I'd like to find templates and examples of different types of design products to help me work faster and create consistent, on-brand work.

[2015-07-09 21:17] cassiemc commented on #27
Nice ones, thanks @flukeout! Will add to the list above and close unless you have any other concerns.

[2015-07-09 21:18] flukeout commented on #27
R+

[2015-07-09 21:19] cassiemc commented on #27
:hand:

[2015-07-09 21:19] #27 closed

[2015-07-09 21:20] flukeout commented on #27
:hammer: :clock:

[2015-07-09 22:26] xmatthewx commented on #30
Lookin' real nice.

We previously grouped templates with guidelines. @lovegushwa mentioned in Whistler that guidelines are best baked into templates/tools. The idea rings true. The 4th section could probably just be called process, though I worry that it will be stale content that nobody reads, like my chapter on process.

As usual, I would reduce the words on this page.
 - Remove label "popular r

[2015-07-09 22:56] flukeout opened #49 "*Sample* Usertesting Video Observation Feedback"
**Note** - This is a sample user video observation ticket. Scan through it to get a sense of how to organize your feedback. Then, copy and paste the contents into a new issue.

**Video reviewed** - https://www.usertesting.com/videos/8Tux0p49gCoLD3kg30TqRA

**Summary**
Overall, the user was able to complete the assigned tasks easily, but struggled a little with changing the source of the image tag.

[2015-07-10 16:02] cassiemc commented on #32
From @xmatthewx: maybe move templates (and toolkits) into Guidelines. Should we rename "guidelines" then?

[2015-07-10 16:02] cassiemc commented on #30
@xmatthewx thanks for the feedback! I've worked a bit more on the IA in https://github.com/MozillaFoundation/Mofo-Design/issues/32#issuecomment-119672343. Would love feedback on that aspect there. +1 it might be nice to have an intro to principles right on this page in the future.

I kinda liked a *bit* more of an intro to the team than 'Questions? Send us a note.". The writing could definitely be

[2015-07-13 13:58] cassiemc commented on #42
How's this going @flukeout? Have you managed to collect the other footers?

[2015-07-13 13:58] cassiemc commented on #43
@xmatthewx any updates?

[2015-07-13 14:00] cassiemc commented on #31
@sabrinang Loved the heads you drew of the design team! Could you update this ticket with that sketch? Maybe we could vectorize them and make a pattern, heads/faces + design tools? Might work as a background in the current UI design in #30

[2015-07-13 14:00] cassiemc commented on #44
This one has no owner yet and we are tight on resources this week. Moving to the next milestone.

[2015-07-13 14:03] cassiemc commented on #39
We punted on discussing this as a group to this Wednesday so all team members could be present. @lovegushwa it'd be great if you could reach out to Tim, and I'd love to be included. Thanks!

I'm torn on separating this into two value sets though. The one I'd most like to focus on is the first of your groups. The brand attributes for all the other products should come from there / relate once we ha

[2015-07-13 14:04] cassiemc commented on #32
Made the above change. Now we just need links for all these things.

[2015-07-13 15:16] cassiemc opened #50 "Write a "volunteer job description" for design contributor"
There's some awesome thinking going on in https://github.com/MozillaFoundation/plan/issues/482. Would love to see how design can get involved in this.

[2015-07-13 15:38] cassiemc opened #51 "Set up 'programming' for Monthly Design Crit"
We should talk about who we want to invite to and have inform our design culture.
High bar inspiration: http://mailchimp.com/about/coffee-hour/

[2015-07-13 15:40] cassiemc commented on #32
@vazquez can you help with sourcing some links here / identifying which pieces aren't yet done? Shouldn't take long but would be a *huge* help! If you can do it, please self-assign.

[2015-07-13 17:55] cassiemc commented on #36
We have a sample folder, but we need to tweak it so it works well, need to ensure it is backed up appropriated, and then documented so other people know how to use it.

[2015-07-13 17:58] cassiemc commented on #26
needs an update. @xmatthewx can you link out relevant bugs?

[2015-07-13 19:25] cassiemc opened #52 "Build out UI in wmo.org/design"
- [x] Build Static Page (no external links) from #30 –  #56
- [x] Add External Links to Static Page with content from #32 – #57
- [ ] Ensure metrics are in place from – #44
- [ ] Design review
- [ ] Engineering review
- [ ] QA – https://github.com/MozillaFoundation/Design/issues/68
- [x] Ship to build.webmaker.org/design

[2015-07-14 14:39] vazquez commented on #32
Done! :lollipop:  We are missing a couple of Learning Networks specific design files.

@sabrinang, could you link to the Teach project on Google Drive? If you also happen to have a file on Learning Networks branding that would be stellar.

[2015-07-15 15:09] xmatthewx commented on #47
Should we also drop mofo? It's redundant since this repo sits within the foundation account. It's also unintelligible to outsiders.

[2015-07-15 15:31] vazquez commented on #47
Big +1

[2015-07-15 15:32] vazquez commented on #47
**MozillaFoundation / Design** reads really great :sunglasses:

[2015-07-15 15:41] cassiemc commented on #47
Nice! Will do.

[2015-07-15 15:42] cassiemc commented on #47
Done!

[2015-07-15 15:43] vazquez commented on #47
Yay! :tulip:

[2015-07-15 22:38] xmatthewx commented on #43
No progress here. Slightly concerned about creating something truly useful, but haven't had time to dig into this yet.

[2015-07-16 01:15] cassiemc opened #53 "Improve mofodesign mailing list"
Options to investigate:
- [x] Create a google group? ~~Mailchimp? Other options?~~
- [x] Just call it 'mozilla design' (of "mozilla foundation design') --> calling it 'open-design'
- [x] ^^ Does that already exist? (not for mofo)
- [x] Are there better mediums for link-sharing? (not currently)

[2015-07-16 01:16] cassiemc commented on #49
@flukeout I wonder if this is the best place for this to live? Feel like it gets a little lost in github.

[2015-07-16 01:21] cassiemc commented on #35
I added disqus to the tumblr but I guess I don't really get how that works b/c it didn't change the interface at all to allow commenting. wtf!

[2015-07-16 01:33] vazquez commented on #35
I can see it! It works for me.

<img width="798" alt="screenshot 2015-07-15 21 30 58" src="https://cloud.githubusercontent.com/assets/1119821/8713631/0fab0d88-2b39-11e5-88ed-2417c45834c6.png">

[2015-07-16 16:31] cassiemc commented on #51
Had our first guest Madhava, was great! Gave our own work some new context and made connections between Mofo-Moco.

Other ideas on the table:
* Parsons people (via @xmatthewx)
* other instructors?
* Aaron Walter (mailchimp)
* design/dev hybrid industry leaders
* illustrator
* contributor
* student/s

What I'd actually like to do with this ticket is create a more general 'programming', not just gue

[2015-07-16 16:45] cassiemc commented on #43
Moving to the next heartbeat.

[2015-07-16 16:45] cassiemc commented on #31
Any updates on this @sabrinang ?

[2015-07-16 16:47] cassiemc commented on #35
Oh ok, cool! I see it too if click on permalink. Feels a bit hidden but at least it's there, thanks @vazquez!

[2015-07-16 16:55] cassiemc opened #54 "Design Holiday Card thank you list"
mentor= @cassiemc

Thinking about how we say thanks to people at the end of the year for being amazing to and for Mozilla. Personally I'd like to add our design contractors, contributors, our intern, maybe final interview candidates and past employees. Could also add top donors, Mozfest session leaders. This could be a great list for our shiny new CRM @adamlofting!

Maybe it's not a holiday card,

[2015-07-16 17:36] flukeout commented on #35
Nice work @cassiemc - this is good. For me I'm finding that I'd rather post a crop of my screen, sometimes the desktop is too big to show the thing I actually want people to notice, hope it's cool with everyone that I deviate from the plan a bit.

Next up, tilted, blurry on one edge UI photos a la Dribbbbbbble!!!

[2015-07-16 20:43] flukeout commented on #42
**Advocacy Footer**

![image](https://cloud.githubusercontent.com/assets/25212/8734616/0e053d6e-2bc0-11e5-9e9c-1947e81995fc.png)

**Webmaker Beta**

![image](https://cloud.githubusercontent.com/assets/25212/8734702/8b021b66-2bc0-11e5-985c-a2d5c64a322f.png)

**Teach**

![image](https://cloud.githubusercontent.com/assets/25212/8734713/9c422880-2bc0-11e5-83e9-b55e939e6041.png)

[2015-07-17 02:28] cassiemc commented on #39
We didn't get a chance to do this last week because of our guest critiquer. Will plan on it for July 29.

[2015-07-17 02:30] cassiemc commented on #32
A bunch of stuff that is missing here from individual projects, when you guys get a chance to update @sabrinang @lovegushwa.

[2015-07-17 02:31] cassiemc commented on #52
@vazquez said he might be able to make progress on this next heartbeat.

[2015-07-17 14:49] xmatthewx opened #55 "Triage by design"
How can we improve a team's experience and success with setting priorities on features and bug fixes? How can we increase visibility to the decisions that drive our work? How can we provide a clearer path for research and metrics to inform iteration?

Thinking out loud...

# 1

How much does a feature or bug impact users? How hard is it to implement or fix?

![1 cost benefit](https://cloud.githubu

[2015-07-17 15:44] vazquez commented on #51
Yes! I like that :) Sort of a critique meets book club, :boom:

[2015-07-17 17:37] xmatthewx commented on #46
Solid progress. Deliverables:
- [ ] sketch template
- [ ] illustrator template

eps tempalte won't allow us to use symbols that will be very useful for this.

[2015-07-17 17:52] xmatthewx commented on #43
This requires a bit more thought and scoping by me. I was going to post the text below, but I think it might be nonsense.

Unlikely to be done by July 31.

[2015-07-17 18:04] vazquez opened #56 "Build Static Page (no external links)"
The first step to building this page is to build the page with no external links, just copy.

**Note:** First iteration of this page will not include the Popular Resources section that currently appears above the fold.

The main meta-issue for this issue is #52

[2015-07-17 18:05] vazquez opened #57 "Add External Links to Static Page"
Once we have built out the static page, let's now gather and implement all the external links (Google Drive mostly)

The main meta-issue for this issue is #52

[2015-07-17 18:07] vazquez commented on #52
This issue has been triaged! :tractor:.

I am optimistic about getting #56 done in time. I have doubts to get #57 done in time (not because of difficulty, but just time constraints)

[2015-07-17 21:00] xmatthewx commented on #39
nice approach: https://fundraising.mozilla.org/fundraising-team-charter/

[2015-07-17 21:34] cassiemc commented on #39
Agreed regarding the fundraising charter! Also had a nice chat today with Tim Murray about how when he was at Target the team identified four main principles which were:

* joyful
* authentic
* suprising
* designed

And then these four could be applied to different projects in varied proportions depending on the objective and the audience, i.e. credit card payment system should be more authentic t

[2015-07-17 21:34] cassiemc commented on #39
Tim also suggested 'view source' as a design principle. Maybe that means being able to find out who made it, grab the design, use it themselves – we'd need to dig a little deeper into that one to figure out how to apply it.

[2015-07-18 01:13] cassiemc commented on #30
I updated the redpen here with the latest design (also below): https://redpen.io/yv6e5118d61a8af297
Feel free to adjust elements as needed in the build for illustration or other needs. Hoping @vazquez and @sabrinang can make those tweaks as they arise, while I'm on PTO.

The .psd and latest png are in Drive / Design Assets / build.webmaker.org

![build-design-v3c](https://cloud.githubusercontent.c

[2015-07-18 01:13] #30 closed

[2015-07-18 01:15] cassiemc commented on #56
Here's the latest UI from #30.

I updated the redpen here with the latest design (also below): https://redpen.io/yv6e5118d61a8af297
Feel free to adjust elements as needed in the build for illustration or other needs. Hoping @vazquez and @sabrinang can make those tweaks as they arise, while I'm on PTO.

The .psd and latest png are in Drive / Design Assets / build.webmaker.org

![build-design-v3c](h

[2015-07-18 01:16] cassiemc commented on #32
Moving to the next milestone.

[2015-07-18 01:30] cassiemc commented on #35
All those boxes are checked so I am marking this baby resolved!

[2015-07-18 01:30] #35 closed

[2015-07-18 01:32] cassiemc commented on #52
I'm going to remove this from the milestone since you filed smaller tickets. Thanks @vazquez.

[2015-07-18 01:35] cassiemc commented on #57
Content was gathered in #32

[2015-07-18 01:38] cassiemc commented on #43
Moving to the next milestone. Let's discuss / triage when I'm back from PTO.

[2015-07-18 01:39] cassiemc commented on #45
Glad you are owning this @sabrinang! Looking forward to seeing what you can do here.

[2015-07-18 01:40] cassiemc commented on #25
I will just write a paragraph or two that we can link to from build.webmaker.org/design. Once I'm back from PTO.

[2015-07-18 01:41] cassiemc commented on #24
We decided this wasn't as important as doing the right thing for new projects moving forward, so am moving to a later milestone.

[2015-07-18 01:42] cassiemc commented on #39
To be clear, this bug is just about documenting the conversation that we will have on July 29 in a place that can be linked to from build.webmaker.org/design. We can iterate on its presentation later. cc @lovegushwa

[2015-07-18 01:45] cassiemc commented on #42
This is fantastic @flukeout. Maybe the next step here is to set up a meeting with the product managers of each of these sites to present these and so we can ask questions to understand how the differences might be important. I'd be happy to drive that when I'm back from PTO.

In the meantime, perhaps we can do some benchmarking of other modern footer design trends?

[2015-07-20 16:34] xmatthewx commented on #29
Added the (formula) and gave this it's own line in the brief.

[2015-07-20 16:59] #56 closed

[2015-07-20 17:00] vazquez commented on #56
Boom!! :boom: Slam dunk :basketball:

[2015-07-20 17:08] xmatthewx commented on #45
thanks @sabrinang! Glad to discuss how to make these as useful as possible before you dive in if you want.

I'd like to take advantage of the symbols for common elements. That will mean using sketch and illustrator. I also think that a single file that places devices side by side will help us think more about responsive from the get go.

[2015-07-20 17:23] xmatthewx opened #58 "Smell test (is a design resource worth the investment?)"
Creating a design team resource is great, but only if it saves more work than it creates. Maybe we review this list first:

 - [ ] Can we create it quickly to validate its usefulness?
 - [ ] Can we create it while working on a specific design project to help specifically with that project?
 - [ ] Will it be easy to update and maintain?
 - [ ] Can it be made as a tool rather than a reference or gui

[2015-07-20 17:50] vazquez commented on #37
- **`help wanted`** Any designer can take this issue!

 - **`good first design issue`** is applied to an issue that is identified as being suitable for a contributor.

 - **`needs design`** is applied to an issue that hasn't yet been triaged by a design team member. The issue could lead to more issues being filed, as the design team member sees fit.

 - **`design`** is applied to an issue that has

[2015-07-20 17:53] vazquez commented on #37
Closing this issue and filing new bugs as needed. :earth_africa:

[2015-07-20 17:53] #37 closed

[2015-07-20 17:56] xmatthewx commented on #37
i added some of these labels to webmaker-core. probably would be good to add them to thimble, teach, advocacy repos.

[2015-07-21 01:07] sabrinang commented on #31
<img width="1440" alt="screen shot 2015-07-20 at 5 43 09 pm" src="https://cloud.githubusercontent.com/assets/2492510/8791028/04d1add4-2f0a-11e5-9b89-88ae5c11f723.png">
Work in progress on the heads and will integrate this in a pattern with design tools to be used as a background.

[2015-07-21 05:32] sabrinang commented on #32
Learning Network site assets on Google Drive: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_eR2dpNnJXRTR1UVU&usp=sharing

There currently isn't a file on MLN branding yet as it is being discussed and to be developed after MLN team has finalized more of their plans; I will update Google Drive when it comes along.

[2015-07-21 15:38] vazquez commented on #55
I really dig this visual approach to prioritizing the work in a heartbeat. This diagram can also be very easy to refer to during the heartbeat. I have found myself asking "What was the important thing we are working on this heartbeat?" mid-sprint as I forget sometimes. This would be a very good resource to validate our priorities.

[2015-07-21 17:53] xmatthewx opened #59 "Open design feedback"
@LauraReynal asked if she could stop by here for some design feedback. I thought, why not? Let's welcome design projects that have no obvious home, from MoFo or in the world beyond.

cc @flukeout @vazquez @sabrinang @lovegushwa @cassiemc

[2015-07-21 18:37] LauraReynal commented on #59
YAY I love the fun label :-)

Do you folks have any recommendation for this diagram below ? This is due for thursday CET timezone, so no need to spend extra time on it, but quick feedback that I can implement would be truly, greatly appreciated :smile:

Context:
this diagram illustrates 1 year of research methods for a future project, it will be inserted in a proposal.
Goal:
Make the reader unders

[2015-07-21 19:36] xmatthewx commented on #59
Looks good. Consider reducing the elements so it's a quicker read:

 - align your horizontal rows
  - unify box heights and align across columns
  - fit things within quarters
 - reduce boxes and columns
  - "Group A&B" should be between the groups. Remove the header box. Add an arrow down from "150 participants."
   - "Proto products intro" and "monthly digi skills tranings" could be one box with

[2015-07-21 20:56] LauraReynal commented on #59
This is terrific. Thank you so much !

I made changes according to your feedback and also on content according to the team.

* Group A&B: I'd like to keep the quantitative research aside from the qualitative experimental research, so I think it should stay appart on the side. The message is : "In parralelle, data collection will happen all the time for both groups". So I added the label "Quantitat

[2015-07-21 22:30] xmatthewx commented on #59
Now that's the stuff.
 - Quantitative column makes sense
 - Little back arrows are fine
 - You could state "continuous documentation" once at the top of Q1 and then just use two longer yellow arrows.
 - "Research closing" should be centered on "150 participants"

Minor bits. This looks super fine.

[2015-07-22 14:23] adamlofting commented on #54
:+1:

[2015-07-22 14:36] LauraReynal commented on #59
Thank you so much for the feedback :yellow_heart:
This ticket can be closed - I shipped the graphic !

[2015-07-23 15:09] #57 closed

[2015-07-23 15:43] vazquez commented on #31
Hey @sabrinang, what about this layout?

![screenshot 2015-07-23 11 37 53](https://cloud.githubusercontent.com/assets/1119821/8854836/040bcef2-3130-11e5-9f88-50987ae1c8b9.png)

[2015-07-23 15:48] vazquez commented on #32
Links have been placed on website. Closing.

[2015-07-23 15:48] #32 closed

[2015-07-23 15:50] vazquez opened #60 "Implement Sabrina's illustration on /design"
Depends on #31

[2015-07-23 16:13] xmatthewx opened #61 "Try out visual triage on Webmaker"
I've added a bunch of Webmaker features to a triage matrix to see if it helps us set priorities.

 1. find [the slide](https://docs.google.com/presentation/d/1-BDvdjNd8GAfgG4IV_iy_0TfxevxbfJTyejv6YzAQiE/edit#slide=id.gc36892fe0_0_0) with your name on it
 2. sort items on grid
 3. compare with each others and discuss over Vidyo

cc @vazquez @LauraReynal @flukeout

[2015-07-23 16:16] flukeout commented on #31
Yeah!!! This is sweet. Can we have a speech bubble hoverstate with our names and twitter handles or something like that?

[2015-07-23 16:24] vazquez commented on #31
@flukeout For sure, good idea!

[2015-07-23 17:24] sabrinang commented on #31
@vazquez  Yup that layout works for me :) ...Ooo I like the hoverstate idea too haha

[2015-07-23 17:27] LauraReynal commented on #61
Hey @xmatthewx this is awesome -- while trying it I realise that I have little idea of the cost of a project.
For example, I would suspect that stickers are a high cost ?

Do we have a way of assessing what is high cost and what is less costly ?

[2015-07-23 17:32] LauraReynal commented on #61
Would be nice to add " video " or "vine support" in the list

[2015-07-23 17:33] xmatthewx commented on #61
Some things would be more complicated to design and test, but cost is often best guessed by engineers. We can focus on the vertical axis.

[2015-07-23 17:35] LauraReynal commented on #61
Ok 2 comments
1. the exercice is awesome, we should do it regularly during the UX Jam force
2. its really hard to do ! :imp:

[2015-07-23 17:57] xmatthewx commented on #61
Feel free to add a couple missing items if they're important

Surprisingly so!! I just added a grid. Made it easier for me by reducing the infinite options.

--
related to: #55

[2015-07-23 17:58] LauraReynal commented on #61
Agree with the grid, there was too much space.

[2015-07-24 02:50] lovegushwa commented on #32
@vazquez Sorry Ricardo, I tried to set up another issue for you but I have a list of people I can assign and your not on it.

Webmaker brand Assets & Deliverables:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvZ1lwMHVXaHZpMHc&usp=sharing

Brand / Assets Deck (WIP):
https://docs.google.com/a/mozilla.com/presentation/d/1-HCOlHYow12vnJqH6vHEjRXCCtLUbfF02WEVPN1NDcA/edit?usp=sharing

[2015-07-24 03:00] lovegushwa commented on #36
Here is the first pass. I kicked it around with @thisandagain to shape the language a structure and conventions a bit more.

Check out Webmaker > Webmaker-brand-2015
I'm going to continue to put up other projects and refine the structure over next week.

https://drive.google.com/a/mozilla.com/folderview?id=0BzfN9sXlOXt1OE01ekI2LVA4RGM&usp=sharing

[2015-07-24 15:46] vazquez commented on #31
@sabrinang - Is it possible to get every face as a separate SVG?

[2015-07-24 22:58] xmatthewx commented on #61
### Visual triage test results

@vazquez @flukeout @LauraReynal and myself sorted potential features based on our expected impact on users (high, medium, low).

Twelve out of sixteen features were rated as high impact by 2 or more people. Of these:
 - Three features were rated as high impact by 3 people.
 - One feature was unanimously viewed as high impact.

Sorting was done independently and quic

[2015-07-27 11:14] sabrinang commented on #31
polished off the illustrations
<img width="1362" alt="screen shot 2015-07-27 at 4 11 39 am" src="https://cloud.githubusercontent.com/assets/2492510/8904609/ba74fe56-3415-11e5-89d4-b30addc52cf5.png">

and exported each as .svg here: https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvb0Jpa0hLbDY0c1U&usp=sharing

[2015-07-27 14:36] cassiemc commented on #59
Sounds good, I like the process!

[2015-07-27 14:36] #59 closed

[2015-07-27 18:55] #36 closed

[2015-07-28 20:40] cassiemc opened #62 "Create wireframe for Teach Like Mozilla page"
The Teach like Mozilla page needs to be wireframed – this is its current state: https://teach.mozilla.org/teach-like-mozilla/ page

Hannah will provide all of the content (which is being gathered here: https://teach.etherpad.mozilla.org/tlmcontent). Right now the page is a bunch of pieces and needs to be pulled together into a single coherent concept. This content doc lists all the various pieces

[2015-07-28 20:50] lovegushwa opened #63 "Add EOY 2014 asset files to drive"
@sabrinang Please add any relevant EOY 2014 digital files to _PROJECTS > Fundraising
Thank you!

[2015-07-28 20:50] cassiemc opened #64 "Complete design brief for Teach Like Mozilla page"
Will feed into the wireframe issue #62
There is already a bunch of context in the content doc – https://teach.etherpad.mozilla.org/tlmcontent
Design brief template can be found here: https://github.com/MozillaFoundation/Design/issues/20

We'll do this together in the Kickoff meeting.

[2015-07-28 20:52] cassiemc opened #65 "Benchmarking for Teach Like Mozilla page"
Design brief is here: #64
Already a bunch of context in the content doc here: https://teach.etherpad.mozilla.org/tlmcontent

[2015-07-29 13:34] cassiemc commented on #15
Rewriting / ordering a bit of what Ricardo did above and adding checklist boxes so this can become a functional list in our process.

However, I suspect content here needs an update. @vazquez could you take a pass on this list to make it more accessible for all projects? So when you and @lovegushwa look at the brand elements template, you might revisit "other UI elements" as it pertains to Teach,

[2015-07-29 13:50] cassiemc commented on #43
What I really want from this is a process map that:
* Shows what our process looks like for new designers who are joining or contracting with us
* Shows PMs what a good design process looks like, so they can help support and reinforce it
* Links to resources for each step in the process. So if I'm stuck on a project, I can find my place again and quickly get started again by using supporting docs.

[2015-07-29 18:11] #31 closed

[2015-07-29 18:14] #60 closed

[2015-07-31 06:01] cassiemc opened #66 "Design sessions for mozfest"

[2015-07-31 16:10] cassiemc commented on #64
#### Project Brief

 - [ ] What problem are you trying to solve?
 - [ ] Who has this problem?
  - [ ] Have research?
  - [ ] Have user stories? (As a ____, I want ____ so that I can _____.)
 - [ ] When do you plan to launch your solution? How long will it remain active? Describe opportunities, constraints, phases.
 - [ ] What features does an MVP solution include? How will your audience use it?
 -

[2015-08-04 14:59] xmatthewx commented on #61
My review of results was crazy long. Here's a visual summary of the features rated with the highest impact for users:

<img width="970" alt="screenshot 2015-08-04 10 53 45" src="https://cloud.githubusercontent.com/assets/53411/9063868/b8034442-3a97-11e5-9be3-8f0cf37bb52c.png">

#### Ricardo's perspective

<img width="970" alt="screenshot 2015-08-04 10 56 51" src="https://cloud.githubusercontent.co

[2015-08-04 17:49] cassiemc opened #67 "Complete application for user testing intern"
cc @flukeout

[2015-08-04 18:27] flukeout commented on #67
@cassiemc What do we need to do for this? I can start by writing a short job description. Do we have a specific deadline in mind?

[2015-08-04 18:30] cassiemc commented on #67
I think we should aim for end of week. Here's the application: http://yid.vcn.bc.ca/host-site-application/

[2015-08-04 18:51] cassiemc commented on #65
We did this. yay!

[2015-08-04 18:51] #65 closed

[2015-08-04 18:56] cassiemc commented on #62
We did this. Thanks for your hard work on this @kristinashu @sabrinang and @flukeout!
* Final wireframe below and on redpen – 1/2 is here: https://redpen.io/nv3bec9dc89d965a44 and 2/2: https://redpen.io/ok1c17622f5e4114af
* Process work leading up to the final version is here: https://redpen.io/p/tr51322d9d221d45be

![final-pg1-red-pen-c621810c-0030-4799-db69-140e241a2727](https://cloud.githubuser

[2015-08-04 18:56] #62 closed

[2015-08-04 19:03] cassiemc commented on #64
As documented in https://etherpad.mozilla.org/kristinashuday

* What problem are you trying to solve?
 - give people access to resources that will help them develop their skills as teachers
 - we want people to be better teachers
 - clarifying teaching activities (what) from teach like Mozilla (how)
* Who has this problem?
 - high/middle formal school teachers, non-formal educators,
* ~~When do yo

[2015-08-04 19:03] #64 closed

[2015-08-04 19:08] cassiemc opened #68 "Update links on wmo.org/design"

[2015-08-04 19:25] cassiemc commented on #44
@vazquez are you able to add this in? Would be happy to make a new analytics property if we need it. Let me know!

[2015-08-04 19:39] cassiemc commented on #25
## Benchmarking Methods

Choose whatever method works for you to capture appropriate benchmarks. It is important to annotate what's special about each benchmark. What issues does it raise? What should we be paying attention to? What should we ignore?

Most importantly, **be sure to upload screenshots and insights to the Benchmarks bug** or link to the appropriate place where benchmarks have been c

[2015-08-04 19:39] cassiemc commented on #25
@xmatthewx Can you review the above comment https://github.com/MozillaFoundation/Design/issues/25#issuecomment-127731094 so I can potentially close this bug?

[2015-08-04 19:40] cassiemc commented on #42
Next step: Benchmarks of other footers! cc @flukeout

[2015-08-04 19:40] cassiemc commented on #13
Update @xmatthewx ?

[2015-08-04 19:42] cassiemc commented on #45
Update @sabrinang ?
Symbols are a good idea. Would love to see some progress on some actual reference documents. We can start with Sketch and mobile (or desktop, since that might be more practical for Webmaker atm), if it's easier to narrow the scope.

[2015-08-04 19:43] cassiemc commented on #46
Much progress has been made here! Can we wrap this one up and close it off, @xmatthewx ? We can file a new issue to link to it from Build. Or just add the files to Drive.

[2015-08-04 19:46] cassiemc commented on #40
Let's just add this copy to https://github.com/xmatthewx/Mofo-Design-Handbook/tree/master/Process and call it a day!
@xmatthewx can you do this this heartbeat?

[2015-08-04 19:47] cassiemc commented on #25
I'll add this content once reviewed to https://github.com/xmatthewx/Mofo-Design-Handbook/tree/master/Process in order to close this off.

[2015-08-04 21:21] xmatthewx commented on #13
Still pending, still inevitable (snippet launch was delayed). I think we can close this since it doesn't actually require us to do anything.

[2015-08-04 21:21] #13 closed

[2015-08-05 15:53] vazquez commented on #44
@cassiemc - I don't have enough clearance to create an analytics property on Google Analytics. Could you create a new property? I can certainly add it in after that :)

[2015-08-05 15:54] vazquez commented on #52
@cassiemc - Can we close this issue since we have filed separate tickets?

[2015-08-05 16:54] cassiemc commented on #52
Makes sense to me

[2015-08-05 16:54] #52 closed

[2015-08-05 16:58] cassiemc commented on #44
Fab. I wasn't sure if Build already had analytics. Here is the tracking code: https://docs.google.com/a/mozilla.com/document/d/1WOoWKsvLB-tCo0O0g_2aMt7TAH6ojjoXqgeS47watJQ/edit?usp=sharing

[2015-08-06 17:03] xmatthewx commented on #46
Working template files are now on gDrive in the Annotation folder under Templates and Guidelines, alredy nicely linked from build.

[2015-08-06 17:03] #46 closed

[2015-08-06 17:13] cassiemc opened #69 "Plan a QA day for Webmaker"
Similar to our Kristina Shu day, let's have a focused day with multiple designers together lookin' at stuff.

[2015-08-06 18:19] hannahkane commented on #62
Thanks, @cassiemc. Will move this work over to the Teach repo now. Really appreciate all the work on this!

[2015-08-06 18:53] cassiemc opened #70 "Templatize social share graphics for Facebook and Twitter"

[2015-08-06 23:19] flukeout commented on #67
I've started a draft of the application here:
https://docs.google.com/document/d/1lJ4Nb4kZloqiDik_gLpJK5hthkKcVuGgc3Ng9UEIHq0/edit?usp=sharing

[2015-08-07 18:16] cassiemc commented on #67
Fabulous. Left a few comments. @flukeout

[2015-08-07 19:23] xmatthewx commented on #40
Yes. And we should probably migrate the text to the wiki for easier updates by everyone.

[2015-08-07 19:29] xmatthewx commented on #25
Looks good. You might add a bit about why we benchmark at the top.

I created a wiki page where you can drop this section of process https://github.com/MozillaFoundation/Design/wiki/Process:--Benchmarks

[2015-08-07 19:39] xmatthewx commented on #25
Looks good. I added my process chapter to the wiki. It includes a brief intro to benchmarks. I linked from there to your details about how to do them well. https://github.com/MozillaFoundation/Design/wiki/Process#benchmarks

[2015-08-07 19:40] xmatthewx commented on #8
Moved my text from pull request to the wiki. https://github.com/MozillaFoundation/Design/wiki/Process. There and ready for anyone to edit and improve.

[2015-08-07 19:40] #8 closed

[2015-08-07 19:42] xmatthewx commented on #43
Diagram should reflect [process chapter in wiki](https://github.com/MozillaFoundation/Design/wiki/Process). Diagram should [initially be quick and simple](https://github.com/MozillaFoundation/Design/issues/58) to first make sure it's actually useful.

[2015-08-10 11:20] LauraReynal opened #71 "Finalize design for Chicago report"
Team: @lovegushwa and I
Decision/review: @cassiemc

Milestone: Friday 14th

**Goal**: we need to make some changes to the editorial design of the research report document and to finish the design of the different graphics and frameworks.

To do
- [x] Refresh the editorial design of the inDesin template in order to answer various communication needs. Design a few new Master Pages with different gri

[2015-08-10 13:32] vazquez commented on #15
I updated the comment above. I'm comfortable with closing this issue and filing new issues as needed to modify and update this list.

:boom:

[2015-08-10 13:32] #15 closed

[2015-08-10 14:51] xmatthewx commented on #40
Added to wiki for posterity!! https://github.com/MozillaFoundation/Design/wiki/Process#hand-off

[2015-08-10 14:51] #40 closed

[2015-08-10 15:23] LauraReynal commented on #71
@lovegushwa to make things easier and give you a glimpse of the different editorial needs of the report itself, I pinged you in the google doc in various places.

[2015-08-10 17:40] LauraReynal commented on #71
@lovegushwa here is the drive folder where you can find all the Chicago assets. Feel free to version your copies of the indesign documents into this folder.

https://drive.google.com/open?id=0B0X05aIHuAbed2xfX0Z5c09KaTg

I will start porting the content into the document for you to be able to work on it. Thansk !

[2015-08-11 10:13] LauraReynal commented on #71
@lovegushwa I can't find the document CHICAGO_X copy-Jordan-B anywhere

We are working on Research Reports Assets > Chicago in google drive.

Did you upload it there?

[2015-08-11 10:48] LauraReynal commented on #71
It seems like the Chicago X folder itself has disapeared from the drive folder.

[2015-08-11 17:37] lovegushwa commented on #71
@LauraReynal @cassiemc  ... Just updating the universe. The files were in google doc limbo. Laura and I are collaborating (I'm working with her to finish tables and charts she needs and cleaning up the new report template.) We have a daily standup at 10am(PST) in Laura's room.

[2015-08-11 17:43] cassiemc commented on #71
Ok cool :)
On Aug 11, 2015 1:38 PM, "lovegushwa" <notifications@github.com> wrote:

[2015-08-11 18:44] lovegushwa commented on #63
@sabrinang so for the DE campaign end of August I will be creating the following:

Facebook
Mozilla.org
Snippet
Tile
Twitter
Doner-Funnel (this is already documented ... if you have a wireframe file it would be handy otherwise I will build one.)

If you have the final best version of each of these items we can use them as a baseline. They can be dropped to the drive here:

https://drive.google.com

[2015-08-11 20:49] LauraReynal commented on #71
@lovegushwa I put lots of content in the inDesign document for you to be able to work on the master pages and the grid.

Document name is Chicago X- Copy 11-08-15

There should be every style of content in there:
- Basic text,
- Headings 1, 2, 3
- Normal quotes
- BIG quotes
- pull out boxes for anything related to side content (legends, side-stories, recommendations etc)
- footnotes
- full page pi

[2015-08-11 21:02] lovegushwa commented on #71
Excellent @LauraReynal !
I will work on these style elements this evening. Goal for tomorrow is a solid working template.

[2015-08-12 06:40] lovegushwa commented on #71
@LauraReynal Updated the file. I rebuilt all the type styles, the grid and master pages.  I still need to crack skills and constraints, lets go over the document together tomorrow during standup. Please continue to add content.

[2015-08-12 09:43] LauraReynal commented on #71
Jordan, you won't believe me: The file you worked on was not the correct one. Another Drive mess up. It did not save into the folder properly I guess, or it disapeared again. :crying_cat_face:

Let's clean this mess when we speak tonight. I can still use most of what you did, which is awsooome !

[2015-08-12 09:48] LauraReynal commented on #71
If you wake up before our stand / have time here is the file I intended to give you yesterday https://drive.google.com/open?id=0B0X05aIHuAbeWjF2RnAtV0JqdEk

[2015-08-12 10:04] LauraReynal commented on #71
Note for our stand-up tonight: We also need a page with multiple images. I used to make them myself in the other reports, and im not sure I have proportions correct.
Examples:

![screen shot 2015-08-12 at 10 55 46](https://cloud.githubusercontent.com/assets/8261945/9221376/c6d9624e-40e1-11e5-9838-1aa4a9e6e812.png)
![screen shot 2015-08-12 at 10 55 54](https://cloud.githubusercontent.com/assets/826

[2015-08-12 15:08] LauraReynal commented on #71
For the personas page, I'm thinking of something like this.
Will put content for you in the file.
![img_20150812_155812](https://cloud.githubusercontent.com/assets/8261945/9227592/52680980-410c-11e5-8cc5-3d7c4db18d79.jpg)

[2015-08-13 06:27] lovegushwa commented on #71
@LauraReynal I made good progress today. The updated file is on the drive for you to use. Let's brainstorm the grid tomorrow at standup.

[2015-08-13 10:39] LauraReynal commented on #71
@lovegushwa thanks :smile: :tulip:
A few notes for our standup tonight :
- we lost the 2 boxes page 3 which described Mofo learning producst and programs
- I really love what you did for the skills and constraints !! Super clean and easy to read :yellow_heart: The only things is I would not put color around "no use" and "creation" - it makes me only see them, but they arent the most important
- fo

[2015-08-13 12:30] LauraReynal commented on #71
- I made a few changes to the threshold diagrams. I made 2 new spreads inside the doc. I wanted to try something out, but im not attached to the photos. However, if we can work out the quotes it would be awsome. Let's discuss tonight :)
Aslo added the educators copy - which we did not have yet

[2015-08-13 17:15] xmatthewx commented on #66
cc @xmatthewx

[2015-08-17 17:44] cassiemc opened #72 "Prep for Kristina's onboarding"

[2015-08-17 17:45] cassiemc commented on #70
@sabrinang updates on this?

[2015-08-17 17:46] cassiemc commented on #42
@flukeout Want me to help source some benchmarks?

[2015-08-17 17:47] cassiemc commented on #38
First step here is to let them know about it! I'll take this on.

[2015-08-17 18:04] vazquez commented on #72
If you need any help on this, let me know :)

[2015-08-17 18:06] vazquez commented on #44
We are going to add Adam's https://github.com/mozilla/react-ga Google Analytics module to get this done.

[2015-08-17 18:12] cassiemc commented on #72
Cool thanks @vazquez! I'm going to go off of a template @valiantry created for her team and adapt as needed. I'll definitely rely on you to do some process / culture introduction with her and I'm open if you have other ideas as well... We can chat about it tomorrow.

[2015-08-17 19:59] sabrinang commented on #70
<img width="1440" alt="screen shot 2015-08-17 at 12 49 02 pm" src="https://cloud.githubusercontent.com/assets/2492510/9314607/bfba08dc-44de-11e5-85f5-b03337278453.png">
I added this template to the assets folder which includes email callout, twitter, facebook and directory tiles. I included notes and examples on separate layers for reference.
You can find it Design Assets › Templates & Guidelines

[2015-08-17 20:26] cassiemc commented on #70
Awesome @sabrinang! I'm okay with them being altogether but it does make them slightly harder to update whenever there are changes to individual platforms. For that reason, I would separate them out.

And then the only thing I would change is to add what they look like in context, so what does the image look like in a Facebook post, etc.

If you have other notes about placing elements I think that

[2015-08-17 20:33] #44 closed

[2015-08-20 19:15] lovegushwa commented on #24
all done.

[2015-08-20 19:15] #24 closed

[2015-08-21 14:49] cassiemc commented on #53
After input from several peeps have decided to go with google groups. I made a new one here: https://groups.google.com/a/mozillafoundation.org/d/forum/open-design going with open-design@mozillafoundation.org as our new address. I've filed a service now ticket to delete the old mailing list in 3 weeks on Sept 11.

Left to do:
- [ ] invite the old members to join the new group
- [ ] email the old ma

[2015-08-21 17:45] cassiemc commented on #61
@xmatthewx have you gotten what you need from this bug? can we close? next steps here?

[2015-08-21 18:14] cassiemc commented on #39
This has been pushed to the backburner. Will update the milestone.

[2015-08-21 20:26] cassiemc commented on #67
Submitted this today. Thanks for the help @flukeout!

[2015-08-21 20:26] #67 closed

[2015-08-21 21:03] cassiemc commented on #24
Woot, thanks for doing this @lovegushwa !

[2015-08-21 21:10] xmatthewx commented on #61
Totally. I should blog about it some day, but today is not that day. :smile:

[2015-08-21 21:10] #61 closed

[2015-08-21 22:33] lovegushwa commented on #24
Yay, no problem ... Now need to finish documenting naming conventions.

[2015-08-24 21:16] cassiemc opened #73 "Submit Outreachy intern application"
The design team is interested in submitting an application for an Outreachy intern. @davidascher, are there any blockers we should know about? cc @vazquez

Here is the application recently submitted for the Youth ID program in Vancouver that we can possibly repurpose: https://docs.google.com/document/d/1lJ4Nb4kZloqiDik_gLpJK5hthkKcVuGgc3Ng9UEIHq0/edit

Deadline for this is Tues Sept 1. @vazquez yo

[2015-08-24 21:42] vazquez commented on #73
Copy-pasting the email addressed to all-moco-mofo, containing the requirements:

Thinking of applying to become a mentor? Here are some important things to keep in mind:

- The intern will be working full-time, spending 40 hours a week on their project for three months.
- Participants will work remotely from home. Previously our interns have been based in Greece, Brazil, India, Italy, the US, Cana

[2015-08-24 22:46] davidascher commented on #73
Let me find out what our budget can support.

[2015-08-25 16:45] #53 closed

[2015-08-25 19:10] LauraReynal opened #74 "help design this graphic / table"
Hey @lovegushwa or anyone else,
would you be able to help design this table ?

<img width="656" alt="table for the recos" src="https://cloud.githubusercontent.com/assets/8261945/9475968/df644bfa-4b61-11e5-845b-832c61a9efcb.png">

[2015-08-25 21:44] cassiemc commented on #72
I started adding links to the (adapted) engagement onboarding doc to have more of a design focus: https://docs.google.com/spreadsheets/d/1eLhQEI3dPv9zOr88KrQ8yVhNZ4buOUUMNdQRrynGlKU/edit#gid=0

@vazquez Are you able to review this and add anything I might've missed? (I'll figure out who can do what in terms of meetings and send out meeting invites by end of week).

[2015-08-26 13:05] vazquez commented on #72
- I added a new resource for the org chart that Mandy worked on. It's easier to navigate around.
- Should setting up Egencia be a checkpoint? I remember it took me a bit of time to get that set up when I was hired.
- Should we set up a walkthrough of the Google Drive? We can also make sure that Kristina has all the assets and apps necessary (fonts, Photoshop, Illustrator, Sketch)

[2015-08-26 15:37] cassiemc commented on #72
Great suggestions thanks so much @vazquez!

[2015-08-26 15:39] cassiemc opened #75 "Add illustration of Kristina to build/design"
@sabrinang, are you up to the challenge? @vazquez can you implement once Sabrina has created the asset?

[2015-08-26 15:40] vazquez commented on #75
No problem implementing :+1:

[2015-08-26 15:40] cassiemc commented on #74
@LauraReynal when do you need this by?

[2015-08-26 15:43] lovegushwa commented on #74
@cassiemc yes, I'm going to help @LauraReynal with it this afternoon. (I should have a draft for her tomorrow.)

[2015-08-26 16:50] cassiemc commented on #51
I added this frame to https://etherpad.mozilla.org/designcrit so we can use it as a model on an ongoing basis. Closing now.

[2015-08-26 16:50] #51 closed

[2015-08-26 16:55] cassiemc commented on #38
After first announcement, people seemed *really* receptive to this. Some snippets of feedback:
* This is awesome stuff, and will compliment the work Mandy is doing on on-boarding (more on that soon).
* So great!
* I love this update, the hub, and the illustrations of all y'all. Nice work! :)
* Omg the design team illustrations are AMAZING!!!!! :) :) :)

They especially loved the illustrations from

[2015-08-26 16:55] #38 closed

[2015-08-26 17:49] cassiemc commented on #74
Ok cool i'll add it to the Aug28 milestone and assign to you @lovegushwa

[2015-08-26 19:26] cassiemc opened #76 "Design Ministry of Fun illustration/logo"
Requirement: It should be SUPER FUN!!! :sparkles::balloon::cookie::ghost:
cc @secretrobotron @LauraReynal

[2015-08-26 20:22] cassiemc commented on #58
I love this list but not sure how to close this bug. Feels like we are already doing this when opportunities arise but could possibly be more systematic about it. Either way we should probably document this list elsewhere. Thoughts @xmatthewx?

[2015-08-26 20:23] cassiemc commented on #73
Any updates @davidascher? Since deadline is next Tues and I'm away in Chicago until Tues evening I'd love the chance to help with this this week before I go.

[2015-08-26 21:41] xmatthewx commented on #58
Maybe there's a statement at the bottom of http://build.webmaker.org/design? A manifesto or reminder to create easy to validate and maintain tools, not dusty documentation.

[2015-08-26 21:42] xmatthewx commented on #58
Or just close this!!

[2015-08-27 10:07] LauraReynal commented on #74
@lovegushwa thanks for the design. I love it it's beautiful.

Can we close this ticket?

[2015-08-27 11:41] LauraReynal commented on #71
@lovegushwa thanks for the design pass yesterday -- Love it :+1:

Is it done on your side or was there other things you wanted to do  ?

I had to replace the glyphs you used for the recommendations because you used a special font that I did not have on my computer. So I used a normal arrow from Fira Sans.
Let me know if it's okay.

[2015-08-27 12:59] cassiemc commented on #70
@sabrinang Any update on this?

[2015-08-27 15:54] lovegushwa commented on #74
Yes! Thank you @LauraReynal :)

[2015-08-27 15:54] #74 closed

[2015-08-27 17:28] cassiemc commented on #33
I wonder if this could relate to Fundraising somehow. How would a system of mozbucks work? cc @flukeout @lovegushwa

[2015-08-27 20:39] cassiemc commented on #73
Just got the green light from Michael. Woohoo! @vazquez can you do a first pass on the application?

[2015-08-27 20:49] sabrinang commented on #75
Yup up for the challenge - I will creep and illustrate :D

[2015-08-27 21:02] sabrinang commented on #70
Yeah it makes sense to separate the files and I will do this approach after I get the thimble assets complete (next week) and include in context examples. Also been referencing http://sproutsocial.com/insights/social-media-image-sizes-guide/ as a resource.

[2015-08-28 13:26] cassiemc commented on #75
Woot! :bomb: :zap: :100: thumbs-up

[2015-08-28 17:38] vazquez commented on #73
@cassiemc Let me know what you think.

This application needs to be submitted through Google Forms on this URL: https://docs.google.com/forms/d/1MB4TCCB00T6RX3frNrCtlTEesa8yyFiTHJcQR8jkD6s

##### Full Name
Ricardo Vazquez

##### Preferred Email Address
ricardo@mozillafoundation.org

##### Department
Design, Mozilla Foundation

##### Job Title
UI Designer

##### Who is your manager?
Cassie McDaniel

[2015-08-28 18:04] cassiemc commented on #72
This is done. Final doc for Kristina is here: https://docs.google.com/spreadsheets/d/12bh1d7mXKM-4NYSs5aCwVRdUKNaEX2Zk2Gqvximjan0/edit#gid=0

The template for On-boarding is here: https://docs.google.com/spreadsheets/d/1eLhQEI3dPv9zOr88KrQ8yVhNZ4buOUUMNdQRrynGlKU/edit#gid=0

[2015-08-28 18:04] #72 closed

[2015-08-28 18:05] cassiemc commented on #43
Didn't get to this in this heartbeat. Moving to the next.

[2015-08-28 18:06] cassiemc commented on #71
I am going to help finalize the design here, and will do it in the next heartbeat provided the more thorough copy review gets done in time. Updating the milestone.

[2015-08-28 18:09] cassiemc commented on #42
@flukeout did indeed want my help putting some benchmarks in. I started collecting a few.

<img width="1371" alt="screen shot 2015-08-25 at 12 35 01 pm" src="https://cloud.githubusercontent.com/assets/1186326/9553621/45b6307a-4d8e-11e5-8894-1b5cb4fffbca.png">
<img width="1388" alt="screen shot 2015-08-25 at 12 34 08 pm" src="https://cloud.githubusercontent.com/assets/1186326/9553624/4910e832-4d8e-

[2015-08-28 18:09] cassiemc commented on #23
@lovegushwa Are you still able to close this for this heartbeat?

[2015-08-28 18:10] cassiemc commented on #70
@sabrinang is super busy with the Thimble launch materials so I am going to move this to the next heartbeat.

[2015-08-28 18:10] cassiemc commented on #26
Didn't get to this and would still like to review. Moving to next heartbeat.

[2015-08-28 18:11] cassiemc commented on #75
@sabrinang is super busy with Thimble launch stuff so I think we can do this in Kristina's first heartbeat.

[2015-08-28 19:19] lovegushwa commented on #34
A WIP deck on how d-buds work. @vazquez  and I will discuss in weekly critique next week. We can create a new issue or revise the deck as needed. I'm calling this one closed!

https://docs.google.com/a/mozilla.com/presentation/d/1WBfEj5ac7Y3aT4PUT5zF6iHlFzUEjZ8GOzglhtXXDzs/edit?usp=sharing
CC @cassiemc

[2015-08-28 19:19] #34 closed

[2015-08-28 19:30] cassiemc commented on #73
R+ @vazquez let's do it!! :hand:

[2015-08-28 19:42] vazquez commented on #73
Awesome, submitting now :) :hand:

[2015-08-28 19:42] #73 closed

[2015-09-01 23:26] sabrinang commented on #63
mozilla fundraising folder: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_efllrYXowOHBhcU9xRlltLXZGcXNyM3FxbkNzTjlXNEFLekRKNlBOU0FlLTQ&usp=sharing

[2015-09-01 23:26] #63 closed

[2015-09-02 19:19] cassiemc commented on #41
We are in fact going to cancel this account. Despite our best intentions it was hardly used.

[2015-09-02 20:09] cassiemc opened #77 "Design the list of Mofo Vocabulary to help onboarding"
Mentor: @LauraReynal

With Zannah's help and many other people I pulled together a list of Mozilla-specific vocabulary words. https://etherpad.mozilla.org/glossary-of-mysterious-moz-terms

It'd be awesome to see this list+definitions designed in a fun, engaging, colorful way. Initially we might want to consider some room for growth / adjustment, but I don't see this list changing much over the lon

[2015-09-02 20:11] cassiemc commented on #66
Deadline was last friday, so marking closed. Incidentally I did get a submission in. Anyone else? @lovegushwa @xmatthewx @flukeout @vazquez @sabrinang + @kristinashu  – you might be able to still submit something if you ask Sarah really nicely and do it TODAY/TOMORROW.

https://2015.mozillafestival.org/proposals

[2015-09-02 20:11] #66 closed

[2015-09-02 20:12] cassiemc commented on #69
@xmatthewx is this something that would be handy? We could plan something for the next heartbeat, or whenever it might be useful.

[2015-09-02 20:12] #58 closed

[2015-09-02 20:12] cassiemc commented on #58
I think it's a cultural thing. Let's stay on top of it.

[2015-09-02 20:14] cassiemc commented on #68
Would love some help documenting what could be better about build.webmaker.org/design
Here's a QA checklist if it's handy: https://github.com/MozillaFoundation/Design/issues/15#issuecomment-125954223

This would be a great bug for a first contributor to help us identify areas where we can improve the site.

[2015-09-02 20:16] cassiemc commented on #55
@xmatthewx How do you want to move forward / close this bug? Would be cool to document it in our process docs.

[2015-09-02 20:17] vazquez commented on #66
Robert, Matthew are taking what we learned on Hour of Design/Ride With me to the streets!

Participants in the session will identify the most scalable contributions to an open-source technology project (in particular) and co-construct a framework for engaging professional volunteers.

[2015-09-02 20:17] cassiemc commented on #54
If we don't think about this now, we never will! Anyone have cool ideas for a holiday card / thank you project? @flukeout @sabrinang @lovegushwa @kristinashu @vazquez

[2015-09-02 20:20] cassiemc commented on #9
This seems no longer relevant as our work / process / resources are represented here: http://build.webmaker.org/design

[2015-09-02 20:20] #9 closed

[2015-09-02 20:20] cassiemc commented on #25
oops forgot to close this a long time ago.

[2015-09-02 20:20] #25 closed

[2015-09-02 20:21] cassiemc commented on #20
@lovegushwa can you help us wrap this one up this heartbeat?

[2015-09-02 20:22] cassiemc commented on #49
@flukeout I'm closing this, please reopen and rename if you need to do anything else here.

[2015-09-02 20:22] #49 closed

[2015-09-02 20:23] cassiemc commented on #50
@vazquez I'd love if you could just barf out some thoughts here, I'm sure it would be brilliant. :) Doable in this heartbeat?

[2015-09-02 20:25] cassiemc commented on #45
@sabrinang Update? I know you already have a couple tasks this heartbeat so we can either swap with @flukeout (who doesn't have anything in this repo this heartbeat), or assign to the following one.

Thoughts @flukeout @sabrinang?

[2015-09-02 20:25] vazquez commented on #50
Definitely doable this heartbeat and I apologize for the delay!

[2015-09-02 20:28] sabrinang commented on #54
Can donors request something? for example something they like to be drawn like http://iwanttodrawacatforyou.com/

or can we send them something tangible like http://www.potatoparcel.com/

or is it just a one way interaction where we simply can email them something?

[2015-09-02 20:31] sabrinang commented on #45
I'll be doing the social templates first before I get to this one - If @flukeout has some time this heartbeat it would be great if he can take this over.

[2015-09-02 21:40] cassiemc commented on #54
I :heart: the idea of making it more interactive!

[2015-09-03 00:40] lovegushwa commented on #20
@cassiemc
I worked on organizing and adding to @xmatthewx great start. It probably needs a little bit more editing and collaborative thought (you can do this if you like or we can invite some more folks for feedback?) I think after that we should make a build ticket for it, it would be great to have on build.webmaker.org as a form.

https://docs.google.com/a/mozilla.com/document/d/1H4rDTT7zdvOFhGl

[2015-09-03 19:27] vazquez commented on #50
@cassiemc What do you think? :arrow_down:

##### Volunteer Job Title

Open-Source Designer, Mozilla Foundation

##### Volunteer Job Description

At Mozilla Foundation, we spend a lot of our energy promoting web literacy. We’ve been hard at work the past year building innovative tools, supporting communities, teaching, learning, and shaping the environments in which the open web is made possible. W

[2015-09-03 19:55] xmatthewx commented on #69
I have an idea that could be fun but will know more later this week if it's useful. I'll loop back early next week.

[2015-09-03 21:11] kristinashu commented on #70
@sabrinang I can make these updates if you want?

[2015-09-03 21:18] cassiemc commented on #45
Resassigning to @flukeout - Luke let me know if you think this is too much.

[2015-09-03 21:30] sabrinang commented on #70
@kristinashu - I can update these from my thimble social files that are in progress already which I think will save work. Thanks though!

I will update this ticket again before the end of this heartbeat.

[2015-09-03 21:42] cassiemc commented on #29
This is a dupe of #20 so closing.

[2015-09-03 21:42] #29 closed

[2015-09-03 21:45] cassiemc commented on #20
@lovegushwa This is great! I find this language a little more human and thus easier to parse, thanks for putting it together. Looking forward to trying it out with folks (@hannahkane has offered to be a guinea pig in the past if we would like to run it by someone).

Looks like my old docs got lost in the kerfuffle, but I had originally planned this out as either
- a spreadsheet: https://docs.googl

[2015-09-03 21:47] sabrinang commented on #75
:eyes: I've been observing and sketching :dancer:
Illustration process will most likely continue next week after Sept 10 (on PTO)
<img width="1440" alt="screen shot 2015-09-03 at 1 59 56 pm" src="https://cloud.githubusercontent.com/assets/2492510/9671556/8be48de4-5248-11e5-822d-b759a9c59ac9.png">

[2015-09-03 21:55] cassiemc commented on #50
Fantastic @vazquez thanks! Very curious to hear what @openmatt and others think of this. I posted this in https://github.com/MozillaFoundation/plan/issues/482 as well, but I'm very curious about what the process for this would look like.
* where do we post a description like this
* What does the application process look like? (what is the volunteer criteria, who assesses the criteria, how is that

[2015-09-03 21:56] cassiemc commented on #50
(I think we can actually close this ticket now and file new ones for implementation)

[2015-09-03 21:56] cassiemc commented on #69
Exciting :) Will add this to the Sept 11 milestone.

[2015-09-03 21:58] cassiemc commented on #75
haha this rocks @sabrinang! @kristinashu did you know you were being watched? ;)
I'll update the milestone.

[2015-09-03 22:04] kristinashu commented on #75
Haha sneaky! Thanks @sabrinang this is amazing.

[2015-09-04 11:27] vazquez commented on #20
I vote in favour of auto generating GitHub issues. It remains open, it's always editable, and everyone can contribute! :cow: :star:

[2015-09-04 11:30] vazquez commented on #50
Cool!

[2015-09-04 11:30] #50 closed

[2015-09-04 20:06] cassiemc commented on #77
WOO! glad you are up for this @kristinashu. One thing I should do on this and all the other ```good-first-bugs``` is to add a mentor – kinda standard in open source to assign a person to whom the assignee can run anything by, ask questions, get set-up, etc. Wondering if @LauraReynal is up for taking on that mentor role, since you guys are d-buds now???

[2015-09-04 20:40] LauraReynal commented on #77
yes definitely @kristinashu and I have our first d-buds next week

[2015-09-04 20:54] kristinashu commented on #77
Excellent, thank you!

[2015-09-08 14:30] cassiemc commented on #70
@sabrinang is on PTO this week, so moving to the next heartbeat.

[2015-09-08 14:58] cassiemc opened #78 "Sort out contract for Mozfest design work"
Waiting on a SOW – will tackle this with @Saallen & @hpauljohnson
Have Adil Dara on standby to provide an estimate.

[2015-09-08 14:59] cassiemc commented on #55
@xmatthewx update please? Would like to close this one up soon.

[2015-09-08 15:57] xmatthewx commented on #55
Closed by #61

[2015-09-08 15:57] #55 closed

[2015-09-08 17:18] cassiemc commented on #23
@lovegushwa update? is there anything blocking you that you need help sorting out?

[2015-09-08 17:53] cassiemc commented on #23
@lovegushwa is going to d-bud this on Thurs with @vazquez.

[2015-09-08 18:24] kristinashu commented on #77
I'm thinking of creating this in Thimble. Each term could have a different background colour, an icon and the text description. Each term would stack on top of each other to create a simple one page site.

I will mock up a couple example terms this heartbeat then hopefully try building them out in Thimble next heartbeat.

[2015-09-09 14:31] cassiemc commented on #20
@lovegushwa I think you were going to document our conversation here from yesterday.

[2015-09-09 14:32] cassiemc commented on #77
sounds excellent @kristinashu, excited to see it!

[2015-09-09 14:40] davidascher commented on #20
History with planning tickets tells us that people short circuit forms that
generate github issues and bypass the reading and structure that is
"imposed" on them. So watch out for that.

A thing to consider. Also, have y'all explored pros and cons of whether
this should be self service or a structured conversation?

On Wed, Sep 9, 2015, 7:31 AM Cassie McDaniel <notifications@github.com>
wrote:

[2015-09-09 14:47] cassiemc commented on #20
@davidascher you are right on the money. All things we talked about yesterday, haha. I :heart: the idea of setting these up as structured conversations. We'll have the self-service replicable google doc if people want to look ahead of time, but I think the onus should be on designers to guide their colleagues through the process.

[2015-09-09 14:49] cassiemc opened #79 "Add the design brief link to Build/design"
We want to add the link to the final design brief google doc template to http://build.webmaker.org/design
(should get sorted this heartbeat in issue #20)

@vazquez can you help us out with this next heartbeat?

[2015-09-09 14:50] cassiemc commented on #78
Some lists are forming: https://docs.google.com/document/d/1luP9kJ2QlLGHpbAjCEyOf6oBjvJBeWk966gRUHFDtP0/edit
and: https://docs.google.com/document/d/1B5MjtwJoS--b-bcaTwWJcWQwbyLo2aHnrJ1wM5UT9j0/edit#

[2015-09-09 15:40] vazquez commented on #79
Of course :)

[2015-09-09 16:23] cassiemc opened #80 "Fill out Leadership development survey"
https://docs.google.com/a/mozillafoundation.org/forms/d/1nKXYnSXMDiCaCV3Fasd8e4rCFnL31Wp1se2psBQW32g/viewform?c=0&w=1

We should use the content @vazquez put together for us in https://github.com/MozillaFoundation/Design/issues/50

This is actually due Tues Sept 15 but I'll add it to the next milestone for safekeeping.

[2015-09-09 16:29] cassiemc opened #81 "Interview YI Intern candidates"
We have received some excellent resumes from intern candidates in Vancouver.

Looking for interview help. Who's game? @lovegushwa @kristinashu @flukeout @sabrinang @vazquez

(note: you'll have to read the IHO (Intern Host Organizations) handbook in advance of the interview: http://cl.ly/d4WZ

[2015-09-09 16:36] flukeout commented on #81
Sure, I'm game!

[2015-09-09 17:30] cassiemc opened #82 "Gather links & inspiration from AEA"
This will be shared at the next Design crit on Sept 16

[2015-09-09 20:19] cassiemc commented on #78
Meeting scheduled for tomorrow.

[2015-09-10 13:26] cassiemc opened #83 "Clean up webmaker logo folder on Drive"
The Webmaker folder on drive, in particular the Webmaker-brand-2015 logo, is hard to parse. We should make this easier to go in and find the final logos you need. It's hard to tell what is old and new. It actually seems to me like the final logo files aren't really there – or if they are, they're not well-documented.

@lovegushwa can you own this and get it done in the next couple of days? There i

[2015-09-10 14:09] cassiemc commented on #81
Thanks @flukeout! Our first interview is on Monday by Skype. I'll keep you posted.

[2015-09-10 17:35] cassiemc commented on #33
@secretrobotron recalls using "mozbucks" at Mozfest but it never got off the ground. I suspect what is crucial is having a small system of rewards that people can use these for from the get-go. For example:
* get out of demos, presenting demos, or other meetings
* buy someone else's time. more like a barter agreement.
* extra PTO? (might be controversial with HR!)
* special swag
* order a puppies

[2015-09-10 17:36] cassiemc commented on #43
No way this is going to happen with the Chicago Report hanging over me! Moving to the backlog.

[2015-09-10 17:53] secretrobotron commented on #33
![monopoliez](http://vignette2.wikia.nocookie.net/monopoly/images/d/de/$100.jpg/revision/latest?cb=20110413031024)

Mozbucks was a cryptocurrency we were going to set up. For now though, I propose we do something physical so that hilarious interactions and IOU systems are the norm.

[2015-09-10 19:24] cassiemc commented on #33
+1 on physical! And let's set up a few sample 'stores' like we discussed earlier. With cheeky things you can buy. Get ready to print money, @secretrobotron ...

[2015-09-10 19:36] secretrobotron commented on #33
Something like this? https://d157rqmxrxj6ey.cloudfront.net/cepheid/7788/

[2015-09-10 23:14] lovegushwa commented on #23
@cassiemc @vazquez @flukeout @sabrinang @kristinashu

Hi everyone, check out the file naming conventions Ricardo and I cranked through today. We split up the conventions based on intended use. Please let me know if the doc is self explanatory, and if you have any questions or concerns before I close this issue tomorrow afternoon.

https://docs.google.com/a/mozilla.com/document/d/1AZ_TrLkdWVnRT_fAx

[2015-09-10 23:24] flukeout commented on #23
Great work @lovegushwa and @vazquez

My only concern is keeping both the date & the version in the filename, they kind of seem to indicate the same thing, like which one was created or edited more recently?

Also, the date is meant to keep track of when the last edit was made, right?

[2015-09-10 23:31] kristinashu commented on #23
Nice, this will be great to have.

I also think the date isn't really necessary and adds a lot of characters to the title. But I'm all for version control so it would be great to have something like "Webmaker_Discovery-UI_01.sketch"
where "_01" is the version.

Also maybe keep to underscores for simplicity, rather than underscores and tildes.

[2015-09-11 13:22] cassiemc commented on #78
This has been submitted as a bug. https://bugzilla.mozilla.org/show_bug.cgi?id=1203663

[2015-09-11 13:22] #78 closed

[2015-09-11 13:34] cassiemc commented on #82
My favorite talks:
* everyone's in the customer service business: http://slides.aneventapart.com/event/chicago-2015/07_MattHaughey.pdf
* getting out of our layout ruts: http://slides.aneventapart.com/event/chicago-2015/04_JenSimmons.pdf
* content and containers: http://slides.aneventapart.com/event/chicago-2015/05_KarenMcGrane.pdf
* animation: http://slides.aneventapart.com/event/chicago-2015/08_V

[2015-09-11 13:34] #82 closed

[2015-09-11 16:26] lovegushwa commented on #23
@flukeout @kristinashu
Good call on the removing the date friends. @kristinashu I like your idea for the version as well.
Let me make some tweaks and we will close this puppy.

[2015-09-11 17:26] lovegushwa commented on #23
@cassiemc @vazquez @flukeout @sabrinang @kristinashu

Hi all. You will find folder and file naming convention readme doc on the server in the template folder:

![screen shot 2015-09-11 at 10 21 26 am](https://cloud.githubusercontent.com/assets/12228435/9821437/370c88ee-586f-11e5-9aeb-109ba91a212d.png)

https://docs.google.com/document/d/1AZ_TrLkdWVnRT_fAxW-kFT3o2tDgMlg_f65AKKcrtJY/edit?usp=sharing

[2015-09-11 17:26] #23 closed

[2015-09-11 19:43] lovegushwa commented on #20
@cassiemc @vazquez @flukeout

I'm not sure who finished editing this document but thank you! ... I'm calling this closed, let's move it do build.webmaker.

So I changed permissions to "Any one at Mozilla can View," ... This should keep people from editing this document making it a template, folk will then need to "Make a copy." @flukeout does this seem like the right way to share this document or

[2015-09-11 19:43] #20 closed

[2015-09-11 21:31] lovegushwa commented on #83
Applied the new file naming conventions found here:
https://docs.google.com/a/mozilla.com/document/d/1AZ_TrLkdWVnRT_fAxW-kFT3o2tDgMlg_f65AKKcrtJY/edit?usp=sharing

You will find the cleaned up logo files folder here:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvaGZWTUhRWng3RzQ&usp=sharing

[2015-09-11 21:31] #83 closed

[2015-09-11 22:11] kristinashu commented on #77
Here's where I'm at with the comp https://redpen.io/p/ua07f141d44ded7cec

I decided to scrap the icon idea since there are so many terms. One page was getting pretty long so I've split it up into sections. The menu would be sticky so users can click through to a different section at any time.

I also might play off the dictionary idea and add whether it's a noun, verb, adjective... and the phoneti

[2015-09-12 01:57] cassiemc commented on #83
thank you @lovegushwa!

[2015-09-12 02:12] cassiemc commented on #71
As I was going through the file tonight I started to realize there were lots of pages that were wonky, probably due to my older version of indesign. I finally got my service now request for creative cloud this week and  am installing now. I have made lots of updates to the photographs, colors, paragraph styles and the grid on master pages – including updating the document size so it prints better

[2015-09-12 02:14] cassiemc commented on #71
Closing this as it's a dupe of https://github.com/MozillaFoundation/plan/issues/372

[2015-09-12 02:14] #71 closed

[2015-09-12 02:15] cassiemc commented on #77
This is awesome! I'll comment on the redpen on Monday, so good to see it coming along @kristinashu  :+1:

[2015-09-12 02:16] cassiemc commented on #69
@xmatthewx can we close this?

[2015-09-12 02:16] cassiemc commented on #45
@flukeout update?

[2015-09-14 16:40] cassiemc commented on #69
I'm-a-close this. Reopen @xmatthewx if needed.

[2015-09-14 16:40] #69 closed

[2015-09-14 16:42] cassiemc commented on #79
Final document is here: https://docs.google.com/a/mozilla.com/document/d/1H4rDTT7zdvOFhGlgMDIuRLlTRlAxMsU_-mUehv_iEZU/edit?usp=sharing

Shortlink: http://bit.ly/mozdesignbrief

[2015-09-15 00:59] cassiemc commented on #80
Did this to best of my ability!

[2015-09-15 00:59] #80 closed

[2015-09-15 01:04] cassiemc commented on #81
First interview down. Next interview Thursday.

[2015-09-16 23:53] kristinashu commented on #54
Could do a year in review landing page - sort of a "thanks for all your help, here's some of what we've accomplished together". Kinda like Mailchimp's By the Numbers annual report http://mailchimp.com/2013/#by-the-numbers

[2015-09-17 14:16] secretrobotron opened #84 "Replace assets on assets.mozilla.org"
Old Webmaker assets are on https://assets.mozilla.org/portal/assets/#category/29. Some community members get their assets from there. It should be replaced!

[2015-09-17 18:57] #79 closed

[2015-09-18 17:37] cassiemc opened #85 "Update Demos room & etherpad"
- [x] File service now request for Mofo vidyo room
- [x] Update old demo pad with new info
- [x] Update new etherpad with new info
- [x] send email to all@mofo
- [ ] update calendar event
- [x] new airmo channel request
- [ ] finalize airmo channel name
- [ ] airmo channel image and decription
- [ ] update build: https://github.com/MozillaFoundation/plan/issues/575

[2015-09-18 17:38] cassiemc commented on #85
Old demos pad: https://webmaker.etherpad.mozilla.org/demos
New demos pad: https://etherpad.mozilla.org/demos

[2015-09-18 20:20] cassiemc opened #86 "Fix 'tools & process link' on build/design"
'Tools and Process' should link somewhere more relevant, or we should migrate content into https://github.com/MozillaFoundation/Design/wiki/Process

Bhuvan noticed this, thanks @bhuvanshri!

[2015-09-18 20:21] cassiemc opened #87 "Fix responsive view of build/design"
Currently looks like this, with text cut off on the edges:

<img width="385" alt="screen shot 2015-09-18 at 4 21 10 pm" src="https://cloud.githubusercontent.com/assets/1186326/9970140/5a482c0c-5e21-11e5-994c-3e155efef03b.png">

[2015-09-18 20:22] cassiemc commented on #87
cc @vazquez

[2015-09-18 20:24] cassiemc commented on #70
@sabrinang think you'll be able to get to this next week? (is more important than the illustration work in #75

[2015-09-18 20:25] vazquez commented on #87
I know :( this is a big challenge. Based on how the site was initially coded, we would need to refactor most of the html and css in build.wm.org to make this work. The site wasn't intended to be responsive, at least not from the code that is written. Let me take another look to see if we can fix it without a lot of refactoring.

[2015-09-18 21:01] cassiemc commented on #54
I'm wondering if this could tie into the End of Year stuff at all. These are all great ideas.

@lovegushwa @edrushka What do you guys have planned for a digital thank you post-campaign?

[2015-09-18 22:11] edrushka commented on #54
Perfect timing to think about this @cassiemc - and yes, it would be :dizzy: FANTASTIC :dizzy: to  integrate this into the EOY fundraising! We brainstormed some [fun thank you ideas] (https://fundraising.etherpad.mozilla.org/FR-meetup-Session7) with @hpauljohnson during our fundraising meetup in San Francisco last month. Here's a round-up of when/why we might connect with our donors to thank them:

[2015-09-21 14:33] cassiemc opened #88 "Make Drive folders publicly visible"
All assets that we're linking to from build/design should be publicly visible (read access only for people with non-mozilla addresses), so contributors can check stuff out.

[2015-09-21 14:34] cassiemc opened #89 "Add link to naming conventions readme to build/design or our process docs"
Original bug was here: #23

[2015-09-21 14:34] cassiemc commented on #23
Nice work on this @lovegushwa. Filed a new issue to make this information publicly visible. #89

[2015-09-21 14:42] cassiemc opened #90 "Fix formatting on design brief"
I'd like to bold the questions and add H1s so that a completed design brief is easier to read. I requested edit access from @lovegushwa

[2015-09-21 14:43] cassiemc commented on #81
Done! Natalie will be starting Sept 28 :)

[2015-09-21 14:43] #81 closed

[2015-09-21 14:43] cassiemc commented on #45
@flukeout :bell:

[2015-09-21 14:44] cassiemc commented on #86
@vazquez can you help with this?

[2015-09-21 15:01] vazquez commented on #86
Fixed!

[2015-09-21 15:01] #86 closed

[2015-09-21 15:09] cassiemc commented on #89
can add it here: https://github.com/MozillaFoundation/Design/wiki/Process

[2015-09-21 15:56] lovegushwa commented on #90
@cassiemc @flukeout

Hi @cassiemc , you should be able to edit.

[2015-09-21 17:11] cassiemc commented on #77
@kristinashu left a few comments, but my main thing on the design here is that I'd think a much less vertical layout would work better here so that it's easier to scan. I like the colorful, energetic quality and your idea about riffing off a dictionary text style, would just want to make it slightly more usable.

[2015-09-21 17:41] cassiemc opened #91 "Add relevant files to Thimble project folder"
There is nothing in the Thimble project folder on Drive. @flukeout and @sabrinang can you guys add relevant working files (including the promo artwork)? Idea is that if someone looks there they can find everything they need to start designing right away.

[2015-09-21 17:42] cassiemc commented on #91
Assigning to @flukeout and @sabrinang to follow.

[2015-09-21 17:43] cassiemc opened #92 "Add webmaker UI files to Drive"
The only files in the Webmaker Drive folder is the brand stuff. @vazquez can you make sure the UI files are shared and up-to-date there?

[2015-09-21 17:44] cassiemc opened #93 "Add teach site files to Drive"
@sabrinang @kristinashu there are no design files for the Teach site on Drive, can you update them there so any contributor could get started without asking for files?

[2015-09-21 17:46] sabrinang commented on #70
All templates can be found in Design Assets gdrive folder as .ait files:
Design Assets > Templates & Guidelines > Social Sharing

<img width="1329" alt="screen shot 2015-09-21 at 10 36 36 am" src="https://cloud.githubusercontent.com/assets/2492510/9999835/633d3a54-604d-11e5-81d7-efe34664b837.png">
Twitter social share template: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eSzl2UE9IZmt

[2015-09-21 17:47] vazquez commented on #92
Done! :guitar:

[2015-09-21 17:47] #92 closed

[2015-09-21 17:53] sabrinang commented on #93
I've been using this gdrive folder for Mozilla Learning Network assets so far:
https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_eR2dpNnJXRTR1UVU&usp=sharing

I will plan to relocate and organize these into the main Design Assets gdrive and to also separate the thimble assets found in here to the Thimble project folder for related to #91 as well

[2015-09-21 20:53] sabrinang opened #94 "MoFo Design Audit"
Collecting and comparing examples of design issues across our Foundation properties that will inform upcoming branding initiatives.

**This would include *(but not limited to)*:**
- Mozilla Advocacy
- Mozilla Science Lab
- Knight-Mozilla Open News
- Mozilla Webmaker
- Mozilla Thimble
- Mozilla X-Ray Goggles
- Mozilla Learning Network
- Mozilla Festival
- Mozilla Clubs & Maker Party
- Hive Networks

[2015-09-21 20:56] sabrinang opened #95 "Design File for all MoFo Logos"
Collect all Foundation logos and organize them all in one vector (.ai) file.

[2015-09-21 21:00] sabrinang commented on #94
/cc @cassiemc @lovegushwa

[2015-09-21 21:07] lovegushwa commented on #76
Here we go! (this should be fun.)

[2015-09-21 21:09] LauraReynal commented on #76
@lovegushwa attachment ?

[2015-09-21 21:13] lovegushwa commented on #76
![screen shot 2015-09-21 at 2 11 38 pm](https://cloud.githubusercontent.com/assets/12228435/10005196/bf30a162-606a-11e5-8edb-5e3fcd59cd3c.png)
@LauraReynal ... What you don't use bing for fun?

[2015-09-22 13:12] cassiemc opened #96 "Fix cover of Chicago Report"
For the Chicago Report cover I cut out sabrina's head from the image to overlap the letters, but now it is appearing off-color. I could fake it just by cutting out along the line of the graphic behind her (the angle of the orange line) but I'd like to know why this is happening and fix it properly.

/cc @lovegushwa Do you know?
/cc @laurareynal

![chicago-cover](https://cloud.githubusercontent.com

[2015-09-22 13:13] cassiemc commented on #96
I exported two versions – one for print and one for viewing online, I wonder if maybe the print version is posted online so it's converting the CMYK photos to RGB, causing the difference? The cutout is a transparent PNG

[2015-09-22 14:02] LauraReynal commented on #96
Cassie, in my drive folder, the online version appears like that since the beginning.

Maybe we should export again?

[2015-09-22 14:06] LauraReynal commented on #96
On a side note, we also need to blurr elements of a picture page 42.
I received 2 comments about that picture (a phone)
- we can see on top a conversation group called cohiee eaters. Apparently it means something really bad and we should blurr it.
- We can see a name on that phone "Kendall" and we should blurr it out as well.

do you know how to do it @lovegushwa @cassiemc ?
I usually use an onlin

[2015-09-22 16:02] cassiemc commented on #96
@LauraReynal I have fixed these now! New files are here: https://drive.google.com/a/mozilla.com/folderview?id=0BzfN9sXlOXt1X200OHFQQkx6V1k&usp=sharing

I recommend you let people choose between two links: for viewing online, and for printing. They use two different color profiles and are different resolutions/sizes (96mb vs 13mb), so much better to give the viewer that choice. The online version n

[2015-09-22 16:11] LauraReynal commented on #96
Are you thinking about something like  mzl.la/chicago-online & mzl.la/chicago-print ?

[2015-09-22 16:14] cassiemc commented on #96
Or mzl.la/chicago (the online version) & mzl.la/chicago-print. Would predominantly share the online version since you say people don't really print it. (if you'd like you could just not share the print one?)

[2015-09-22 17:12] cassiemc commented on #96
Laura, the new online version with spreads is here: https://drive.google.com/a/mozilla.com/file/d/0BzfN9sXlOXt1YXBUY0hXd2VKSmM/view?usp=sharing

[2015-09-22 18:02] kristinashu opened #97 "Copy for research site MVP"
Write copy for landing page.

Based on thoughts in https://github.com/MozillaFoundation/plan/issues/553
and wireframes https://redpen.io/p/oj84c5335720112e06

[2015-09-22 18:04] LauraReynal commented on #97
@LauraReynal

[2015-09-22 18:10] kristinashu opened #98 "Comps for research site MVP"
Based on thoughts in MozillaFoundation/plan#553
and wireframes https://redpen.io/p/oj84c5335720112e06
Copy will come from https://github.com/MozillaFoundation/Design/issues/97

[2015-09-22 18:10] kristinashu commented on #98
cc @LauraReynal

[2015-09-23 17:33] lovegushwa commented on #96
@cassiemc would try using transparent .psd rather than .png ... Photoshop files seem to work best with transparent backgrounds. Also it could be caused by the transparency flattener settings when exporting a PDF.

[2015-09-24 14:38] cassiemc opened #99 "Update the design brief process diagram"
https://docs.google.com/document/d/1E6lhyYjty_eNUo2xVAKcde6h7Di2zI_iShcIcmlz9aw/edit

[2015-09-24 14:50] cassiemc commented on #96
This is done. Thanks all

[2015-09-24 14:50] #96 closed

[2015-09-24 14:51] cassiemc commented on #90
This is done. Made it easier to read and fill out as a template. Check it out here: http://bit.ly/mozdesignbrief

[2015-09-24 14:51] #90 closed

[2015-09-24 18:13] cassiemc commented on #95
@sabrinang Have you had a chance to look at this yet?

[2015-09-24 18:16] cassiemc commented on #84
@vazquez can you help here?

[2015-09-24 18:17] vazquez commented on #84
@cassiemc Do you know who handles this in MoCo? I can get in touch with them.

[2015-09-24 20:41] lovegushwa commented on #94
@sabrinang I also did a bit of digging around MOCO properties and I wonder if we should have a tiny MOCO side audit? https://www.mozilla.org/en-US/firefox/os/2.0/ for example.

[2015-09-24 20:46] cassiemc commented on #84
@sabrinang do you have any contacts off-hand? If not, I can look into it.

[2015-09-24 21:24] cassiemc opened #100 "Plan onboarding for Natalie"
Have started... need to finish.

[2015-09-24 21:50] cassiemc opened #101 "Document and share how to request design work"
I started a draft; welcome feedback from @sabrinang @kristinashu @flukeout @lovegushwa @vazquez @xmatthewx @davidascher

https://docs.google.com/document/d/1BDmUF5eQO9WqLLIG-9S_CNnony4TwTp9ZUEt-rxhAzM/edit

- [x] write down the process
- [ ] link the writeup to Build/design somehow
- [ ] share with all@mofo

[2015-09-24 21:52] cassiemc commented on #85
Sadly I think I'll have to move this to the next milestone. The Airmo channel has been requested, the all@ email has been drafted and reviewed, but I'd like those final details in place before this is fully closed.

[2015-09-24 21:52] sabrinang commented on #84
Yeah, I believe it is Ty Flanagan (tflanagan@mozilla.com) who populates the assets portal for the moco creative team.

[2015-09-24 21:53] cassiemc commented on #98
@kristinashu I am going to remove this from the milestone given recent discussions re the scope of the research site.

[2015-09-24 21:54] sabrinang commented on #94
@lovegushwa yeah I think that is definitely an informative exercise to do as well! I'll look into it on the side :mag:

[2015-09-24 21:54] cassiemc commented on #97
@LauraReynal I don't imagine you'll be able to finish this by tomorrow given your prep for Indonesia. Am I wrong? Updating the milestone to reflect that but please put it back if I'm mistaken.

[2015-09-24 22:23] sabrinang commented on #95
@cassiemc Yeah, the logo collecting is in progress:
<img width="1440" alt="screen shot 2015-09-24 at 3 17 35 pm" src="https://cloud.githubusercontent.com/assets/2492510/10088436/a504d774-62cf-11e5-9036-c728de0eec31.png">
 I will collect the final few logo vectors and then resize and organize them all so they are balanced and comparable

[2015-09-24 23:57] cassiemc commented on #95
Fantastic thanks @sabrinang!

[2015-09-25 14:31] cassiemc commented on #100
Wrote the email and made the doc. Here it is: https://docs.google.com/a/mozilla.com/spreadsheets/d/1K6GgG6iC21kVv17YLkMdsVekdvutt4Ubq7LzhcaPrsY/edit?usp=sharing

Notice a few people should set up meetings with Natalie once she has her email set up:
* Designing in the Open	@vazquez
* Cadence of a heartbeat: 1:1s, Monday Triage, Tues Learning call, Wed Crit, Friday Demos	@flukeout
* Brands at Mozill

[2015-09-25 14:31] #100 closed

[2015-09-25 21:53] kristinashu commented on #77
Will work on shortening the vertical length (maybe with a side bar or accordions) next heartbeat.

[2015-09-25 23:45] sabrinang commented on #95
<img width="1440" alt="screen shot 2015-09-25 at 4 41 05 pm" src="https://cloud.githubusercontent.com/assets/2492510/10114345/457ddd16-63a4-11e5-9a99-80e4fc26ea43.png">

For the horizontal lockups, it is tricky to size them equality as there are inconsistencies in type sizes to logo ratio throughout.

Design Assets > Assets > Logos > Mozilla-Foundation_Logos.ai - Located here: https://drive.google

[2015-09-28 17:17] cassiemc commented on #95
:+1:

[2015-09-28 17:17] #95 closed

[2015-09-28 17:17] cassiemc commented on #75
@sabrinang just has to finish the hair! moving to next milestone.

[2015-09-28 17:18] cassiemc opened #102 "Turn illustrated heads on build/design into a pattern"
So that we don't have to update when there are staff changes.

[2015-09-28 17:19] cassiemc commented on #70
@cassiemc Look!

[2015-09-28 17:19] cassiemc commented on #45
@flukeout :bell:

Updating the milestone.

[2015-09-28 17:22] flukeout commented on #45
Currently updating the work started by @xmatthewx with some template UI elements...

![image](https://cloud.githubusercontent.com/assets/25212/10143009/8da216e6-65db-11e5-98b6-f6a70459bd9c.png)

[2015-09-28 17:23] cassiemc commented on #94
@lovegushwa to help out here.

[2015-09-29 21:07] cassiemc opened #103 "Pull 'Best of' Designs & design details into a recap document"
What were your favorite designs or design details (whether UX, UI, or simply big ideas) that we shipped over the past year or so? Looking for good examples and details to pull into a presentation.

@flukeout @sabrinang @vazquez @lovegushwa @kristinashu @natalieworth @LauraReynal @xmatthewx – Please dump stuff here as you come across it!

[2015-09-29 21:43] sabrinang opened #104 "Add Mozilla Festival assets files to Drive"
Move all files from old studiomofo dropbox to GDrive Design Assets

[2015-10-01 14:34] cassiemc commented on #101
- [x] write down the process
- [ ] link the writeup to Build/design somehow
- [ ] share with all@mofo

[2015-10-02 16:47] cassiemc commented on #99
This is done. Final graphic:

![design brief process-01](https://cloud.githubusercontent.com/assets/1186326/10252170/b7813a34-6903-11e5-8a9b-cd0e4c6ef1f2.png)

[2015-10-02 16:47] #99 closed

[2015-10-02 19:02] sabrinang commented on #94
The audit is a continuing work in progress due to the extensive nature of it we may need to strategically break this ticket up so it would be more specific and useful. Here is a overview of the audit so far any may of these pieces can be found in the branding jam doc:
![mozilla-foundation_audit-progress](https://cloud.githubusercontent.com/assets/2492510/10255053/9219873a-68fc-11e5-9ed8-43d2b16241

[2015-10-05 16:02] cassiemc opened #105 "Add benchmarking process to docs"
Original bug here: #25
Can add to these docs: https://github.com/MozillaFoundation/Design/wiki/Process

[2015-10-05 16:11] cassiemc commented on #89
This is done.

[2015-10-05 16:11] #89 closed

[2015-10-05 18:36] lovegushwa commented on #103
@cassiemc
![screen shot 2015-10-05 at 11 21 43 am](https://cloud.githubusercontent.com/assets/12228435/10289475/4891e45a-6b53-11e5-9734-ef0d588389bc.png)
@flukeout new thimble UI is super nice.

![screen shot 2015-10-05 at 11 24 16 am](https://cloud.githubusercontent.com/assets/12228435/10289541/a8f212b6-6b53-11e5-89e9-7ae0e033411f.png)
@vazquez UI work on Webmaker has many beautiful moments (like

[2015-10-05 19:25] vazquez commented on #84
Update: I've emailed Ty. Waiting to hear back.

[2015-10-05 21:10] cassiemc commented on #77
@kristinashu if you need to break this ticket into smaller ones so we can inch it forward each heartbeat, please do (it's generally better to close small issues than roll over large ones each heartbeat).

[2015-10-05 21:24] cassiemc commented on #94
@sabrinang Seems like we should do this consistently with what's been accomplished in the [Teach Design Audit](https://github.com/mozilla/teach.mozilla.org/issues/1260). Here's a checklist, which I'll copy to the top comment:

- [x] headers
- [x] footers
- [x] grid / responsive layouts
- [ ] illustration
- [ ] photography
- [ ] iconography
- [ ] typography
- [ ] colors
- [ ] buttons
- [ ] labels
-

[2015-10-05 21:34] cassiemc commented on #104
Bumping this to next heartbeat as it's not pressing, these would be old files anyway.

[2015-10-05 21:35] #70 closed

[2015-10-08 23:52] flukeout commented on #45
Screenshot of some recent work...

![image](https://cloud.githubusercontent.com/assets/25212/10382827/e6ac3880-6ddc-11e5-85b3-24fcca1acf09.png)

[2015-10-09 13:15] cassiemc commented on #45
Nice! This is exactly what we're after. Thanks @flukeout

[2015-10-15 16:55] cassiemc commented on #75
@sabrinang should we mark this as wont-fix, and file a new issue to make a more generic pattern of faces? might be hard to keep up with new faces over time.

[2015-10-15 16:58] cassiemc commented on #85
The etherpad :boom: has made me confused on where to go next with this issue. Maybe it is just sending an email to meet in the new Mofo vidyo room. I was also blocked on the AirMo channel b/c it needed artwork and description to complete the request, so I am going to decouple that from this issue.

- [ ] Email will need an edit.
- [ ] Send email

[2015-10-15 16:59] cassiemc commented on #77
@kristinashu maybe for time's sake this is better designed as an image? I'd love to see @flukeout or @vazquez or anyone else who wants to practice their frontend skillz step in to collaborate with you, but not sure that's possible given time constraints.

Will move to the next milestone 'til we figure out how we can close this.

[2015-10-15 17:00] cassiemc commented on #93
@sabrinang Update please?

[2015-10-15 17:01] cassiemc commented on #94
@lovegushwa I'd love for you to drive this issue. Are you game?

[2015-10-15 17:02] cassiemc commented on #97
Moving this to backlog, not sure what current plans are for the research site.

[2015-10-15 17:03] cassiemc commented on #103
Wasn't able to get to this last heartbeat, updating milestone. Thanks for the inspiration @lovegushwa!!

[2015-10-15 17:04] cassiemc commented on #91
Reassigning to @sabrinang this week since @flukeout is at a work week.

[2015-10-19 17:54] vazquez commented on #84
I heard back from Ty. I need to email him a ZIP file of the new assets and he will upload them to assets.mozilla.org.

[2015-10-23 15:54] lovegushwa commented on #94
@cassiemc yes I can drive this.

[2015-10-23 16:15] cassiemc commented on #94
@lovegushwa I think we should put this on hiatus until Dec/Jan, after the EOY campaign.

[2015-10-23 18:50] natalieworth commented on #54
Hey @cassiemc , I also assigned myself to this to work on at the beginning when I wasn't too busy (did some quick benchmarking https://www.pinterest.com/nataliejworth/mozilla-design-holiday-card-benchmarks/). Just wanted to check the timeline and if it would be okay for me to work on this when the other priorities are done. If not, I can un-assign myself. Thanks.

[2015-10-23 18:59] cassiemc commented on #54
yes @natalieworth other priorities should def come first, unless this somehow resurfaces in the EOY campaign plans :)

[2015-10-23 20:38] edrushka commented on #54
We'll be sending a "thank you for donating, this is how much we raised in our campaign" email from Mark in mid January.

[2015-11-13 15:43] #84 closed

[2015-11-17 12:10] LauraReynal commented on #97
Hey @cassiemc thanks for hosting this ticket. I'll close this and team tag with bobby to make this happen pre-orlando.

[2015-11-17 12:10] #97 closed

[2015-11-17 12:14] LauraReynal commented on #98
Hey team, thanks for the help on this ticket. Im closing it because Bobby is going to lead this task and get something online by Orlando.

[2015-11-17 12:14] #98 closed

[2015-11-23 14:15] cassiemc opened #106 "Iterate on background pattern for build/design"
We should have a graphic that doesn't require updating with staff changes. Would love to reuse the awesome illustrations Sabrina did - maybe we could just use outlines / dial them down a bit so they work as a background pattern, similar to @natalieworth's background patterns for mozfest.

Old screen:
<img width="1233" alt="screen shot 2015-11-23 at 9 13 28 am" src="https://cloud.githubusercontent.

[2015-11-23 14:15] cassiemc commented on #75
Marking as won't-fix. New issue filed #106

[2015-11-23 14:15] #75 closed

[2015-11-23 18:57] sabrinang commented on #91
I've added all the thimbles file I have into Google Drive > Design Assets > _PROJECTS > Mozilla Thimble

[2015-11-23 18:59] sabrinang commented on #93
I've added all the MLN files I have into Google Drive > Design Assets > _PROJECTS > Mozilla Learning Network
(not all have synced due to lack of google drive space - I reached 30 gb limit)

[2015-11-23 21:58] natalieworth commented on #106
I could probably do this sometime later this week/ early next week? @cassiemc

[2015-11-23 22:24] natalieworth commented on #54
@cassiemc Do we have one's from previous years for this?

[2015-11-24 19:25] cassiemc commented on #106
Yes! Thanks @natalieworth. Would also be good if we can reduce the overall height of this graphic. We can compress the text a bit vertically when we implement the change.

[2015-11-24 19:28] cassiemc commented on #54
@natalieworth Nothing from previous years. We're starting from scratch (fun right?). Feel free to setup a meeting with interested folks to brainstorm & scope this out.

[2015-11-25 14:21] cassiemc commented on #85
Marking this as won't-fix. Will file other issues as needed but this seems a bit out of sync with the new strategy / etherpad / webmaker plans.

[2015-11-25 14:21] #85 closed

[2015-11-25 14:22] cassiemc commented on #77
Moving this to the backlog.

[2015-11-25 14:27] cassiemc commented on #105
This is done. Text is updated here: https://github.com/MozillaFoundation/Design/wiki/Process#benchmarks

[2015-11-25 14:27] #105 closed

[2015-11-25 14:28] cassiemc commented on #91
Passing the assignment onto @flukeout now.

[2015-11-25 14:29] cassiemc commented on #45
@flukeout Are these linked to from build/design? If not, we should file a follow-up ticket. And I think we should close this unless there's anything else that needs doing immediately.

[2015-11-26 20:02] cassiemc commented on #103
This has made huge strides today. Work is coming together in this dec: https://docs.google.com/presentation/d/1VWsBYG0t_LUsETTM1VTRvvKFr8NSC-Tm8fzHLJRnHwU/edit#slide=id.gd5c769fa4_0_142

[2015-11-26 20:56] cassiemc commented on #54
We are going to scrap this for this year. Too far along in the year to begin this work, lack of clarity will make that difficult. To reopen next year if relevant!

[2015-11-26 20:56] #54 closed

[2015-11-26 21:20] cassiemc commented on #101
Seems like bad timing for this particular topic. Will hold through next week but probably bumping to the next heartbeat.

[2015-12-15 14:14] cassiemc opened #107 "Design Mozilla Mailbox postcards"
In Mozlando one of the work teams talked about instituting a physical mail program to welcome new hires, give kudos, etc. Each new hire would get a set of postcards to mail to whomever they wanted.

Regardless of whether the program pans out, it'd be really really awesome to have a set of illustrations we could pull from to use for postcards. Off the top of my head –
- dapper fox by @natalieworth

[2015-12-15 14:37] cassiemc opened #108 "Design 'open sauce' emblem"
@xmatthewx and I overhead @vazquez misread a handwritten note on the Mofo calendar wall at Mozlando – someone had written 'open source' but it looked like 'open sauce.' Happy accident?

Could make a neat swag bag addition for Mozfest, etc. Sriracha bottle label? Or a tshirt. Sticker. etc.

[2015-12-15 15:47] xmatthewx commented on #108
We could have the Open Sauce awards, for exemplar demonstration of open source principles.

[2015-12-16 00:49] natalieworth commented on #107
Here's links to Kristina's dapper fox and money fox illustration from the EOY work:
Dapper Fox: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0VlR4b3pWeWhmMFE/view
Money Fox: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0WnUzUkk5ZVo1dDg/view
It would be cool to update Money Fox with some colour too! We only included one colour for the t-shirt due to cos

[2015-12-16 02:37] davidascher commented on #107
Love to see this idea sprout.

On Tue, Dec 15, 2015, 4:49 PM Natalie Worth <notifications@github.com>
wrote:

[2015-12-16 18:18] lovegushwa commented on #107
@cassiemc @kristinashu
This could be a cool way to develop and test new illustration styles / see how they resonate with Mofo peeps. Also I would love to print some on the RISO at my house :)

[2015-12-16 20:33] natalieworth commented on #107
I want a riso print! @lovegushwa

[2015-12-17 15:37] cassiemc commented on #107
Yes I like that purpose too @lovegushwa and I too want one or some!
I might start throwing inspiration in here that I see around.
![image](https://cloud.githubusercontent.com/assets/1186326/11873724/14a1021c-a4aa-11e5-8ee6-0f15725bcfaf.png)
Imagine that with a pithy inspirational quote about open source or open internet.

[2015-12-17 17:32] flukeout commented on #107
Something like this @cassiemc ?

![image](https://cloud.githubusercontent.com/assets/25212/11876939/1e6a7066-a4a1-11e5-938e-95cb21f0ff6e.png)

[2015-12-17 18:31] cassiemc commented on #107
lol, YESSSSSSS @flukeout !!!! Make it so!!!

[2015-12-18 14:40] cassiemc opened #109 "How can designers across Mozilla better share their work?"
At Mozlando I randomly sat with some designers and we shared the pain of not having better shared design communities online. I suspect channels already exist that we can use, and for now we do have design@mozilla.org, but it'd be cool to figure out how we can quickly improve upon that.

Some offline channels we thought about were:
* slack
* yammer (enh)
* space for this on future version of design

[2015-12-18 20:12] lovegushwa commented on #107
haha! I love the tags flying out @flukeout

[2015-12-22 17:07] cassiemc opened #110 "Spruce up this repo's readme file"
I was inspired yesterday by @vazquez's readme & wiki for Webmaker – 
https://github.com/mozilla/webmaker-core/blob/develop/README.md
and https://github.com/mozilla/webmaker-core/wiki/Design

So pretty. And useful.

Let's spruce up this one and make this repo more inviting! Could pull from our wiki, and build.webmaker.org/design for visuals.

[2015-12-22 17:41] stephwright opened #111 "[Jan 20] Design a "Science Fox""
Science Lab is hosting a training of new project collaborators and a community event in Berlin the first week of Feb.  We are preparing to order swag now to make sure it gets there in time.  We are all in love with Dapper Fox and were wondering if it would be possible to make a "Science" Fox based off Dapper Fox?

Ideas we bandied about...
Dapper Fox in a lab coat? Wearing goggles? Holding an atom

[2015-12-22 17:50] acabunoc commented on #111
cc @acabunoc - I'm so excited for this!

[2015-12-22 17:59] cassiemc commented on #111
cc @kristinashu @natalieworth @lovegushwa

[2015-12-22 19:59] zee-moz commented on #111
I love this too! YAY FOXES!
@stephwright  we've been also pushing to shift our language a bit to be less science-focused, and open to Research of all kinds, and Data, too?
So maybe Data Fox?
Research Fox-- or is this too vague?
Or can we consider some kind of ecological research elements, and not just the cold hard lab sciences? Pith helmets? Butterfly nets?

[2015-12-22 20:39] stephwright commented on #111
Oooh... I like the idea of Research Fox!  The atom might be good for that, in that case since all things are made up by atoms!  Or am I reaching too far? :)

[2015-12-23 14:58] cassiemc opened #112 "Send out another Design survey to all@mofo"
A little over 6 months ago we sent out our first mofo survey to see how design was faring in the org. We should send out a followup to see where we've made improvements and where we could still use work.

Here are responses from that survey: https://docs.google.com/a/mozillafoundation.org/forms/d/1nKFmqINqZgyXEOgFSF1K-Nm8WlhXh13t4neNT3PuiMs/viewanalytics

[2015-12-23 14:59] cassiemc opened #113 "Send out another survey to designers @ mofo"
A little over 6 months ago we sent out our first survey to mofo designers to see how designers were faring in the org. We should send out a followup to see where we've made improvements and where we could still use work.

Here are responses from that survey: https://docs.google.com/a/mozillafoundation.org/forms/d/1Be1IhZtOjfcjxye_-NCgAAo1lAaojd8DkcWLa9Yw8a4/viewanalytics

[2015-12-24 00:05] natalieworth commented on #106
Quick update for the progress of this:
![mozilla-foundation-design-banner-illustration-pattern-02](https://cloud.githubusercontent.com/assets/14876567/11987136/cb3a673c-a98e-11e5-8c04-70a39d05a773.png)
I've started to add some icons. I'm still trying to figure out if I'll be able to make the faces work or if I could incorporate them somehow since they were looking a little off in the shades of gre

[2015-12-24 14:22] cassiemc commented on #106
This looks great @natalieworth, thanks! I know what you mean about the faces. I wonder if they could be part of an icon set that are somehow placed by the other links or headings in the page. It's nice that they do add a bit more 'human' to a sometimes intimidating topic.

[2015-12-24 14:27] cassiemc commented on #77
Moving OUT of backlog – turns out that milestone isn't helpful! This is something @mandyrawls and Michael Aukland had brainstormed in thinking about how HR docs could be streamlined and beautified, so maybe worth reaching out to them if we ever pick this up again.

[2015-12-24 14:29] cassiemc commented on #42
There is some good work here, and it relates to https://github.com/MozillaFoundation/plan/issues/644 in the Plan repo. I expect this work to get prioritized in the new year, so adding to a late Jan milestone.

[2015-12-24 14:31] cassiemc commented on #26
I don't see any further action on this, so closing. I expect there to be lots of documentation as we move through a templatization exercise in the new year – https://github.com/MozillaFoundation/plan/issues/644

[2015-12-24 14:31] #26 closed

[2015-12-24 14:33] cassiemc commented on #43
This seems like something we could do in #110. Closing this for now as won't-fix, it's clearly not gotten any love recently.

[2015-12-24 14:33] #43 closed

[2015-12-24 14:33] cassiemc commented on #39
This seems like a good way to kick off the new year. Moving to Jan 15.

[2015-12-24 14:35] cassiemc commented on #111
@stephwright If this was done by Jan 20, does that sound about right for ordering time?

[2015-12-24 14:42] cassiemc commented on #1
won't-fix

[2015-12-24 14:42] #1 closed

[2015-12-24 14:43] cassiemc commented on #48
Some good thinking here. Not sure what is actionable though. I am going to close this, and suggest @flukeout @xmatthewx if you don't want to lose it, perhaps you document it in the design repo wiki.

[2015-12-24 14:43] #48 closed

[2015-12-24 14:44] cassiemc commented on #2
This no longer seems relevant w/ 2020 strategic plans.

[2015-12-24 14:44] #2 closed

[2015-12-24 14:44] cassiemc commented on #5
won't-fix

[2015-12-24 14:44] #5 closed

[2015-12-24 14:46] cassiemc commented on #104
@sabrinang This seems done, no? Can we close?

[2015-12-24 14:46] cassiemc commented on #103
This is done!

[2015-12-24 14:46] #103 closed

[2015-12-24 14:46] cassiemc commented on #93
@sabrinang Status update on storage increase? Can we close this yet?

[2015-12-24 14:47] cassiemc commented on #91
@flukeout update por favor, have you done this yet?

[2015-12-24 14:48] cassiemc opened #114 "Link UX templates to build.wmo/design"
Templates were completed here: #45

[2015-12-24 14:48] cassiemc commented on #45
Closing. Followup ticket filed #114

[2015-12-24 14:48] #45 closed

[2015-12-24 14:52] cassiemc commented on #88
As far as I can tell, I cannot separate the two options – I can *either* make all folders editable by people at mozilla with the link, or I can make all folders read-only for anyone with the link. In this instance I am choosing the former option, to keep things the way they are and prioritize the productivity of mozillians, but if we start getting a lot of design contributors we can reconsider.

[2015-12-24 14:52] #88 closed

[2015-12-24 14:53] cassiemc commented on #101
This is up in the air, and should get much clarity in the new year. Something we should try to document in this repo's readme. #110

[2015-12-24 14:53] #101 closed

[2015-12-24 14:58] cassiemc commented on #106
One thing I am wondering. What if all those links and such were also replicated in this repo's readme? I don't want to duplicate effort, but that might be a solution that is more easily updatable. And if it is only Mofos who are using it, I think Github is perfectly acceptable. If we are getting other contributors though, the outward-facing site is great. One other factor is that @mart3ll and team

[2015-12-24 15:02] cassiemc commented on #111
@kristinashu @natalieworth @lovegushwa Can any of you link to vector source files for dapper and flower fox please?

[2015-12-24 15:03] cassiemc commented on #102
This is a dupe of #106

[2015-12-24 15:03] #102 closed

[2015-12-24 15:04] cassiemc commented on #114
We could also at minimum link them in this repo's readme #110

[2015-12-24 15:05] cassiemc commented on #12
This is great already. Let's close until we are ready for a second draft.

[2015-12-24 15:05] #12 closed

[2015-12-24 15:09] cassiemc commented on #11
Although this bug is over a year old, this is a process we can definitely continue to improve, especially based on feedback from our Mozlando retrospective.

Wondering if @vazquez could take a stab at this in the new year? You are designer and dev wrapped up in one, and have had great success working with @scottdowne, so I'd expect you to have insights here.

The thinking and the sharing of those

[2015-12-24 15:11] cassiemc commented on #7
Hmmm. This work has come along way with the teach and Mofo-wide design audits. I'm going to close and we can reopen smaller issues as they become relevant.

[2015-12-24 15:11] #7 closed

[2015-12-24 15:12] cassiemc commented on #6
I'm going to close this since we haven't had any action on it. Though I would still love a paragraph on each, especially for new hires and onboarding purposes. Maybe something to think about for our Readme #110

[2015-12-24 15:12] #6 closed

[2015-12-24 15:13] cassiemc commented on #4
This seems duped by the Webmaker repo's readme & wikis. Thanks for all that work @vazquez, webmaker is very well-documented!

[2015-12-24 15:13] #4 closed

[2015-12-24 15:13] cassiemc commented on #3
This will likely be covered with brand audit work in the new year. Closing in favor of smaller, more specific and up-to-date issues.

[2015-12-24 15:13] #3 closed

[2015-12-24 15:14] cassiemc commented on #87
This doesn't seem like a priority for the design team. I am going to file it as a new issue in the Build repo, and it can be prioritized there if necessary.

[2015-12-24 15:14] #87 closed

[2015-12-24 15:17] cassiemc commented on #68
I would still love to check all the links on the site. I admittedly have not done that, and I'll take responsibility for it.

[2015-12-24 15:21] cassiemc opened #115 "Transfer ownership of Drive folder"
Hey @xmatthewx I noticed you are the owner (creator) of the Design Assets folder on Drive. Can you transfer ownership of that folder? Ideally the design team are all co-owners, but if that's not possible maybe just transfer it to me. Thanks!

[2016-01-04 16:48] stephwright commented on #111
@cassiemc that should work!  The sticker folks can get us the stickers in a week... enough time before we fly out to Berlin.

[2016-01-04 17:47] xmatthewx commented on #115
They don't seem to allow co-owners, so I transferred it to you.

[2016-01-04 17:47] #115 closed

[2016-01-04 17:47] cassiemc commented on #115
Thanks mw!

[2016-01-04 19:29] cassiemc commented on #39
We're going to wrap this up on Wed Jan 6 during our weekly critique call.

[2016-01-04 22:51] natalieworth commented on #106
@cassiemc I've got the most recent background iteration for this up on redpen: https://redpen.io/p/spbc191e42bd3ed39e
Totally agree that we could update the links to this repo regarding the above comment. Or perhaps the build/design could relate or migrate to the design.mozilla.com if it is renewed? I'm sure we could streamline it in someway so it is more updatable/ easily accessible for mofo peop

[2016-01-05 23:43] flukeout commented on #111
Hello all - I'll be taking this on. I like the idea of varying up the symbolism a bit, how about I try to incorporate 3 elements...

* Data (graph, chart, etc.)
* Hard Science (beaker, atoms, etc.)
* Research (butterfly net, binoculars, etc.)

I'm thinking something along the lines of the larger Dapper fox sticker, with the whole body. Do you want any text on it?

[2016-01-06 00:08] flukeout commented on #111
Here's an idea to get the ball rolling. Circular sticker with some stuff sticking out.

![image](https://cloud.githubusercontent.com/assets/25212/12131347/7be3837a-b3c6-11e5-9332-2dad6559d1fc.png)

[2016-01-06 00:16] flukeout commented on #111
Here's an option with a full body fox.

![image](https://cloud.githubusercontent.com/assets/25212/12131454/a174c5e4-b3c7-11e5-838f-40ccd5cf180e.png)

[2016-01-06 00:24] cassiemc commented on #111
This is cool @flukeout! I'm partial to the full body fox. @vazquez has something like this going in his research posters too, if you could get this done this week @flukeout we could use it there as well, and @vazquez's version might also inspire!

[2016-01-06 00:35] flukeout commented on #111
@vazquez Show me!

[2016-01-06 01:02] edrushka commented on #111
I got the Dapper Fox stickers printed at Club Card in Vancouver and they were great.

[2016-01-06 13:39] vazquez commented on #111
<img width="417" alt="screenshot 2016-01-06 08 38 32" src="https://cloud.githubusercontent.com/assets/1119821/12143727/08d39fba-b451-11e5-8440-020d90d1f643.png">

[2016-01-06 15:33] stephwright commented on #111
This is SO much awesome! :heart_eyes: for the full body fox!

[2016-01-06 15:37] kaythaney commented on #111
This makes me tear up a bit with happiness. Thanks, all! :trophy:

[2016-01-06 15:39] auremoser commented on #111
:) amaze!

[2016-01-06 18:22] arlissc commented on #111
WOW - really incredible :)

[2016-01-06 19:29] zee-moz commented on #111
LOVE THIS!

On Wed, Jan 6, 2016 at 1:22 PM, Arliss Collins <notifications@github.com>
wrote:

[2016-01-06 19:46] lovegushwa commented on #39
New doc of principals. Some benchmarking happening around visualizing external principals that's rolling into separate tickets. Going to close this now:

https://docs.google.com/a/mozilla.com/document/d/1a5H9cmUFbPyiOu7Bp5GGlmG7cl6LJIFQSUJugG6Hj1U/edit?usp=sharing

[2016-01-06 19:46] #39 closed

[2016-01-06 22:45] natalieworth commented on #106
@cassiemc I've got the .ai file and an exported svg here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0WXBuS0JVemVUVjQ&usp=drive_web&ddrp=1# Is there dev support for implementing it?

[2016-01-06 22:57] flukeout commented on #91
Done! It's syncing now so should show up soon :checkered_flag:

[2016-01-06 22:57] #91 closed

[2016-01-07 00:16] flukeout commented on #111
Progress so far.

![image](https://cloud.githubusercontent.com/assets/25212/12158675/d9d40868-b490-11e5-8f6f-abd794b9064a.png)

[2016-01-07 01:14] stephwright commented on #111
Is it in appropriate to *SQUEEEEE* in GitHub?

[2016-01-07 01:19] natalieworth commented on #111
@vazquez  @flukeout We've gotten suggestions to start a repo of foxes now that the science foxes have also taken off!

[2016-01-07 04:36] auremoser commented on #111
here here, a fox-o-dex is in order. :)

[2016-01-07 14:02] acabunoc commented on #111
:heart_eyes:

[2016-01-07 14:29] cassiemc opened #116 "Moodboard "Delight & Playful""
Related to our design principles discussion in #39, as [documented here](https://docs.google.com/document/d/1a5H9cmUFbPyiOu7Bp5GGlmG7cl6LJIFQSUJugG6Hj1U/edit), we want to explore the theme of "Delight".

How does this value or principle inform actual design results? How can it guide design decisions in our process? Let's make a moodboard. Pinterest, google slides, whatever. This should not take mo

[2016-01-07 14:31] cassiemc opened #117 "Moodboard "Meaningful & Effective""
Related to our design principles discussion in #39, as [documented here](https://docs.google.com/document/d/1a5H9cmUFbPyiOu7Bp5GGlmG7cl6LJIFQSUJugG6Hj1U/edit), we want to explore the theme of "Meaningful & Effective".

How does this value or principle inform actual design results? How can it guide design decisions in our process? Let's make a moodboard. Pinterest, google slides, whatever. This sho

[2016-01-07 14:33] cassiemc opened #118 "Moodboard "Coherent""
Related to our design principles discussion in #39, as [documented here](https://docs.google.com/document/d/1a5H9cmUFbPyiOu7Bp5GGlmG7cl6LJIFQSUJugG6Hj1U/edit), we want to explore the theme of "Coherent".

How does this value or principle inform actual design results? How can it guide design decisions in our process? Let's make a moodboard. Pinterest, google slides, whatever. This should not take m

[2016-01-07 14:34] cassiemc opened #119 "Moodboard "Opinionated""
Related to our design principles discussion in #39, as [documented here](https://docs.google.com/document/d/1a5H9cmUFbPyiOu7Bp5GGlmG7cl6LJIFQSUJugG6Hj1U/edit), we want to explore the theme of "Opinionated".

How does this value or principle inform actual design results? How can it guide design decisions in our process? Let's make a moodboard. Pinterest, google slides, whatever. This should not tak

[2016-01-07 14:35] cassiemc opened #120 "Moodboard "Open""
Related to our design principles discussion in #39, as [documented here](https://docs.google.com/document/d/1a5H9cmUFbPyiOu7Bp5GGlmG7cl6LJIFQSUJugG6Hj1U/edit), we want to explore the theme of  "Open".

* Co-design
* Encouraging contribution
* Involving target users in our process
* We demystify the process of design for the world to see
* With the world as our audience, we strive to maintain an op

[2016-01-07 14:37] cassiemc opened #121 "Moodboard "Grassroots""
Related to our design principles discussion in #39, as [documented here](https://docs.google.com/document/d/1a5H9cmUFbPyiOu7Bp5GGlmG7cl6LJIFQSUJugG6Hj1U/edit), we want to explore the theme of "Grassroots".

Things that allow people to have impact without a ton of resources; organizing at the local level; in writing tone, letting people connect with each other, intimate

How does this value or prin

[2016-01-07 14:39] cassiemc commented on #11
@vazquez In the next heartbeat, I'd love if you could set up a conversation with relevant designers and frontend engineers to continue the conversation we had last year.

[2016-01-07 16:00] cassiemc commented on #106
@natalieworth Yes, probably @vazquez can help make the update it should be a quick one. I'll file a new bug for that.

But re. the files, this is a repeating pattern, no? Might be a smaller file size (if only minutely) to just make an svg of the part that repeats, then we can tile the background, which would be better for responsive too.

[2016-01-07 16:01] cassiemc opened #122 "Implement new bkg pattern for build/design"
Design work happening here: https://github.com/MozillaFoundation/Design/issues/106

[2016-01-07 16:08] cassiemc opened #123 "Synthesize design learnings from 2015 recap into a blogpost"
Setting a challenge for myself.

Looking at the recap of our work gathered here: https://docs.google.com/presentation/d/1VWsBYG0t_LUsETTM1VTRvvKFr8NSC-Tm8fzHLJRnHwU/edit#slide=id.gd5c769fa4_3_270

Lots of insights in this from projects individually and as a whole. Lots to look forward to. I'd like to publish something on this, perhaps on Medium, by the end of January.

[2016-01-07 17:01] natalieworth commented on #106
@cassiemc @vazquez good idea, I'll adjust this a bit first so it's a repeating pattern. Right now I've just got it repeating horizontally.

[2016-01-07 19:50] sabrinang commented on #93
I got updated with more space and will organize the teach/MLN files to the design folder by Monday EOD

[2016-01-07 19:53] sabrinang commented on #104
I believe everything has synced 2012-2014 - If there is anything else I find I can throw it into zArchive or appropriate year as I sort out my unsynced files. Closing ticket!

[2016-01-07 19:53] #104 closed

[2016-01-07 21:38] natalieworth commented on #106
@cassiemc @vazquez I've created a pattern that works horizontally/ vertically: https://redpen.io/jpc26e9c22650b5d34 It will probably just need adjustment to the background-repeats spacing if that is possible? Here's the google link to the files and an svg: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0QTkyakYxTnhWclk&usp=drive_web&ddrp=1#

[2016-01-07 21:41] natalieworth commented on #106
@vazquez I may have to adjust the outer spacing of the svg if it's not possible to manipulate in the background-repeat/ CSS as Illustrator allows me to choose how many pixels I want between the pattern when it's repeated

[2016-01-07 22:01] vazquez commented on #106
Beautiful pattern Natalie. I don't think you need to adjust the spacing, it's looking nice. Take a look: http://codepen.io/rvazquez/pen/OMmMXY?editors=100

[2016-01-07 22:30] natalieworth commented on #106
Awesome, thanks @vazquez it's looking good. Is there anyway to reduce the horizontal spacing between the repeats (I think I've currently got a bit of a larger gap between the lightbulb and the 'T')

[2016-01-07 22:40] vazquez commented on #106
@natalieworth Not possible unfortunately :(

[2016-01-07 22:43] natalieworth commented on #106
@vazquez Mind if I update a new svg quickly? I'll try and see if I can fix the spacing

[2016-01-07 22:43] vazquez commented on #106
@natalieworth Of course! I won't get to this until next week.

[2016-01-07 23:03] flukeout commented on #111
Now with more data & science.

![image](https://cloud.githubusercontent.com/assets/25212/12185459/e09c1068-b54f-11e5-8b2f-d802ce665fd2.png)

[2016-01-07 23:26] vazquez commented on #111
Looking amazing @flukeout

[2016-01-07 23:30] kaythaney commented on #111
This is terrific. HUGE thanks, team! (also, bet these would be a big hit with the STEM minded Hive members, too!)

[2016-01-07 23:31] acabunoc commented on #111
Huge :+1: from me!

[2016-01-07 23:45] stephwright commented on #111
Better than anything I could have imagined!!!  LOVE! :heart:

[2016-01-08 00:59] froggleston commented on #111
These are completely amazing! \o/

[2016-01-08 09:05] bolaram commented on #111
:+1: :+1: :+1: :heart:

[2016-01-08 10:02] dpshelio commented on #111
Looks very nice!  :+1: * ∞

Just a comment on lab security... shouldn't the fox be wearing the goggles properly when handling an open test tube? :-P

[2016-01-08 13:41] MobileMaggie commented on #111
oooh - and a t-shirt please! :)

[2016-01-08 19:04] natalieworth commented on #106
@vazquez Created a new svg file so it tiles better without having to adjust any spacing: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0Tmp6XzF6ZGpfdGM/view
I also quickly put it in thimble to see if it would work: https://d157rqmxrxj6ey.cloudfront.net/natalieworth/22912/ Let me know if there's anything I can change or help with for implementing this on the build/design page

[2016-01-08 19:52] zee-moz commented on #111
From our team meeting, the official feedback on Science Fox:
Test tube should be corked, for lab safety!
Can the binoculars be a little smaller? starting to feel a little too cluttered or crowded.

Otherwise, we love it!

[2016-01-08 20:21] cassiemc opened #124 "Figure out photo plan for shared Drive"
It came up in https://github.com/MozillaFoundation/research/issues/79 that Drive would be a good place to share photos from @LauraReynal and @secretrobotron's research trips. @kevzawacki also mentioned these assets would be handy if available to the social teams cross mofo-moco.

Let's figure out a plan to keep these organized in a way that makes sense to everyone.

[2016-01-08 20:23] cassiemc commented on #93
Woot, thanks @sabrinang!

[2016-01-08 20:23] cassiemc commented on #104
:boom:

[2016-01-08 20:24] flukeout commented on #111
Okay, I'll make the changes!

[2016-01-08 20:55] flukeout commented on #111
Corked and ready to science, complete with outline for stickering.
This gives us a tactical edge over the Octocat, who is definitely not following the rules.

![image](https://cloud.githubusercontent.com/assets/25212/12209321/fa7c0ab2-b606-11e5-9b19-0f61e8053006.png)

[2016-01-08 20:58] acabunoc commented on #111
I think @stephwright is in charge of ordering - https://github.com/mozillascience/plan/issues/42#issuecomment-169490628

[2016-01-08 21:00] flukeout commented on #111
@stephwright We've used Clubcard here in Vancouver for the last batch of dapper fox stickers that @natalieworth created, we can use them again if you'd like and ship them to you, or if you have a local vendor, let me know so I know how to format it.

[2016-01-08 21:07] kaythaney commented on #111
thanks, @flukeout! we've used stickermule in the past (die cut), but happy
to do whatever would work best. if clubcard is purely canadian, we can
always have it shipped to @abbycabs or @arlissc in Toronto.

On Fri, Jan 8, 2016 at 4:00 PM, Luke Pacholski <notifications@github.com>
wrote:

--
@kaythaney <http://twitter.com/kaythaney/>
@MozillaScience <http://twitter.com/mozillascience>

[2016-01-08 21:26] cassiemc commented on #107
Moar thoughts. We could use the words / concepts from our design principles to create this beautiful set of cards. #39 That might lend the set some cohesion, even if the styles are different.

Also, @ldecoursey filed https://github.com/MozillaFoundation/plan/issues/660 about making more swag for the Brooklyn office. This could be an excellent project for that. Updating milestone and Plevel to refl

[2016-01-08 21:33] flukeout commented on #111
Cool, okay here's the sticker prepared to print with Sticker Mule's 3x3 inch die cut option...
https://dl.dropboxusercontent.com/u/109902/science-fox-sticker-3x3-die-cut.pdf

Let me know how it goes!

[2016-01-08 21:38] kaythaney commented on #111
Thanks! Will order now. :) (cc @flukeout @stephwright)

sent on the move. apologies for typos.

[2016-01-08 21:42] arlissc commented on #111
so happy about this. can't wait to get one !

[2016-01-08 21:44] flukeout commented on #111
#ktonthemove

[2016-01-08 21:46] froggleston commented on #111
I'd yum up a t-shirt and a whole bunch of stickers. Looks great!

[2016-01-08 22:32] kaythaney commented on #111
ordered!

On Fri, Jan 8, 2016 at 4:46 PM, Robert Davey <notifications@github.com>
wrote:

--
@kaythaney <http://twitter.com/kaythaney/>
@MozillaScience <http://twitter.com/mozillascience>

[2016-01-09 16:53] LauraReynal commented on #124
@lovegushwa you have started to put everything in a drive folder too ?
Can you share? Maybe we can give it an easy name like Mofo pic selection and everyone can contribute ?

[2016-01-11 16:02] soapdog commented on #111
This looks sooooooo awesome!!! :+1: also, sign me in for the fox-o-dex :smile_cat:

[2016-01-11 18:52] cassiemc commented on #106
Great! Closing this, thanks so much @natalieworth. Moving on to implementation in #122

[2016-01-11 18:53] cassiemc commented on #122
@natalieworth created a new svg file for tiling, here: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0Tmp6XzF6ZGpfdGM/view

[2016-01-11 18:54] cassiemc commented on #111
Fantastic work everyone, especially @flukeout. Thanks a bunch!

[2016-01-11 18:54] #111 closed

[2016-01-11 18:59] cassiemc opened #125 "[Feb 19] Create office/event swag assets"
Working with @ldecoursy on a list here: https://docs.google.com/spreadsheets/d/1X6AhlnutTL6M3xMZ-8DSIU0AI8166pz4YlXY4DODUm4/edit#gid=0

So far, we know we need:
- [ ] Dapper Fox patches
- [ ] Dapper Fox stickers
- [ ] X-Ray Goggles stickers – simple logo + URL or something fun
- [ ] Thimble stickers – simple logo + URL or something fun
- [ ] Generic #teachtheweb button

We'd like to have these ass

[2016-01-11 19:02] #106 closed

[2016-01-11 19:05] cassiemc commented on #93
@sabrinang doing some final cleanup, files are synced, plans to close by EOD today.

[2016-01-11 19:05] cassiemc commented on #68
I haven't done anything this week yet but should be doable.

[2016-01-11 20:30] stephwright commented on #111
Just want to add my kudos and HUGE thanks!  You guys knocked it out of the park! :baseball: :star2:

[2016-01-12 00:36] flukeout commented on #120
Rought starts - (Open Moodboard)[https://docs.google.com/a/mozilla.com/presentation/d/1BpzXkHqQZltDMUrW6WjEjDcIiPRc9iwhCW6n5wTlAXY/edit?usp=sharing]

[2016-01-12 00:45] flukeout commented on #120
Places to look...
* Organizations that invite collaborators & content creators
  * Open source projects?
* Organizations that share their practices
  * Codepen redesign article
  * Mailchimp tone guidelines
* Organizations that invite feedback on their work
  * Maybe orgs that have Labs or R&D branches where they showcase work in progress

[2016-01-12 14:19] cassiemc commented on #122
@vazquez I'm not sure if this was in the original file (it didn't seem to me like it was on first glance at the source file) or what's happened, but the glasses seem to be darker than the rest of the pattern?

<img width="715" alt="screen shot 2016-01-12 at 9 18 06 am" src="https://cloud.githubusercontent.com/assets/1186326/12265839/799e9afe-b90d-11e5-903e-2f5b6655e448.png">

cc @natalieworth

[2016-01-12 14:25] vazquez commented on #122
I think this happened when I optimized the SVG. I'll look into it.

[2016-01-12 15:23] #122 closed

[2016-01-12 15:23] vazquez commented on #122
All fixed now! :smile:

[2016-01-12 16:19] cassiemc commented on #122
Perfect! Thanks @vazquez, looks great.

[2016-01-12 18:43] vazquez commented on #114
@cassiemc It turns out we're already linking to the UX Templates on build.wm.org under "Templates and Guides"

[2016-01-13 15:43] #114 closed

[2016-01-13 18:46] vazquez commented on #110
Closing issue, cause we're done! Improvements to be filed as new issues.

[2016-01-13 18:46] #110 closed

[2016-01-14 17:26] cassiemc commented on #76
Going to add @lovegushwa as a mentor for this, and remove as assignee. Let's see if we can get any contributors to help out. :)

[2016-01-14 17:47] cassiemc commented on #108
This has been cross-posted in the Community Design repo, issue number 7.

[2016-01-15 20:38] cassiemc commented on #68
There are a number of improvements and corrections to make on this page. Going to roll this issue over to the next heartbeat and assign to @vazquez for updating.

- [ ] The 'Let us know' text link should point to: mofo-design@mozillafoundation.org
- [ ] Under 'Principles', add to the description:

- [ ] Under 'templates and guidelines', let's change the title to just 'Templates'
- [ ] Under 'templ

[2016-01-15 20:53] cassiemc opened #128 "[Feb 5] Help Mofo Science with some event collateral"
More details here: https://github.com/MozillaFoundation/plan/issues/679
This would be due Feb 5 but I'd like to squeeze it in this heartbeat or the next.

[2016-01-16 00:11] sabrinang commented on #93
Files have been synced to Design Assets > _PROJECTS > Mozilla Learning Network

[2016-01-16 00:11] #93 closed

[2016-01-20 15:50] elioqoshi commented on #111
You guys are a total inspiration! This is how community design should work out!

[2016-01-20 16:01] chadsansing commented on #111
Ship me all the foxes. Sweet work, team.

[2016-01-21 04:02] dethe commented on #111
These foxes make Grace the [Waterbear](https://github.com/waterbearlang/waterbear) very happy!
![mascot-labcoat](https://cloud.githubusercontent.com/assets/16825/12471228/63d617fc-bfb0-11e5-8547-96b5e7082ff0.jpg)

[2016-01-25 16:56] cassiemc commented on #128
This work is being tracked here: https://github.com/mozillascience/working-open-workshop/issues
Plan issue is here: https://github.com/MozillaFoundation/plan/issues/679

[2016-01-25 16:58] cassiemc commented on #125
I heard there is a Thimble sticker in the works. @flukeout is this true?

[2016-01-25 17:01] #68 closed

[2016-01-25 17:33] ldecoursey commented on #125
Cassie,
I am not the person you are looking for..

On Mon, Jan 11, 2016 at 11:59 AM, Cassie McDaniel <notifications@github.com>
wrote:

--
Louann DeCoursey
Chief Executive Officer-Open Water Foundation
Acting Executive Director-Colorado Water Innovation Cluster
www.openwaterfoundation.org
320 East Vine Drive, Suite 315
Fort Collins, CO 80524
970-286-7439 Ext. 801 (OWF office)
970-372-8126 (cell)

[2016-01-26 16:55] cassiemc commented on #125
Sorry @ldecoursey. Meant @ldecoursy

[2016-01-27 21:30] lovegushwa commented on #121
@cassiemc https://www.pinterest.com/lovegushwa/grassroots/

[2016-01-27 21:30] #121 closed

[2016-01-28 15:20] cassiemc commented on #125
Hoping out @my-le can help out with this, under guidance of @vazquez. We'll need to gather some existing assets for you so will do that today!

[2016-01-28 15:21] ldecoursey commented on #125
Again wrong person :)
On Jan 28, 2016 8:20 AM, "Cassie McDaniel" <notifications@github.com> wrote:

[2016-01-28 15:32] cassiemc commented on #125
@ldecoursey I hadn't mentioned you again - you might be getting notifications because you are subscribed to the issue from the initial faulty mention. Try clicking 'unsubscribe' under Notifications in the righthand bar.

[2016-01-28 16:02] cassiemc opened #129 "Clean up Board posters Drive folder"
@lovegushwa This folder is kinda messy / hard to find final files. Seems like we often reference it, particularly when something is needed kinda last minute so would be worthwhile to take 5 min and clean it up.

https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvY0FuX0EzaXVkQ1U&usp=sharing

[2016-01-28 17:00] zee-moz opened #130 "Help with Science Lab Contributor Fox Spot Illustrations"
At MSL we're creating a series of presentations for an upcoming workshop and needed some spot illustrations of groups of contributors working openly. I remixed/riffed on the MSL science fox/dapper fox to make some working contributor foxes. The design is quite rough-- needs paws, better outfits, shading, and different/better body positions so the group looks more varied. Here's an example.

![quic

[2016-01-28 18:26] cassiemc commented on #109
@LucyeoH Wondering if this is something we could curate and do as part of the monthly community design calls? I'd definitely be up for committing someone from the Mofo design team to share at least one project, each meeting.

[2016-01-28 18:49] zee-moz commented on #130
cross-posted here: https://github.com/mozilla/Community-Design/issues/23

[2016-01-29 03:51] lovegushwa commented on #129
no problem @cassiemc
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvY0FuX0EzaXVkQ1U&usp=sharing

[2016-01-29 03:51] #129 closed

[2016-01-29 17:40] natalieworth commented on #119
Files for this mood board are here:
https://www.pinterest.com/nataliejworth/opinionated-moodboard-principles/
https://docs.google.com/presentation/d/1umVz8C-v-KiPgX2gvC6Iip2ZIP1POEFeko7p7ELBx2Q/edit#slide=id.g1062aeecb2_0_10

[2016-01-29 18:22] cassiemc opened #131 "Follow up on Drive storage space issue"

[2016-01-29 18:24] cassiemc commented on #129
Also, I moved the board files and the OOH folder out of the Admin folder, which I don't think was entirely intuitive when searching. Thanks so much @lovegushwa!

[2016-01-29 19:19] lovegushwa commented on #129
@cassiemc the idea with the _PROJECTS folder is that it contains buckets of work. Admin (we could have a better name for this) is stuff for the Mozilla executive team (like board posters). I agree OOH should probably go somewhere else, we could create a folder that's MOFO/MOCO collaborations.

Anyhow I think it will get out of hand if individual projects end up in _PROJECTS ... and better if we th

[2016-01-29 20:30] cassiemc commented on #128
This is being adequately tracked in other issues and is near to finished, so closing this one.

[2016-01-29 20:30] #128 closed

[2016-01-29 20:34] cassiemc opened #132 "Design dapper fox patches"
For reference on vendor, etc: https://docs.google.com/spreadsheets/d/1X6AhlnutTL6M3xMZ-8DSIU0AI8166pz4YlXY4DODUm4/edit#gid=0

[2016-01-29 20:35] cassiemc commented on #125
Closing this. The [meta issue in plan](https://github.com/MozillaFoundation/plan/issues/660) is tracking this work, and granular issues are filed here: https://github.com/MozillaFoundation/Design/labels/swag

[2016-01-29 20:35] #125 closed

[2016-01-29 20:36] cassiemc opened #133 "Design dapper fox stickers"
For reference on vendor, etc: https://docs.google.com/spreadsheets/d/1X6AhlnutTL6M3xMZ-8DSIU0AI8166pz4YlXY4DODUm4/edit#gid=0

[2016-01-29 20:37] cassiemc opened #134 "Design x-ray goggles stickers"
X-Ray Goggles stickers – simple logo + URL or something fun

For reference on vendor, etc: https://docs.google.com/spreadsheets/d/1X6AhlnutTL6M3xMZ-8DSIU0AI8166pz4YlXY4DODUm4/edit#gid=0

[2016-01-29 20:38] cassiemc opened #135 "Design thimble stickers"
Thimble stickers – simple logo + URL or something fun

For reference on vendor, etc: https://docs.google.com/spreadsheets/d/1X6AhlnutTL6M3xMZ-8DSIU0AI8166pz4YlXY4DODUm4/edit#gid=0

@flukeout is there already a thimble sticker?

[2016-01-29 20:38] cassiemc opened #136 "Design #teachtheweb button"
We need a simple pin/button with the text #teachtheweb. One option would be to recreate what was done for the gear store pin with sort of grungy looking type: https://redpen.io/p/eqfc9228701f81dae9 (@natalieworth worked on that)

* Size 1.5"
* Should be on brand with teach.mozilla.org (@sabrinang is currently working on a style guide but can answer any Qs you have in the meantime)
* Preferred vend

[2016-01-29 20:47] cassiemc commented on #136
@ldecoursy Any preference for size? Assume it affects price.
@vazquez Please assign this to yourself or @my-le as appropriate :)

[2016-01-29 20:56] ldecoursy commented on #136
I'd go with 1.5"

Thanks!

[2016-01-29 20:58] cassiemc commented on #136
Thanks @ldecoursy and @vazquez, I updated the description accordingly.

[2016-02-01 15:46] vazquez commented on #136
Wacky Buttons Templates available here: http://www.wackybuttons.com/templates.php

[2016-02-01 15:49] vazquez commented on #136
This is the Mozilla unified colour palette for colour inspiration:

![mozilla-unified](https://cloud.githubusercontent.com/assets/1119821/12722111/6e754014-c8d1-11e5-8ad9-1ddca92b362c.png)

[2016-02-01 16:11] #109 closed

[2016-02-01 17:28] cassiemc opened #137 "Decide plans re. moz-wide color palette"
Can discuss this today

[2016-02-01 19:19] cassiemc commented on #94
@lovegushwa Passing this off to @kristinashu for this heartbeat. I'll invite you to our kickoff though we so we can knowledge transfer! In the meantime can you link any assets you've created here?

[2016-02-01 20:27] cassiemc commented on #129
Ah I see, good thinking. Let's revisit it once our larger program map and IA are clearer.

[2016-02-01 21:56] cassiemc commented on #137
Let's book a time with our team to discuss with Sean Martell. @sabrinang is working on this helpful graphic here: https://redpen.io/fq9f2be8480a18d520 via https://github.com/mozilla/teach.mozilla.org/issues/1386

[2016-02-03 17:52] cassiemc commented on #94
@sabrinang is pulling together a style / guidelines template, also based on @vazquez's work on Webmaker. Let's use that as a final form for this as well.

[2016-02-04 21:30] cassiemc commented on #137
Trying to set up a training/Q&A session with @mart3ll and the mofo design team.
Some questions that have come up (not leading at all, just curious):
* What's the distinction between Vibrant & Base? What's relationship between those columns and RGB/CMYK?
* Have these been testing or considered for accessibility?
* Are different products using particular colour combos?
* What sites are / aren't usin

[2016-02-07 02:46] vazquez commented on #135
Thimble sticker available here: https://drive.google.com/open?id=0B2qu3ExKWIlvN2F0YW40NDVSUms

[2016-02-07 02:48] vazquez commented on #134
X-Ray Goggles available here: https://drive.google.com/open?id=0B4Q8pzCpDS_eNlFGV2pXV1lMODQ

[2016-02-07 02:59] vazquez commented on #133
Dapper Fox available here: https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvZVNibHlPTGpBN1E/view?usp=sharing

[2016-02-07 03:00] vazquez commented on #132
Dapper Fox available here: https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvZVNibHlPTGpBN1E/view?usp=sharing

[2016-02-09 14:33] vazquez commented on #135
2" x 2" Template available here: https://www.stickermule.com/templates/circle-stickers

[2016-02-09 14:40] vazquez commented on #136
@ldecoursy This is the button layout for the 2-line hashtag
![screenshot 2016-02-09 09 39 38](https://cloud.githubusercontent.com/assets/1119821/12919226/24606d28-cf11-11e5-8a83-db7f6e66567e.png)

[2016-02-09 14:57] vazquez commented on #134
Pattern for X-Ray Goggles available here (will need colour tweaking): https://drive.google.com/open?id=0B20-0lpP23c0S0JFYURsR2VzZTA

[2016-02-10 14:53] vazquez commented on #135
![screenshot 2016-02-10 09 52 57](https://cloud.githubusercontent.com/assets/1119821/12950626/1e01d8ec-cfdc-11e5-9398-00498e7e2b61.png)

[2016-02-10 14:55] vazquez commented on #133
![screenshot 2016-02-10 09 54 10](https://cloud.githubusercontent.com/assets/1119821/12950658/3fc66e0c-cfdc-11e5-87c9-e4d37136a176.png)

We need to the add the word Mozilla. I checked with the vendor and they will be able to clearly print this level of fidelity.

[2016-02-10 14:56] ldecoursy commented on #135
Thanks @vazquez Is this ready to send to the vendor if we want to order them, or anything else we're waiting on?

[2016-02-10 14:56] vazquez commented on #132
![screenshot 2016-02-10 09 54 10](https://cloud.githubusercontent.com/assets/1119821/12950658/3fc66e0c-cfdc-11e5-87c9-e4d37136a176.png)

We need to the add the word Mozilla. I checked with the vendor and they will be able to clearly print this level of fidelity.

[2016-02-10 14:56] vazquez commented on #133
![screenshot 2016-02-10 09 56 48](https://cloud.githubusercontent.com/assets/1119821/12950741/9ed7d85e-cfdc-11e5-83fd-98f7a80b23ed.png)

[2016-02-10 14:58] vazquez commented on #134
Some ideas:

![screenshot 2016-02-10 09 57 31](https://cloud.githubusercontent.com/assets/1119821/12950769/bd2b943a-cfdc-11e5-9776-d9b3f13947da.png)

![screenshot 2016-02-10 09 58 09](https://cloud.githubusercontent.com/assets/1119821/12950778/ccfcab56-cfdc-11e5-888f-2f5357066e57.png)

[2016-02-10 15:11] vazquez commented on #135
This file is ready. @my-le, can you add the finalized .eps file to this ticket?

[2016-02-10 15:55] my-le commented on #135
Final eps file for Thimble 2" x 2" Sticker:
https://drive.google.com/a/mozilla.com/file/d/0B_itHmpwHBFvNTRCbVlibDRkUGM/view?usp=sharing

[2016-02-10 16:11] Raphseck commented on #132
Hey guys, how are you?
Its only add the word Mozilla?
I can help you. : )

[2016-02-10 16:59] cassiemc commented on #134
@vazquez I don't think the transparency/white is working, though I do prefer the patterned background (more dynamic) over the more corporate looking logo + headline.

For option 1, can you keep the logo solid please and try a bkg color other than blue? (It's okay if you need to adjust how the logo is constructed to remove the transparency) A lighter purple could work well. Could pull colours and/o

[2016-02-10 17:00] cassiemc commented on #132
Hi @Raphseck, this issue is already assigned to @my-le but thank you for offering to help! There are lots of unassigned issues in the Mozilla-wide Community Design repo if you want to chip in on anything else: https://github.com/mozilla/Community-Design/issues

[2016-02-10 17:09] kristinashu commented on #134
Here's the ai file for the site mockup: https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLSzhwM0NQVm1Va0E/view?usp=sharing

Not sure if it's helpful but here's a messy file where I played around with the logo colours: https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLRlNILTliV1J0UGs/view?usp=sharing

[2016-02-10 17:28] vazquez commented on #134
From My's Redpen (https://redpen.io/at79251cd1b8e0e7a5)

![screenshot 2016-02-10 12 26 59](https://cloud.githubusercontent.com/assets/1119821/12955571/ada7737a-cff1-11e5-8268-03581da54960.png)

[2016-02-10 17:30] ldecoursy commented on #136
Sharing some feedback from the team:
* It is a bit hard to read - can we try another font? (also a mention of the font having a holiday vibe along with some of the cogs that look star/snowflake like)
* Overwhelmingly, people read this as #teach instead of teachtheweb - so think we need to think about an arc or other orientation

[2016-02-10 17:31] vazquez commented on #136
Some updates from @my-le

![screenshot 2016-02-10 12 29 23](https://cloud.githubusercontent.com/assets/1119821/12955671/1ca6409e-cff2-11e5-8c32-2829431134be.png)

[2016-02-10 17:34] vazquez commented on #136
Based on feedback, what about the right version @ldecoursy?

[2016-02-10 18:06] ldecoursy commented on #136
Much better. In order to avoid the "busy" or "holiday" feel, can we make some minor adjustments to the cogs - maybe less, or less star and holiday lights-type shapes?

[2016-02-10 18:09] ldecoursy commented on #134
Is it worth playing with the the text on the top? Because of the eyes in the logo, it's looking a little like a face.

[2016-02-10 18:29] vazquez commented on #132
Update from @my-le

![screenshot 2016-02-10 13 28 47](https://cloud.githubusercontent.com/assets/1119821/12957358/4837047a-cffa-11e5-8a1d-49d9a5e79014.png)

cc @ldecoursy

[2016-02-10 19:35] vazquez commented on #136
Reducing amounts of points.

![screenshot 2016-02-10 14 35 33](https://cloud.githubusercontent.com/assets/1119821/12959227/8f4d833a-d003-11e5-958f-ad9717f53667.png)

[2016-02-10 20:09] Raphseck commented on #132
ok!
Great @my-le  ! : )

[2016-02-10 20:17] cassiemc commented on #132
@my-le @vazquez This wasn't mentioned in crit but we shouldn't bend the mozilla logo on the curve like that. Probably will work better at the top of the fox, straight across.

[2016-02-10 20:17] cassiemc commented on #136
I think it is the stars (a la the Jewish star) that are actually throwing things off. @vazquez @my-le can we replace the star shapes with other cogs/gears? I would also reduce the text size of 'teach the web' – this font is much clearer, so could be smaller and still readable, and giving it some white space / breathing room should help make it feel a little less busy.

[2016-02-10 22:13] kristinashu commented on #117
Here's my moodboard https://www.pinterest.com/kristinashu/meaningful-effective/

To me, meaningful means the site makes the user feel an emotion (either through the look and feel or through copy). If the user feels the emotion then the site is effective. Site should also be memorable ie have some personality (not cold and sterile), be accessible to everyone, and be impactful. Sites which met this

[2016-02-10 22:25] cassiemc commented on #123
Blog post is here: http://www.cassiemcdaniel.com/blog/design-at-mozilla-foundation-20152016/

[2016-02-10 22:25] #123 closed

[2016-02-10 22:27] cassiemc opened #138 "Document / synthesize findings from moodboard exercises"

[2016-02-10 22:27] cassiemc opened #139 "Finalize Mofo-wide colour palette"
See comment from @kristinashu in teach repo: https://github.com/mozilla/teach.mozilla.org/issues/1386#issuecomment-182601596

[2016-02-10 22:29] cassiemc commented on #117
This is fantastic @kristinashu, thanks. Can you (re)share this at our next crit? I think this is ready to close.

[2016-02-10 22:29] #117 closed

[2016-02-10 22:30] cassiemc commented on #120
@flukeout Can you link your moodboard here?

[2016-02-10 22:30] cassiemc commented on #120
Then ready to close...

[2016-02-10 22:30] cassiemc commented on #119
Thanks @natalieworth!

[2016-02-10 22:30] #119 closed

[2016-02-10 22:31] cassiemc commented on #118
@sabrinang Can you link your moodboard here? Then this is ready to close.

[2016-02-10 22:31] cassiemc commented on #116
@vazquez Can you link your moodboard here? Then this is ready to close.

[2016-02-10 22:31] kristinashu opened #140 "Conferences"
I'd love to go to a conference this year and am looking for suggestions. I started a doc so please add any you can think of.

https://docs.google.com/a/mozilla.com/spreadsheets/d/1oz7o9tpjklZ-GSOJchPTYlYOOx3EIYPT1JA9NL-IM14/edit?usp=sharing

It might even be nice if we could go to one together!?! @cassiemc @vazquez @lovegushwa @flukeout @sabrinang @natalieworth @xmatthewx

[2016-02-10 22:33] cassiemc commented on #137
Spoke to @mart3ll and the thought was that we can iterate on the work he's done for the mozilla palette. No need to hold a training. Filed #139 as a next step, then I think it would be wise to follow up with a mozilla-wide discussion with designers, or at minimum, discuss with Mofo's frontend engineers.

[2016-02-10 22:33] #137 closed

[2016-02-10 22:42] sabrinang commented on #118
@cassiemc
Moodboard link: https://www.pinterest.com/sabotage/design-principle-coherence/

[2016-02-10 22:47] cassiemc commented on #138
All the moodboard links are here: https://github.com/MozillaFoundation/Design/labels/design%20principles

Notes from each presentation:
#### Grassroots
by @lovegushwa
**Source:** https://www.pinterest.com/lovegushwa/grassroots/
* skews toward protests / activism, not what we want exactly. bottom-up
* conceptual, pointed graphics; often using humor, sans serif, bold, coarse; utility & efficiency, s

[2016-02-10 22:47] #118 closed

[2016-02-10 22:49] cassiemc commented on #138
I'd like to have some kind of working document that becomes part of a mofo-wide style guide. Thoughts about format / implementation? @vazquez @flukeout @sabrinang @kristinashu @natalieworth @lovegushwa

[2016-02-10 22:52] cassiemc commented on #42
We've actually made some good progress on this front since this bug was last updated. @kristinashu can  you add some thoughts here based on what you've discovered in the mofo design audit? Would love to unearth a crisp list of next steps in order to close out this bug. Might require working with lots of different stakeholders but I suspect it's not actually that hard to make happen.

/cc @simonwex

[2016-02-10 23:06] cassiemc commented on #131
I'd like to audit where we are at with Google Drive storage. Can everyone please check your drive storage by going to https://www.google.com/settings/storage and reporting back here?

@flukeout:  ...
@vazquez: ...
@sabrinang: ...
@kristinashu: ...
@natalieworth: ...
@lovegushwa: ...
@cassiemc: 14/30 GB

Here are possibile solutions from Sophana @ moco:

I should reply to Sophana soon and let her k

[2016-02-10 23:10] cassiemc commented on #94
@kristinashu has made great progress on this. Hoping to close for this Friday, Feb 12. Work so far: https://docs.google.com/presentation/d/13v_Rr2ypxscqSZWksLAzc5TZ8NRy0MuGSP9yK-FEKFo/edit#slide=id.g10a9224583_1_124

[2016-02-10 23:16] flukeout commented on #120
Here's the [Open Moodboard](https://docs.google.com/a/mozilla.com/presentation/d/1BpzXkHqQZltDMUrW6WjEjDcIiPRc9iwhCW6n5wTlAXY/edit?usp=sharing)

[2016-02-10 23:22] cassiemc commented on #11
@vazquez Any update here? Curious if working on mattermoz & calypso have opened up any doors for this conversation.

[2016-02-10 23:23] #120 closed

[2016-02-10 23:47] flukeout commented on #131
@cassiemc Are you sure those prices above are correct? This is what I'm seeing...

https://github.com/MozillaFoundation/Design/issues/131#issuecomment-182629373

[2016-02-11 14:40] vazquez commented on #132
What about something like this? Dapper fox's arms have been fixed, and mozilla straight across.

![screenshot 2016-02-11 09 39 00](https://cloud.githubusercontent.com/assets/1119821/12979168/71d408ce-d0a3-11e5-9555-c6685fe94204.png)

Some other iterations on Red Pen: https://redpen.io/knee11b621df954828

[2016-02-11 14:42] vazquez commented on #134
If we want to achieve consistency with the Thimble Sticker (and general brand guidelines), it is best to keep the text towards the bottom. With that being said, these new colour iterations might help.

![screenshot 2016-02-11 09 41 01](https://cloud.githubusercontent.com/assets/1119821/12979236/c85f31fa-d0a3-11e5-8cc0-15f2eb5f553b.png)

[2016-02-11 14:45] vazquez commented on #136
Two iterations from @my-le

![screenshot 2016-02-11 09 44 41](https://cloud.githubusercontent.com/assets/1119821/12979290/21a87de8-d0a4-11e5-8781-9d23dc8f6313.png)

RedPen available here: https://redpen.io/gpda1198f132710e5e

[2016-02-11 14:45] cassiemc commented on #131
fascinating @flukeout. Sophana also said, "(These are the enterprise prices set by Google and will be charged back to your department)" That price disparity is insane though.

@flukeout Maybe the drive only counts the files you have uploaded. Have you shared all your working files? Maybe you don't have a lot of weight to the files you've shared?

I'll wait for @lovegushwa and @natalieworth to upda

[2016-02-11 14:45] vazquez commented on #135
@cassiemc Are we good to close this issue?

[2016-02-11 14:51] ldecoursy commented on #136
I like the second one, but would change the diamond shape to a circle or hexagon.

[2016-02-11 15:03] vazquez commented on #136
Change on its way

[2016-02-11 15:05] vazquez commented on #116
https://docs.google.com/a/mozilla.com/presentation/d/1eIX_HfJCeakjiiMdErBjFTSpefNBevfzfMusTbRY7t4/edit?usp=sharing

[2016-02-11 15:05] #116 closed

[2016-02-11 15:12] my-le commented on #133
New stickers: add "mozilla" (curved and straight across).
![rgb-dapperfox-sticker-2in-lyt03-b](https://cloud.githubusercontent.com/assets/10426601/12979901/2886b392-d0da-11e5-89bb-802c5a0de07c.jpg)

[2016-02-11 15:17] my-le commented on #133
New stickers: add "mozilla" (curved and straight across).
![rgb-dapperfox-sticker-2in-lyt03-b](https://cloud.githubusercontent.com/assets/10426601/12980021/d357abb4-d0da-11e5-859a-66bd38351b37.jpg)

[2016-02-11 15:19] vazquez commented on #133
The straight across one looks like a winner! :smiley:

[2016-02-11 15:23] vazquez commented on #138
In regards to implementation, we could make a site with this simple layout:

[Scan Feb 11, 2016, 10.22 AM.pdf](https://github.com/MozillaFoundation/Design/files/126594/Scan.Feb.11.2016.10.22.AM.pdf)

[2016-02-11 15:28] my-le commented on #132
Variant here:
![rgb-dapperfox-patch-lyt03-variant](https://cloud.githubusercontent.com/assets/10426601/12980354/6ad5ce48-d0dc-11e5-9f3c-669708e98a37.jpg)

[2016-02-11 15:48] vazquez commented on #11
Yes! I have created a [list of questions](https://docs.google.com/a/mozilla.com/document/d/1ilw0F_l71bVZk4fEuE8Ks-owaMWNqUuKtkadUyzs_Ls/edit?usp=sharing) to ask developers. I have booked time with Mavis and Gavin. My aim is for each interview to take no more than 15 minutes.

I will create a Google Form (we discovered this is a better approach when conducting research) so we can discuss results as

[2016-02-11 15:48] my-le commented on #136
Diamond changed by hexagon:

![rgb-teachtheweb-1 5in-lyt04-variant](https://cloud.githubusercontent.com/assets/10426601/12980987/1ef652ba-d0df-11e5-899f-ddd9fccf8195.jpg)

[2016-02-11 15:49] ldecoursy commented on #136
Looks great to me!

[2016-02-11 15:51] vazquez commented on #136
Great! @my-le, add the .EPS Google Drive link to this ticket and we can call this one done! :balloon:

[2016-02-11 16:59] my-le commented on #136
Final version eps file here:
https://drive.google.com/drive/u/0/folders/0B_itHmpwHBFvcDhoZGpQclZUV0k

[2016-02-11 19:17] kristinashu commented on #94
Think I'm just about done https://docs.google.com/a/mozilla.com/presentation/d/13v_Rr2ypxscqSZWksLAzc5TZ8NRy0MuGSP9yK-FEKFo/edit?usp=sharing

[2016-02-11 19:26] natalieworth commented on #138
Yah, I think a site that housed everything could work well and be easily accessible for reference. I also really like Font Shops/ Frontify brand guidelines if we want to elaborate in the future on stylings/ type (after our principles): https://www.fontshop.com/styleguide/globals or https://brand.frontify.com/d/qAiubNBytHKf/style-guide#/style-guide/icons-and-illustrations I'll look for more example

[2016-02-11 20:24] cassiemc commented on #134
I love the third one! The colours really pop :)

[2016-02-11 20:25] cassiemc commented on #135
Yes, nice work @my-le and @vazquez! Can you guys make sure the final assets are in a shared Drive folder so @ldecoursy has easy access?

[2016-02-11 20:25] #135 closed

[2016-02-11 20:26] cassiemc commented on #133
Agreed, I love the bottom right one where the fox is at a slight tilt. Nice work @my-le!

[2016-02-11 20:27] cassiemc commented on #132
Works for me! What do you think @ldecoursy?

[2016-02-11 20:28] cassiemc commented on #11
Awesome progress, thanks @vazquez :)

[2016-02-11 20:29] cassiemc commented on #136
Excellent work folks. :boom: Please make sure any final assets are all in a shared Drive folder.

[2016-02-11 20:29] #136 closed

[2016-02-11 20:40] vazquez commented on #135
Available in the Design Google Drive inside the Swag folder.

[2016-02-11 20:41] cassiemc commented on #135
Perfect. @ldecoursy Here's the link: https://drive.google.com/a/mozilla.com/folderview?id=0BzfN9sXlOXt1SG9wVDY5TzdLUWs&usp=sharing

[2016-02-11 21:19] ldecoursy commented on #132
Looks great - thanks all!

[2016-02-11 21:22] ldecoursy commented on #133
+1 to @cassiemc  that's my fave too :)

[2016-02-11 21:22] ldecoursy commented on #134
:dancers: +1 Thanks again team!

[2016-02-12 05:00] ldecoursy commented on #135
@cassiemc @vazquez Don't we also need a clean version without the stickermule guidelines on it?

[2016-02-12 09:00] lovegushwa commented on #140
@kristinashu great idea! I wont get to this until next week, but lets discuss asap.

[2016-02-12 09:56] my-le commented on #134
The final eps file link:
https://drive.google.com/drive/u/0/folders/0B_itHmpwHBFvWnh1bGxfdEVxbFE

[2016-02-12 12:59] vazquez commented on #135
@ldecoursy Stickermule asks for people to upload the sticker with the guidelines on.

[2016-02-12 12:59] #134 closed

[2016-02-12 13:43] my-le commented on #133
Dapper Fox Sticker – Final eps file link:
https://drive.google.com/drive/u/0/folders/0B_itHmpwHBFvZVpfT1V5VTctaHM

[2016-02-12 13:50] #133 closed

[2016-02-12 14:38] my-le commented on #132
Dapper Fox 3" Patch – Final eps and pdf files link:
https://drive.google.com/drive/u/0/folders/0B_itHmpwHBFvTmctZ0xtZ0VBVmc

[2016-02-12 15:13] cassiemc commented on #132
Fabulous, thanks @my-le! Appreciate your diligence on these.

[2016-02-12 15:13] #132 closed

[2016-02-12 16:43] cassiemc commented on #94
@kristinashu You are right, it's very close, but we need to add a bit more depth to the document. Having screenshots that aren't annotated in some way isn't satisfying the objective of this bug to understand how/why design decisions are made or understanding the impact on our audiences or the scale of work it will take to align them more closely together. If you can address a my couple of comments

[2016-02-12 22:16] cassiemc commented on #94
@kristinashu addressed my comments, thanks!! So happy to close this and move onto phase 2. We'll be updating another view of the Communications inventory that mirrors results from this visual audit here. That work will be happening here: https://github.com/MozillaFoundation/plan/issues/685

[2016-02-12 22:16] #94 closed

[2016-02-12 22:47] cassiemc commented on #139
@kristinashu can you take this one?

[2016-02-12 22:49] kristinashu commented on #139
Yup!

[2016-02-13 00:13] kristinashu commented on #139
Plan is to simplify this colour palette http://blog.seanmartell.com/2014/09/17/mozilla-id-project-palette-explorations/

[2016-02-13 00:23] kristinashu commented on #139
Just realizing this palette is the same as Mozilla Unified palette https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLZmJhQ1JKMXpzM2s&usp=sharing

[2016-02-16 14:47] cassiemc commented on #139
Yes, same thing

[2016-02-16 19:30] kristinashu commented on #139
The unified palette uses opacity to create different tints of one colour. For example, this means this red has three unique # values:.
<img width="217" alt="screen shot 2016-02-16 at 11 24 02 am" src="https://cloud.githubusercontent.com/assets/1068783/13088125/d5143c60-d49f-11e5-9daa-6e9dc091c624.png">

We are trying to see if we can create one hex value per colour (ex red) and then use LESS to cr

[2016-02-16 19:31] vazquez commented on #139
Great :) This approach will also work in Sass, the preprocessor that Foxlight is using.

[2016-02-17 16:22] cassiemc commented on #42
Likely some insights from @kristinashu's Mofo design audit doc: https://docs.google.com/presentation/d/13v_Rr2ypxscqSZWksLAzc5TZ8NRy0MuGSP9yK-FEKFo/edit#slide=id.p

@flukeout If you find you have extra time this heartbeat this would be a good place to make progress as well. Would be great to sync up and build into Calypso plans.

[2016-02-17 16:24] cassiemc commented on #138
I totally missed these two comments, thanks @vazquez and @natalieworth. I do think this should be more of an inspirational doc rather than a working guide, but they could definitely relate. @vazquez @natalieworth How do you want to proceed? Are either of you up for doing a higher fidelity mockup based on Ricardo's sketch? I could do some writing for this for sure and synthesize those bullets into

[2016-02-17 20:06] natalieworth commented on #138
@cassiemc @vazquez I'd be up for helping out with this! It could be a fun/ good project to work on after the Encryption campaign slows down. Not sure about the timing for this though or when we'd want to implement?

[2016-02-17 20:15] cassiemc commented on #138
Timing not super critical. Maybe as a first step this heartbeat (if time, note it's a P2) would be good to turn the sketch into a v1 UI.

[2016-02-17 20:20] cassiemc commented on #138
Adding a RACI to the top comment.

[2016-02-22 18:55] cassiemc commented on #131
Upgraded @lovegushwa for more storage space for video files. @natalieworth if you want more storage you'll need to file a service-now, then we can loop in Sophana. You might want to do this before I go on mat leave.

[2016-02-22 18:55] #131 closed

[2016-02-24 18:50] cassiemc opened #142 "Plan training / share for How to Make a Moodboard"
It concerns me that only one person on our team had ever made a moodboard from scratch before, and that no one seemed to have a good handle on how to approach a brand from scratch. Let's do some training, sharing and talking so we can all develop this skill set.

cc: @cassiemc @kristinashu @sabrinang @natalieworth @flukeout @lovegushwa @vazquez

[2016-02-24 18:51] cassiemc commented on #142
Might be able to get someone external to demo their process.

[2016-02-24 19:32] cassiemc opened #143 "Improve annotation templates"
### Issue

cc: @vazquez

[2016-02-24 19:33] cassiemc opened #144 "Brownbag for engineers"
### Issue

cc: @vazquez

[2016-02-24 19:33] Ohyewlee commented on #144
This XML file does not appear to have any style information associated with it. The document tree is shown below.
<map>
<string name="EI">352560074356491</string>
<long name="timestamp" value="1455990989697"/>
<string name="DID">352560074356491</string>
<string name="UTDID">VsiozTBPs6YDAEQHLkb2v1QE</string>
<long name="S" value="2490635226"/>
<long name="t2" value="1455990989624"/>
<string name="S

[2016-02-26 00:33] kristinashu commented on #139
Updated redpen https://redpen.io/p/ug529d26b3188b0c6c with an audit of the main colours used in each mofo site and comparing them to the nearest colour from the unified palette.

[2016-02-26 14:07] cassiemc commented on #139
Holy shit that's awesome @kristinashu! Super clear what we can do to clean things up. I think we should try this via the teach site (and apply it as we build new, ie the science site). Teach site is our second highest traffic property, and I think will apply the foxlight/cms properties the soonest.

Although we don't support it really, it would be cool to see this for Webmaker.org too, which curre

[2016-02-26 14:45] cassiemc opened #145 "Outline Design Director job responsibilities"
Something I'm working on. Filing this for some accountability.

[2016-02-26 14:45] cassiemc opened #146 "Review Mozilla Brand brief"
I meant to leave comments this week but haven't gotten to it. Filing this for some accountability.
cc: @lovegushwa