[2019-05-08 16:10] kristinashu commented on #357
I just noticed in the [style guide](https://foundation.mozilla.org/en/style-guide/) that h4 has different line height for desktop vs mobile, it's slightly less on mobile (not in this case but _sometimes_ a font size is smaller on mobile than desktop). Maybe we should add a step around checking it at desktop, tablet, and mobile and maybe also a step around running past the suggested change with a d

[2019-05-08 18:58] beccaklam commented on #355
Draft:

Enter actual ticket description here

---

**### 🗒  Brand Update Checklist**
(Feel free to remove items that are not applicable.)

### Override an existing style _(exception)_
What element/ style is being changed?
Why is it an override versus a new style/improved style for the whole Foundation site?
What else might be affected?
- [ ] Post proposed brand update in Redpen
- [ ] Request desig

[2019-05-08 19:19] kristinashu commented on #355
For simplicity, we talked about how this could be one ticket template and people can just delete what isn't relevant.

[2019-05-08 21:16] kristinashu commented on #354
Looks like this is all done so I'm going to close the ticket but @stephaniemcv just let us know if you need anything else!

[2019-05-08 21:16] #354 closed

[2019-05-08 23:43] kristinashu opened #359 "Impact Theme cms page"
We don't currently have a home for our new impact theme on our site. Let's start by designing a simple page and then explore other ways to expand it and integrate the theme through out the site.

### Content
- start with a simplified version (with our broader audience in mind) of [Sarah Watson’s wiki](https://wiki.mozilla.org/Foundation/AI)
- link/list a few references of our related work from the

[2019-05-09 01:03] natalieworth commented on #355
I created a template ticket (pull request/ awaiting review) here: https://github.com/MozillaFoundation/Design/pull/360

[2019-05-09 01:06] natalieworth commented on #357
Also @kristinashu wondering how many R+'s I should get on this? Do you think it just requires one?

[2019-05-09 03:18] natalieworth commented on #346
<img width="602" alt="Screen Shot 2019-05-08 at 8 17 38 PM" src="https://user-images.githubusercontent.com/14876567/57424964-5a146b00-71ce-11e9-8504-1b5f1779c13f.png">

added our footer icons as 'small' size in the iconography doc

[2019-05-09 18:28] kristinashu commented on #357
I think one is good but others should speak up if they foresee any issues!

[2019-05-09 21:42] kristinashu commented on #356
Closing this ticket but yes, just let us know if you need anything else.

[2019-05-09 21:42] #356 closed

[2019-05-10 21:33] beccaklam commented on #357
I'm good with this! R+ for fixing the H4 line height.

[2019-05-13 20:45] beccaklam opened #361 "Data Viz grahpics for Misinfo Survey Report Back"
### Intro

Jen Caltrider has asked for some Data Viz graphics to accompany her Misinfo Survey Share Back. She's okay with basing this work on some older data visualizations we did for previous survey share outs.

### Links
Content doc: https://docs.google.com/document/d/15aRICdG1gFC8sB71FIzrMl5cRrvZly9ahL20VBqYl8I/edit
Full Report for Misinfo Survey: https://drive.google.com/file/d/1TS0SmbNiMqRWDU

[2019-05-13 20:45] beccaklam commented on #361
First draft here: https://redpen.io/p/cz3cb289758d3a81a8

[2019-05-13 21:48] kristinashu commented on #314
Checklist from  https://github.com/MozillaFoundation/Design/issues/355

# Updating an existing style

## 1. What element/ style is being changed?
All dividing lines and solid shadows.

- **subtle divider**
  - 1px
  - grey
  - full width/wide/narrow
  - e.g. menu border-bottom, between news items, accordions...

- **cta divider**
  - 1px black
  - narrow
  - e.g. Image Text & Image Text Mini compo

[2019-05-13 21:58] kristinashu commented on #314
@natalieworth can I please get a design review on this?

## Design Reviewer Checklist
- [ ] Is this change justified or are we able to use existing brand elements?
- [ ] Is the development time viable?
- [ ] Provide an R+ or R- in the ticket
- [ ] List reasons for approving or denying changes

[2019-05-14 00:54] natalieworth commented on #314
R+
I think the differences in rule styling and thickness provides better hierarchy on the page. The 4px black clearly separates each section and the lighter grey rules separate content.
The grey option also provides a more subtle/ cleaner alternative to the solid black.

[2019-05-14 18:04] #314 closed

[2019-05-15 00:30] natalieworth commented on #346
@sabrinang I think you covered all the icons that we need and they look great! I think the sizing seems to be working to. I think we can close this ticket and open a dev/implementation tic when we get time over the next few weeks?

[2019-05-15 00:34] natalieworth commented on #355
Just adding for tomorrow that we need to add desktop/ mobile mockup and checks for the style changes/ updates.

[2019-05-15 16:57] sabrinang commented on #346
For sizing, I've been testing them in MozFest mockups before and after buttons:

and have been scaling down the 24px small to 16px to fit
<img width="500" alt="Screen Shot 2019-05-15 at 9 49 34 AM" src="https://user-images.githubusercontent.com/2492510/57793708-d4754b80-76f6-11e9-8382-b6e10b11b62e.png">

<img width="500" alt="image" src="https://user-images.githubusercontent.com/2492510/57793582-8

[2019-05-15 20:30] natalieworth commented on #355
Updated new issue template #362

[2019-05-15 20:34] natalieworth commented on #355
Issue template is live here! https://github.com/MozillaFoundation/Design/issues/new/choose
Closing this tic!

[2019-05-15 20:34] #355 closed

[2019-05-15 21:25] beccaklam commented on #361
Final graphics and working file here: https://drive.google.com/drive/folders/1AXR5gi8Y5debVfPTU41ad13Otz3kku-p?usp=sharing

This should be done but feel free to reopen if changes are needed!

[2019-05-15 21:25] #361 closed

[2019-05-15 21:58] kristinashu opened #363 "Share templates with staff"
Based on convo with @sabrinang, we would like to make a few small updates and then share out our templates with staff.

### Updates to [guide](https://foundation.mozilla.org/en/docs/brand/design/templates/)
- [x] Add link to moco slide deck (mozfest slides when available) [Sabrina]
- [x] move /templates as secondary item (so url will be https://foundation.mozilla.org/en/docs/brand/templates/) [Sab

[2019-05-15 23:29] kristinashu commented on #359
Here are a couple rough comps we can use as a starting point (redpen is down but I'll upload these when it's back up).
- Copy is obviously terrible, @anilkanji any suggestions on who could write some external facing copy?
- I also don't know what to call it `AI` or `Machine Decision Making`?

### Comp A
Unorganized list of projects (least amount of work and possibly all people would be interested

[2019-05-15 23:42] gideonthomas commented on #359
Based on https://medium.com/read-write-participate/consider-this-ai-and-internet-health-49209d71689a I would suggest the title - AI and Internet Health

[2019-05-16 17:13] xmatthewx commented on #359
This all looks great. I think it's a great to start to help our wordsmiths dig in to compose the page.

[2019-05-16 17:27] xmatthewx commented on #363
Excellent. Here's a slight rewrite. Feel free to reject any bits you don't like.

[2019-05-16 17:29] xmatthewx commented on #363
Could we add a note on the template page that MoFo slide is coming soon? Should we drop in last year's mozfest or all hands deck?

[2019-05-16 17:35] kristinashu commented on #363
Yeah we could add a link to those two slide desk with a note that 2019 versions are in the works.. But for simplicity, we decided against a full general MoFo specific slide deck.

[2019-05-16 17:36] kristinashu commented on #363
@xmatthewx how do you make the short link? Do you need to know the account login?

[2019-05-16 18:03] kristinashu opened #364 "Assets for All Hands"
Deadline May 24

#### Create a new graphic for All Hands and then update assets.

- [x] new direction for the graphic
- [x] update last year's slide deck with new graphic
- [x] advise on colors for the photobooth backdrop
- [x] scale graphic to make a sticker
- [x] name tag template
- [x] update http://mzl.la/templates with image and link to new slide deck

Last year's assets are [here](https://dr

[2019-05-16 18:06] kristinashu commented on #364
Note: Phia has suggested use just update last year's graphic with new colors so if no one is feeling inspired we can just do that...

[2019-05-16 18:37] xmatthewx commented on #363
Shortlink is ready: https://mzl.la/templates

[2019-05-16 18:48] xmatthewx commented on #364
minimal refresh on last year's graphic is great. or, porting over new brand stuff is great. investing too much time beyond that, not so great.

[2019-05-16 19:48] kristinashu commented on #363
Awesome thank you!

I've added the intro text along with links to the 2018 MozFest (I could only find slides for Dialogue & Debates) and 2018 All Hands slide decks. @sabrinang please update as you see fit and share the page when you are ready!

[2019-05-16 21:08] xmatthewx commented on #363
I suggest you share Tuesday morning after the long weekend. You'll probably get more eyeballs than on a Friday.

[2019-05-17 03:18] stephaniemcv commented on #348
@annmarie123 has Fellowships signed off on the design of the Welcome Email? If yes, @kristinashu can you get the banner asset to Alexander to code up? The LCM team and I are wrapping some of this work up in MoCo's project Trailhead.

[2019-05-17 15:59] kristinashu commented on #348
Excellent! Ann Marie is on PTO today but yes the design and copy are approved. I will send Alexander the banner and copy doc now.

[2019-05-17 17:39] sabrinang commented on #363
<img width="672" alt="image" src="https://user-images.githubusercontent.com/2492510/57945902-e3433600-788f-11e9-96f0-73f29ce46572.png">
updated to generic template 2018 mozfest (removed dialogue and debate it seems too specific for staff)

[2019-05-21 17:22] kristinashu commented on #352
Doesn't seem like this is gonna happen...

[2019-05-21 17:22] #352 closed

[2019-05-21 17:31] sabrinang commented on #363
Posted on slack - closing issue!
<img width="431" alt="image" src="https://user-images.githubusercontent.com/2492510/58117494-9030f200-7bb3-11e9-9b25-30de7bdc3b97.png">

[2019-05-21 17:31] #363 closed

[2019-05-21 17:42] kristinashu commented on #363
It's already getting some nice reactions!
<img width="240" alt="image" src="https://user-images.githubusercontent.com/1068783/58118127-11d54f80-7bb5-11e9-9048-5db2e5ed93c6.png">

[2019-05-21 18:39] natalieworth commented on #364
Added a graphic direction with previous assets and our new brand colours. Let me know what you think here: https://redpen.io/p/pnf157d2880884859a
cc @kristinashu @xmatthewx @sabrinang @beccaklam

Need to create stickers still. Also is the deck ready to be updated (or is that in June?) and is there example of the photobooth backdrop?

[2019-05-21 18:39] natalieworth commented on #364
![Artboard 3](https://user-images.githubusercontent.com/14876567/58121801-1271e400-7bbd-11e9-86d1-5fa38443a055.png)
![Artboard 4](https://user-images.githubusercontent.com/14876567/58121802-1271e400-7bbd-11e9-8438-27fe015097a0.png)

[2019-05-21 18:55] kristinashu commented on #364
Wow this is sooo beautiful, I love it!

I started a folder for the 2019 assets and made a copy of last year's slide deck https://drive.google.com/drive/folders/1MjdlLPe0_QY6HtjBImErRUrDwxlyo5Sc?usp=sharing You should just be able to swap out last year's blue background stuff with your new direction (could even delete some of the similar slides to simplify things).

I'll check with Phia but I'm pre

[2019-05-21 23:03] sabrinang commented on #346
Organized the sketch file a bit more and we can continue to refine and test icons, for example for external links:
<img width="229" alt="image" src="https://user-images.githubusercontent.com/2492510/58135549-c84e2a00-7bdf-11e9-92fe-07c93907812f.png">

Documented the bulk of what we have on https://foundation.mozilla.org/en/docs/brand/design/iconography/
<img width="1133" alt="image" src="https://u

[2019-05-21 23:03] #346 closed

[2019-05-23 16:14] kristinashu commented on #364
@natalieworth Phia and Amanda are happy with the direction so I think you can move ahead with updating the slide deck. She says they'll also need name tags and you can use the same dimensions as last year. We're not totally sure who should approve the stickers so I'll share it with Anil and let him decide!

[2019-05-24 19:31] kristinashu commented on #364
Here are the colors we can share with Phia for the photobooth:
Black and White
Red #ff4f5e
Light Blue #b7b9fa
Blue #595cf3
Dark Blue #0d10bf

![colors](https://user-images.githubusercontent.com/1068783/58352157-9f1bdc80-7e1f-11e9-98cc-9987ae6cd313.jpg)

Just need the name tag and then I'll share with Phia and see if we can get all three stickers printed!

[2019-05-24 19:36] kristinashu commented on #339
One more thing to consider is our external icon in buttons and links https://github.com/mozilla/foundation.mozilla.org/issues/3219

[2019-05-26 19:15] natalieworth commented on #364
Updated CMS with new slide deck https://foundation.mozilla.org/en/docs/brand/templates/

Sticker has been added to the drive folder:
<img width="537" alt="Screen Shot 2019-05-26 at 12 14 42 PM" src="https://user-images.githubusercontent.com/14876567/58386109-dfaa6000-7faf-11e9-900f-6886e7aea7e9.png">

Just waiting on sticker approval!

[2019-05-27 21:52] natalieworth commented on #357
These have been approved. Just working on updating Sketch file:
**desktop**
<img width="403" alt="Screen Shot 2019-05-27 at 2 33 44 PM" src="https://user-images.githubusercontent.com/14876567/58440464-09868400-808f-11e9-9284-ff965bcbf9db.png">

**mobile**
<img width="317" alt="Screen Shot 2019-05-27 at 2 33 16 PM" src="https://user-images.githubusercontent.com/14876567/58440467-0db2a180-808f-11e9-

[2019-05-27 22:04] natalieworth commented on #357
Need to update the Pulse cards on the Foundation site (so it matches Pulse styling)

[2019-05-28 04:29] natalieworth commented on #357
Hey @mmmavis @youriwims do you know what the **h4** 1.25 line-height means or what unit of measurement that is? I tried converting it to px using rems/ ems but it says that it is 20px—but the type is 24px. Not sure if it's decreasing by a %? I can explain tomorrow or hop on a call if that didn't make sense.

[2019-05-28 04:33] natalieworth commented on #344
@kristinashu @sabrinang @beccaklam @xmatthewx Want to talk about this tomorrow or in person on Wednesday? If we are good on the form styles then I can update in sketch/ library and close this tic.

[2019-05-28 04:37] natalieworth commented on #338
Going to close this tic as some of the P3's/ P4's of this are changing based on UI, Pulse, and potential homepage context/ design updates.

[2019-05-28 04:37] #338 closed

[2019-05-28 06:59] natalieworth opened #365 "Illustration/ templates for brand"
### Intro

Creating templates for designers and illustration assets/ documentation for future work:
- [x] Foundation images/ mozilla blog template
- [x] Social template
- [ ] Illustration folder/ documentation
- [ ] Illustration/ pattern template for Illustrator

For now templates are stored in here:
[Mozilla foundation/ blog templates](https://drive.google.com/file/d/1M0t5p_O0kUECxGDts0t_qBytvB2v

[2019-05-28 16:14] mmmavis commented on #357
@natalieworth `1.25` is a multiplier. So if the font size is 10px by having `1.25` as line height it means the line height will be `10px*1.25=1.25`.

Let us know what font size and line height you want to change `h4-heading` to for both mobile and desktop. You can list the line height in `px` and we can do the conversion ourselves. 👍

[2019-05-28 16:33] youriwims commented on #357
Just to add on to Mavis' comment, the 1.25 line-height is more of a relative measurement that offers more flexibility/visual consistency when updating font size later rather than using an absolute value(what you see in Sketch in `px`).
Also, if you're curious how we calculate our line-height, it's `line-height(px)/font-size(px)= relative line-height(no specific unit)`.I hope that made sense and di

[2019-05-28 17:01] natalieworth commented on #365
cc: @kristinashu @sabrinang @natalieworth @xmatthewx @beccaklam

[2019-05-28 18:01] kristinashu commented on #364
@natalieworth Phia says they'll be using Sticker Mule so please follow their specs. She's wondering what sizes you want? She's meeting with Angela tomorrow and will find out if all of them can be printed or not!

<img width="348" alt="image" src="https://user-images.githubusercontent.com/1068783/58500781-b9173100-8137-11e9-92e7-8a9df7af27ff.png">

[2019-05-28 18:12] kristinashu commented on #344
Design-wise there look great but we should talk to @mmmavis @youriwims about implementation and how this will affect our other forms. Maybe chat after stand on Thursday?

[2019-05-29 20:54] natalieworth commented on #364
Thanks @kristinashu Just sent an email to phia with the exported template files for Sticker Mule and cc'd you

[2019-05-29 20:54] natalieworth commented on #364
@kristinashu Do you know if the sticker gets printed via sticker mule? Or how that is co-ordinated?

[2019-05-29 21:55] kristinashu commented on #364
w00t thank you for sending the stickers and specs to Phia! I think this is all done.

We should incorporate some elements from your lovely slide template into our graphics template https://github.com/MozillaFoundation/Design/issues/365!

[2019-05-29 21:55] #364 closed

[2019-05-29 23:23] kristinashu opened #366 "Content benchmarks"
Let's get inspired to make some cool stuff! I've started a [benchmarking deck](https://docs.google.com/presentation/d/1002p6cVXgcpSdSnvjMo7AdQsPJdNJVknLFqVRmoDIDc/edit?usp=sharing) for us to gathering the type of stuff we would like to make. @kristinashu @sabrinang @natalieworth @xmatthewx @beccaklam please drop some stuff in. It can be activist-y, internet-y, design-y, or whatever you think is co

[2019-05-29 23:26] natalieworth commented on #357
So currently our Sketch library is updated and has h4 set to **desktop 24px/30px** and **mobile at 22px/28px**. So could we update the **desktop h4 to 1.25 and mobile to 1.28**? This would apply across all our brand standards (both the Foundation and Pulse site).

[2019-05-29 23:28] natalieworth commented on #357
I can create a dev tic for this @mmmavis based on your design to dev hand off? So we can update https://foundation.mozilla.org/en/style-guide/

[2019-05-29 23:41] natalieworth commented on #357
Filed a dev ticket for this, so closing https://github.com/mozilla/foundation.mozilla.org/issues/3270

[2019-05-29 23:42] natalieworth commented on #357
wait no, opening again so I can check off dev updates when they are completed

[2019-05-30 01:44] mmmavis commented on #344
Yea we should chat. Forms on Pulse and Foundation site are implemented differently (e.g., Pulse uses an external form library). It will require quite a bit of effort to rewrite the code if we want them all to follow the same design.

[2019-05-30 16:04] xmatthewx commented on #344
Given the amount of work, let's pause this until after we get a sense of our next priorities at all hands.

[2019-05-30 17:25] xmatthewx commented on #366
Excellent. Keep an eye out for things that you think will be impactful and do-able. Think about different channels (email, social, web). Consider mostly text/image content, but also great to grab a few not-too-complicated examples of engagement content (like the creep-o-meter).

[2019-05-30 19:34] xmatthewx opened #367 "Design for next misinfo fundraising email"
design a quick image for use on blog email twitter etc. likely simple words on texture.

@caltrider - can you provide info?

[2019-05-30 19:43] caltrider commented on #367
Just got the questions off to Renee. Should have a draft of the email/blog tomorrow that will give me a better idea for the graphic. The email/blog launch got pushed back to next Thursday, so we have an extra day for this. Still, should be super simple like the last graphic. I'll ping when i have something.

[2019-05-30 21:36] natalieworth opened #368 "Evaluate heading link color"
(Feel free to remove items that are not applicable.)

## Updating an existing style
_Please answer the following:_

1. What element/ style is being changed?
Proposing that we update the heading links to be dark blue.

2. Why it is needed?
Currently heading links (on the foundation/ pulse site) don't communicate that they are links until hover. Dark blue color will be more consistent with our small

[2019-05-31 14:39] caltrider commented on #367
@xmatthewx  I have the text for the graphic! Here's the deal:
Same design as what Natalie did for the last misinfo email/blog/twitter graphic.

Email header text should read:

Blog and Twitter text should read

Thanks! Let me know if there are any questions or problems or better ideas.

[2019-05-31 16:02] xmatthewx commented on #367
@kristinashu can you help figure out who has the bandwidth? It can be text on a texture again like last time ... that'll help audience know it's related to prior message.

[2019-05-31 19:04] kristinashu commented on #367
@beccaklam is back so she can do this!

[2019-05-31 20:18] beccaklam commented on #367
Got a rough redpen going here: https://redpen.io/p/hwfaa8b1f9f330cd9d <-- Let me know if the dimensions seem right? Copied over from what Natalie did for the last email/blog/twitter graphic. @caltrider

[2019-06-03 17:48] beccaklam commented on #367
Final graphics here: https://redpen.io/p/hwfaa8b1f9f330cd9d, approved by @caltrider

[2019-06-03 17:51] beccaklam commented on #367
Sent Jen the graphics via slack. Also attaching it here and closing ticket!
[misinfo-fundraising-graphics.zip](https://github.com/MozillaFoundation/Design/files/3248815/misinfo-fundraising-graphics.zip)

[2019-06-03 17:51] #367 closed

[2019-06-03 18:47] kristinashu commented on #367
Awesome, thank you!

[2019-06-03 19:23] kristinashu commented on #343
Update the list above ^

[Form](https://foundation.mozilla.org/en/initiatives/open-leadership-events/.) is set up so people can sign up and they will be added to the OLE list. The welcome email is build but not hooked up yet so people will receive confirmation and the general mozilla welcome email but won't receive OLE's welcome email yet.

@stephaniemcv won't get to this this week but once she ha

[2019-06-03 19:24] kristinashu commented on #348
### Emails
- [x] comp https://redpen.io/p/xg01340660ab6e67f8.
- [x] get approval from Ann Marie
- [x] Alex to build out welcome email
- [x] @stephaniemcv to set up basket
- [ ] @stephaniemcv to set up journey
- [ ] Alex to build out newsletter (might need to update content since it's been so long)
- [ ] @stephaniemcv to train Ann Marie

### Website
- [x] webpage is set up https://foundation.mozill

[2019-06-03 20:18] beccaklam opened #369 "Update Social Button Styles on Participate Page"
## Updating an existing style
_Please answer the following:_

1. What element/ style is being changed?
The circular social buttons on the Participate page (and anywhere else they're used?).
2. Why it is needed?
To provide consistency in button styles across the Foundation site.

  - [x] Post proposed brand update in Redpen (for desktop, tablet, mobile)
  - [x] Request design review from design tea

[2019-06-04 15:50] beccaklam commented on #369
Redpen for circular social button update: https://redpen.io/yu391c28dca11c0b31

[2019-06-04 15:51] beccaklam commented on #369
Can I get a review @kristinashu? Not sure where else the buttons show up besides the blog.

[2019-06-04 15:59] beccaklam commented on #339
Hi @mmmavis sorry for the really late reply. Yes, that is what I mean by "style". Though I'm not sure it's much of a style? @sabrinang can you clarify what you meant by that style not being in our current guidelines?

[2019-06-04 16:00] beccaklam commented on #339
Also, @kristinashu can you clarify what we're hoping for in a disabled button state and in-line button? Do we currently have a standard disabled button style for the foundation site?

[2019-06-04 17:21] kristinashu commented on #339
[Sabrina's audit deck](https://docs.google.com/presentation/d/1mQJOwKj1OQkXlhHOVa2uLX0gRPQ-PffW0B3ffXztk5w/edit#slide=id.g4fbe379a6a_0_18) might be useful, starting at slide 46.

We don't currently have a standard for disabled buttons. We have a disabled button on PNI tho:
<img width="945" alt="image" src="https://user-images.githubusercontent.com/1068783/58899408-ba090f00-86b1-11e9-9700-9c39ba455

[2019-06-04 17:23] kristinashu commented on #369
R+ buttons look much better in black and white!

[2019-06-04 18:07] beccaklam commented on #369
@mmmavis Can I get some feedback on this update?

[2019-06-04 18:39] kristinashu commented on #339
Sabrina's icon ticket https://github.com/MozillaFoundation/Design/issues/346

[2019-06-04 19:11] beccaklam commented on #339
@sabrinang from your ticket ^ it seems like you also scaled the extra small icons from 12px to 16px to fit the buttons, right? That's the size I'm thinking works the best for the social buttons being discussed in this ticket.

[2019-06-04 19:34] beccaklam commented on #353
Hmm, the only thing override I would push for is for .body-large. I know keeping our code clean is a good thing, but this actually affects the usability for our blog posts. I think scanning is important to reading and from experience, staff _love_ to bold. Just wanted to voice that consideration before we move forward. Thoughts, @kristinashu ?

[2019-06-04 19:38] beccaklam commented on #353
So, just took a look at our current blog. Bolding .body-large right now results in a font-weight of 700, is this the default or did we override here? @mmmavis

[2019-06-04 23:04] kristinashu commented on #357
I think this is good to close! Mavis update the style guide and foundation site https://github.com/mozilla/foundation.mozilla.org/pull/3288 and Youri has a ticket for Pulse.

[2019-06-04 23:04] #357 closed

[2019-06-04 23:12] mmmavis commented on #353
We have SCSS override just for bold text on the blog body to make it have font weight `700`. Check out the gif below to see how bold text (`<b>`) will look like with and without the override.

![blog-bold](https://user-images.githubusercontent.com/2896608/58919504-31a36200-86e3-11e9-8913-a4862ee26240.gif)

[2019-06-04 23:18] kristinashu commented on #353
@beccaklam your next steps sound good and I'm ok with an override for the blog's body if you think it's necessary.

[2019-06-05 16:56] beccaklam commented on #353
Okay I take back my push back. Looking over some professional articles (NYT, Atlantic) and blogs (Medium) bolding doesn't seem to be a prominent feature. It may be good to encourage staff to add emphasis in other ways that are less intrusive than using bolding (it's a bit too much sometimes). So in that case, we'll just go ahead with Kristina's next steps:

- open a dev ticket to add examples of b

[2019-06-05 17:08] kristinashu commented on #353
Yay for defaults!

[2019-06-05 19:56] sabrinang commented on #339
@beccaklam I scaled small icons down 24px to 16px but I think @natalieworth is making a 16px set as I think she updated the grid for it

[2019-06-05 20:37] kristinashu commented on #359
I've updated the comps based on feedback from Lotta. We will add an intro section at the bottom of /internet-health https://redpen.io/jo68b087c3fcb1e905 that will link to the AI detail page https://redpen.io/fu12b47807cde36b5e.

Lotta is working on providing copy for these pages.

[2019-06-07 14:23] beccaklam opened #370 "Add Examples of Bold Text to Style Guide"
## Updating the Style Guide

1. What element/ style is being changed?
We are adding the bold styling of our fonts.

2. Why it is needed?
To document our bold styles and to get rid of any overrides we currently have.

  - [x] Redpen: https://redpen.io/kd3d58a3e4da0a839c
  - [x] Request design review from design team via R+/R- in Github ticket
  - [x] Get feedback from devs

**After Approval:**
  -

[2019-06-07 14:27] beccaklam commented on #353
@kristinashu Which repo do I open the dev tickets in? The foundation site repo?

[2019-06-07 14:37] beccaklam commented on #370
Oops, need to make this ticket in the foundation repo I think ...

[2019-06-07 14:37] #370 closed

[2019-06-07 16:46] kristinashu commented on #353
Yup!

[2019-06-07 17:16] beccaklam commented on #353
Dev ticket to add examples of bold text to style guide here: https://github.com/mozilla/foundation.mozilla.org/issues/3303
Dev ticket to make blog the default bold weight here: https://github.com/mozilla/foundation.mozilla.org/issues/3304

[2019-06-07 17:16] #353 closed

[2019-06-07 18:12] beccaklam opened #371 "Cleaning up Button Styles"
## Introducing a new style
Related ticket:  #339

1. What element/ style is being changed?
We are fleshing out our button styles and defining:
- Disabled button style
![Dsiabled Button Style@2x](https://user-images.githubusercontent.com/20977376/59202510-a276ce00-8b6a-11e9-8bd0-57a5c6bb83c0.jpg)

- Grouped button style
![Grouped Button Style](https://user-images.githubusercontent.com/20977376/5912

[2019-06-07 18:32] beccaklam commented on #371
Ah, did it wrong again. Need to open up dev tickets ...

[2019-06-07 18:35] beccaklam commented on #371
@kristinashu @sabrinang Can I get an R+?

[2019-06-07 18:38] beccaklam commented on #339
Brand update ticket started here:  #339.

[2019-06-07 18:38] #339 closed

[2019-06-07 18:47] kristinashu commented on #371
@beccaklam can you please link to comps?

[2019-06-07 18:57] beccaklam commented on #371
Oh weird I thought I did that but I guess my changes weren't saved ... anyway updated now!

[2019-06-07 19:13] kristinashu commented on #371
Thanks! Buttons look good but I've added a few comments in redpen to add more context for devs.

Should the round social buttons also be included here? I think those would be used on the blog and in Nat's new pulse entry design https://redpen.io/zw3d9fad50ec628d2b.

[2019-06-07 19:17] kristinashu opened #372 "Determine when to use external link icon"
Which buttons and links should have the external link icon? Right now the rules are inconsistent.

Example:
<img width="298" alt="image" src="https://user-images.githubusercontent.com/1068783/59128198-25571900-891e-11e9-9bcb-6f651a70f540.png">

A few locations to consider:
- sub nav items like on /about
- main nav item like Donate
- primary button
- secondary button
- in body link
- link with arro

[2019-06-07 19:17] kristinashu commented on #371
I've opened a separate ticket to determine rules around adding an external link icon https://github.com/MozillaFoundation/Design/issues/372

[2019-06-07 19:39] kristinashu commented on #315
@mmmavis could you please let us know what rules devs are using to set the white cutout boxes (desktop and mobile) and then we'll update sketch to match?

Homepage
<img width="572" alt="image" src="https://user-images.githubusercontent.com/1068783/59129193-fa21f900-8920-11e9-802a-89a352c33075.png">

Participate
<img width="1166" alt="image" src="https://user-images.githubusercontent.com/1068783/59

[2019-06-07 19:51] sabrinang commented on #371
round social icons could also be updated on participate:
![image](https://user-images.githubusercontent.com/2492510/59129917-f0999080-8922-11e9-8e55-e05420fafc0c.png)

[2019-06-07 20:05] beccaklam commented on #369
Closing this ticket and combining it with this one: #371

[2019-06-07 20:05] #369 closed

[2019-06-07 20:42] beccaklam commented on #371
@kristinashu and @sabrinang Added affected pages in the initial comment ☝️

[2019-06-07 20:45] kristinashu commented on #371
R+ 🎉

[2019-06-07 22:43] kristinashu opened #373 "Epic: Create our master visual library template"
**Deadline July 19**

## Goals
1. Have a cohesive mofo brand look & feel
2. Make it quick & easy to create beautiful graphics that are on brand

## How
Collaboratively create one illustrator file full of our best design elements that are easy and effective to use.

Sabrina create [something like this](https://drive.google.com/file/d/1orb066KvQ8y2SYWiDy6GH2KPHXkyHXoi/view) for mozfest last year (se

[2019-06-10 13:39] beccaklam commented on #371
@mmmavis Can I get some feedback on these button updates, please? 😄

[2019-06-10 14:30] beccaklam commented on #371
@kristinashu updated disabled button styles to include inverse buttons

[2019-06-10 20:13] beccaklam commented on #371
☝️ All Implementation tickets have been opened! Closing this ticket!

[2019-06-11 20:22] natalieworth opened #374 "Adding tag button style to style guide"
## Introducing a new style
_Please answer the following:_

1. What element/ style is being changed?
Proposing that we add the tag element button styles to our style guide.

2. Why it is needed?
We will use this on the Pulse site in multiple places. I'm not sure if there is a need for it yet on the Foundation site, but if we need to reuse it anywhere, it will make it easier for design and developer

[2019-06-11 20:24] natalieworth commented on #374
@mmmavis and @youriwims I know you're both really busy with the Pulse site stuff, so just flagging you in this ticket for you to review when you get to it. Essentially, we will be proposing the new tag styles in Pulse for our style guide https://redpen.io/p/fpbbbcc456e7a03d63

[2019-06-11 21:01] xmatthewx commented on #334
This is a good audit. Some of this stuff is definite _no-nos_, and things we should not follow. Mozilla developer is bad. It's okay written out in the header on our Awards page because that's not a logo, it's just a page title. It's fine to write mozilla in text. Hubs is breaking several rules, like "by". Mixed reality just doesn't look right.

I think that this and privacy not included and most c

[2019-06-11 21:11] sabrinang commented on #334
additional audit slides in brand standards doc (slide 31-32): https://docs.google.com/presentation/d/1mQJOwKj1OQkXlhHOVa2uLX0gRPQ-PffW0B3ffXztk5w/edit#slide=id.g4c309f7714_0_4

[2019-06-11 21:13] sabrinang commented on #373
linking to MozFest 2018 style guide slides for reference as @natalieworth mentioned it was a useful overview: https://docs.google.com/presentation/d/1Otj7kAwG3EyQd_Ya1K7jigJ0YLRMMiCbuq_L4QCbM1M/edit#slide=id.g1ea5ab4fd9_0_139

[2019-06-11 22:50] natalieworth commented on #334
Added logo lockups here https://redpen.io/p/kx1efb4f899538b55e
Would be good to include a standardized 'foundation' one for internal use.
cc @sabrinang @xmatthewx @kristinashu @beccaklam

[2019-06-11 23:18] sabrinang commented on #334
Thanks for mocking up the options and colour applications @natalieworth

I would stick with the three colour option system similar to the mozilla logo and festival logos:
(primary use) two-colour black and white
(limited use) one-colour black
(limited use) one-colour white

reference: https://mozilla.design/mlogo & https://foundation.mozilla.org/en/docs/brand/design/logos/

It says not use the one

[2019-06-12 16:05] xmatthewx commented on #372
Good topic. I think we can be conservative and use them sparingly. A few opinions:

When to probably _not_ include an arrow:
 - **buttons** - buttons naturally signal that something special is gonna happen. it's not surprising when a new window pops open. i'd avoid arrows in them.
 - **link to our core platforms** - now that we have UIs alignment (ihr, pni, soon pulse), we can consider these platf

[2019-06-12 20:18] kristinashu commented on #334
I think we have two different things here:

### Lockups
I agree @sabrinang, our mofo properties should follow your mozfest work. It has clear, well established rules, and has been tried and tested extensively using our real work (print, web, many many different backgrounds, different sizes...).

Spacing/margins are super thought out:
<img width="424" alt="image" src="https://user-images.githubuser

[2019-06-12 22:50] mmmavis commented on #374
Design looks good ✨ . The only question I have is how should a loooong tag on mobile look. This might be rare case but what if there was a super long tag that couldn't fit into one line on mobile? Do we wrap it, cap after certain number of text, or ? I think it's unlikely that we will hit this issue on Pulse but if we are planning to use the same button style on blog tags on Foundation site, we sh

[2019-06-12 22:57] mmmavis commented on #371
Sorry I'm late to this. Design looks good!

Two questions that's sorta implementation related

1. do these four buttons always come as a set?
2. do we need a "copied" state for the link icon? (see PNI example)
![PNI-buttons](https://user-images.githubusercontent.com/2896608/59391956-ce40b200-8d2a-11e9-90b5-d9d7691416fd.gif)

[2019-06-12 23:13] mmmavis commented on #315
I'll get back to you next week as this requires some investigation 😂

[2019-06-13 13:20] beccaklam commented on #371
@mmmavis oh that's a good point, will mock that up!

[2019-06-13 17:19] beccaklam commented on #371
@kristinashu @sabrinang @mmmavis What do you think of this for the copied link button? Changed the link button to a check mark so there's some further feedback for the user:
![social-buttons](https://user-images.githubusercontent.com/20977376/59453424-ddcd0300-8ddd-11e9-891a-521a6aa220da.jpg)

[2019-06-13 20:54] kristinashu commented on #371
Oooh I love it! So simple.

[2019-06-13 21:03] beccaklam commented on #334
☝️ Agreed, I'm fine with going forward with mozfest's established lockup style. PNI's lockup will probably change this year/ I feel like PNI is more of a unique micro site then a typical Mozilla property like Fellowships or Awards. We went with a "lock up" more because we didn't have time to come up with a logo/brand style, something we're hoping to do for the next instance!

[2019-06-14 15:21] beccaklam commented on #371
Also, circular social buttons:
![circular-social-buttons](https://user-images.githubusercontent.com/20977376/59519715-7757eb80-8e96-11e9-8023-073cfe7bd112.jpg)
@kristinashu @sabrinang @mmmavis

I've updated the implementation ticket so I'm closing this one again :)

[2019-06-14 15:21] #371 closed

[2019-06-27 20:26] gideonthomas commented on #343
@stephaniemcv any updates on this?

[2019-07-02 22:10] kristinashu commented on #366
@beccaklam did you get any new benchmarks from the session at all hands?

[2019-07-02 22:10] kristinashu commented on #366
@natalieworth please add your Insta work with Jen to this deck!

[2019-07-02 22:44] kristinashu commented on #373
Some suggested next steps but please ping me if you want to do something differently (please open tickets if needed):

- [ ] Create new foundational illustration style for /initiative, /participate, and new donate page [@natalieworth]
<img width="207" alt="image" src="https://user-images.githubusercontent.com/1068783/60550861-3bb68180-9cde-11e9-9b23-c1b50d48f3b7.png">

- [ ] Reduce number of black

[2019-07-03 02:26] natalieworth opened #375 "Benchmarks for Mozilla's Instagram"
Creating a ticket to track the benchmarking and work for the Mozilla Instagram. I'll add the refinded ideas/ content to the [content ticket](https://github.com/MozillaFoundation/Design/issues/366) that Kristina started. I'll post/ start the rough deck here tomorrow and feel free to add/ comment/ or make suggestions here if you have any ideas or things to include.

cc: @kristinashu @sabrinang @nata

[2019-07-03 02:31] natalieworth opened #376 "Update and create evergreen Foundation illustration style"
Based on our brand meetings before All Hands, we want to align and explore the illustration style that Mozilla Foundation is currently using. From the brand deck, the key elements that we liked were: strong use of colour, texture, and the simplified vector designs. These illustrations will set the tone for our branding and also be an evergreen version that can differ from a campaign, one-off/ indi

[2019-07-04 21:14] kristinashu opened #377 "Write a value prop"
### Goal
To grow our audience we need an engaging and captivating sentence on our site to better onboard users on who we are, what we do, and why they should care.

[Notes](https://docs.google.com/document/d/1txC3guawnjoeXUvFbFABhR32kPNDtx2O0MKGP8OzTJs/edit#heading=h.5ytjhhc3jl0q) from meeting with Juan.

### Audience
We should be aware of two types of audience -- those who know our cause or are i

[2019-07-04 22:09] anilkanji commented on #377
Thanks @kristinashu - @caltrider I can provide wider context at our next Content meeting - this will live on our site but connects to a case for support paragraph that Juan is preparing, and t- the why (and where this came from) at our next Content meeting.

[2019-07-09 17:17] kristinashu opened #378 "YouTube campaign ideas"
Jen is leading the design team to brainstorm ideas for this campaign.

Doc https://docs.google.com/document/d/1c_y4r35YI2zGAw0g4h6Y9ijgkkuNwbbPuRCc8ihXZKg/edit

[2019-07-09 17:23] beccaklam opened #379 "UX/UI for new Donate stack"
Our donate stack is being rebuilt. We are outsourcing the build to a third party, Torchbox, but need to provide some wireframes and UI screens.

Redpen started here: https://redpen.io/p/qb2bb48745a7be3eb6

[2019-07-09 21:30] kristinashu opened #380 "Graphic for Amazon Prime Day - Deadling EOD July 10"
Email and Twitter graphic for Amazon Prime Day. Mayeb just the PNI graphic with logo.

[Doc.](https://docs.google.com/document/d/1D7Ouf_RDswpN6b1j-4FII-tO3f0T6SKykG-bAOcHAQw/edit)

[2019-07-10 16:43] kristinashu commented on #377
cc @Sydette

[2019-07-15 16:33] #380 closed

[2019-07-15 18:53] kristinashu opened #381 "Onboarding slides - deadline July 24"
MoFo needs to update our slides for the MoCo/MoFo onboarding. It's our chance to really sell the work of the Foundation to new staff coming in, so it needs to be super compelling.

The presentation is July 29 so we will need to be ready several days before then and submitted to the moco onboarding team. Lotta is working on content and I will add the updated link as soon as she is done. Angela will

[2019-07-15 19:22] sabrinang opened #382 "MozFest Anniversary Book: Writing on Design Contribution/Culture - Deadline July 31"
### Intro
Write a piece for the 10th Anniversary Mozilla Festival book about the contributions of design at the festival and it's impact on culture and community.

### Reference Links
Book objective and outline: https://docs.google.com/document/d/1ANxMXAFH9UoQbYn1V7KGH6Ey6s8IDocNKc_cjrPNRhY/edit?usp=sharing

cc: @kristinashu @xmatthewx

[2019-07-16 18:17] xmatthewx commented on #382
As I believe I mentioned, I'd like us to start with an outline of rough summary of the piece before we jump fulling into writing. Glad to help or stay out of the way.

[2019-07-16 20:31] sabrinang commented on #382
We can use google doc for the outline, please put whatever ideas/summary/writing you have here @xmatthewx, any help is appreciated :) https://docs.google.com/document/d/1LUKH6ySbrK_lGxQM1SlDFvwKkuJCphpJ3mJeQ15WybQ/edit?usp=sharing

[2019-07-16 22:45] kristinashu opened #383 "Branding for YouTube campaign"
Next step after https://github.com/MozillaFoundation/Design/issues/378. Create moodboards for three different design directions for See No Evil concept.

Doc https://docs.google.com/document/d/1c_y4r35YI2zGAw0g4h6Y9ijgkkuNwbbPuRCc8ihXZKg/edit

[2019-07-17 18:35] kristinashu commented on #378
We have decided on the See No Evil brand direction. Next step is to benchmark design directions https://github.com/MozillaFoundation/Design/issues/383 and then explore actual campaign execution ideas.

[2019-07-17 18:35] #378 closed

[2019-07-17 23:28] natalieworth commented on #376
Most recent iterations for this are in here: https://redpen.io/vz8402feacd3249e95

[2019-07-18 00:15] kristinashu opened #384 "Make the All Hands slide graphic reusable"
From the master style guide ticket https://github.com/MozillaFoundation/Design/issues/373. @natalieworth please turn your lovely All Hands slide into something reusable/remixable so we can use for other slides and even for social graphics.

<img width="246" alt="image" src="https://user-images.githubusercontent.com/1068783/61420166-2c2a6180-a8b6-11e9-9697-3663eaf839bc.png">

[2019-07-18 17:46] kristinashu commented on #377
Notes from our content meeting:
- @anilkanji needs to write a Jen style project brief (should include Goal, Audience, Emotion)
- Then we will generate a bunch of ideas and then narrow it down
  - Jen has already suggested "Your friend in the tech industry"

[2019-07-18 19:51] kristinashu commented on #383
This would be a P2 and can be started later in the sprint!

[2019-07-18 20:50] kristinashu commented on #383
cc @beccaklam

[2019-07-18 23:19] stephaniemcv commented on #348
Confirm Trigger and Journey canvas are built and running. I am ready to test the form.

[2019-07-19 01:33] kristinashu commented on #348
💃

[2019-07-19 04:42] natalieworth commented on #376
I have updated the Initiatives page with the new header and added illustrations. Going to get final design review tomorrow and then will close this ticket.

[2019-07-19 04:43] natalieworth commented on #376
https://foundation.mozilla.org/en/initiatives/

[2019-07-19 05:23] natalieworth commented on #375
Updated the content doc with my instagram benchmarks https://docs.google.com/presentation/d/1002p6cVXgcpSdSnvjMo7AdQsPJdNJVknLFqVRmoDIDc/edit#slide=id.g5b430d60ca_0_112

Jen and I also started a brief here: https://docs.google.com/document/d/1bPNKLDEivv6YZv_o32964bfd9RhoAzz2ikGA4TA2tTU/edit

[2019-07-19 05:23] #375 closed

[2019-07-19 21:08] kristinashu commented on #381
@beccaklam Lotta says she is updating the slides [here](https://docs.google.com/presentation/d/1LIcEz6FgiuhDn-IgnPUxa275DohlvYHnd9aTOsOiA00/edit?usp=sharing). Just ping her before you start working on it to see where it's at.

[2019-07-19 21:12] kristinashu commented on #376
Beautiful!!!

[2019-07-19 21:39] #376 closed

[2019-07-20 04:42] natalieworth commented on #373
Created and added to t[he Foundation Brand deck here](https://docs.google.com/presentation/d/1oMRxQ2NZiebhMnwGkDJQPC6-iD8xYqBeopJhO3uEBT4/edit#slide=id.g1ea5ab4fd9_0_139).

[2019-07-20 04:42] natalieworth commented on #384
Didn't have time to get to this this week, but can do definitely for next sprint @kristinashu @gideonthomas

[2019-07-20 04:46] natalieworth commented on #365
Added all templates and illustration files to the [google foundation brand doc here](https://docs.google.com/presentation/d/1oMRxQ2NZiebhMnwGkDJQPC6-iD8xYqBeopJhO3uEBT4/edit#slide=id.g1ea5ab4fd9_0_139).

[2019-07-20 04:46] #365 closed

[2019-07-20 04:52] natalieworth opened #385 "Update the Foundation Site Style Guide with new brand elements"
### Intro
Review and update the brand style guide with the new assets [in this google slide deck.](https://docs.google.com/presentation/d/1oMRxQ2NZiebhMnwGkDJQPC6-iD8xYqBeopJhO3uEBT4/edit#slide=id.g1ea5ab4fd9_0_139)

cc @gideonthomas @kristinashu I created this new issue but feel free to tweak or change. I need to add the templates/ textures to the style-guide—but want to review with the team firs

[2019-07-20 04:56] natalieworth opened #386 "Create 2 Participate illustrations for Foundation Site"
### Intro
Create the 2 illustrations for the [participate](https://foundation.mozilla.org/en/participate/) call outs (social media/ donate) based on the illustration styles created for [initiatives](https://foundation.mozilla.org/en/initiatives/).

cc: @kristinashu @gideonthomas

[2019-07-22 21:01] xmatthewx commented on #384
Is there definitely a use case for this? The slide feels like a playful spin on the brand style, but not super applicable to campaign stuff or even other slide decks.

[2019-07-23 17:55] kristinashu opened #387 "Create master MoFo brand .ai file"
From epic ticket https://github.com/MozillaFoundation/Design/issues/373

Adapt [MozFest style guide](https://drive.google.com/open?id=1iIsErPVIdjaYGJRCtjpJ-lor2KKgDYBz&authuser=sabrina@mozillafoundation.org&usp=drive_fs) to work for general MoFo.

[2019-07-23 17:58] kristinashu opened #388 "Document MoFo brand"
From epic ticket #373

- [ ] Add minimal documentation in [brand deck here](https://docs.google.com/presentation/d/1oMRxQ2NZiebhMnwGkDJQPC6-iD8xYqBeopJhO3uEBT4/edit#slide=id.g1ea5ab4fd9_0_139)
- [ ] Add file and screen caps to [wagtail page](https://foundation.mozilla.org/en/docs/brand/design/)
- [ ] Compile and organize master file and [folder](https://drive.google.com/drive/folders/1FsYaAToeHrue

[2019-07-23 18:02] kristinashu commented on #373
@sabrinang @natalieworth I believe these are the final step for considering this work done. I've create separate tickets and will close this master one. Please update the tickets or open a new one if I've missed anything!
- Make All Hands slide style reusable and add it to the master file - https://github.com/MozillaFoundation/Design/issues/384
- Adapt MozFest style guide to work for general MoFo

[2019-07-23 18:02] #373 closed

[2019-07-23 18:17] xmatthewx commented on #388
Will we maintain documentation in both a deck and docs on the site? Is one easier or better than the other?

[2019-07-23 19:12] kristinashu commented on #384
Definite as in right now, no. But as part of our [benchmarking and audit](https://github.com/MozillaFoundation/Design/issues/373) we decided this would be a great reusable and easily remixable creative direction for when we need a quick generic mofo graphic for social or a blog post (for things like Fellowship proposals, Creative Media award announcement, quick petition page...). You can see more

[2019-07-23 19:25] beccaklam commented on #381
This is mostly done, just waiting for Lotta to show Angela and to see if she needs any changes! @kristinashu

[2019-07-23 19:28] kristinashu commented on #383
This has moved up in timeline and priority! New proposed next steps and dates:

### Moodboards
- [ ] Everyone add pins to [Nat's board](https://www.pinterest.ca/nataliejworth/youtube-campaign/) by design meeting Thurs 25
- [ ] Everyone will meet and discuss pins on Thurs 25
- [ ] Natalie to group pins into three different directions (maybe google slides?) on Fri 26
- [ ] Everyone to share with Jen

[2019-07-23 19:29] kristinashu commented on #381
Awesome!

[2019-07-23 22:12] sabrinang commented on #383
started a gslide deck where we can group inspo/pins: https://docs.google.com/presentation/d/1qEhEMWi46UD2uPZeLUM9qY5gKmNh1K12MwZmPP8paEU/edit?usp=sharing

[2019-07-23 22:21] kristinashu commented on #383
Perfect, thank you Sabs!

[2019-07-23 22:24] kristinashu commented on #383
We can also pull stuff from our general mofo benchmarks since there were was a bunch of advocacy type stuff in there https://docs.google.com/presentation/d/1mQJOwKj1OQkXlhHOVa2uLX0gRPQ-PffW0B3ffXztk5w/edit#slide=id.g1ea5ab4fd9_0_139

[2019-07-24 22:58] natalieworth opened #389 "Defining our instagram style and post types"
Based on [benchmarks](https://docs.google.com/presentation/d/1jUWU5j7yR2JWt0ZnVgLg4J5pbw0i9V9awEADgdH8wHQ/edit#slide=id.p) and [doc](https://docs.google.com/document/d/1bPNKLDEivv6YZv_o32964bfd9RhoAzz2ikGA4TA2tTU/edit), put together a visual style/ story boards for potential instagram posts.

### Links
[Redpen for visual style is here.](https://redpen.io/p/rvfdd4560c2fb38b57)

cc: @kristinashu @sa

[2019-07-24 23:30] kristinashu commented on #383
Get yer pins in so we can review them at crit tomorrow!

[2019-07-25 19:50] gideonthomas commented on #343
There hasn't been any movement on this yet. Let's check in next week again.

[2019-07-25 19:52] gideonthomas commented on #348
The website work is done (I updated the tasks in the main comment). All that's remaining are the email tasks which include setting up the templates, creating sender profiles for the team, documentation, and training Ann Marie.

[2019-07-26 16:47] kristinashu opened #390 "YouTube fundraising graphics"
Follow up from Moodboards for YouTube campaign #383

[Copy and strategy doc](https://docs.google.com/document/d/1EZmY3kgAxsN9J4yu--E5nngWBe4mZl7Nk3TmrWQ_mTc/edit)

### Deadlines
- [ ] Aug 7: Email 1 -- Story Part 1: Baker influencer
- [ ] Aug 14: Email 2  -- Responses to questions from Part 1
- [ ] Aug 21: Email 3 -- Story Part 2 -- More serious story
- [ ] Aug 28: Email 4 -- Responses to Part 2 /

[2019-07-29 16:56] beccaklam commented on #381
This is done unless Lotta comes back with feedback from Angela.

[2019-07-29 17:05] #379 closed

[2019-07-29 17:15] kristinashu commented on #390
Jen has just noted the deadline for the first email has been pushed back to Aug 14 (because they haven't heard back from the baker).

Let's keep this momentum on the branding but now at least there is less pressure!

[2019-07-29 17:32] #381 closed

[2019-07-29 17:32] kristinashu commented on #383
I've opened a separate ticket for the fundraising work  https://github.com/MozillaFoundation/Design/issues/390. The deadline for the first fundraising email has been pushed back by a week which takes some of the pressure off but please continue to aim to have the concept direction wrapped up this week!

[2019-07-29 18:38] xmatthewx commented on #366
Work on the instagram style is here: #389

[2019-07-30 15:08] xmatthewx opened #391 "Refresh major gift gdoc"
### Intro

 - **Problem**: we need to raise bucks to achieve our mission
 - **Solution**: update fundraising 2-page google doc
 - **Audience**: Prospective major gift donors
 - **Proposed due date**: August 9
 - Current doc: [Leadership Giving Program](https://docs.google.com/document/d/1DTgg1X1AIrfW5lQgiyr-uqSzlbMVvODVzfon4PvKSac/edit)

Jesse W says:

cc: @kristinashu @sabrinang @natalieworth @be

[2019-07-30 20:24] beccaklam opened #392 "Mock YouTube Generator Ideas"
Flesh out and wireframe 2-3  ideas for the mock YouTube generator that highlights the opaque nature of YouTube's algorithm. Starting ideas outlined in the gdoc linked below. See these ideas as starting points, and feel free to go wide with ideas before contracting down due to feasibility.

**Key things to note:** Try to keep it simple, like a one-liner. Doesn't need to reflect the algorithm's comp

[2019-07-31 20:29] gideonthomas commented on #392
@beccaklam there's feedback in the doc now so once designers settle on an idea, can you either file a new ticket or morph this ticket into a wireframing/sketching one and add it to the Aug 19 milestone please?

[2019-08-01 23:40] edrushka commented on #382
Oh haaaai @sabrinang @xmatthewx @kristinashu 👋 Look who's checking out your tickets!!

I've just started helping Sarah & Kristina G with the book project. I'll be spending the next couple weeks helping wrangle copy. Would you be so kind as to give me access to your GDoc?

[2019-08-02 19:26] xmatthewx commented on #382
AHHHH. What is happening! Hello stranger!

[2019-08-02 20:26] edrushka commented on #382
Hey MW! I'm sneaking back into the fold in all sorts of different ways these days. Having a great time so far working on the MozFest book (I'm just around for couple weeks helping to polish up the copy).

[2019-08-05 15:19] xmatthewx commented on #382
@edrushka - yay. also, do you have mozilla email? or slack? i sent you a message on skype. please connect with @sabrinang to catch up on her piece. thanks!!

[2019-08-06 16:46] xmatthewx commented on #391
@sabrinang let's discuss when you have a moment

[2019-08-06 18:10] beccaklam commented on #390
Jen should have a draft for this work tomorrow or Thursday morning.

[2019-08-06 20:14] sabrinang commented on #382
@xmatthewx I revised my writing https://docs.google.com/document/d/1LUKH6ySbrK_lGxQM1SlDFvwKkuJCphpJ3mJeQ15WybQ/edit?usp=sharing
@edrushka I shared the gdoc with you and I was so delightfully surprised to see your comment! YAY 🙌

I'd love any feedback and help with the content or writing. I've revised it this weekend and would appreciate some eyes on it to know if I'm on the right track. Feel free

[2019-08-06 20:48] xmatthewx commented on #391
Adding @beccaklam in case she has more bandwidth to triage or do this.

[2019-08-06 21:11] xmatthewx opened #393 "Creative Collaboration MVP"
I've drafted a deck to articulate the process for other teams to work with design on larger public campaigns.
 - The goal: Create time for creative to guide decisions; Reduce confusion; Increase productivity of group meetings; Zap stifling video+gdoc brainstorms.
 - The audience: Anil, Jen, Ashley, Juan, and other collaborators

Steps:
 1. @kristinashu @sabrinang @natalieworth @beccaklam to revise

[2019-08-07 01:44] sabrinang commented on #391
Print design version of Leadership Giving google doc here: https://docs.google.com/document/d/1rBx9FL_wgnFuLXhSPdXA-OhHNIw4QPbIqy5DeKZdBs8/edit?usp=sharing

I used Mozilla gdoc template, used illustration/brand assets for header image and coloured the web graphics/tables with brand colours:
<img width="400" alt="Screen Shot 2019-08-06 at 6 38 37 PM" src="https://user-images.githubusercontent.com/2

[2019-08-07 13:23] beccaklam commented on #391
@xmatthewx looks like Sabs has a handle on this ☝️ so I'm going to focus on other things at the moment. Let me know if the need changes and there's work for me to do here.

[2019-08-07 13:42] beccaklam commented on #392
@sabrinang @natalieworth I think most of the feedback/excitement right now is centered around the comments on "6 degrees of Kevin Bacon" so perhaps try fleshing that one out plus 1-2 other ideas you may have?

[2019-08-07 13:45] beccaklam commented on #390
@sabrinang @natalieworth You can use this graphic to flesh out the visual direction for this campaign if you'd like. Other notes from Jen is not to stress to much about these graphics.

[2019-08-07 14:24] xmatthewx commented on #391
This looks amazing! We'll have to see if he's keen to keep it down to 2 pages. Not sure if he shares as PDF or 2-sided print thing. I'll start a thread.

[2019-08-07 14:29] xmatthewx commented on #391
Let's see what he says before you do more work. But if we do need to squeeze into 2 pages, you might try tables width going into the margins, maybe to match the dots up top.

[2019-08-07 16:23] beccaklam commented on #390
Becca to get details on dimensions of graphic.

[2019-08-07 17:05] jessedward commented on #391
This looks great! Two pages would be preferable if that is possible. I could try to shave some text off as well if that would be helpful.

[2019-08-08 14:11] beccaklam opened #394 "Infographic for Voice Assistants"
The Advocacy team has asked us to come up with an infographic that highlights which voice assistants listen to voice recordings, what users' opt-out options are, and what each company is doing in light of users being concerned about these voice recordings. Copy needs to be pared down.

**Due Date:** Monday, August 11
**Content:** https://docs.google.com/document/d/1vckyBUBfePDL9YP_vvzX_M3eYoKoVeZW

[2019-08-08 22:48] sabrinang commented on #391
@xmatthewx @jessedward I decreased the font sizes a bit and removed the images (couldn't fit them on 2 pages). New 2 page google gdoc here: https://docs.google.com/document/d/1Wjx02zhyTb_sUj42R5VGfKtItfrFVUMTkacBrFKUIVE/edit?usp=sharing

[2019-08-08 23:20] jessedward commented on #391
This looks great! Thank you! Sorry, if this creates more work, but anyway I could have this 2 page version and the previous 3 page version as well? The design elements with the pictures did look really nice. The two-pager is great when I need to print, but if I am sending as a PDF for some reason the 3 page version would probably be better.

[2019-08-08 23:51] sabrinang commented on #391
@jessedward Yes whatever works for you as they are both separate links/docs (I left the 3 page one unchanged) so you can use them however you wish!

Same links:
3 page version: https://docs.google.com/document/d/1rBx9FL_wgnFuLXhSPdXA-OhHNIw4QPbIqy5DeKZdBs8/edit?usp=sharing
2 page version: https://docs.google.com/document/d/1Wjx02zhyTb_sUj42R5VGfKtItfrFVUMTkacBrFKUIVE/edit?usp=sharing

If you have

[2019-08-09 17:20] beccaklam commented on #390
@sabrinang @natalieworth here's the content for email #1 pending final approvals: https://docs.google.com/document/d/1v3p9GmOYGsvkbmn2b09SavFSovI8-pbEl1JTVTafwO8/edit?usp=sharing
From Jen: "something simple is fine…with cookies even :slightly_smiling_face:"

[2019-08-09 20:15] beccaklam commented on #394
First draft sent to stakeholders: https://redpen.io/p/ny1532827ff26fd1ef

[2019-08-12 16:47] beccaklam commented on #394
Made edits and posted in redpen above. Kaili is circulating the graphics now, this is basically done unless they ask for edits!

[2019-08-12 17:13] beccaklam commented on #390
@caltrider Do you know when we would need this graphic by?

[2019-08-12 17:33] caltrider commented on #390
@beccaklam The email is set to go Wednesday. Will will need the graphic tomorrow.
I've gotten all final approvals but one. We're good to go with a simple blog/email header graphic that reads: **What Can You Trust On The Internet?**

[2019-08-12 17:55] beccaklam commented on #390
@natalieworth ^?

[2019-08-12 20:24] edrushka commented on #382
Hey @sabrinang We loved this piece! Kristina may get in touch with some minor edits (if she has any) and we might remove the bolding just to keep consistent with the other contributions, but overall it looks great. Nice job!!

[2019-08-12 20:33] mmmavis commented on #374
@kristinashu @natalieworth - since now both Foundation site and Pulse use the pill buttons, we should standardize the styling and officially add this new button style to our style guide (both in Sketch and the codebase)

Could you let @youriwims and me know once we have given this new button style a name (e.g., `.btn-something`) and added to Sketch as a symbol? Devs will use that as reference and

[2019-08-12 20:57] mmmavis opened #395 "Font weight for h5-heading"
Hey @sabrinang ,

Wondering if we have changed `h5-heading`'s font weight from semi-bold (600) to bold(700)? It looks like on Sketch it's set to 700 now which is different than what [it used to be](https://github.com/MozillaFoundation/Design/issues/319#issuecomment-469926270). 👀

<img width="621" alt="image" src="https://user-images.githubusercontent.com/2896608/62897924-1408ff00-bd09-11e9-8e30-85

[2019-08-13 00:41] jessedward commented on #391
This looks great. Thank you!

[2019-08-13 00:46] jessedward commented on #391
Let me know if there is something I'm suppose to do on this page to close this out (not seeing anything, but first time using github).

[2019-08-13 14:14] xmatthewx commented on #391
Thanks! I'll close this now. Let us know if you get any feedback from donors!

[2019-08-13 14:14] #391 closed

[2019-08-14 13:58] beccaklam commented on #392
An article from Brandi that talks about how the YT algorithm works: https://blog.hootsuite.com/how-the-youtube-algorithm-works/ Might be helpful? @sabrinang @natalieworth

[2019-08-14 15:21] beccaklam opened #396 "YouTube Campaign Video Idea"
The Advocacy team wants to create an explainer video to kick off the YouTube campaign. They have budget for video production, and Kevin says the PR company can help make sure the idea is appealing to press. The opportunity here for us is to shape what the video could look/feel like but not necessarily be the ones producing it.

cc: @kristinashu @sabrinang @natalieworth @xmatthewx @taisdesouzalessa

[2019-08-14 15:57] xmatthewx commented on #392
Oohh cool. Thanks @beccaklam! Use for inspiration @sabrinang @natalieworth if you want, but don't worry about a) needing to convey this or b) needing our thing to be technical accurate. It's most import that we capture people's attention and pull them in to take action and learn more.

[2019-08-15 16:10] gideonthomas commented on #394
waiting for l10n

[2019-08-15 16:22] beccaklam commented on #394
EN graphics are finished here:
[Final.zip](https://github.com/MozillaFoundation/Design/files/3506338/Final.zip)

Will close this ticket once I'm done making the French and German graphics.

[2019-08-16 19:46] beccaklam commented on #390
@sabrinang @natalieworth Jen just gave me the content for the second email: https://docs.google.com/document/d/1c_dLfmPru-058RrEjevZHm3Yfis_EMURdpmQ7lswYrk/edit?pli=1 Probably good to move this to our next sprint though!

[2019-08-16 20:08] caltrider commented on #390
The email will go out on Wednesday. Graphic needed by Tuesday just like this past week.
And same sizes as this week -- email header and blog header/homepage hero image.
I'll let you know if anything major comes up in final reviews.

[2019-08-17 01:08] natalieworth commented on #390
@caltrider @WillatMozFdn I've exported the graphics for the 2nd email here:
[email2.zip](https://github.com/MozillaFoundation/Design/files/3511517/email2.zip)

Let me know if you need anything else for these :)

[2019-08-17 01:08] natalieworth commented on #390
![blog@2x-100](https://user-images.githubusercontent.com/14876567/63204834-dd0c5380-c050-11e9-93fb-f029ee1de7dd.jpg)

[2019-08-19 15:20] caltrider commented on #390
Thanks @natalieworth !

[2019-08-19 16:57] xmatthewx commented on #390
this image is so rad

[2019-08-19 17:11] beccaklam commented on #392
Sabrina has come up with two great ideas we will show at a feedback meeting tomorrow!
https://docs.google.com/presentation/d/1qEhEMWi46UD2uPZeLUM9qY5gKmNh1K12MwZmPP8paEU/edit?usp=sharing

[2019-08-19 17:11] #392 closed

[2019-08-19 17:45] kristinashu commented on #383
@natalieworth's awesome brand work is in [redpen here](https://redpen.io/p/fy7e28ab30dd5719c8) and feedback/meeting are in @beccaklam [doc here](https://docs.google.com/document/d/1oTo9fJulYkYK2VK1W6mHob2zoPIPSIH-NtNpP6jIJ6w/edit#heading=h.ianyz81cvil).

Nat, sounds like you should be able to finish this off today? Please close this ticket once you're done!

[2019-08-19 18:20] beccaklam opened #397 "Finalize YouTube "Mock Generator" Designs"
_Note: I'm probably going to give the "Mock Generator" a new name after we figure out what direction we're going in. Doesn't seem like an apt name anymore!_

After we get feedback on @sabrinang's ideas: https://docs.google.com/presentation/d/1qEhEMWi46UD2uPZeLUM9qY5gKmNh1K12MwZmPP8paEU/edit?usp=sharing we need to firm up the design and get it ready for final review and development starting next Mo

[2019-08-20 17:00] kristinashu commented on #394
@beccaklam have you done these translations? I was looking at https://foundation.mozilla.org/en/campaigns/how-opt-out-human-review-your-voice-assistant-recordings and the graphics look awesome but I find the font size a little small (even on desktop). When you do the translations, if you haven't done them yet, could you make the type a little bigger?

[2019-08-20 23:10] sabrinang commented on #382
I made some suggestions to the doc based on some feedback from @xmatthewx. I split up some run-on sentences and removed excessive phrases to make sentences easier to digest. I also unbolded the text.

@KGorr and @Saallen I shared editing access with you. Feel free to amend sentences so they flow better with the book.

[2019-08-20 23:39] sabrinang commented on #382
@KGorr Did you also want photos at this point? Sorry, I just caught the email where you mentioned about pulling photos but the ones in the doc don't exactly correspond with the sections as I collected them before I wrote a draft. I can collect imagery that corresponds with the writing if you need that too (if there are specific image specs let me know).

[2019-08-21 12:03] KGorr commented on #382
@sabrinang Thank you! You did such a wonderful job. I made some suggested edits for clarity and have left some comments for your consideration too. We are hoping to have all content finalized this week so we can send to our designers. Are you able to fit in work on this today/tomorrow?

And yes, photos would be amazing that help tell your story! No specific image specs at the moment.

[2019-08-21 15:19] kristinashu opened #398 "Stealing UR Feelings - Sept 23"
Project doc folder https://drive.google.com/drive/folders/1OSsmrTxial0jzm5JfP-vxKtAe0R2uJ6-

Email going out on September 23rd.

Need screen cap from Noah's project for the email and the petition page.

[2019-08-21 16:16] beccaklam commented on #394
Updated font sizes! This should be done. Alexander is going to populate the FR and DE posts with the new images. I've also attached the files here for reference.
[FR.zip](https://github.com/MozillaFoundation/Design/files/3526222/FR.zip)
[DE.zip](https://github.com/MozillaFoundation/Design/files/3526223/DE.zip)
[EN.zip](https://github.com/MozillaFoundation/Design/files/3526224/EN.zip)

[2019-08-21 16:16] #394 closed

[2019-08-21 16:18] kristinashu commented on #394
Awesome, thank you!

[2019-08-22 19:08] xmatthewx opened #399 "Video branding & style template"
Hi team, I've head several teams talking about doing video. Some might involve us creating graphics (advocacy), others are less likely (awards). All might be produced by someone external even if we're providing some artwork. So...

Let's build a super minimal mvp template for intro, outro, title, and text. High production videos can hack it for something bespoke, but other should be able to just r

[2019-08-23 21:06] natalieworth commented on #397
[Youtube Whiteboard Ideas.zip](https://github.com/MozillaFoundation/Design/files/3536196/Youtube.Whiteboard.Ideas.zip)

[2019-08-23 21:07] natalieworth commented on #397
I put them in a redpen too—but they keep getting rotated? They're not rotated in the original files, but redpen's flipping them! https://redpen.io/p/cp556bf3f32b716f56

[2019-08-23 21:14] natalieworth commented on #397
[Nat's rough sketches.zip](https://github.com/MozillaFoundation/Design/files/3536211/Nat.s.rough.sketches.zip)

[2019-08-26 16:37] kristinashu opened #400 "Theory of Change graphics and slides - Deadline Nov 12"
BLOCKED BY CONTENT

From Sarah Watson:
- ~The updated Theory of Change (ideally some updates before the strategy retreat, Sept 16)~
- ~Updates for the Theory of Change work coming out of the strategy retreat for the Program Committee meeting October 9~
- Final Theory of Change for the board meeting November 14th

[2019-08-26 16:44] kristinashu opened #401 "YouTube fundraising graphic - Sept 4"
From parent ticket - YouTube fundraising graphics #390

Sept 4: Email 3 -- Alison/Ethan’s responses to Qs

- [ ] Copy from Jen
- [ ] @natalieworth to make graphic

From Jen: the email will be the report back out on the answers to the question from the mom and son. jessie and i are culling questions today to get them to mom/son. jessie has given them a deadline of friday to get their responses back

[2019-08-26 16:53] kristinashu opened #402 "YouTube Regrets graphic - Sept 9"
From parent ticket - YouTube fundraising graphics #390

Email is going out Sept 10 is needed by Sept afternoon.

YouTube story submission

- [x] [Copy from Jen](https://docs.google.com/document/d/1ys9mzBO511kZq9b0DVerV5KxC3XFEdXcs-WhgOe5JFE/edit)
- [ ] Graphic for email, social, and blog (same dimensions as YouTube fundraising graphics - [template](https://drive.google.com/file/d/1Ngj1TPtsY7Wzfguh

[2019-08-26 16:54] kristinashu opened #403 "YouTube fundraising graphic - Sept 13"
From parent ticket - YouTube fundraising graphics #390

Sept 16: Email 5 -- Fundraising

Launch date Tuesday 17 but would need the graphic a day early.

Jen should have copy by Thursday/Friday but the theme is that it's the last donate ask and the last YouTube fundraising email.

[2019-08-26 18:26] kristinashu opened #404 "YouTube Engagement piece - round 2"
Follow up from round 1 https://github.com/MozillaFoundation/Design/issues/392

### Project Goal
Create a fun and simple engagement piece to raise awareness of YouTube’s recommendation problems and start conversations about it.

### Key Words
Fun spark, conversation starter, light hearted, clever

### Audience
People who may not initially care about the YouTube algorithm, but through our fun tool w

[2019-08-26 19:39] kristinashu opened #405 "YouTube Story Submission Sketches"
Rebecca will create a brief here https://github.com/MozillaFoundation/Design/issues/407

[2019-08-28 17:55] kristinashu opened #406 "Venmo campaign ads"
## Goal of campaign
Engage a new audience (millennials) by highlighting embarassing stories of having Venmo purchases public

## CTA
"Learn how to change your privacy settings and sign the petition so that Venmo makes privacy by default"

## Launch date
- January, but we will prepare for the launch in December

## Notes
- There is money for a paid ad campaign
- Potential idea testing on Twitter be

[2019-08-29 22:30] natalieworth commented on #401
I've exported blog and email sizes here: https://drive.google.com/drive/folders/1OJGAq9z9_RLLmL6h5ZmyvpCvPNXx3s3D?usp=sharing

Since I'll be on PTO/ conference next week, and we don't have the copy yet, I've kept the graphic a bit more abstract/ ominous, but still related to the email 2 graphic :D

[2019-08-30 19:31] kristinashu opened #407 "Brief for YouTube Story Submissions"
Please work with Brandi (and loop in Anil) on creating a brief for this project.

[2019-08-30 19:35] kristinashu commented on #404
Notes from the meeting are [here](https://docs.google.com/document/d/1oTo9fJulYkYK2VK1W6mHob2zoPIPSIH-NtNpP6jIJ6w/edit?usp=sharing).

We have decided to shift our focus to a story submission piece and pause on this piece. Gonna close this ticket but hope to reuse ideas from it in the future!

[2019-08-30 19:35] #404 closed

[2019-08-30 23:45] natalieworth commented on #401
Final assets for this [are here](https://drive.google.com/drive/folders/1OeGCWSP-GeaQkDnXc8EwDMTVaSud0kXA?usp=sharing).

[Email 3 illustrations.zip](https://github.com/MozillaFoundation/Design/files/3561851/Email.3.illustrations.zip)

[2019-08-30 23:46] natalieworth commented on #401
There is a back up option (that could be used for something else), and a 'general' image if [needed here](https://drive.google.com/drive/folders/1OtEgv91DnihKzmAEGqLNcZhqbz18M1gF?usp=sharing).

[2019-09-03 16:06] #401 closed

[2019-09-03 16:59] #397 closed

[2019-09-03 17:00] kristinashu opened #408 "Trustworthy AI email graphic - Sep 10"
Mozilla will be sending an survey email out to it's list to measure the increase in Mozilla subscribers awareness of our commitment to trustworthy AI (KR:25% increase in Mozilla supporters’ awareness of 1) MoFo’s commitment to ‘trustworthyhealthier AI’ and 2) their self-reported ‘concern’ about the topic.

We need one "trustworthy AI" email graphic.

[2019-09-03 18:34] kristinashu commented on #402
We could use Natalie's backup image or create something new.

![backup-image-V1](https://user-images.githubusercontent.com/1068783/64198904-09d8ad00-ce3e-11e9-88ef-9d8e48ff705e.jpg)

[2019-09-03 18:57] sabrinang commented on #382
Writing has been reviewed (in legal/design phase now). Images gathered for designer to use if they need any here (mix of images from 2016-2019): https://drive.google.com/drive/folders/1SjzktV22tkOG7Ct4T3yW7VwzF5Jc19L0?usp=sharing

[2019-09-03 18:57] #382 closed

[2019-09-03 19:57] kristinashu commented on #408
Copy from Anil:

### Objective
Setting a baseline in order to measure the increase in Mozilla subscribers awareness of our commitment to trustworthy AI (KR:25% increase in Mozilla supporters’ awareness of 1) MoFo’s commitment to ‘trustworthyhealthier AI’ and 2) their self-reported ‘concern’ about the topic. 

### Sent to
All Mozilla List (English, German, French, Spanish)

### Send date
Monday, Se

[2019-09-03 20:08] kristinashu commented on #408
Would be nice to have a generic enough graphic that we could also use on the "Trustworthy AI" webpage (formerly called "AI & Internet Health").

https://redpen.io/jo68b087c3fcb1e905

[2019-09-04 16:20] beccaklam commented on #407
Brief template here:
https://docs.google.com/document/d/1jusaUES0KtXOy5HYB3e9-SAPDd35z_3JdJ7U4bmEW4w/edit?usp=sharing

Will have the briefing meeting on Friday, Sept 6

[2019-09-04 16:21] beccaklam opened #409 "YouTube Regrets Social Graphics - due Oct 3"
We'll probably need some social graphics to promote story submissions once the action goes live after the Sept 10 email. Details to come after Sept 6 meeting with Brandi.

[2019-09-04 16:22] beccaklam commented on #407
This briefing should also inform ticket #409

[2019-09-04 21:09] kristinashu opened #410 "Create a design contract"
We would like to develop a more official sign-off and brief process for when we are working on bigger/cross-team projects.

@beccaklam's [brief](https://docs.google.com/document/d/1bCB4dorY2VjBC8KfL5p-QrAsoBbu7FgeSDWmCTI34XY/edit?usp=sharing) is a good start and a way the listen to what a stakeholder wants. But once we have that info, we should take what we learnt and interpret it with our lenses

[2019-09-06 18:27] kristinashu commented on #402
We have also discussed using the See No Evil vector icons style:

<img width="424" alt="image" src="https://user-images.githubusercontent.com/1068783/64451370-ef4e4000-d098-11e9-9223-a60db3001104.png">

But without the "See No Evil" text and adding in a tear drop to the eye.

[2019-09-06 21:24] kristinashu commented on #410
@beccaklam and I are testing it with PNI [here](https://docs.google.com/document/d/1uYHSB0JvmjzmZc_iYZmoz2ABKJoBrDXSeq_f2Xf3GOU/edit?usp=sharing).

[2019-09-06 23:16] sabrinang commented on #402
@kristinashu design review? https://redpen.io/p/fb63281792d5fa8afb

Iterations of youtube regrets + tears on redpen, let me know if more tears are needed 😭
Updated the email-blog-template.ai file with this and will be exporting them [here](https://drive.google.com/open?id=1Vwjd6npmClJD2Rbw28IpcXPipbA5Vl5W&authuser=sabrina@mozillafoundation.org&usp=drive_fs) in gdrive

[2019-09-06 23:34] kristinashu commented on #402
These are awesome! I'll share them with Jen now and let's see what @beccaklam on Monday.

[2019-09-07 00:03] kristinashu commented on #408
Updated the above comment with the actual copy that is going through approvals. Email send has been delayed from Sept 9 to Sept 10.

[2019-09-09 18:00] sabrinang commented on #402
Thanks for the feedback/review, @kristinashu @beccaklam I removed the close eyelid symbol in all designs.

Redpen updated: https://redpen.io/p/fb63281792d5fa8afb

Updated the email-blog-template.ai file and jpg exports in gdrive [folder](https://drive.google.com/open?id=1Vwjd6npmClJD2Rbw28IpcXPipbA5Vl5W&authuser=sabrina@mozillafoundation.org&usp=drive_fs)

[2019-09-09 18:43] kristinashu commented on #402
Thank you Sabs! There are awesome. I've shared this version with Jen to use. I think this is good to close! There's a small chance we might need to remove the tear but I can do that if it comes up.

![image](https://user-images.githubusercontent.com/1068783/64557645-dcd14200-d2f6-11e9-8dff-106e040d6e6e.png)

![image](https://user-images.githubusercontent.com/1068783/64557633-d216ad00-d2f6-11e9-9e9

[2019-09-09 18:43] #402 closed

[2019-09-09 21:24] kristinashu commented on #407
Brief worked, it helped surfaced some alignment issues lol. Going to close this ticket since we won't be working on it in this shape or form.

[2019-09-09 21:24] #407 closed

[2019-09-09 21:26] kristinashu commented on #405
@beccaklam can you please add your photos of your sketches here for future reference? Then I think you can close this.

[2019-09-10 09:41] sabrinang commented on #408
Email graphic iterations on redpen here: https://redpen.io/p/mvaccf135a620e98de
I can also remove the Trustworthy AI text too as it may be to literal for the email

[2019-09-10 14:20] beccaklam commented on #405
Sketches here:
![YT-ideas-1](https://user-images.githubusercontent.com/20977376/64621964-93dfc300-d3b4-11e9-8b5f-1d0c057453e1.jpg)
![YT-ideas-2](https://user-images.githubusercontent.com/20977376/64621963-93472c80-d3b4-11e9-90c6-748bfa09e25d.jpg)

[2019-09-10 14:20] #405 closed

[2019-09-10 16:28] kristinashu commented on #410
We just need a _template_ version of this then it should be good to close!

[2019-09-10 20:58] sabrinang commented on #408
Revised iterations on redpen: https://redpen.io/p/mvaccf135a620e98de
- adjusted the type to be larger (maybe small for mobile still)
- included no text versions

[2019-09-10 21:05] sabrinang commented on #408
jpg, mockups and working file will be in this gdrive here: https://drive.google.com/open?id=1_SNHRIq_67oc7tbWc9pFvfOJ88PQZ8Pw&authuser=sabrina@mozillafoundation.org&usp=drive_fs

[2019-09-10 22:17] sabrinang commented on #408
@kristinashu Design Review?

[2019-09-10 22:18] kristinashu commented on #408
Yes these are awesome! I'll let Anil decide tomorrow which one to use but this is good to close! And I will also use one of these for the Impact Theme page on the site.

[2019-09-10 22:18] #408 closed

[2019-09-12 00:18] sabrinang opened #411 "Instagram: Strategy/Stats for KR Numbers"
**Related to KR 1.3**

Gather existing baseline numbers to create a slide for ![How We Measure](https://docs.google.com/presentation/d/1oAave-1pzUWkDho9DCctz2r7LKcRCfOiw6zy7c4lXcQ/edit?usp=sharing) deck
- research how we gather info for dashboard (manually put in numbers on slide or screenshots)
- coordinate how we compare and count instagram data

Plan what activities we measure and how we measur

[2019-09-16 21:35] kristinashu commented on #403
@natalieworth I know the deadline has been pushed back but is the graphic done? Can you just attached it here and then close this ticket?

[2019-09-17 01:05] natalieworth commented on #403
For sure! I've uploaded the 2 blog and email versions for testing in here:
https://drive.google.com/drive/folders/1QrUdXujtWN2a6EwxxJA-cQdqnYNLWTI2?usp=sharing

[2019-09-17 01:05] #403 closed

[2019-09-17 01:22] kristinashu commented on #403
Sweet! Curious to find out which one preforms better!

[2019-09-17 15:10] beccaklam commented on #410
@kristinashu I've made a [template](https://docs.google.com/document/d/1gq69upw8EQZG1QvdNAnaTI9ZoxeOuXE225wRtUyCUwQ/edit?usp=sharing) of the PNI brief, can I get a design review?

[2019-09-17 16:02] kristinashu commented on #410
Thank you! R+

Is it in Drive somewhere? If you haven't already, please put this template along with your interview template in a folder together.

[2019-09-17 17:05] beccaklam commented on #410
Yeah they're both in Design Assets > Briefs @kristinashu 👍

[2019-09-17 17:05] #410 closed

[2019-09-17 19:30] xmatthewx commented on #410
Probably good to add to fo'mo/docs as well!

[2019-09-17 22:22] kristinashu opened #412 "Fundraising AI campaign: Report out"
Will need graphics. Instead of waiting each week for copy let's make some generic ones all at once!

Style should be similar to Sabrina's https://github.com/MozillaFoundation/Design/issues/408

Planning doc https://docs.google.com/document/d/1633Goa0lDE4zrFSQ2Vg021QAJ8GsDBWwZTtpiXtiPL0/edit

See notes below...

[2019-09-18 21:10] kristinashu commented on #409
Assigning to Rebecca to _gather info_.

[2019-09-18 21:48] kristinashu commented on #408
This will _finally_ go out this Friday. Decided to keep the text but it needed to be updated to `Artificial Intelligence` and I adjusted the dimensions to fit our existing email layout.

![Trustworthy AI stack@2](https://user-images.githubusercontent.com/1068783/65188448-4d790c80-da23-11e9-9e1b-c83e2c9a6f1d.jpg)

Graphic is also on the thank you page the buttons link to https://foundation.mozilla.

[2019-09-19 13:38] beccaklam commented on #409
@kristinashu Brandi says maybe just one to promote the site itself.

[2019-09-19 17:21] beccaklam commented on #410
Where can I find that folder @xmatthewx ?

[2019-09-19 17:29] xmatthewx commented on #410
Oops. I mean on the site: https://foundation.mozilla.org/en/docs/brand/design/

[2019-09-19 17:55] beccaklam commented on #410
Done!

[2019-09-19 18:23] kristinashu commented on #409
Ok awesome! So one graphic at two dimension:
- one cropped for email
- one cropped for blog, social, media

Let's say it's due for the media / soft-launch on Oct 3.

[2019-09-19 19:41] gideonthomas opened #413 "Fellowships/Pulse onboarding slide deck"
@sabrinang to add more info about what the deliverable is here by Oct 7. Actual design can happen in the next milestone.

[2019-09-19 19:43] gideonthomas opened #414 "Fellowships/Pulse research experiment"
Research the problem space of fellowships updates by having conversations with key stakeholders.

Deliverable: A strategy for how Pulse (or any other solution) might fit into solving this problem.

New tickets might come out of this.

[2019-09-23 16:32] #398 closed

[2019-09-23 16:35] xmatthewx opened #415 "Small bug in Docs template"
Whenever i use the [docs template](https://docs.google.com/document/d/1K0KaFU_-0Mi49RZW_mGCLY9UPOGWc68Pg-TfFZm_sNY/edit), I hit a small bug. The logo falls behind the header dots image and gets cut off.

Google docs doesn't have a way to explicitly change the stack order. It'd be better if the dots either had a transparent cutout or if it included the logo as a single file.

[2019-09-23 16:47] xmatthewx opened #416 "Design a less obtrusive donate pop over"
There's been some discussion on hackernews about our big donate pop-over CTA, and whether it aligns with the web we're trying to foster. Dogmatic debates aside. We should explore ways to make it effective, but less annoying to users. In my own personal experience, things like this annoy the crap out of me.

Something bright but slim at the bottom of the screen?  Or a slide down from the top that m

[2019-09-23 19:19] kristinashu commented on #416
Yes. I'll put this as a design ticket and in the meantime I believe Pomax is hiding the prompt.

[2019-09-24 15:15] beccaklam commented on #396
Just checked in with Brandi about this idea and she says this idea is no longer live. Closing this ticket.

[2019-09-24 15:15] #396 closed

[2019-09-24 17:11] kristinashu opened #417 "Voice assistant graphic update"
placeholder for Kaili's updates

https://foundation.mozilla.org/en/campaigns/how-opt-out-human-review-your-voice-assistant-recordings/

[2019-09-24 18:53] sabrinang commented on #412
Sept 24 - Kick off with Jen @caltrider

**Additional Reference Docs**
Campaign Summary Brief: https://docs.google.com/document/d/1TK7C9xu50JmdtXJyaeeXbb88zlaIi-CxUFeenKIZ_1g/edit
Survey Draft: https://docs.google.com/document/d/1lPR4vqQ4cl7Z-p-_xP2tTfPuWKuOAXoqkHs1_CMf4ew/edit

Design backgrounds similar direction to Artificial Intelligence emails (no text needed so we don't need to localize)

3 S

[2019-09-24 21:05] sabrinang commented on #412
Jen clarified schedule with Will on [summary briefing doc](https://docs.google.com/document/d/1TK7C9xu50JmdtXJyaeeXbb88zlaIi-CxUFeenKIZ_1g/edit).

I included a design checklist here to the Planned Schedule:

**October 9:** Email 1 — Survey (Localize French, German, Spanish)
- [ ] Survey Gizmo Banner ([recommended header image sizes](https://help.surveygizmo.com/help/recommended-header-image-size))

[2019-09-26 02:24] kristinashu commented on #417
Kaili's going to give the copy updates here https://redpen.io/p/ny1532827ff26fd1ef

[2019-09-26 14:34] anilkanji commented on #416
Interesting - does anyone have a link to the discussion?

[2019-09-26 14:45] xmatthewx commented on #416
I think it was in hacker news about the web monetization partnership. One person mentioned that FF might block those pop-overs. I just tried but couldn't find it.

I think our donate ask should be bold and loud, but it shouldn't block people. the internet has become an endless stream of modals to dismiss. it's just not the web we want. it makes apps more desirable despite their other drawbacks.

[2019-09-27 16:39] kristinashu opened #418 "PNI at MozFest"
## PNI at MozFest
- Last years tickets:
  - Buyers Guide: Promo at MozFest #281
  - Digital Things mozilla/foundation.mozilla.org#1918
  - Physical Promo for Buyer's Guide #287
- Maybe we can find some inspiration from Nat's [all-hands slide deck](https://docs.google.com/presentation/d/13640VNmHQku6hiiUbp1X0DMeKGglAepKKO9hs0dttNw/edit#slide=id.p)
- Here's an inspirational photo lol

<img width="10

[2019-09-27 22:34] kristinashu commented on #417
@beccaklam hey, I was going to do this but I can't seen to find the working files in drive? Kaili has commented in redpen with the copy updates, could you please update the graphics Monday morning and then share it with her?

[2019-09-27 22:40] kristinashu commented on #409
@natalieworth this seems like a nice opportunity to test some stuff out on Instagram!

[2019-09-30 17:53] beccaklam commented on #417
@kristinashu sorry just saw this, was deep in donate QA, I'll do this now.

[2019-09-30 18:14] beccaklam commented on #417
Updated graphic and also put all the files on the drive: https://drive.google.com/file/d/1SzjBo5W037ctjuY7BChWnQA8TsnvmguL/view?usp=sharing Waiting for Kaili's approval.

[2019-09-30 18:41] kristinashu commented on #417
Thank you!!!

[2019-10-01 16:27] sabrinang commented on #412
I'll be working on iterations in redpen (will be continuing to working on it this week): https://redpen.io/p/ynffa05fa8846be564

Note: The previous Oct 2 email date has changed to Oct 9 brief doc

[2019-10-01 19:42] sabrinang commented on #414
@jamjwait @annmarie123 Tracking some updates from slack here so it's visible for @gideonthomas too

**Notes:**
- Fellowships start today (October 1)
- Page where Fellowship updates are shared: https://foundation.mozilla.org/en/fellowships/fellowship-and-award-updates/

**Pulse Updates to Slack Channel _(request)_**
- pulling the updates the fellows will be posting to Pulse (tagged #mozfellows19) i

[2019-10-01 22:57] kristinashu commented on #417
This is done, right?

[2019-10-02 00:37] natalieworth commented on #409
Got a start on these today and added facebook, twitter, adn instagram options here: https://redpen.io/p/vo2ab21e6e17b0c110

Working .ai file is here: https://drive.google.com/drive/u/0/folders/1662ZFbdRlQ6iq5Ue2XZNhxNVjGieQtHG

cc @kristinashu @beccaklam

[2019-10-02 13:35] beccaklam commented on #417
This is done!

[2019-10-02 13:35] #417 closed

[2019-10-02 14:26] beccaklam opened #419 "Voice Review Graphics - due Oct 11"
Kaili has asked us to help in expanding the popular Voice Review series to other products that do voice reviews beyond voice assistants.

Content to be received by: **Oct 7**
Launch date: **Oct 11**

[2019-10-02 20:37] beccaklam commented on #419
Going to close this ticket for now as Kaili just circled back to say the project is on hold:

[2019-10-02 20:37] #419 closed

[2019-10-02 23:00] #409 closed

[2019-10-02 23:55] kristinashu opened #420 "Unlock Instagram"
We should start testing out some post on Instagram and establish our account. Strategy is happening here https://github.com/MozillaFoundation/Design/issues/389 and KR tracking is happening here https://github.com/MozillaFoundation/Design/issues/411 but let's no let that block this work.

- [x] Anil to get log in
- [ ] Get account verified check-mark
- [ ] Get business account?
- [ ] Follow stats/a

[2019-10-03 19:18] kristinashu opened #421 "PNI Content Entry"
[placeholder]

[2019-10-03 19:40] gideonthomas commented on #413
@gideonthomas to schedule call with Anil and Sabrina to figure out what is going into this.

[2019-10-03 19:41] gideonthomas commented on #414
@gideonthomas to onboard @taisdesouzalessa onto this and have this be a shared activity with Sabrina while Sabrina focuses on MozFest

[2019-10-04 21:05] beccaklam opened #422 "Update colour of body-small text and H6"
## Updating an existing style

_1. What element/ style is being changed?_
The body-small style and H6

_2. Why it is needed?_
Currently the colour of body-small style and H6 is #999999. Doing a web aim contrast check for accessibility yields a complete fail result for #999999 on a white background. We should change the colour to make the text more accessible and legible.

![image (3)](https://user

[2019-10-07 22:33] kristinashu commented on #418
@beccaklam @natalieworth @caltrider [here](https://docs.google.com/document/d/1hHOMw3DBfPD9dpcETxrpKhU_LsjRhsv6ZYtPYUbIQmA/edit#) are the notes from kick-off. I've also updated the [first comment in this ticket](https://github.com/MozillaFoundation/Design/issues/418#issue-499542402) to better reflect what we need to do. Some questions in there what we can discuss at stand.

[2019-10-07 22:54] kristinashu commented on #421
Sorry @natalieworth but I think we're going to need your help with this next week.

[2019-10-08 00:22] sabrinang commented on #412
Revised images in redpen: https://redpen.io/p/ynffa05fa8846be564

This includes images from Oct 9 - Nov 7. Survey result images are examples of style types as we don't have the responses yet.

I included an alternative header image style as I wasn't sure if it needed to be different from the banner header image.

@caltrider @kristinashu Design Review?

[2019-10-08 00:41] kristinashu commented on #412
R++

These are so beautiful! We will have to find ways to use these throughout the site!

[2019-10-08 07:03] sabrinang commented on #412
.ai file and exports in JPG folder here: https://drive.google.com/open?id=14qs99ymIiUEJ9bF4C12urEvCZqeDN0cP&authuser=sabrina@mozillafoundation.org&usp=drive_fs

[2019-10-08 14:18] beccaklam commented on #418
FYI @natalieworth if you want to make a cool sticker I think the latest we should order is by this Friday, but I need to make sure Amanda is coming into the office that day too. Did you still want to do it or should I just reorder the old ones?

[2019-10-08 15:21] natalieworth commented on #418
I've added the start on posters, the banner, and potential badge updates here: https://redpen.io/p/qw3028b6e45cf35e64

[2019-10-08 17:40] kristinashu commented on #420
@natalieworth please add Liz's and your thoughts here!

[2019-10-08 17:47] beccaklam commented on #418
Jen, Natalie and I met and went over Nat's designs ☝️ We were all pretty happy with what she had so far. Decided Nat would continue to play around with the MSS badge just to see what else she could come up with. Jen is happy with the posters, just mentioned that people love the creep-o-meter if we could incorporate that at all. Though we said that other assets would have plenty of creep-o-meter fa

[2019-10-08 17:58] kristinashu commented on #418
Ok, did you decide if we need postcards or not? If not then how are we going to let people know what the raffle rules are?

[2019-10-08 18:52] caltrider commented on #418
I think since it will pretty easy to tweak last year's postcards, let's go ahead and do them to have as handouts on the table and maybe at check in. I don't think we need to print quite as many as we did last year though. If I recall, we had extras last year.

[2019-10-08 19:06] natalieworth commented on #418
postcards would be cute!

[2019-10-08 20:58] kristinashu commented on #418
Yeah we had a ton of postcards last year because they were in every festival guide but we won't be doing this year. We could print the postcards and the posters with www.solopress.com (same as last year). Roughly £35 for 500 postcards. Does 500 sound good? Once the artwork is done, @beccaklam could you order it with the magic credit card?  They seem to have about a one week turnaround time.

[2019-10-08 21:46] caltrider commented on #418
500 postcards sounds like plenty. Thank you!

[2019-10-09 14:11] beccaklam commented on #418
Lol what magic credit card? You mean Ashley's? I shall try ... @caltrider do we need to give Ashley another heads up?

[2019-10-09 14:34] caltrider commented on #418
Yes, Ashley's credit card should work. We don't need to give Ashley another heads up as she has already approved spending for us in the same range (or a little more) as last year. I think so far we're on a good track to be spending just about the same as last year with our printing and raffle prizes.

[2019-10-09 15:43] beccaklam commented on #418
Okay sounds good. @natalieworth Let me know when the postcards are ready to print and I'll coordinate with Amanda to place the order. Btw, also ordered the stickers today! 😄

[2019-10-09 16:58] taisdesouzalessa commented on #413
Met with Gideon and Anil on Oct 9th. Here are the notes:
• [Here is the outline](https://docs.google.com/document/d/1q5rSLTNQzkaF_Ti5hewroM1F2TmOTbThRbeEuB7neKA/edit?ts=5d9d3473) and also where content will be posted - Anil to post content there by Friday (Oct 11th)
• Taís to start working on generic template and add specifics once content is defined
• Taís to partner with Anil for presentation du

[2019-10-09 19:02] taisdesouzalessa commented on #414
Met with Sabrina and Gideon to get the context of this task.

[2019-10-09 19:30] kristinashu opened #423 "PNI marketing launch - Nov 20"
Will be meeting about this tomorrow. Anil is compiling a list here https://airtable.com/tblsj6kaxzOJ7paaz/viwx45L8UughVaWvi?blocks=hide

###  Email Nov 13
- [x] holiday email graphic

### Launch Nov 20
- [x] social and media assets similar to last year https://redpen.io/p/aj7f2e09f704b2e4ee

### Press event Nov 20
- [x] handout
  - URL
  - couple products (2 good / 2 bad)
  - postcard or Letter si

[2019-10-10 14:02] natalieworth commented on #418
@beccaklam Have all the poster/ [print files in here](https://drive.google.com/drive/folders/1cUB6TWg0BFKaryobm4zRtvkQN1TZjfCv?usp=sharing). Just waiting on R+'s from design, so almost good to send to print!

[2019-10-10 14:12] natalieworth commented on #384
I've been working slowly on a general slide deck that could be used [across foundation here](https://docs.google.com/presentation/d/1OQBWkDqf4U5kzarklz1O2Pcb1TLjlzupphldJRfAu-g/edit#slide=id.g25275a8168_0_260). It's not in an official moz theme yet. We could review at the next design huddle/ design meeting and once R+'d I can add it to our [templates](https://foundation.mozilla.org/en/docs/brand/t

[2019-10-10 14:53] kristinashu commented on #384
cc @taisdesouzalessa @sabrinang

[2019-10-10 22:00] kristinashu commented on #418
Lookin good!

### Site assets
Please export the banner and the badge and add them to this ticket - PNI: implement updated homepage copy and banner #3752 (make sure to use the same dimensions as on the current site and make the the file size isn't too big).

### MozFest assets
Looks like there are a few edits but once that is done please export the print ready files and we can do one final review.

[2019-10-10 22:44] caltrider commented on #418
I think for all the posters, the sizes we did last year worked well.
Maybe like 4-5 of the big ones for our table area.
And 30-40 of the smaller posters we put up around MozFest announcing the table & raffle.
That sound about right to you all?

[2019-10-11 02:44] kristinashu commented on #421
Made the folders and am starting to gather images [here](https://drive.google.com/drive/folders/1r4sC6s1Az63tDPiKPkuyTqUdDrhqzFAk?usp=sharing).

[2019-10-11 14:51] beccaklam commented on #418
@natalieworth Here's a doc that refernces the sizes we used last year: https://docs.google.com/document/d/155cHkadlziL9dOLRjkmvoevFDHA1CUqioLE92ic6MjM/edit?usp=sharing if you could prep and export the print files that would be **great**. Then I'll make the order.

[2019-10-11 18:47] taisdesouzalessa commented on #414
Received template from Gideon and modified it a bit to adjust it to our project's needs. Started to fill in the gaps with info and sent to Sabrina and Gideon for feedback. New template here: https://docs.google.com/document/d/1ize5UE_C8UUAIA9Yy4I-U46hcj8_0Yt2viw56K1tdeE/edit?usp=sharing

[2019-10-11 21:23] beccaklam commented on #418
Okay, so postcards, posters for the raffle, and posters for our table have all been ordered! cc: @natalieworth @kristinashu @caltrider

[2019-10-11 21:33] kristinashu commented on #418
😮 Amazing!

[2019-10-11 21:44] kristinashu commented on #418
So last step @natalieworth is to add the banner background to https://github.com/mozilla/foundation.mozilla.org/issues/3752 and the badges to https://github.com/mozilla/foundation.mozilla.org/issues/3767.

[2019-10-11 22:05] caltrider commented on #418
Thank you all for getting that stuff ordered here at the last minute!

[2019-10-15 12:11] natalieworth commented on #421
@kristinashu I made a [spreadsheet](https://docs.google.com/spreadsheets/d/1PzelTHnEVqKziEhVEYel4dMr_daF_G1Vy73u-9t7UHc/edit#gid=0) to track the new images. I think you got most of them, but I added a few that I saw didn't have the little checkmarks in Jen's product doc. I think just the Nest Cams (21.), and the Amazon Fire (38.) are the only one's remaining. I didn't know if the Fire had to be up

[2019-10-15 13:20] natalieworth commented on #418
Updated the above links, but also dropping them here if needed for future reference:
[Header image](url)
[Badge and mini badge](https://drive.google.com/drive/folders/1hQmCYTr7pI16-lGwPKKWLwgDDvaIwLmZ?usp=sharing)

[2019-10-15 13:22] natalieworth commented on #418
2019 Mozfest print assets [are here for reference](https://drive.google.com/drive/folders/1qH-k9JBfJxxIElsjaXTuDpGpBKN-pwlh?usp=sharing).

[2019-10-15 13:58] natalieworth commented on #418
Hey @kristinashu do you think we should update the general social share:
<img width="544" alt="Screen Shot 2019-10-15 at 2 27 52 PM" src="https://user-images.githubusercontent.com/14876567/66838199-306d2600-ef5c-11e9-915b-b94cb970c5e0.png">

![pni-2019-social-share](https://user-images.githubusercontent.com/14876567/66838185-2b0fdb80-ef5c-11e9-9dda-b7d3f8e9b957.jpg)

[2019-10-15 13:59] natalieworth commented on #418
Maybe something like this:
![Screen Shot 2019-10-15 at 2 27 52 PM-2](https://user-images.githubusercontent.com/14876567/66838336-69a59600-ef5c-11e9-88c6-ad52102decfa.jpg)

[2019-10-15 14:19] caltrider commented on #418
Ooohh! I love that @natalieworth!

[2019-10-15 15:12] kristinashu commented on #418
Nice Nat! @caltrider do you have some new share/OG copy? Once we have the copy we can open a dev ticket to update this.

[2019-10-15 15:53] taisdesouzalessa commented on #413
IMPORTANT! Format of the presentation - things to keep in mind:

- [ ] Duration of each interaction: 12min
- [ ] Repetition: 5 times (small groups of Fellows)
- [ ] Format: everything offline and pre-loaded on your own device, prepared on paper
- [ ] Restriction: not a lot of time to set up, keep it simple
- [ ] Conversation style (rather than a formal presentation)

[2019-10-15 16:39] kristinashu commented on #418
Let's add the image and copy here #3785 so we can close this one!

[2019-10-15 16:39] #418 closed

[2019-10-15 20:13] kristinashu commented on #421
Thanks for those images Nat! I've updated the main [spreadsheet](https://docs.google.com/spreadsheets/d/1gDd_NmjlljZAar4DC4jyjKABWnmkLjSU8eGKvxIwIGA/edit#gid=0) with checkmarks and will also add what I can to wagtail.

[2019-10-15 21:46] taisdesouzalessa commented on #413
Met with @anilkanji , we will put some content together by Thursday, Oct 17th. I could advance the slides a bit by adding questions we could ask Fellows ans selecting some case studies/screenshots we could display.

[2019-10-16 03:17] kristinashu commented on #421
Ok all the old images that needed updating have been update and all new products have been added as drafts in the cms. Still need to update cms pages with more content once devs have added in new fields and Jen finishes writing the copy.

[2019-10-16 14:44] taisdesouzalessa opened #424 "Fellowships/Pulse research experiment - v1.0"
The information below was copied from Airtable:
**Goal:** Understand fellowship report flow and how pulse can be used in the process to curate and capture their content that can be shared as broadly accessible updates.

 **This includes:**
    • Identify flow and pain points. This will help highlight what we can resolve with ingenuity with existing features and we can create feature wishlist for o

[2019-10-16 14:45] taisdesouzalessa commented on #424
Notes from Sabrina (from previous ticket) are [here] (https://github.com/mozillafoundation/design/issues/414#issuecomment-537196889)

[2019-10-16 14:46] taisdesouzalessa commented on #414
Kristina found a great summary of the goal on Airtable (thanks, @kristinashu!). I'll open a new ticket centered on this goal so we keep focused on it.
Closing this ticket and the new one is here: #424

[2019-10-16 16:24] #424 closed

[2019-10-16 18:50] taisdesouzalessa commented on #414
After meeting with team, this project is on hold as we gather more info from the Fellowships team.

[2019-10-21 22:50] taisdesouzalessa commented on #413
Slides are [here](https://docs.google.com/presentation/d/1jTbBfQq7MkgzhcmqdAkewB1RYO8YjkazG5CqH-4N4uk/edit?usp=sharing)

@anilkanji could you please take a look at my comments in the slides and add the missing content when you have a chance? I added labels on the top right corner of every slide so you know what is needed from each one.

@gideonthomas tagging you here for visibility on status of th

[2019-10-29 16:50] kristinashu opened #425 "H2 design goals and projects"
**Goal:** prioritize and plan how we can all achieve our H2 goals and how they can align with our upcoming projects.

**Deliverable:** project brief for each project.

**How (very rough steps):**
- meet as a team to share each others goals
- see how they are related to each other
- list our possible upcoming work
- see how the work and our goals align
- list out steps on how we can achieve them
-

[2019-10-30 17:28] kristinashu commented on #412
@taisdesouzalessa for the report out, @caltrider should have the results and copy ready for the email and blog post by EOD tomorrow. Since you're off Friday you should reserve Monday to do this work since Alexander will need to graphics on Tuesday to build the email.

[2019-10-30 18:57] caltrider commented on #412
@taisdesouzalessa @kristinashu Just chatted with Will. Small shuffle of emails going out next week. Now the survey report back is scheduled to go out on Thursday, November 7th. I will have copy done by Monday as Arliss is still digging into the data.

[2019-10-30 21:31] taisdesouzalessa commented on #413
Presentation was done during MozFest. Closing this ticket.

[2019-10-30 21:31] #413 closed

[2019-11-04 16:34] kristinashu commented on #412
@beccaklam will do the survey results for the email and blog post!
- She will meet with Jen today
- Jen's content doc is [here](https://docs.google.com/document/d/1sd-cQzqZqOj4E1XH3yJqhQCKWS8zqxxMWP3sDoyKVGQ/edit).
- Sabrina has already established the style for the graphics. Working files are [here](https://drive.google.com/open?id=14qs99ymIiUEJ9bF4C12urEvCZqeDN0cP&authuser=sabrina@mozillafoundat

[2019-11-04 22:04] kristinashu commented on #308
Might be time to revive this ticket lol!

[2019-11-05 16:07] taisdesouzalessa commented on #307
I think for this one we should connect with @anilkanji to understand our focus on new audiences. We may need a new set of personas - maybe we can set a little team to work together on that @kristinashu?

[2019-11-05 17:16] kristinashu commented on #307
Absolutely Tais! I see this as one of the many projects listed in the "H2 design goals and projects #425" ticket. Designers are all meeting this Thurs at the "Design goals & projects" to begin to scope out projects, define projects, and see how wants to work on what. Once we are all up to speed on possible projects and our personal goals, then we can meet with Anil to further define each project,

[2019-11-05 18:39] kristinashu commented on #423
@anilkanji please let Natalie know what you need for the snippet. Also please included her in any upcoming PNI marketing meetings. Also also, how involved will Audrey be?

@natalieworth for now, you can start with the email graphic due Nov 12 and start to explore some ideas for social media.

cc @caltrider

[2019-11-05 21:46] kristinashu commented on #359
This is back in action and has a deadline of the Nov 14 board meeting.

Work has shifted so please reference this [most recent working doc](https://docs.google.com/document/d/1Z8a1KQNDiOVDX0Soa--x91QTBA4chhBw_veQljK8lKo/edit?usp=sharing) for goals and WIP copy.

[2019-11-05 22:08] beccaklam commented on #412
@caltrider @kristinashu First draft of graphics here:
https://redpen.io/p/jqe508e1c2bb7af621 I'll work on revisions first thing tomorrow!

[2019-11-06 22:18] beccaklam commented on #412
Revisions are done and sent to Jen. I've put the graphics and illustrator working file onto the drive: https://drive.google.com/open?id=1SLS5Ei_kmkp44-EJbmPI1gpbSWBHMAcn

[2019-11-06 22:18] beccaklam commented on #412
@caltrider did we need translations for these? cc: @kristinashu Was just looking at the checklist ☝️ but not sure if that's up to date ...

[2019-11-07 17:29] natalieworth opened #426 "Nat's H2 Goal Tracking"
### Intro

**Goal 1:**
Learn/ harness the instagram business metrics platform in order to grow our Mozilla instagram account
--

**Goal 2**
Continue to build out the Mozilla brand by adding external docs to the Foundation site.
--

### Links

cc: @kristinashu @sabrinang @natalieworth @taisdesouzalessa @beccaklam

[2019-11-07 17:49] caltrider commented on #412
@beccaklam @kristinashu Just ran the localization question by Will and Jessie. They said yes, we should plan to localize. Will is going to get with Theo to see about getting that done. I'll shoot you all and update when I know more.

[2019-11-08 17:49] kristinashu commented on #359
Anil and Lotta are still finalizing the copy but I think it would be helpful to visualize it see it and see it laid out. @taisdesouzalessa could you please mockup a few different layout options (but sticking to existing Wagtail components)?

[2019-11-08 17:49] taisdesouzalessa commented on #359
Sure! Will start this task now :)

[2019-11-08 20:08] kristinashu commented on #400
Nothing needed for this board meeting.

[2019-11-08 20:08] #400 closed

[2019-11-09 00:17] taisdesouzalessa commented on #359
Here are the options of layout for this page. Please note I didn't include any images yet (images are only placeholders) and I am still adjusting the spacing. I wanted to put the content into the CMS structure as soon as possible so you can visualize the structure and choose one of the 3 options.

### **Option 1:**
In this option I explored the content divided in 2 pages. I find this version is th

[2019-11-09 00:33] kristinashu commented on #359
Nice Tais! I agree, the two page version is more digestible.

For the AI graphics, you can use the visual direction Sabrina set up in [this ticket](https://drive.google.com/drive/folders/14qs99ymIiUEJ9bF4C12urEvCZqeDN0cP) and the working files are [here](https://drive.google.com/drive/folders/14qs99ymIiUEJ9bF4C12urEvCZqeDN0cP).

[2019-11-12 17:36] natalieworth commented on #423
Email graphics are in here @caltrider https://drive.google.com/drive/folders/1U_LCsG4-R3aOMWTlyxSjM0rqfnd2y3km?usp=sharing

[2019-11-12 17:38] natalieworth commented on #423
@anilkanji @caltrider For the handout listed above, do you know the content that we will need? I think we should design these today as we'll need to accommodate print time (usually takes about 1 week).

cc @kristinashu

[2019-11-12 17:49] caltrider commented on #423
@natalieworth I say we ask Kevin/Lotta about this. Let me start a slack thread on that. Good call to get them started today so we have time to print.

[2019-11-12 20:59] taisdesouzalessa commented on #359
We are going for the Option 1 because it is easier for our audience to read it.

I am still working on the images for the page "Trustworthy Artificial Intelligence" but I would like to submit to stakeholders for content review, due to our approaching deadline.

https://mozilla.invisionapp.com/share/M4URKJ0G6D2#/392654752_Option1-Page1
https://mozilla.invisionapp.com/share/M4URKJ0G6D2#/392654753_Op

[2019-11-13 00:10] taisdesouzalessa commented on #359
Images are now updated and in place.
Next steps:
1. Move the content from my local machine to draft mode in the live site
2. Gather design feedback
3. Update content once I have the new version (expected by tomorrow) + design post feedback

[2019-11-13 18:42] taisdesouzalessa commented on #359
Site was moved to DRAFT in production and design feedback was incorporated. Just waiting on copy edits from @Lottarao and the page will be published after that! 💯

[2019-11-13 21:36] #385 closed

[2019-11-13 23:30] taisdesouzalessa commented on #359
Here are the pages on "Draft" mode. Please make sure you are logged in to the CMS Admin in order to see it:

Main Page (please note this page doesn't have the nav yet, it will be automatically added once published)
[link here](https://foundation.mozilla.org/cms/pages/82/view_draft/)

Trustworthy Artificial Intelligence Page:
[link here](https://foundation.mozilla.org/cms/pages/650/view_draft/)

**

[2019-11-14 01:15] sabrinang opened #427 "Brand Standards Outline (Continued)"
From the start of the year, we’ve accomplished a lot for brand standards and we aim to start the momentum up again.

Continuing to add to the [Brand Standards Planning Outline doc](https://docs.google.com/document/d/1lJtLUbW3PRJ7kA8JWWRIgtIP_UTMYbrBwqlPBwNgU_U/edit?usp=sharing), I’ve added meeting notes we had from today’s kick-off meeting with Natalie and notes will continue to be added there for

[2019-11-14 01:16] sabrinang commented on #427
Note: this is a meta ticket and will go over plans at tomorrow's crit

[2019-11-14 03:51] kristinashu commented on #411
For some rudimentary numbers... here's a screen cap I took on Oct 16 shortly after YouTube Regrets was posted:
<img width="1141" alt="Screen Shot 2019-10-16 at 11 51 16 AM" src="https://user-images.githubusercontent.com/1068783/68825287-74804300-064e-11ea-93a1-a190d43c26fb.png">

And now: Numbers are ⬆️ 📈
<img width="1139" alt="image" src="https://user-images.githubusercontent.com/1068783/68825378

[2019-11-14 18:52] taisdesouzalessa opened #428 "Link styling for "h2-h6" text treatment in the CMS"
**Issue:**
Currently in our CMS we don't have any visible sign that a text fragment is a link unless the user hovers over the link. Example below: Mozilla Manifesto is a link but nobody would guess it :)
<img width="1096" alt="image" src="https://user-images.githubusercontent.com/22157921/68886432-12feb980-06cc-11ea-8eff-d364bf77c7b2.png">

**Solution:**
Designers to think about a way to make link

[2019-11-14 18:59] kristinashu commented on #428
Thank you for opening this! It's been on my mind... I believe the reason we don't show links is because these styles are headings and it would look _maybe_ odd to make entire titles blue or underlined.

Example from prod:
<img width="1178" alt="image" src="https://user-images.githubusercontent.com/1068783/68887144-4aba3100-06cd-11ea-8f0f-ee23af7fa9f1.png">

So **_maybe_** it isn't about showing li

[2019-11-14 20:40] beccaklam opened #429 "Increase size of .body"
## Updating an existing style

**1. What element/ style is being changed?**
The body copy of the Foundation Site

**2. Why it is needed?**

There have been at least two instances where the body copy has been interpreted as too small.

1. For the Privacy Included work, the Internet Health Report team preferred the blog pages because it had a larger text for reading.

2. [One user at MozFest](https:

[2019-11-14 21:19] taisdesouzalessa commented on #359
[Copy doc](https://docs.google.com/document/d/1Z8a1KQNDiOVDX0Soa--x91QTBA4chhBw_veQljK8lKo/edit?usp=sharing) is updated with the latest copy changes - thanks to @kristinashu for keeping track of that!

Page is now live! https://foundation.mozilla.org/en/internet-health/

[2019-11-14 21:19] #359 closed

[2019-11-14 21:32] kristinashu commented on #428
This seems related to https://github.com/MozillaFoundation/Design/issues/368. @natalieworth @taisdesouzalessa could this be one ticket?

[2019-11-14 23:15] kristinashu opened #430 "OLE email"
Kristina G would like to send out another email to the OLE list. Becca and I worked on a template a while ago https://github.com/MozillaFoundation/Design/issues/343 but it will need to be re-visited.

Aiming for sending the email out on December 5.

Current copy but it isn't final yet https://docs.google.com/document/d/1xD6SaOtheZo7NUinfeEMdeLiwWPHmfroKFojg_FCCQQ/edit?ts=5dcd30e9

And for referenc

[2019-11-14 23:25] kristinashu opened #431 "Major Givings AI Postcard"
**Proposed deadline:** Nov 20 (is this the print deadline?)

**Print specs:** needed

**From Jesse W**
I would like some postcard (approximately) sized cards that highlight our major giving program and can be handed out at events. These will help increase donation conversion rates for our major giving prospects and educate people about our key initiatives. The cards need to have professional looki

[2019-11-14 23:26] sabrinang commented on #431
Major gift google doc: https://github.com/MozillaFoundation/Design/issues/391#issuecomment-519727304

[2019-11-14 23:58] kristinashu opened #432 "Video explainer"
Template for video lower third for some videos.

@anilkanji to add more context.

[2019-11-15 16:06] anilkanji commented on #432
Seeking graphic packaging/bumpers/elements for explainer videos.

* example bumper here: https://www.youtube.com/watch?v=M2mlWjSXT5w
* example of elements incorporated into video (rebecca ricks): https://blog.mozilla.org/internetcitizen/2018/03/23/rebecca-ricks-documenting-corporate-surveillance/

* FIRST EXPLAINER VIDEO rough cut: https://drive.google.com/file/d/1Nlw8yUCIyhktVjhCLneb1nWAMjX7zkwn/

[2019-11-15 16:32] taisdesouzalessa commented on #248
While we may have a new set of personas, this discussion is still relevant. I will open a new ticket, though and attach a doc with the ideas already presented here. So we can add to that doc as new ideas come and it is more organized then a big GitHub thread.

[2019-11-15 16:55] taisdesouzalessa opened #433 "[Personas] Accessibility and usage"
### Background:
As important as having personas to better understand our audience is to think about how to make them accessible and easy to find within the company so they can be easily used by staff.

A consideration is to also have them available in the Brand Standards Doc that Nathalie and Sabrina are working on.

### Ideas:
The ideas of how to do that will be collected [on this doc](https://do

[2019-11-15 17:24] #248 closed

[2019-11-15 17:25] taisdesouzalessa commented on #307
As we may have to reiterate on Personas, I'll close this ticket and create a new Personas Master ticket, adding the links that @beccaklam posted above.

[2019-11-15 17:25] #307 closed

[2019-11-15 18:08] taisdesouzalessa opened #434 "[Personas] Master ticket - Personas 2019/2020"
### Background:
With our new focus on audience, the past created Personas will need to be reviewed and we will also need to build a new set. This master ticket highlights all the necessary steps in oder to make it happen.

### Project's phases:
**1. Phase 1: exploration - what we have done in the past, what is the vision for our audience**
- [x] Past Personas: where we left things off #435
- [x] C

[2019-11-15 19:03] taisdesouzalessa opened #435 "[Personas] Past Personas: where we left things off"
### Background
As summarized by @beccaklam:
Work was started by @taisdesouzalessa in July 2017 and debuted at the Dec 2017 All Hands with a call for feedback post All Hands. Creation and process of this work is documented [here](https://github.com/mozilla/foundation.mozilla.org/issues/566) and feedback [here](https://github.com/mozilla/foundation.mozilla.org/issues/945).

Next steps were to show t

[2019-11-15 23:28] sabrinang commented on #429
Exploring this .body size issue:
- comparing an increase by 2px = 18px _(to keep with even measurements and still less than body large that is 20px)_
- comparing 400 and 300 font weight _(body large uses 300 compared to our body copy 400)_

I'm taking screenshots for comparison and using pages from foundation.mozilla.org and privacynotincluded.org as examples: https://redpen.io/p/bz6ab062f30893cb1

[2019-11-15 23:41] sabrinang commented on #429
**Note:** I'll need to continue to examine anchor links and dark theme versions as well as all type proportions as I believe our defined styles are relative measurements 1rem (currently 16px) as well as to ensure that everything looks balanced together in scale (body small may look visually even smaller etc.)

/cc @mmmavis I'll be consulting you some time next week as I have questions before getti

[2019-11-16 00:48] sabrinang commented on #422
Exploring this colour/legibility issue:

- comparing existing gray-40 `#999999` to gray-60 `#666666` and gray-80 `#333333`
- included comparison of scaling 12px to 14px (in gray-60) which may be related to https://github.com/MozillaFoundation/Design/issues/429 if we scale up body copy proportions we can consider it here too that may help with legibility

I'm taking screenshots for comparison and u

[2019-11-16 01:32] natalieworth commented on #423
Handout is [here](https://drive.google.com/open?id=1cpZELs4WhVaiTgN6H7wEAjp0pPLbWid0).

[2019-11-18 21:26] taisdesouzalessa commented on #431
Had a chat with Jesse and completed [the design brief](https://docs.google.com/document/d/1R97y_w71d7qZCPeZ8fJSfdW15CqheMPqtf6gwkL-pXg/edit?usp=sharing)

Deadline by Nov 29th - they don't have a hard deadline but it would be good to have this done in a couple of weeks so they can send it with the holiday cards.

[2019-11-18 22:29] kristinashu opened #436 "Web monitization"
From Anil:
We will be implementing web monetization on some of our key properties as an experiment, and reporting transparently to our community the findings. *How shall we let visitors to those properties know about our experiment?*

More context and Anil's blog post here https://docs.google.com/document/d/1m3dWSokYI3fQB9Ggmv_O2FjOF3cqX2vcD36CY_1I3Ow/edit

Anil needs help figuring out how to onbo

[2019-11-18 22:34] kristinashu opened #437 "Microtargeting explainer"
### Goal
Help the Mozilla audience understand what we mean by political ad microtargeting.

### Phase 1: Blog post
Design a few graphics for an explainer blog post.
- [Copy doc](https://docs.google.com/document/d/1iexHYBcw4fNJcyQYaSnfTzVLEBku38hC-k0lJsaedPM/edit?ts=5ddd6790)
- [Stakeholder interview](https://docs.google.com/document/d/1nzgKw7JQ_fYuT9N0HCkz3gsu1lgDVIl2RwrhKlh2FS4/edit?usp=sharing)

[2019-11-18 22:40] kristinashu opened #438 "Gather analytics for PNI"
@taisdesouzalessa to add more context 😊

[2019-11-18 22:40] kristinashu opened #439 "Gather analytics for YouTube Regrets"
@taisdesouzalessa to add more context 😊

[2019-11-18 22:44] beccaklam commented on #406
[Notes from November 18 meeting](https://docs.google.com/document/d/1B5O8PIBdK-Avx1OtvDVdmKQMurb7IcxxoaXfR_1VhnQ/edit?usp=sharing)

[2019-11-18 22:57] kristinashu commented on #406
Thanks for the notes! I'll move this to the milestone starting on Dec 10 and ending on Dec 24. But please move it back if you think there is design work to do before then!

[2019-11-18 23:13] kristinashu opened #440 "Fundraising email series: Privacy & Security"
Need more info

[2019-11-18 23:16] taisdesouzalessa commented on #439
### Issue:
Create a Data Studio Dashboard for YouTube Regrets Site

### Data points to consider:
• how many people signed up for newsletter from there
• think about other important points
• outside analytics, ask for Kevin's help on Communications data (shares, mentions on social media)

### Help:
Ask for @arlissc and @mmmavis help to make sure this board is gathering the right data.

### Deadline

[2019-11-18 23:18] taisdesouzalessa commented on #438
### Issue:
Create a Data Studio Dashboard for PNI

### Data points to consider:
• input from team [collected here](https://docs.google.com/document/d/1qHYtR5agZE8z5e8IRcl0BGa4PxSJEYM7y_xs7E_nCIw/edit?usp=sharing)
• think about other important points
• consider points from [Marketing Strategy](https://docs.google.com/document/d/13p3vd-dxqE26zBP6tVP1cBM2zY6b5IPvMsHmpEs4aBQ/edit?usp=sharing)

### Hel

[2019-11-19 00:19] mmmavis commented on #315
(Assigning myself this ticket so it shows up on my GitHub issue queue. Will reassign myself after)

[2019-11-19 14:30] beccaklam commented on #406
Just documenting here that Will turned down the idea for College GameDay so that won't be happening!

[2019-11-19 18:25] kristinashu opened #441 "Pre-roll ads - deadline Nov 27"
PNI graphic for short paid pre-roll ads on Youtube and Twitter.

Natalie to meet with Audrey for more context and then update this ticket.

[2019-11-19 22:42] kristinashu commented on #436
Updated: for now, @anilkanji will write some copy our PNI About page

[2019-11-19 22:54] natalieworth commented on #423
Assets for the marketing launch are in [the drive here](https://drive.google.com/open?id=108TA8lUHfo9A4MO4qoMaKMkSqJw1kOCE).

So far, they include images for mozilla.org/ foundation site hero, social/ instagram stories, the press handout, and posters (if needed).

[2019-11-19 23:53] taisdesouzalessa commented on #438
V1.0 is ready!
thanks to @arliss for offering her expert advice!

**Considerations:**
1. Some people have "DO NOT TRACK" installed so we have to consider that not all of our audience is represented on this board.
2. Arliss will take a look at Newsletter Signup and Shares in our non GA platforms so we have a more accurate idea of the numbers (in GA, we are currently using proxis for it, like "Form

[2019-11-20 18:47] beccaklam commented on #412
@TheoChevalier got me the localized strings and here are the translated graphics on the drive:
[German](https://drive.google.com/open?id=1VTe7cie-YxcuUo9-UkJVtTuaarPf9yP3)
[French](https://drive.google.com/open?id=1CGXQnF5YR2i9G9yP2kbTr6lV8fMUpMLw)
[Spanish](https://drive.google.com/open?id=12hcSFHcBqYUNwEeIwpIa1OXkLxrgBC0Z)

@kristinashu Not sure if we can close this ticket yet? Have all the dona

[2019-11-20 19:17] TheoChevalier commented on #412
Thanks Becca!

[2019-11-20 19:25] kristinashu commented on #412
@caltrider do you know if additional graphics are needed? I think all these emails have gone out.

[2019-11-20 20:35] caltrider commented on #412
Yes, all the email for this campaign have gone out. These localized graphics should be the last for this campaign.

[2019-11-20 21:38] kristinashu opened #442 "Holiday card for donors"
Natalie to checkin with Jesse W about print and web specs and any additional info before starting on this.

From Jesse:
I would like some holiday cards that can be sent to our major donors and some prospects (both a print version and electronic version). This will serve as both donor cultivation of prospects and stewardship of existing donors and will help us secure more end of year donations whil

[2019-11-20 21:44] kristinashu opened #443 "Slide deck for partners"
Jon is asking for some design help in explain advocacy work to partners in this slide deck. Sections that need an image are highlighted in yellow. Please have a quick chat with Jon before starting on this.

https://docs.google.com/presentation/d/12eTWmvpRpnn9S-2idxjRKM-bwDIgoxgpw6hR84LZTvY/edit?usp=sharing

Deadline: ideally Nov 29 but Dec 6 would be ok

[2019-11-20 22:25] mmmavis commented on #315
I tried adding annotations to screencaps of the components above but it's just taking too long especially we have mobile/medium/desktop views to annotate. If our ultimate goal is to update Sketch file, @kristinashu it would be a lot easier if I could work with a designer side by side to update the Sketch file directly.

[2019-11-21 00:45] kristinashu commented on #315
Makes sense, definitely don't spend too much time on it! Can you just give us a better sense of how you built it? Are the proportions fairly consistent across on the site? How did you do it: is it a percentage or ratio or fixed number?

[2019-11-21 04:04] taisdesouzalessa commented on #439
**Dashboard** is here: https://datastudio.google.com/open/11x5Bqc01F9viRaiHV0ttjVp4mDvaU5Z2

**Next Steps:**
- Waiting on Arliss reply on Newsletter numbers (Salesforce)
- Feedback from @kristinashu - any other info needed?

[2019-11-21 16:37] kristinashu commented on #439
Thank you, this is so great Tais! Were you able to get a sense of donations or shares?

[2019-11-21 16:45] taisdesouzalessa commented on #439
I can take a look at both and add there. One thing to consider on them is that we only know a piece of the story: we know the person clicked on "donate" for instance. We don't know (once they go to Donate page) if they filled in their info and actually donated. Same for sharing, we know the click of the button but nothing else. Just want to make sure this is clear so we don't make assumptions :).

[2019-11-21 16:49] kristinashu commented on #439
Have you asked Will about it? He might know some actual numbers? Would actually be good to know for PNI as well, if possible!

[2019-11-21 16:54] taisdesouzalessa commented on #439
That is a good point :). I'll collect this data and send his way to see how close GA numbers are.

[2019-11-21 17:00] kristinashu commented on #439
Thanks! In general, I think it will be interesting to know how things translate (clicks vs actual actions), both for newsletter signups and for donations.

[2019-11-21 17:06] #412 closed

[2019-11-21 17:10] taisdesouzalessa commented on #439
Yep, I agree 👍 Arliss is taking a look at the signups in Salesforce. I'll connect with Will on Donations then.

[2019-11-22 00:51] kristinashu commented on #431
The Trustworthy AI email series is also probably relevant and more recent.

Ticket https://github.com/MozillaFoundation/Design/issues/412

Working files https://drive.google.com/open?id=14qs99ymIiUEJ9bF4C12urEvCZqeDN0cP&authuser=sabrina@mozillafoundation.org&usp=drive_fs

[2019-11-22 23:41] kristinashu commented on #436
Copy from Anil

Let's see if Jen has an recommendation on this and then I will mock it up and give to devs.

[2019-11-23 00:22] taisdesouzalessa commented on #431
I worked on 2 versions of this card - subtle differences (V2 is lighter than V1 and the shapes are cropped in another way)
v1 here: https://mozilla.invisionapp.com/share/Y6UZ5YIKRPH#/394839409_front_v1
v2 here: https://mozilla.invisionapp.com/share/Y6UZ5YIKRPH#/394839542_front_v2

**Next steps:**
1. collect designers feedback
@kristinashu @sabrinang @natalieworth @beccaklam could you please send m

[2019-11-23 00:30] taisdesouzalessa opened #444 "[Analytics] GA and Salesforce newsletter numbers match"
### Issue
After working together with Arliss on Google Data Studio we noticed a significant difference between Newsletter Sign up numbers in Salesforce and Google Analytics.

### Solution
We have to do some more exploration to figure out why the numbers don't match.

We may involve Arliss and engineers on this project in order to take a deeper look on how we are collecting numbers in both platform

[2019-11-23 00:31] taisdesouzalessa commented on #439
Dashboard is ready https://datastudio.google.com/open/11x5Bqc01F9viRaiHV0ttjVp4mDvaU5Z2

By working on this project we found an issue that is now described here: #444

[2019-11-23 00:31] #439 closed

[2019-11-23 00:33] taisdesouzalessa commented on #438
This project is done - we may have to add new metrics/modify the board as the team needs but the core of it is ready to go. If we need to add more features, we can create new tickets for it.

Findings from #444 will affect this board.

[2019-11-23 00:33] #438 closed

[2019-11-23 02:00] mmmavis commented on #315
I'm not sure which part we are talking about here. Is it the height of the part where the image box and the content box are overlapping? Or in terms of how much narrower the content box is compared to the image box?

I did a quick check and it seemed like devs implemented the design using fixed number (`px` or `rem` or `em`).

[2019-11-25 17:50] gideonthomas commented on #444
Which one is more? Typically GA and CRM numbers should not match because so many people use DNT or ad blockers. If they did (or if GA was more), I would actually be worried that we're losing subscriptions.

[2019-11-25 17:57] taisdesouzalessa commented on #444
GA has way more...we can talk about details in our retro today and we should connect with Arliss to work on that together. I agree with you the numbers won't match 100% but I feel there is a huge misalignment and we could do better by focusing on improving our data collecting processes :).

[2019-11-25 21:39] kristinashu commented on #444
I thought we don't actually know what the Salesfoces numbers are. That we only know signups that happened from users who signed up by going directly to https://foundation.mozilla.org/campaigns/youtube-regrets but we don't know the number of signups from people who arrived at the site via https://mzl.la/youtuberegrets or https://mzl.la/2Vqk1lG or https://t.co/qe2T3QGAnZ or other shorted urls. Is th

[2019-11-25 22:08] kristinashu commented on #437
@natalieworth can you please link to the files you've already made on this topic?

[2019-11-25 22:22] taisdesouzalessa commented on #444
Yep, that is a good point, Kristina. I think having a sprint focused on tracking would be great, as Alan suggested. We should collaborate with Arliss on it. I feel we need a small team working on that for a sprint so we can all align and understand the issue better.

[2019-11-25 23:04] taisdesouzalessa commented on #431
Final version here:
https://mozilla.invisionapp.com/share/Y6UZ5YIKRPH#/395081703_Display-Shot

Front: https://mozilla.invisionapp.com/share/Y6UZ5YIKRPH#/395081705_Info_Cards_AI_Front
Back: https://mozilla.invisionapp.com/share/Y6UZ5YIKRPH#/395081704_Info_Cards_AI_Back

I will send those to Jesse via email to get feedback.

[2019-11-25 23:47] mmmavis commented on #315
Related to this Pulse ticket: https://github.com/mozilla/network-pulse/issues/1152

[2019-11-26 15:20] beccaklam commented on #443
Met with Jon this morning will begin this work today. Link to [meeting notes](https://docs.google.com/document/d/1hjI8WOrOt3WovmDUQ7oD5sQajLZNb_Z8LG2RLvSaTWM/edit?usp=sharing).

[2019-11-26 16:19] kristinashu commented on #436
Copy has been approved by Abigail so Youri will implement this here https://github.com/mozilla/foundation.mozilla.org/issues/3974

[2019-11-26 16:19] #436 closed

[2019-11-26 18:04] natalieworth commented on #423
I don't think we had time for videographer, so closing this ticket for now.

[2019-11-26 18:42] kristinashu commented on #368
I'm going to close this since https://github.com/MozillaFoundation/Design/issues/428 seem to cover it.

[2019-11-26 18:42] #368 closed

[2019-11-26 18:51] anilkanji commented on #423
@natalieworth we did get a videographer - but they went ahead and packaged a quick video - you can ping Audrey to see it.

If still possible would love the image/GIF for internal screens!

[2019-11-26 19:08] natalieworth commented on #441
[Preroll-Ad.zip](https://github.com/MozillaFoundation/Design/files/3893587/Preroll-Ad.zip)
 Most recent version of preroll-ad is in the .zip folder

[2019-11-26 19:17] KevZawacki commented on #423
Here's the video: https://www.youtube.com/watch?v=0eY1OLYqQus

[2019-11-26 22:39] sabrinang opened #445 "Brand Standards Brief"
Fill out a brief to describe the why, audience, value, priorities and involvement of the branding project. This will help define and clarify scope and deliverables _(such as convos with staff)_.

**Resources to Reference**
- http://bit.ly/mozdesignbrief
- Brief Docs on https://foundation.mozilla.org/en/docs/brand/templates/
- Brand Standards Outline issue https://github.com/MozillaFoundation/Desig

[2019-11-26 23:42] #440 closed

[2019-11-27 04:21] natalieworth commented on #442
Final Print File is here: https://drive.google.com/open?id=1_qlfvTWohMmnBFArHSO_pptYYHtTbZq9
Assets are all in here: https://drive.google.com/drive/folders/1uTZby8RrmUQELt_IJ06bJ7C8acXoWXHA?usp=sharing

[2019-11-27 04:21] #442 closed

[2019-11-27 05:04] natalieworth commented on #423
The Pinterest ad exports are here: https://drive.google.com/drive/folders/1YS1bgFKGzJTO99ZI_HE5xrgYQslg5kkj?usp=sharing

[2019-11-28 02:41] natalieworth commented on #441
Final pre-roll ad file is here: https://drive.google.com/drive/folders/1xTIhCEsuWxP6RRzvioXoDiZ1S7BFICFV?usp=sharing

[2019-11-28 02:42] #441 closed

[2019-11-28 05:49] natalieworth commented on #423
Internal screen [is here](https://docs.google.com/presentation/d/1hShowOdGG8HM6fuIKA9qq6jlq2zeYxUywcmnMYoy5FM/edit?usp=sharing)

cc @anilkanji

[2019-11-28 06:12] #423 closed

[2019-11-28 06:16] natalieworth commented on #437
Original Microtargeting story posts for [instagram are here](https://drive.google.com/drive/folders/1DqCEMUKXDrxX7cGc6eUPAa6w1l6zCRXV?usp=sharing).

[2019-11-28 15:11] beccaklam commented on #423
@natalieworth that animated gif is so cute! after effects?

[2019-11-28 17:23] taisdesouzalessa opened #446 "[Audience] Research and exploration"
### Background
After meeting with Anil, Gideon and Kristina, we decided to focus our effort on Audiences first because it is a broader concept that is currently a bottleneck for things like: adding Value Proposition to our page, effectively targeting campaigns, update IA of our site, customize user journeys and so on.

The first step on this project is research.

**Questions the research is trying

[2019-11-28 17:25] taisdesouzalessa commented on #434
I am closing this ticket for now due to our focus on Audiences at the moment: #446. I may reopen it in the future as we move things more into a Personas direction.

[2019-11-28 17:25] #434 closed

[2019-11-28 17:26] taisdesouzalessa commented on #433
Closing this for now sue to prioritization of Audience discussion #446.

[2019-11-28 17:26] #433 closed

[2019-11-29 19:01] kristinashu opened #447 "Design & Content for frontdoor campaign test"
Original and long-term idea for the campaign is [here](https://docs.google.com/document/d/1QG6qe0lyMzYYFA5ZibqEkcbsNeiViG-y4npBzXCK_Hg/edit#heading=h.q2g7ah7tymg9).

Short-term goal for Dec 2019 is to run some quick and lean tests to inform some bigger plans we have for 2020, doc [here](https://docs.google.com/document/d/198E6NkEEzdjRRUkvLHgGMMJSA4_zhzC35zp2yAJtDOM/edit?ts=5de01e2d).

## Simplifie

[2019-12-02 18:10] kristinashu commented on #437
Assigning to myself while I figure out what we and advocacy has in mind.

[2019-12-02 19:21] kristinashu commented on #432
@natalieworth [here's a link to the interview doc](https://docs.google.com/document/d/1bCB4dorY2VjBC8KfL5p-QrAsoBbu7FgeSDWmCTI34XY/edit), please make a copy of this template, fill it in with Audrey, and make sure Lotta sees it so we know everyone is on the same page.

[2019-12-02 19:56] kristinashu commented on #399
@natalieworth since you'll be working on this https://github.com/MozillaFoundation/Design/issues/432, might as well make it as re-usable and templatized as possible.

[2019-12-02 23:00] natalieworth commented on #420
Updates:
Started to put together a [rough strategy doc here](https://docs.google.com/document/d/1kCqjVwCpTXDAYpi70Fn6xfEr6wY8Nsa-BcnatN4MFH0/edit?usp=sharing).

After further refining this, I'm meeting w/ Jen and Audrey on Thursday this week to go over everything.

[2019-12-03 00:34] sabrinang commented on #445
I'm working on the brief here: https://docs.google.com/document/d/1naepEoy1Y8jZ0TQ_MNFsz68AhfuoFM6zVvHknt-7JGY/edit#

[2019-12-03 16:02] beccaklam commented on #443
Graphics have been inserted, waiting for Jon's feedback.

[2019-12-03 17:46] kristinashu opened #448 "Graphics for EOD fundraising email"
Copy for first email https://docs.google.com/document/d/1IwlrUqVDt1rOjPLXZ5dW37g4dma26_viQGse_7rb3WM/edit

[2019-12-03 23:18] taisdesouzalessa commented on #431
Copy was updated by Jesse and revised by Lotta.

Here is the new version:

**Front and back:** https://mozilla.invisionapp.com/share/Y6UZ5YIKRPH#/396189702_Display-Shot-V2
**Front:** https://mozilla.invisionapp.com/share/Y6UZ5YIKRPH#/396186695_Info_Cards_AI_V2_Front
**Back:** https://mozilla.invisionapp.com/share/Y6UZ5YIKRPH#/396186653_Info_Cards_AI_V2_Back

[2019-12-04 00:57] kristinashu opened #449 "Board slide updates - deadline Dec 11"
Deadline: Dec 11

Sarah W has requested some update and improvements to one board recruitment slide titled "MoFo Board Candidate Profile". Original slides are here https://blog.lizardwrangler.com/2016/06/14/expanding-mozillas-boards/.

@sabrinang to meet with Sarah Thursday to discuss her needs before starting to work on them.

[2019-12-04 07:03] natalieworth commented on #432
Started the [interview doc here](https://docs.google.com/document/d/13tGpew5FQrZxIsWK0vcwcPa9Z2D-yFWnveYjOuWMke8/edit?usp=sharing). It's quite rough but feel free to add to it (before I send to Lotta on Friday)

cc @anilkanji @kristinashu and I sent to Audrey too.

[2019-12-04 14:24] beccaklam commented on #443
Jon gave approval so this is done.

[2019-12-04 14:24] #443 closed

[2019-12-04 18:12] kristinashu commented on #437
I'm going to start a running list of interesting related articles and resources around microtargeting, please add it:
- The Great Hack on Netfix gives an excellent overview in a simple way and will make you angry!
- Moco blog [post](https://blog.mozilla.org/internetcitizen/2018/10/04/microtargeting-dipayan-ghosh/) also gives a simplified overview
- Firefox shopping blog [post](https://blog.mozilla

[2019-12-04 21:46] sabrinang opened #450 "[Brand] Research and User Interviews"
### Intro
To start the research phase of the brand project, we want to conduct some internal staff interviews to gather qualitative insight and feedback on the Mozilla Foundation brand.

### Goal
To gain insight and involve staff early in the branding project.

This will inform how we structure our content, features, process and collaboration. We will observe how they perceive the brand system and

[2019-12-04 21:59] sabrinang opened #451 "[Brand] Benchmarks and Audit"
### Intro
As part of the research phase of the brand project, we can gather what exists of the Mozilla/Mozilla Foundation brand and collect external examples of benchmarks of brand systems and identities.

### Goal
To showcase where we are currently with brand and what we want to strive towards to provide more examples and context for the branding project.

### Process
- Research brand systems and

[2019-12-04 22:11] sabrinang opened #452 "[Brand] IA and Sitemap Proposal"
### Intro
From the knowledge we gather from our research, user interviews #450 and audits #451, we can start synthesizing our findings to inform our content structure for the brand system in the form of IA/Sitemap proposal.

### Goal
To produce a draft that outlines how we want to structure the content for the central brand home.

### Process
- Synthesize research and produce IA proposal
- Create

[2019-12-05 03:38] natalieworth commented on #432
Update:
Video with simple front and end bumpers/ idents is here: https://drive.google.com/file/d/129VNVqFNRv1SDV6JG3wzOnlPY4o73zuD/view?usp=sharing

Working folder is here: https://drive.google.com/drive/u/0/folders/1XKVOSGF0nqwDn5K5d_ZFqElQ9AyuQIrb

Still need to create the lower-thirds to introduce Noah and the project/ role.

[2019-12-05 17:43] kristinashu opened #453 "Instagram strategy"
**Deadline: Dec 20**

### Documents
Jen's original brief [doc](https://docs.google.com/document/d/1bPNKLDEivv6YZv_o32964bfd9RhoAzz2ikGA4TA2tTU/edit).

Natalie's WIP combined strategy [doc](https://docs.google.com/document/d/1kCqjVwCpTXDAYpi70Fn6xfEr6wY8Nsa-BcnatN4MFH0/edit).

- [x] [Audrey's ppt ](https://drive.google.com/open?id=1JKnh6_uGzCz3LeDgyHGIBAsvLYH0qR-o)
- [x] [Nat to add master note doc

[2019-12-05 17:45] kristinashu commented on #389
Combining Instagram related tickets into one https://github.com/MozillaFoundation/Design/issues/453.

[2019-12-05 17:45] #389 closed

[2019-12-05 17:45] kristinashu commented on #411
Combining Instagram related tickets into one https://github.com/MozillaFoundation/Design/issues/453.

[2019-12-05 17:45] #411 closed

[2019-12-05 17:46] kristinashu commented on #420
Combining Instagram related tickets into one https://github.com/MozillaFoundation/Design/issues/453.

[2019-12-05 17:46] #420 closed

[2019-12-05 21:15] taisdesouzalessa commented on #431
Here is the final layout:

**to print:** https://drive.google.com/file/d/1dIDVx8lCIG54zCVPhxcQ8zbaugojJety/view?usp=sharing

**digital files here** (to send via email, post online and so on): https://drive.google.com/drive/folders/1QBI5DBf9oFVqLxyvrcGthIM2s0VC0sVv?usp=sharing

[2019-12-05 21:15] #431 closed

[2019-12-05 22:06] sabrinang commented on #449
I met with Sarah W earlier today and I've referenced the [old MoFo Board Candidate Profile slide](https://1yhd4l3kqqrh3lvuxk1m6ixu-wpengine.netdna-ssl.com/files/2016/06/Board-Recruitment-MoFo-Board-Profile-1.jpg) and created an updated version that matches the board deck style and is editable here (on slide 39): https://docs.google.com/presentation/d/1_eD6G8vCYoQPcia3iJ6XuPNP18NTXTbvV4toUJ03r0g/ed

[2019-12-05 22:51] sabrinang commented on #449
Sarah reviewed on slack and it is good to go!

[2019-12-05 22:51] #449 closed

[2019-12-05 23:28] kristinashu commented on #449
Sweet!

[2019-12-05 23:29] kristinashu commented on #431
w00t w00t 🎉

[2019-12-06 20:59] taisdesouzalessa commented on #446
Phase 1 is now completed. Met with Anil and Gideon to present my findings.

The Deliverables are in [this folder](https://drive.google.com/drive/folders/1egf9UeBvE3cr1aHVKkCbh6RZfLHU7IGd?usp=sharing).

Closing this ticket and we can open new ones as we move this project forward.

@gideonthomas @kristinashu

[2019-12-06 20:59] #446 closed

[2019-12-06 21:37] kristinashu commented on #446
Amazing Tais! Let's pick this up again in the new year!

[2019-12-07 00:08] natalieworth commented on #432
Have added the lower thirds [option here (with beginning and end bumpers).](https://drive.google.com/open?id=1HpAONV8jP6OEdTK8u_ceSCmsdd4whePS)

cc @kristinashu @beccaklam @sabrinang @taisdesouzalessa @anilkanji  Let me know what you think! :)

[2019-12-09 15:03] beccaklam commented on #432
It looks great @natalieworth ! So cool. Only feedback I have is on timing. Feels a _little_ slow in some parts (that last bit of the lower thirds phasing out). Could speed some parts of the animation up to make it feel more snappy?

[2019-12-09 18:12] kristinashu opened #454 "PNI marketing: graphics for fitness blog post"
https://docs.google.com/document/d/1-xN3vTGcDtTgP8o0u5H25ahKzhi31nWIRXJ4xQ2O7nQ/edit?ts=5dee80e4

[2019-12-09 21:45] sabrinang commented on #427
We will continue to take meeting notes and overaching brand planning in this doc: https://docs.google.com/document/d/1lJtLUbW3PRJ7kA8JWWRIgtIP_UTMYbrBwqlPBwNgU_U/edit?usp=sharing

We will also refine the brief for this brand project here: https://docs.google.com/document/d/1naepEoy1Y8jZ0TQ_MNFsz68AhfuoFM6zVvHknt-7JGY/edit?usp=sharing

[2019-12-09 21:45] #427 closed

[2019-12-09 22:16] kristinashu commented on #454
Draft is here https://foundation.mozilla.org/cms/pages/686/edit/. @natalieworth could you please double check the images to R+ this?

[2019-12-10 02:25] natalieworth commented on #432
Thanks Becs! I've adjusted!

[2019-12-10 03:44] natalieworth commented on #432
Adjust timing to be a bit faster on the lower thirds outro! https://drive.google.com/open?id=1kVCgZszXHArHz-dtikhnrmWFnAhYHU3e

[2019-12-10 19:47] natalieworth commented on #454
Nice! R+ @kristinashu

[2019-12-10 20:37] kristinashu commented on #454
Thanks!

[2019-12-10 20:37] #454 closed

[2019-12-10 21:43] kristinashu commented on #447
Update from Gideon:
- Initial copy is [here](https://docs.google.com/document/d/1n9TrzwNEhIj6RdW8pr3Xfg8O7s_PhWrFd6geZmPrRVk/edit?ts=5defd006)
- Copy still needs to be approved
- Jen is gather photos of people
- Gideon is working on a master Airtable with all the ad specs (dimensions, requirements, copy, languages)
  - rough idea of ad placements: Twitter ad, YouTube display ad, Reddit ad, Twitch

[2019-12-10 21:49] sabrinang commented on #453
**Stats, analytics and KR updates**

- I’ve created a folder _Instagram > Insights & Metrics_ and made a folder with screencaps from Audrey with the date it was captured. I plan to continuing organizing and uploading them here: https://drive.google.com/open?id=1bJmv8asEGyDJM0sGD-8RfQsYxNv4HC0W&authuser=sabrina@mozillafoundation.org&usp=drive_fs
- Added numbers with screenshots to [How We Measure](

[2019-12-10 22:33] kristinashu commented on #437
We had out kick-off today. Things are still fuzzy about if we should focus on political microtageting or general microtageting. But it seems like everyone agreed that some sort of tangible examples will be useful. Story arch _maybe_ start general and simple and then get more political. Key thing to keep in mind is that the post should be simple and we shouldn't try to do too much!

Next steps: Kai

[2019-12-10 23:04] kristinashu commented on #432
So good Nat! I'll move this ticket to "blocked" column until you hear back from Lotta.

[2019-12-10 23:07] kristinashu commented on #399
Natalie has made intro, bumpers, and outro for this video https://drive.google.com/open?id=1kVCgZszXHArHz-dtikhnrmWFnAhYHU3e which is reusable of other videos! @natalieworth unless there's something else you want to do for this, I'm going to mark this as closed!

[2019-12-10 23:07] #399 closed

[2019-12-11 00:20] kristinashu commented on #447
Since we'll be using head shots and text, I wonder if we could re-use this mozfest speaker style https://redpen.io/p/zx91d236f07477e39f? cc @sabrinang @natalieworth @beccaklam

![image](https://user-images.githubusercontent.com/1068783/70580469-c3939800-1b68-11ea-9d26-70dfc97ed1b0.png)
![image](https://user-images.githubusercontent.com/1068783/70580482-d1e1b400-1b68-11ea-8ba4-08e3cfceb48f.png)

[2019-12-11 19:28] kristinashu commented on #448
WIP comps https://redpen.io/p/dtdf6a4668cd057bf0

[2019-12-11 19:46] kristinashu opened #455 "2019 Recap deck"
It's that time of year again! Here's the deck we can start to populate it https://docs.google.com/presentation/d/1R-UjWmyPSHd1dvaT2OXIa2Soj10CqG3bhCxNYkbSQmo/edit?usp=sharing

We can work on it async but could also meet for an hour this Friday or next Friday and all work on it together. Let's add visuals but also try to write a sentence on the value and impact the work had.

cc: @sabrinang @natali

[2019-12-11 19:47] kristinashu commented on #251
Opened one for 2019 https://github.com/MozillaFoundation/Design/issues/455!

[2019-12-11 19:47] #251 closed

[2019-12-13 00:34] mmmavis opened #456 "Request: consider adding a new ".btn-link" style for buttons"
(Please feel free to edit my ticket. The "Brand Update Checklist" issue template is too overwhelming for a dev to fill out. So I went free form instead. 😂 )

---

Hi friends,

For our next style guide update, can we consider adding a new button style for **buttons** that styled like hyperlinks?

### Some technical context:

We want to write semantic HTML so that our site is easy for both human and

[2019-12-13 01:18] kristinashu opened #457 "Ring Doorbell 2FA"
Last minute campaign going out.

Copy doc https://docs.google.com/document/d/1HX5oN_uv4joT8pfQijjJ0_AHSgihnPBFl9KPPtEHlB8/edit

Graphic @natalieworth is working on https://redpen.io/p/xc9ed51cbce44689d4

[2019-12-13 01:19] kristinashu opened #458 "PNI marketing: graphic for Ring doorbell"
There was a last minute request for a graphic for this blog post https://docs.google.com/document/d/1u7sxsZNWdD38id5V7ktJjyx3NpH6ucXljfLSW5O1dD8/edit

Here's a comp https://redpen.io/p/wp55c515c43857dee4

Working file are here https://drive.google.com/drive/folders/1Afey0qm9KIsFtyOolsv-aUoCwLZsTcDp?usp=sharing

I was user of what colors to use because it's for PNI but there's also another Ring Doo

[2019-12-13 02:57] natalieworth commented on #458
Adding the link for email/ petition graphic options here https://drive.google.com/drive/folders/1zpl9XkTLH3WKyqeUvCzWy4dB6BU790aX?usp=sharing

[2019-12-13 15:08] beccaklam commented on #458
@kristinashu @natalieworth I simplified the graphic to match more of the previous illustration style, let me know what you think! https://redpen.io/npbdc1e68ff684c57e Anil is just contacting me now about cop changes.

[2019-12-13 16:29] kristinashu commented on #458
Thank you both!!!

[2019-12-13 18:04] beccaklam commented on #458
Final graphic that I sent to Anil:
![Ring@2x-100](https://user-images.githubusercontent.com/20977376/70821406-017eff00-1da9-11ea-99be-e9eb0432c7bc.jpg)
@kristinashu is this done?

[2019-12-13 18:24] gideonthomas commented on #447
Copy for L10n on the way, but maybe let's start with English.

Final copy tracked - https://docs.google.com/document/d/1n9TrzwNEhIj6RdW8pr3Xfg8O7s_PhWrFd6geZmPrRVk/edit

Signup and donation message required for each message group.

### Confirmed Media specs

#### Pride Media (needed by Dec 17th latest)
   - Details: https://www.pridemedia.com/ad-specs
   - Dimensions needed: 970x250, 728x90, 300x2

[2019-12-13 19:33] #458 closed

[2019-12-13 19:59] kristinashu commented on #447
Thank you Gideon for putting this together! This is a lot!

Versions at 320x50 will not be possible with embedded text so we won't be able to do those.

Do you have the profile photos?

I think we should start with the Pride Media ones since that has the tightest deadline. Will ping @beccaklam and @natalieworth to see who has time either today or Monday.

[2019-12-13 20:14] gideonthomas commented on #447
Let's not do 320x50. I'm collecting photos in https://drive.google.com/drive/u/0/folders/1B2qTr6XLyQcOwTWHSZ_axlH_LF_2wgsp

Pride media photos should be in the drive since it's just me.

[2019-12-13 23:04] kristinashu commented on #457
Done! Files are here https://drive.google.com/drive/folders/1zpl9XkTLH3WKyqeUvCzWy4dB6BU790aX?usp=sharing

[2019-12-13 23:04] #457 closed

[2019-12-16 14:01] TheoChevalier commented on #447
l10n update: I should receive FR/DE translations tomorrow (Tuesday) morning PST time. I’ll post them here and on Slack

[2019-12-16 16:52] gideonthomas commented on #447
Update -- all photos collected.

[2019-12-16 19:23] natalieworth commented on #432
Heard back from Lotta and Audrey and have updated the latest version here https://drive.google.com/open?id=1C-KwauFE2yv937QSsIAFmc6pM_PUximN

Just awaiting second round of review on this, then will export/ package and upload to the drive!

[2019-12-16 22:50] beccaklam commented on #447
@gideonthomas Here are the assets for Pride Media: https://drive.google.com/open?id=10buzc8vE0jT056bWZb6a0AZmHjoDeVmQ

[2019-12-16 22:53] beccaklam commented on #447
@kristinashu Here are the files I've started for this on the drive: https://drive.google.com/drive/folders/1nY-MdkLJekHxE0ArwsfwfLK-TVHSL3hm?usp=sharing

[2019-12-17 00:52] kristinashu commented on #447
Ok it took a while to find the best way to reduce the files sizes to less than 50kb. I simplified the background pattern a bunch and used Photoshop's Save-for-Web feature to get each image as close to 50kb as possible.

@gideonthomas the images are in Drive [here](https://drive.google.com/open?id=1CzLYETRxZtf5FOPqh7oXkm7-Cu8OKfCI).

@beccaklam all the files are in Drive [here](https://drive.google

[2019-12-17 18:03] gideonthomas commented on #447
Thank you so much @kristinashu! Pride media submitted.

[2019-12-17 20:27] TheoChevalier commented on #447
Hi there, we have FR/DE translations!
FR: https://docs.google.com/document/d/16tzYU76uYXadXlBhML4P-O2xJVfH_oai7wZKDyewfl8/edit?usp=sharing
DE: https://docs.google.com/document/d/1rQt7BSVZnBtygRhGQxsWJIsl4Oqe7fmeLnw5NRD0pUg/edit?usp=sharing

Unfortunately some translations are too long for Twitter, despite the length limits being sent to the vendor, I will try to get them fix this by tomorrow…

[2019-12-17 22:10] beccaklam commented on #447
Thanks @TheoChevalier!

@gideonthomas Twitter is done with the final exports here: https://drive.google.com/open?id=1fJ0Qgl7d1G46gL0_cQrOD1q1DIRaltAS

[2019-12-17 22:22] sabrinang commented on #451
WIP deck: https://docs.google.com/presentation/d/18hqNyB7JnRsjdwoogpQelcX7NFKocagxBSB_GXWUgAU/edit?usp=sharing

[2019-12-17 22:23] sabrinang commented on #445
Closing - this informs the work continued in issue #450

[2019-12-17 22:23] #445 closed

[2019-12-17 23:54] kristinashu commented on #447
@gideonthomas here are the graphics for YouTube https://redpen.io/p/pka760d8c68e6ddc06. Text is pretty tight on some of the 300x250 ads, any chance some of the copy can be reduced? I still need to reduce the files size on these to below 150kb but will do that once they've been finalized.

[2019-12-18 00:13] kristinashu opened #459 "Updates to voice assistant graphic"
Update images in https://foundation.mozilla.org/en/campaigns/how-opt-out-human-review-your-voice-assistant-recordings/

Copy doc https://docs.google.com/document/d/1vckyBUBfePDL9YP_vvzX_M3eYoKoVeZWWAFz9qdQtnQ/edit

Note of where copy updates should be https://redpen.io/p/ny1532827ff26fd1ef

@beccaklam are there only a dedicated graphics of Alexa and Google, and not one for Siri (only the group ima

[2019-12-18 00:38] gideonthomas commented on #447
@kristinashu commented in the long text graphic on redpen.

@beccaklam -- one small change -- most of the copy in the image stays the same across different audiences. The only ones that are different are: https://docs.google.com/document/d/1n9TrzwNEhIj6RdW8pr3Xfg8O7s_PhWrFd6geZmPrRVk/edit?disco=AAAAEDtViVk (for Jen and Hilary) and the one that Theo mentioned about Alizee being a volunteer.

[2019-12-18 05:55] natalieworth commented on #432
Final [video is here](https://drive.google.com/open?id=1C-KwauFE2yv937QSsIAFmc6pM_PUximN)

Working [files/ assets](https://drive.google.com/open?id=1fOLNAu_PVJaXvzFGe2CR4_1vfr3dY5oK) (with the bumper and lower thirds) are here.

[2019-12-18 06:40] natalieworth commented on #437
Update: Most recent [iterations are here in redpen](https://redpen.io/p/nxf2349abd7051af4e).

[2019-12-18 14:39] beccaklam commented on #459
@kristinashu Yes, there is no dedicated graphic for Siri.

[2019-12-18 15:07] beccaklam commented on #447
@gideonthomas Ok, the Twitter images have been updated!

[2019-12-18 15:30] beccaklam commented on #447
@gideonthomas reddit images added: https://drive.google.com/open?id=1WPhF1Z9rTz-mLu61b6ucO5x3QB1yVP9l I'm also updated the checklist with links to the completed images as well.

[2019-12-18 15:39] beccaklam commented on #447
@gideonthomas pinterest image here: https://drive.google.com/open?id=1CjGfOtDm-uP4LK9xnowz8DX1gF4T5fvU

[2019-12-18 16:47] #448 closed

[2019-12-18 17:28] kristinashu commented on #447
@gideonthomas updated and compressed youtube images are here: https://drive.google.com/drive/folders/1H0-SRAR_X08oi8Ferdep_XwMYTyEU0XY?usp=sharing

[2019-12-18 18:55] kristinashu commented on #459
Updated the graphics and make an Apple one https://redpen.io/p/ny1532827ff26fd1ef

[2019-12-18 20:11] natalieworth commented on #432
Sorry! I forgot about the bumper audio at the beginning. It is still an example file. Are we allowed to purchase for up to 1 million broadcast audience ($19). cc @Lottarao @anilkanji

[2019-12-18 20:26] anilkanji commented on #432
Thanks for all the cool motiongraphics @natalieworth ! Looks great! Yes to licensing fee.

[2019-12-18 21:09] beccaklam commented on #447
@gideonthomas Twitch images are here: https://drive.google.com/open?id=1mY5ZeBvRwv5x9xEfqUJEjQcvvIM01GiF

[2019-12-18 21:40] beccaklam commented on #447
@gideonthomas Daily Kos images are here: https://drive.google.com/open?id=1JftIkAIlWNmIo3clzPjzuxCKmDroiYjl

[2019-12-18 21:45] beccaklam commented on #447
This should be done after @gideonthomas has reviewed all the assets. cc: @kristinashu

[2019-12-18 22:46] kristinashu commented on #459
Post has been updated https://foundation.mozilla.org/en/campaigns/how-opt-out-human-review-your-voice-assistant-recordings/

@TheoChevalier I can update the DE and FR versions if you have updated copy!

[2019-12-18 23:20] natalieworth commented on #432
Purchased audio and have added to [Noah's interview video](https://drive.google.com/open?id=1_lRm6s7gXdoilEe8fxsab3uXKy0cP7FJ)!

Working files [are here](https://drive.google.com/open?id=173GaG23kjqzYegITG6G4rMKRf-HkdBvq) for future reference.

Done this one for now! :D

[2019-12-18 23:20] #432 closed

[2019-12-19 05:24] gideonthomas commented on #447
I think most of them look good @beccaklam and @kristinashu! Thank you for doing it so quickly.

@beccaklam I noticed that some of the french twitter assets don't have the right translations in them -- any chance you can update them? Specifically:
1. climate-FR should say: Je travaille chez Mozilla et nous avons besoin de gens comme vous.
2. girl-gamer-FR and non-binary-gamer-FR should say: Je trav

[2019-12-19 10:59] TheoChevalier commented on #459
Thanks @kristinashu ! I had no idea this was happening, so I just exposed strings now: https://github.com/mozilla-l10n/engagement-l10n/commit/26ee4a5a57b321d5c57e945bfa1cd9302e5eee1c

I’ll take care of French shortly and post an update here

[2019-12-19 15:10] TheoChevalier commented on #459
@kristinashu French and German translations are live! https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2019/voice_assistants_graphics.lang&action=translate&show

Two notes:
- Step 2 for Alexa has been updated in French (the UI has changed), while English stayed the same
- Waiting some confirmation from Becca R for Alexa step 3, as I see two different toggles in French, and I’m

[2019-12-19 16:25] beccaklam commented on #447
@gideonthomas Okay I've updated all the ones you mentioned above plus the privacy german one. Sorry about that, and thanks for catching those! No worries about Twitch.

[2019-12-19 17:31] gideonthomas commented on #447
Thanks @beccaklam! Looks great!

[2019-12-19 17:56] beccaklam commented on #447
@gideonthomas Is this good to close then?

[2019-12-19 18:12] gideonthomas commented on #447
Yes, thanks @beccaklam!

[2019-12-19 18:12] #447 closed

[2019-12-19 21:21] kristinashu commented on #459
Thank you @TheoChevalier! I've updated all the graphics and will update the Alexa version once you have that new copy. Please review them here https://redpen.io/p/ny1532827ff26fd1ef.

[2019-12-20 12:49] TheoChevalier commented on #459
Thanks Kristina! Here are my updates:

- Left a few comments in Red Pen
- Siri graphic in German is missing
- French translations have been updated for Alexa (German might be there by the time you see this comment) https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2019/voice_assistants_graphics.lang&action=translate&show

[2019-12-20 15:36] TheoChevalier commented on #459
German is in https://github.com/mozilla-l10n/engagement-l10n/commit/9b6b0387c8e66dc370ad286cff8d2afa6be0d989

[2019-12-20 18:27] kristinashu commented on #459
Thank you @TheoChevalier! All the updates should be there now https://redpen.io/p/ny1532827ff26fd1ef.

All the jpgs are also in Drive here https://drive.google.com/drive/folders/14h4B1kbx2Z_Z2CDB77hswL6xmQhgKDWS?usp=sharing.

[2019-12-20 22:06] natalieworth commented on #437
Still blocked/ awaiting some feedback from Sara, so going to leave this blocked until after the holidays:

**Working files are here for reference:**
[Illustrator file](https://drive.google.com/file/d/1X898UQjuFktBrPlnSAwZnzNKUFoQe23p/view?usp=sharing)
[Image treatment](https://drive.google.com/file/d/1OnSofH4PFIUDROtDXUcmQudhPMF1dI74/view?usp=sharing)
[Redpen](https://redpen.io/p/rba2a3369e6469d58

[2019-12-20 23:13] natalieworth commented on #453
Update:
I'm consolidating all of our strategies, content, benchmarks, and examples posts into a strategy proposal [doc here](https://docs.google.com/presentation/d/1OIrXGRCvwDXybAM6K2cZi9fyIQfe6kdItoT3FcP5TC4/edit?usp=sharing) for 2020 when we return.

Going to work on adding the visual assets for the remainder of the day.

[2019-12-20 23:37] natalieworth opened #460 "Instagram Strategy Presentation Doc"
### Intro

Continuing the Instagram work started in 2019 (#453) , I am consolidating our brief, strategy, and Audrey's powerpoint into a google doc to share out and get feedback on our Instagram strategy for 2020.

The [working deck is here (WIP)](https://drive.google.com/open?id=1OIrXGRCvwDXybAM6K2cZi9fyIQfe6kdItoT3FcP5TC4).

Things to follow up on in January 2020:
- [x] Consider account verified

[2019-12-20 23:38] natalieworth commented on #453
I have moved left over items and things to follow up on in 2020 to #460

[2019-12-20 23:38] #453 closed

[2019-12-21 00:09] #459 closed

[2020-01-06 18:27] sabrinang commented on #451
https://docs.google.com/presentation/d/18hqNyB7JnRsjdwoogpQelcX7NFKocagxBSB_GXWUgAU/edit?usp=sharing
It includes some overarching examples and will continue to add benchmarks and audits for specific sections as I go. Closing.

[2020-01-06 18:27] #451 closed

[2020-01-06 18:50] natalieworth commented on #437
Update: Pinged Kaili and they are still waiting on approvals for the blog post, so more will come (in terms of visual feedback from team) once blog is approved.

[2020-01-07 20:21] kristinashu commented on #425
Gonna close this since things are trucking along.
- Sabs has been working on brand and insta
- Nat is almost done with insta strategy
- Tais started on audience work, some users testing, and will shift to site IA
- Becca did some users testing, PNi updates based on that testing and is shifting to site IA

[2020-01-07 20:21] #425 closed

[2020-01-09 19:19] sabrinang commented on #422
After crit, we decided on `#666666`

[2020-01-09 19:28] sabrinang commented on #429
Consider 2px increase for all body (body small, body, body large)

[2020-01-09 20:20] kristinashu commented on #406
Closing this in lieu of the new direction https://github.com/mozilla/foundation.mozilla.org/issues/4116

[2020-01-09 20:20] #406 closed

[2020-01-10 17:05] natalieworth commented on #460
Most recent version of the deck is here: https://docs.google.com/presentation/d/1OIrXGRCvwDXybAM6K2cZi9fyIQfe6kdItoT3FcP5TC4/edit#slide=id.g25275a8168_1_627

[2020-01-10 17:06] natalieworth commented on #460
*Blocked/ need to meet with the instagram team next week to go over everything and create our schedule.

[2020-01-10 17:06] natalieworth commented on #437
Most recent 2 'final' treatments are in here https://redpen.io/p/rba2a3369e6469d58c

[2020-01-13 18:03] alanmoo commented on #437
Still waiting for content approval

[2020-01-13 18:41] kristinashu opened #461 "Mockup for All Hands Plenary: Privacy Not Included 2025 - Due Wed Jan 22"
**Deadline: Wed Jan 22**

**Kick off meeting: Mon 20**

From Kevin:

Mark Surman has requested a custom image for his presentation at the Jan. 28 MoCo All Hands plenary.

Specifically: Mark will imagine what an AI-focused 2025 version of *Privacy Not Included will look like. He'd like an image -- a marketing poster, a web page mock-up, etc. -- to illustrate this.

I've pasted the relevant portion

[2020-01-13 22:54] sabrinang commented on #422
**Text Style Sketch Library Updates to Style Guide.sketch file**
- changed mobile/desktop h6 and body-small (`#666666`)
- created h6-heading dark-theme and updated body-small dark theme (`#999999`) to keep contrast as it was previously shared
- cleaned up text style names and typography documentation

[2020-01-14 11:47] natalieworth opened #462 "Instagram post"
### Intro

Instagram post for week of January 13th, 2020.

- [ ] Create carousel post
- [ ] Create story

### Links
Content is [here](https://docs.google.com/document/d/1QuJcGjRA2b1R3WL1DgOYh1_VQrvOh53iUbxSXHmyMnA/edit).

[2020-01-14 16:17] natalieworth commented on #437
Final exports are here https://drive.google.com/drive/folders/12I53af5xUWnjMzF2B2HDkehEXDWVX-xT?usp=sharing

[2020-01-14 17:59] natalieworth commented on #462
First draft for this and also to track future instagram posts for approval/ reviews are going to live in [Redpen here.](https://redpen.io/p/wo39d08584cfb8afb2)

[2020-01-14 19:31] natalieworth commented on #437
Closing this ticket and we can open a new tic if any additional sizes are needed for email, etc. :)

[2020-01-14 19:31] #437 closed

[2020-01-14 21:27] kristinashu opened #463 "MozFest pitch document"
Make a design pass of the google doc to "make it look pretty".

[2020-01-14 21:34] kristinashu commented on #395
I agree that it should be 600! I can update the sketch file.

[2020-01-14 21:36] kristinashu commented on #414
Closing this ticket. The short-term work is done and we can open a new ticket for any long-term work we decide to do.

[2020-01-14 21:36] #414 closed

[2020-01-14 21:39] kristinashu commented on #388
Closing this since work is represented in other tickets.

[2020-01-14 21:39] #388 closed

[2020-01-14 21:40] kristinashu commented on #386
Participate page might not be around for much longer... gonna close this ticket since it doesn't seem worth it to invest more in it.

[2020-01-14 21:40] #386 closed

[2020-01-14 21:43] kristinashu commented on #384
This feels sooo close to being done! @sabrinang do you think we can just replace the All Hands slide on [the templates link](https://foundation.mozilla.org/en/docs/brand/templates/) with the [more general one](https://docs.google.com/presentation/d/1OQBWkDqf4U5kzarklz1O2Pcb1TLjlzupphldJRfAu-g/edit#slide=id.g25275a8168_0_260) and then call this done? Might just need to add a sentence about when to

[2020-01-14 21:46] kristinashu commented on #308
I think this work is better represented here https://github.com/mozilla/foundation.mozilla.org/issues/3975 and through individual projects.

[2020-01-14 21:46] #308 closed

[2020-01-14 23:31] sabrinang commented on #422
Created dev ticket here: https://github.com/mozilla/foundation.mozilla.org/issues/4136
Closing this design issue.

[2020-01-14 23:31] #422 closed

[2020-01-16 03:21] sabrinang commented on #452
Adding pages/draft pages for the Identity section of the proposed IA on wagtail: https://foundation.mozilla.org/en/docs/brand/
<img width="400" alt="image" src="https://user-images.githubusercontent.com/2492510/72490187-5f996a80-37cb-11ea-81f1-e454a8386946.png">

Extended brand IA draft idea on abstract: https://share.goabstract.com/14014136-00a7-4a0a-b999-13c132f8d78d?mode=design&sha=fa805ac6cef4

[2020-01-16 03:22] sabrinang commented on #452
Adding draft pages such as Expression, Photograph, Imagery, Pattern & Texture, UI components, UX artifacts.

@natalieworth I worked on adding images to the gallery example for Expression so far, it is currently live and feel free to edit/revise: https://foundation.mozilla.org/en/docs/brand/design/expression/

![Screenshot_2020-01-15 Expression](https://user-images.githubusercontent.com/2492510/724

[2020-01-16 15:28] natalieworth commented on #462
Updated redpen with new copy and video post:
[story](https://redpen.io/p/wo39d08584cfb8afb2)

Video:
[mark-vs-mark_1.mp4.zip](https://github.com/MozillaFoundation/Design/files/4072023/mark-vs-mark_1.mp4.zip)

[2020-01-16 17:53] natalieworth commented on #462
Final assets are [in here](https://drive.google.com/drive/folders/1f1YvxDBCubbD3HBo32ZLRTio_WLxrh24?usp=sharing)

[2020-01-16 17:53] #462 closed

[2020-01-16 21:13] kristinashu opened #464 "India First page update"
From Brandi: Update the Privacy First microsite https://foundation.mozilla.org/en/campaigns/india-privacy-law/  for our work on data privacy in India with the most up-to-date information about the federal privacy legislation ahead of potential advocacy work on this topic.

- [ ] Need content doc
- [ ] Update the timeline graphic

We should try to update the graphic so most of the text is live text

[2020-01-16 22:01] kristinashu commented on #460
@natalieworth @sabrinang is this almost done? What's left to do?

[2020-01-17 00:21] sabrinang commented on #452
The IA proposal idea is seen as the vertical navigation in design file in abstract. Draft pages in wagtail will build out these sections as we go and we currently will focus on the visual identity section.

This proposal has been done independent of knowledge from user research/interviews #450 but we will gather feedback and recommendations from users then and can use this as a point of reference

[2020-01-17 00:21] #452 closed

[2020-01-17 00:27] kristinashu commented on #452
⭐ super star ⭐

[2020-01-17 03:15] kristinashu commented on #395
Ok sketch style guide has been updated!

<img width="793" alt="image" src="https://user-images.githubusercontent.com/1068783/72581534-96878300-3894-11ea-8c66-fb0cc2990d09.png">

[2020-01-17 03:15] #395 closed

[2020-01-18 17:46] natalieworth commented on #460
[Final doc is here](https://docs.google.com/presentation/d/1OIrXGRCvwDXybAM6K2cZi9fyIQfe6kdItoT3FcP5TC4/edit?usp=sharing). I've added in updated relevant analytics Sabs, but feel free to change or add more. :D

cc @kristinashu @sabrinang

[2020-01-18 17:46] #460 closed

[2020-01-20 22:11] kristinashu opened #465 "All Hands plenary slides"
Do a quick design pass of the plenary slides.

https://docs.google.com/presentation/d/1Do4QPrMRDkR-zdOkS601JB4zxgWHCW8tPStv1GP4wJ0/edit?usp=sharing

[2020-01-21 23:21] natalieworth commented on #461
Adding that the deck needs some edits and Mark is also wanting the 3 PNI products updated to show their futures in 2025 in addition to the graphic. Deadline also was moved by MoCo to Wednesday (tomorrow). [Deck draft/ copy is here](https://docs.google.com/presentation/d/1Do4QPrMRDkR-zdOkS601JB4zxgWHCW8tPStv1GP4wJ0/edit?usp=sharing). Most of the slides need graphics updating/ everything is placehol

[2020-01-21 23:21] kristinashu commented on #465
@natalieworth are you able to do this? Seems like you're more in the loop and have some time???

[2020-01-22 01:19] sabrinang opened #466 "[Brand] Create and Publish Identity Pages"
### Intro
From the IA proposal https://github.com/MozillaFoundation/Design/issues/452, we have a draft of the visual identity section for brand. We want to create content for these pages and gather existing resources so they are discoverable and documented. We will publish them live so we have a reference point of what we intend to create for the central brand home on wagtail.

### Goal
To publish

[2020-01-22 20:20] kristinashu commented on #465
@natalieworth did Kevin mention this to you? He just opened a request to have a design review all the mofo speaker slides (so not just Mark's but also the fellows who are speaking). Would you be ok with doing this as well?

**Summary of requests**
- Design pass [of all the slide](https://docs.google.com/presentation/d/1wOx9CeXxU1H-3vLdjEwRd1RuJphfiVRqKhGIJd1lnFE/edit#slide=id.g473d95022b_0_220) on

[2020-01-23 01:33] sabrinang commented on #429
**Text Style Sketch Library Updates to Style Guide.sketch file**
- Mobile typography unchanged
- Desktop changes only because body large on mobile is 18/27 (increasing mobile body will be equal to mobile body-large)
- body was 16/24 and updated to 18/27 / dark mode updated too
- button labels was 16/20 and updated to 18/22 / dark mode updated too
- body-links and cta-link was 16/24 and updated to

[2020-01-23 01:44] sabrinang commented on #429
Created dev ticket here: https://github.com/mozilla/foundation.mozilla.org/issues/4158
Redpen updated: https://redpen.io/cg793b57e89f97b5f6
Closing this design issue.

[2020-01-23 01:44] #429 closed

[2020-01-23 02:29] kristinashu commented on #429
Yay!

[2020-01-23 18:34] natalieworth commented on #465
@kristinashu Yes! I can for sure do!

[2020-02-03 18:22] #461 closed

[2020-02-03 18:22] #465 closed

[2020-02-04 17:23] taisdesouzalessa commented on #455
How will we share this work within the company? We could have a highlight video with the main projects and metrics with a link for the full report. That would be cool!

[2020-02-04 18:52] gideonthomas commented on #463
Sarah is going to connect with Kevin since he's writing copy for this. Copy isn't ready yet.

[2020-02-04 20:40] natalieworth opened #467 "Matrix Design and Template for Instagram"
### Intro
Create a Mozilla matrix template to use weekly/ monthly on Instagram.

[2020-02-05 13:29] natalieworth opened #468 "Instagram Test Post February 5th"
### Intro

Use the project brief to guide info you post in this issue.
http://bit.ly/mozdesignbrief

### Links

cc:

[2020-02-05 17:04] #468 closed

[2020-02-05 18:10] sabrinang commented on #466
@natalieworth Fill out and gather content for the Illustration section of identity brand pages.

[2020-02-05 19:35] kristinashu commented on #393
Ok we have not made much progress on this but here we go! @sabrinang @beccaklam and I will meet on Monday to brainstorm a short MVP list of content we would like to include on a Wagtail page.

Here's the working doc for the meeting and our plan https://docs.google.com/document/d/1K0KaFU_-0Mi49RZW_mGCLY9UPOGWc68Pg-TfFZm_sNY/edit?usp=sharing

[2020-02-05 22:53] kristinashu commented on #466
Do you both think you'll be able to finish this this sprint, aka by EOD Monday?

[2020-02-06 17:43] kristinashu commented on #467
@natalieworth can you please add an estimate to this?

[2020-02-06 20:58] gideonthomas opened #469 "Youtube Regrets Reporter add-on marketing graphics"
### Description

A tool is being developed to report Youtube regrets on Youtube itself via a button. It is being developed as an add-on for Firefox (other browsers unconfirmed). Goal is explicitly stated in the marketing/content strategy doc.

The ask is to market the tool on different platforms to get people to download it, report regrets, potentially sign up for future engagement. The design ask

[2020-02-06 21:28] kristinashu opened #470 "Instagram Brainstorming and Post Planning"
Brainstorming with Audrey this week (in person) on Instagram weekly and monthly posts.

[2020-02-06 23:10] sabrinang opened #471 "[Brand] Position and Communications"
### Intro
After chatting with Lotta at all hands, we plan to check-in and coordinate how to create and add brand positioning and communications content on to the brand wagtail docs.

### Goal
To publish and populate the positioning section of the brand page. This IA and content is dependent on what Lotta has created and collected.

### Process
- Meetings every 2 weeks with Lotta to coordinate
- Gu

[2020-02-06 23:16] sabrinang opened #472 "[Brand] Research Pages on Wagtail"
### Intro
Coordinate with @taisdesouzalessa how to create and add research hub content to the brand wagtail docs.

### Goal
To publish and populate reserach content to the content or process section of the brand page.

### Process
- collect or create research content that inform pages or IA
- create drafts for review and gather feedback from collaborators
- revise, refine and publish

### Related

[2020-02-07 13:10] natalieworth commented on #467
Most recent iterations for these are here: https://redpen.io/p/xa6b3e7e1946fc93c7
But pausing this until we talk more about it on Monday :)

[2020-02-07 22:01] natalieworth commented on #466
@sabrinang I added the illustration points to the [Wagtail](https://foundation.mozilla.org/cms/pages/716/edit/) and I've also created a refined asset .ai file (based on the foundation brand + some of the most popular assets that we have been using for illustrations based on your MozFest style guide. I've added it to [Redpen here](https://redpen.io/qj5d293c1db66b155b).

We can talk/ meet when you'r

[2020-02-07 23:24] natalieworth commented on #466
@sabrinang Also got a start on the [pattern/ texture page](https://foundation.mozilla.org/cms/pages/717/edit/preview/)

We can meet when you're back on Monday :)

[2020-02-11 14:47] natalieworth opened #473 "Venmo Instagram Graphic"
### Intro

Creating an Instagram graphic for the Venmo story collection ask.

### Links

cc: @Audreymofo

[2020-02-11 15:02] natalieworth commented on #473
@audreymofo Final files are in here :D https://drive.google.com/open?id=1MmDs2yrzcNffa8lXAHVAmStYSMcCW90k

[2020-02-11 15:02] #473 closed

[2020-02-11 20:41] beccaklam opened #474 "Improving Stakeholder Interview Cheat Sheet"
See if any improvements can be made to the [Stakeholder Interview Cheat Sheet](https://docs.google.com/document/d/1bCB4dorY2VjBC8KfL5p-QrAsoBbu7FgeSDWmCTI34XY/edit?usp=sharing)

- [x] Interview Kaili, a frequent collaborator on this cheat sheet, to see if any part of the interview can be improved
- [x] Make improvements to cheat sheet

[2020-02-11 20:41] beccaklam commented on #474
Notes from meeting with Kaili: https://docs.google.com/document/d/1nwSJ-hv8-rikrhs6MxVhISqKQORD04altwsjgPOX1Do/edit?usp=sharing

[2020-02-12 01:23] kristinashu opened #475 "Style Guide for MozFest 2020: Part I"
Create one slide deck with links to the working files. See full list of deliverables in [Project Brief.](https://docs.google.com/document/d/1VWB85eRkoOIdUTgiJ6iaTLkM_3ncX_jUggvJJuMnJbQ/edit#heading=h.3yg45s8xm4qj)

### Goals for this Sprint
- [x] Festival Narrative
- [x] Visual Direction
- [x] Lockup (Logo, Wordmark)
- [x] Typography
- [x] Colour
- [x] Iconography

### Goals for next Sprint (#483)

[2020-02-12 13:49] natalieworth opened #476 "Instagram Post: Valentine's Day 2020"
### Intro

Creating a Valentine's day post for the Mozilla Instagram featuring IoT vibrators.

[Content is here](https://docs.google.com/document/d/1E92yI8nc4kjtfffALGriEfIrewQQs0raHDM07l-NWsI/edit?ts=5e43fd90).

cc: @audreymofo

[2020-02-12 15:41] natalieworth commented on #476
@audreymofo [final files are here](https://drive.google.com/open?id=1cgujUn2hkG0d8QZy39Vv_cgFXZ2Dj9Zo) :)

https://redpen.io/p/ve193e2d66938253cd

Closing this issue, but feel free to reopen if you need any changes

[2020-02-12 16:19] natalieworth commented on #476
Updated [files are here](https://drive.google.com/open?id=1cgujUn2hkG0d8QZy39Vv_cgFXZ2Dj9Zo).

[2020-02-12 16:19] #476 closed

[2020-02-13 18:03] sabrinang opened #477 "Instagram Shareable Stats"
### Intro

**Share Stats**
- Make instagram analytics shareable so it accessible for the broader team _(slack, slide etc.)_
- Make it visible as a design and decision making support tool

**Tools**
- Learn if we are still using Buffer (or other social media tools) and what it can do
- Learn what stats we can get from it _(twitter or other?)_

[2020-02-13 18:30] sabrinang commented on #477
cc/ @natalieworth

[2020-02-13 21:34] sabrinang opened #478 "[Brand] Social Media Identity Guideline Pages on Wagtail"
### Intro

Coordinate with @natalieworth on how to create and add social media guideline content and pages to the brand wagtail docs.

### Goal
To publish and populate social media guidelines to the content or process sections of the brand doc.

### Process
- collect or create content
- create drafts for review and gather feedback from collaborators (Audrey and Jen)
- revise, refine and publish

#

[2020-02-13 22:36] xmatthewx commented on #466
This documentation is awesome.

Small suggestion: let's put Templates and Process toward the top of the nav, since it's the most important stuff for non-design staff.

[2020-02-13 22:38] xmatthewx commented on #415
I use this template often. This still happens to me occasionally for no reason. What do you think @sabrinang? I think a single image file would fix this.

<img width="821" alt="image" src="https://user-images.githubusercontent.com/53411/74484897-7fce4f00-4e87-11ea-85ce-9cb64ecb626d.png">

[2020-02-14 11:41] natalieworth commented on #476
Story graphic is here https://drive.google.com/drive/folders/13ixxbC1p5-XAZjQOQmFyqKZ2EF111J6i?usp=sharing

[2020-02-14 13:58] natalieworth opened #479 "Mozilla bumpers for Fellow Video"
### Intro

Add front/ end Mozilla bumper for Second Fellow Video

### Links

cc: @kristinashu @audreymofo

[2020-02-14 15:26] natalieworth commented on #466
Hey @sabrinang I updated the [illustration page based on our tahttps://foundation.mozilla.org/cms/pages/716/edit/lks](). Let me know if you have anymore suggestions :)

[2020-02-18 17:54] natalieworth commented on #467
Final Beat design is here! https://redpen.io/ys2a55083bbff8caac

Template (.ai) [file for this is here](https://drive.google.com/open?id=1Fs8HfD1c8shI7jl_i-WRCCjLpV7zbB_A)

We're going to do a test post this week and see how it performs :) and tweak based on that. Closing this issue for now.

[2020-02-18 17:54] #467 closed

[2020-02-18 19:39] kristinashu commented on #463
Sarah has shared the very WIP copy but it's still isn't ready yet. Doc will be 1 or 2 pages.

cc @sabrinang

[2020-02-18 19:41] kristinashu commented on #475
Sabrina and I met with Sarah and are all on the same page! This is unblocked.

[2020-02-18 19:47] kristinashu opened #480 "MozFest city announcement graphics"
Request from @marcwalsh:

[Link to spreadsheet.](https://docs.google.com/spreadsheets/d/1e4c3YoAVeLwIpFumAER7Lh5ZXKt8IhDwSZOPB_zhvyA/edit?ts=5e4d3565#gid=0)

Initial ideas are a graphic cropped for:
- Twitter (1200 x 628)
- Instagram (1080 x 1080)
- Email (1280x660)
- Blog (1400x600)
- Press Release (TBC)
- ~Website homepage~ will use video instead

@sabrinang and I to meet with @marcwalsh before

[2020-02-18 20:49] beccaklam commented on #474
Edited the stakeholder interview cheat sheet to make the "Release Date" portion more discussion-like.

Also added a "Collaboration/Brainstorm Minute" to highlight collaboration and provide a moment for brainstorming within the interview. I may need to refine this question. I'll show this at crit this week and if all goes well will close this ticket!

[2020-02-18 21:24] sabrinang opened #481 "[Brand] Identity Parent Page"
### Intro
Write content for the visual identity parent page as an introduction to the identity section

### Goal
Publish a page to explain what this section is about. An opportunity to explain more about this brand component mentioned in the overview section.

### Related/Reference Issues
Meta Identity page ticket: https://github.com/MozillaFoundation/Design/issues/466
Brand Brief: https://github.

[2020-02-18 21:26] sabrinang commented on #466
Pattern & Texture page is made into a section on Illustration page. Illustration, Photography and UI Component pages published. The UX artifact page is privately published under Process section now as work in progress of the research pages issue https://github.com/MozillaFoundation/Design/issues/472 as the work will continue there.

I filed a separate issue for the Identity parent page https://git

[2020-02-18 21:26] #466 closed

[2020-02-18 22:58] kristinashu opened #482 "MozFest website graphics and video"
Based on - Style Guide for MozFest 2020 #475, the website will need a new homepage background graphic and X number banner graphic for the secondary pages.

Ideally, this coincides with the launch of - MozFest city announcement graphics #480

[Link to spreadsheet.](https://docs.google.com/spreadsheets/d/1e4c3YoAVeLwIpFumAER7Lh5ZXKt8IhDwSZOPB_zhvyA/edit?ts=5e4d3565#gid=0)

@sabrinang and I to meet w

[2020-02-18 23:09] kristinashu commented on #415
Tais, Sabrina, and I don't see this issue and don't understand how it could happen since it's a png. Sorry but closing this as "won't fix".

[2020-02-18 23:09] #415 closed

[2020-02-18 23:24] kristinashu opened #483 "Style Guide for MozFest 2020: Part II"
Follow up from https://github.com/MozillaFoundation/Design/issues/475

Deadline: March 13

[Project Brief](https://docs.google.com/document/d/1VWB85eRkoOIdUTgiJ6iaTLkM_3ncX_jUggvJJuMnJbQ/edit#heading=h.3yg45s8xm4qj)

### Goals for this Sprint
- [x] Textures, Patterns & Art Accents
- [x] Imagery (illustrative and photographic examples)
- [ ] Guidelines for working open, blog post/brand doc ref on o

[2020-02-19 00:34] kristinashu opened #484 "Design review of MozFest homepage"
Once @marcwalsh has made all the content updates to https://mozillafestival.org/, then @sabrinang or I will do a design review of it to make sure there are no UX or brand issues.

Marc, please ping us if you have any questions in the meantime.

[Link to spreadsheet.](https://docs.google.com/spreadsheets/d/1e4c3YoAVeLwIpFumAER7Lh5ZXKt8IhDwSZOPB_zhvyA/edit?ts=5e4d3565#gid=0)

[2020-02-19 15:53] natalieworth commented on #479
Final Cansu Video is here: https://drive.google.com/drive/folders/1HuQcyt9qQgZ7vjgSGy9CfPuAFbV7K6eK?usp=sharing

cc @audreymofo

[2020-02-19 15:54] natalieworth commented on #479
Working files (premiere and after effects) are in here: https://drive.google.com/open?id=1uBZr524wu_uxcEtkms6s1oEeoG6aU4B_

[2020-02-19 15:54] #479 closed

[2020-02-19 16:37] natalieworth opened #485 "Instagram Post: Amazon Alexa (Feb 2020)"
### Intro

Creating a post for the Mozilla Instagram for week of Feb 17th, 2020.

To consist of 4 panels, 3 [last panels with this content](https://foundation.mozilla.org/en/campaigns/how-opt-out-human-review-your-voice-assistant-recordings/?fbclid=IwAR36s-NG5NRp4FdwYjaYjnR7BaLwYDlXI8jNONsKoK8G5n54akfmWhJpQ8o).

Due: February 21, 2020

cc: @kristinashu @audreymofo @caltrider

[2020-02-19 17:30] kristinashu commented on #463
[Copy doc](https://docs.google.com/document/d/1j43TbEUHx6iSWcYtczm-FjCllKWJFfUR_swHzM8x0c8/edit?ts=5e4c33cb) is ready for design to start shaping it up although Bob will most likely make some copy updates later.

[2020-02-19 17:39] natalieworth commented on #485
Content is here https://docs.google.com/document/d/14Y9qIkPk1F2VgW6pjLpWZSpTWGdO1NiwwdaTo65xyAc/edit

[2020-02-19 18:01] kristinashu commented on #470
How's this coming along?

[2020-02-20 00:42] kristinashu commented on #474
Copy updates are great! But style wise, can you please update it to our template https://docs.google.com/document/d/1PTdSrNA7-2LiTmAISEOzWmPEhUZvbDPjaYp2-JFc8T8/edit?

[2020-02-20 16:08] natalieworth commented on #477
@sabrinang So I talked to Audrey and Buffer doesn't provide stats (or at least with the plan that we have). It's more for scheduling posts. For now though I've created a [google sheet](https://docs.google.com/spreadsheets/d/1Upoh2AjMpGMn0bWRuCwDfFUZ1XCpHnAPcrVVzS77IJ4/edit?usp=sharing) (it's free :D) to track our 2020 goals and growth.

[2020-02-20 16:13] natalieworth commented on #426
Goal 1 Instagram Tracking: I've set up a [google sheet data doc](https://docs.google.com/spreadsheets/d/1Upoh2AjMpGMn0bWRuCwDfFUZ1XCpHnAPcrVVzS77IJ4/edit?usp=sharing) to track our Instagram OKR goals for 2020. For now, it's free, easy to share, easy to use, and only uses the lean data from the Instagram platform—but once we grow bigger it could be good to possibly look into something paid (maybe i

[2020-02-20 16:24] natalieworth opened #486 "Instagram Post: Week of Feb 17-21 (Matrix 01)"
### Intro

Create our first weekly Matrix post!

[Copy/ brainstorming doc is here](https://docs.google.com/document/d/1JOqDN-4Uh3DV7NXhCn4sSJnoRv0KU_sIfwoBS_zmZeI/edit).

Due: February 21, 2020

### Links

[Matrix template is here](https://drive.google.com/open?id=1Fs8HfD1c8shI7jl_i-WRCCjLpV7zbB_A)

cc: @kristinashu @natalieworth @sabrinang @caltrider @audreymofo

[2020-02-20 17:12] kristinashu commented on #477
Cross posting with this ticket https://github.com/MozillaFoundation/Design/issues/426#issuecomment-589160381

From Nat:

[2020-02-20 17:25] kristinashu commented on #477
Awesome looking sheet!

[2020-02-21 19:14] kristinashu commented on #484
Closing this ticket in lieu of https://github.com/mozilla/foundation.mozilla.org/issues/4243

[2020-02-21 19:14] #484 closed

[2020-02-23 02:18] natalieworth commented on #463
@kristinashu I started this deck and made a [design copy here](https://docs.google.com/document/d/1uiuJp-Hi2bLKBrA_Hmy4Q7_iusBjfx2GUEl1Dl8Pfto/edit?usp=sharing). Some of the information on the last couple pages repeats, so I didn't know if that had to be formatted too or what the best version was? I'm traveling on Monday so will be out for a bit—but should have time in the evening if Bob needs it

[2020-02-23 02:26] natalieworth commented on #486
First post went out for this on [Friday](https://www.instagram.com/p/B81luCDAFzT/)!

[2020-02-23 02:26] #486 closed

[2020-02-23 02:27] natalieworth commented on #477
I think good to close this ticket for now?

[2020-02-23 02:27] #477 closed

[2020-02-23 02:31] natalieworth commented on #470
Updates:
- Instagram meetings are now 45 minutes on Monday to accommodate for a longer brainstorm session and short check-in stands on Thursday.
- We got the first Matrix off and are hoping to do 1 per week
- On Monday (after work week), we'll resume our brainstorm for non-news related posts.

More notes/ ideas can be [found in our huddle doc](https://docs.google.com/document/d/1fOv7WiNZ2WViEmCkZH

[2020-02-23 02:31] #470 closed

[2020-02-24 18:06] beccaklam commented on #474
Changed template and shared with design team at crit. This is done for now!

[2020-02-24 18:06] #474 closed

[2020-02-24 21:47] kristinashu commented on #463
@natalieworth @sabrinang could I please get a quick design review of these MozFest sponsorship docs for Jesse W? These will be printed today.

- Mozilla Festival - Sponsorship Overview: https://docs.google.com/document/d/1kdteMwDaIBkjjMDXYAn5wOuolqanAANz1W-MumtRkUg/edit?usp=sharing
- Mozilla Festival - Presenting Sponsor: https://docs.google.com/document/d/1yuNIVNW6o_X7saIliA6OkOJButmTOXjF-MdnNlYu

[2020-02-24 22:36] sabrinang commented on #463
**Overall**
Banners, body copy and tables styling look good and consistent for all docs.

**Copy**
The Presenting Sponsor one is the only one that has "... package" in the banner - is this intentional? Also, should "sponsor spotlight" be "sponsorship spotlight" to be consistent with others?

**Headings**
On print it would be nice if the highlight appear after for the headings to frame the text but

[2020-02-24 22:54] kristinashu commented on #463
Thank you @sabrinang! I've made those style updates and have just asked Jesse about the titles.

[2020-02-24 23:30] kristinashu commented on #426
@natalieworth is this ticket all done?!

[2020-02-24 23:49] sabrinang commented on #475
Style guide for MozFest 2020 resources created:

**Google Slide** https://docs.google.com/presentation/d/1rtYVRyyZ4zKByCdpLzBL-F03oB2-r-dCNonAK78MPZI/edit?usp=sharing

**Google Drive Folder** https://drive.google.com/open?id=18hovyS3uDAc4JuxqEr1IwCzclzdVf4az&authuser=sabrina@mozillafoundation.org&usp=drive_fs

**Adobe CC Library** https://adobe.ly/2HSiPBE
_______

Narrative
- Text was taken from o

[2020-02-24 23:49] #475 closed

[2020-02-24 23:54] kristinashu commented on #475
Yay so awesome @sabrinang! Very organized and also looks incredible. Such a nice evolution of the brand.

[2020-02-25 00:24] natalieworth commented on #463
@kristinashu Looks great! I didn't notice any design things that stood out.

[2020-02-25 00:38] kristinashu opened #487 "MozFest: finalize pitch doc"
Follow up from https://github.com/MozillaFoundation/Design/issues/463

MozFest team's [copy doc](https://docs.google.com/document/d/1j43TbEUHx6iSWcYtczm-FjCllKWJFfUR_swHzM8x0c8/edit?ts=5e4c33cb).

Design has started [here](https://docs.google.com/document/d/1QdInlwAamUKZqoIhpUwNFDjcYB6ixYdoUS86R6YHqQg/edit?usp=sharing). But is blocked by final content. I've flagged to the mozfest team that it isn'

[2020-02-25 00:39] kristinashu commented on #463
Ok thanks Nat!

Gonna close this ticket and we can work from https://github.com/MozillaFoundation/Design/issues/487 once copy has been finalized.

[2020-02-25 00:39] #463 closed

[2020-02-25 17:20] kristinashu opened #488 "Performance reviews"
Reminder

cc: @kristinashu @sabrinang @natalieworth @taisdesouzalessa @beccaklam

[2020-02-25 23:51] kristinashu opened #489 "Update /brand with latest MozFest assets"
Once the new style guide https://github.com/MozillaFoundation/Design/issues/483 is done we will need to update our /brand page.

[need to add more info]

cc @sabrinang

[2020-02-26 00:33] natalieworth commented on #485
@audreymofo Final [exports are in here](https://drive.google.com/open?id=1mudUPoasT5ZqPbe2LxMVgwwwNB33fUy7).

[2020-02-26 00:33] #485 closed

[2020-02-27 18:35] kristinashu commented on #487
Got it down to a one-pager but still unsure of which style to use:
- general MoFo style https://docs.google.com/document/d/1QdInlwAamUKZqoIhpUwNFDjcYB6ixYdoUS86R6YHqQg/edit#
- Mozfest style https://docs.google.com/document/d/1gPlQ50wCC6OaMsOEXokAKgJFrV8dzEJpW7LY-PSjplo/edit#

cc @sabrinang

[2020-02-27 19:09] kristinashu commented on #482
Looks like this ticket should be more about creating the background video rather than just graphics https://redpen.io/p/rhbb6e67da007091f2.

@marcwalsh is gathering possible footage.

For accessibility reasons, @beccaklam is recommending footage should only have subtle movements.

@beccaklam or @natalieworth could work on this next week.

[2020-03-02 16:52] kristinashu commented on #487
We've settled on this version https://docs.google.com/document/d/11Br29pQUhiErqWLrOJAJtv9eK2xMF2EMylr-PdAHniE/edit?usp=sharing.

All the files are in drive https://drive.google.com/drive/folders/1N-Vs7TU87LFBeCKz2odJLdhtBkrvy-mB?usp=sharing.

[2020-03-02 16:52] #487 closed

[2020-03-02 16:53] #488 closed

[2020-03-02 19:50] kristinashu commented on #482
@natalieworth can work on this this week!

@marcwalsh should have some footage tomorrow.

[2020-03-03 17:54] natalieworth opened #490 "Moz News Beat email format"
### Intro

Will was wanting to test the Moz News Beat in an email format as a new piece of content we can send to our email audience.

Met with Will and Jen to go over design needs for this. For the mockup to run through approvals, Will needs:

- [x] MozBeat Email Header image

- [x] Exported emojis in png format

- [x] Awesome to awful titles exported as png images

- [x] 6 colour gradient hex co

[2020-03-03 17:56] natalieworth opened #491 "Venmo Graphics"
### Intro

Creating Venmo graphics with Advocacy/ Kaili this week. I'll update this ticket with more information after meeting with Kaili today.

- [x] Blog Images
- [x] Twitter graphic
- [x] Instagram post
- [x] Small email image

[2020-03-03 17:58] natalieworth opened #492 "Pie Day Email and Instagram graphics"
### Intro
For Pie Day, we need to update the graphic from last year. We are also planning to test 2 versions and post the Pie Day graphic winner on Instagram.

Meeting with Will next week to discuss and will update with more information then.

### Links

[2020-03-03 19:29] natalieworth commented on #491
Content (Kaili/ Becca still working on) [is here](https://docs.google.com/document/d/1JTaoI1930VZ_YYj9DkjMU9RKx0DD22Vz32GH70X0QX4/edit)

[2020-03-03 19:52] natalieworth opened #493 "Mozilla News Beat: March 2-6"
### Intro

Mozilla news Matrix for week of March 2-6.

Still awaiting content, but it [will be in this doc](https://docs.google.com/document/d/1JOqDN-4Uh3DV7NXhCn4sSJnoRv0KU_sIfwoBS_zmZeI/edit).

[2020-03-04 05:12] natalieworth commented on #491
Redpen with first [drafts are here](https://redpen.io/p/by3019b52fac058a89).

[2020-03-04 17:19] kristinashu commented on #480
Sabrina will be working on this today and will share out her first version this afternoon for feedback from the design team and Marc.

[2020-03-04 17:22] kristinashu commented on #482
@marcwalsh do you have some footage?

In the meantime Mavis is using this old video as a placeholder https://drive.google.com/open?id=1OPYaq_hyvnQbBBBUJw-O44SR_G6ac52o&authuser=sabrina@mozillafoundation.org&usp=drive_fs.

@natalieworth will you be able to work on this today? @mmmavis says the "MozFest homepage banner section already has a layer of gradient applied (using CSS). We can keep it if th

[2020-03-04 17:35] mmmavis commented on #482
Note: We should try making the video size smaller to ease loading time. 🕐

[2020-03-04 17:55] marcwalsh commented on #482
@kristinashu - the footage is in a folder on the [Footage Archive Team Drive](https://drive.google.com/drive/u/0/folders/17cQ9sf0d3cAXzZyKdPhcRoX-isD1OttF)

The previous video has a few shots which I think we should try to keep in. @natalieworth did you make this previously and still have the project files for it?

[2020-03-04 18:00] natalieworth opened #494 "Instagram Post: Verge Tech Survey"
### Intro

Creating a post this week around the Verge Tech Survey.

### Links

[Content is here](https://docs.google.com/document/d/1POWWy1M8W_Nbsm8M0GDEHvuOY3kGGrQ2IfOpqlQ440w/edit?ts=5e5fe067)